.rating
  display flex
  column-gap 0.2rem
  &__star
    --gradient-stop 0
    --star-size 0.875rem
    width var(--star-size)
    height var(--star-size)
    mask-image url(../images/svg-sprites/inner.svg#star)
    mask-repeat no-repeat
    mask-size contain
    mask-type alpha
    background-image linear-gradient(to right, var(--rating-color) var(--gradient-stop), var(--color-light) var(--gradient-stop))
