.saturate
  --saturate-limit 39
  --saturate 0%
  --color-beige-h 2
  --color-beige-l 63%
  --color-beige-lighter-h 0
  --color-beige-lighter-l 98%
  --color-beige unquote('hsl(var(--color-beige-h), min(var(--saturate), 39%), var(--color-beige-l))')
  --color-beige-lighter unquote('hsl(var(--color-beige-lighter-h), var(--saturate), var(--color-beige-lighter-l))')
  --color-text-h3 var(--color-beige)
  &--lighter
    --saturate-limit 78
