include /helpers/create-element
include /helpers/classes
include /helpers/price-format

include /blocks/grid/grid
include /blocks/scripts/scripts
include /blocks/style/style
include /blocks/container/container
include /blocks/content/content
include /blocks/page-section/page-section
include /blocks/button/button
include /blocks/page-subsection/page-subsection
include /blocks/img/img

doctype html
html(lang='ru')
  include ../head/head
  body.page
    include /blocks/header/header
    main: block content
    include /blocks/footer/footer
  +style('rest')
  link(rel='stylesheet' href='https://www.salonvolos.spb.ru/bitrix/templates/tpl_dev/styles/add.css')
  if isHomePage
    +style('home')
  if isContactsPage
    link(href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet")
    +style('inner')
  else
    +style('inner')
  if isContactsPage
    script(src="https://unpkg.com/video.js/dist/video.min.js")
    script(src="https://unpkg.com/videojs-vr/dist/videojs-vr.min.js")
  +scripts(['script.js'])
