.service-discount
  background-color var(--color-beige-lighter)
  &__inner
    position relative
    display flex
    flex-direction column
    align-items flex-start
    row-gap 1rem
    &::before
      content ''
      position absolute
      top 0
      bottom 0
      z-index -2
      height 100%
      width 100vw
      background-color var(--color-beige-lighter)
    @media(max-width point-m - 1)
      align-items stretch
      &::before
        width auto
  &__image
    align-self center
    & img
      margin 0 auto
