.hair-extention-banner
  display flex
  background url('../images/hair-extention/banner-bg.webp') no-repeat left, var(--color-beige-lighter)
  background-size contain
  border-radius var(--border-radius-small)
  padding 1.5rem
  padding-left 33.3333%
  column-gap 3rem
  @media(max-width point-l - 1)
    flex-direction column
    row-gap 1.5rem
    padding-left 51%
    background-position -5rem
  @media(max-width point-m - 1)
    padding-left 1.5rem
    background var(--color-beige-lighter)
  &__left
  &__right
    display flex
    flex-direction column
    row-gap 1rem
  &__left
    @media(max-width point-l - 1)
      align-items center
  &__right
    justify-content center
  &__title
    font-size 2.5rem
    font-weight 700
    color var(--color-beige)
  &__info
  &__gift
    font-size 1.25rem
    color var(--color-beige)
  &__info
  &__counter
    @media(max-width point-l - 1)
      text-align center
  & .countdown
    justify-content flex-start
