.search-result
  & + &
    margin-top 2.25rem
  &__name
    font-weight bold
  &__path
    display flex
    align-items center
    margin-top .5rem
    font-size .675rem
  &__path-separator
    margin 0 4px
    width 0.75rem
    height 1px
    background-color var(--color-grey)
  &__body
    margin-top .75rem
