.banner-malecula
  background-repeat no-repeat
  background-position center
  background-size cover
  background-color #0A422C
  background-image image-set(url('../images/banner-malecula/banner-malecula_xl.webp') 1x, url('../images/banner-malecula/banner-malecula_xl@2x.webp') 2x)
  @media (max-width 1200px)
    background-image image-set(url('../images/banner-malecula/banner-malecula_l.webp') 1x, url('../images/banner-malecula/banner-malecula_l@2x.webp') 2x)
  @media (max-width point-l - 1)
    background-image image-set(url('../images/banner-malecula/banner-malecula_m.webp') 1x, url('../images/banner-malecula/banner-malecula_m@2x.webp') 2x)
  @media (max-width point-m - 1)
    background-image image-set(url('../images/banner-malecula/banner-malecula_s.webp') 1x, url('../images/banner-malecula/banner-malecula_s@2x.webp') 2x)
    aspect-ratio 1/0.94
  @media (max-width point-s - 1)
    background-image image-set(url('../images/banner-malecula/banner-malecula_xs.webp') 1x, url('../images/banner-malecula/banner-malecula_xs@2x.webp') 2x)
    aspect-ratio 1/1.4
  &__inner
    align-items flex-start
    color #FFFFFF
  &__meet
    font-style italic
