.banner-malecula
  width 100%
  &.page-section
    padding-y 0
  &__inner
    display flex
    flex-direction column
    width 65%
    padding-y 4rem
    padding-left 1.5rem
    @media (max-width point-l - 1)
      padding-top 4.4rem
      padding-left 2.125rem
    @media (max-width point-m - 1)
      width 450px
      padding-top 4rem
      padding-left 0
    @media (max-width point-s - 1)
      width 100%
      padding-top 2rem
  &__duration
    line-height 1.25
    font-weight 600
    margin-bottom 2rem
    font-size 2.5rem
    @media (max-width point-m - 1)
      margin-bottom 1rem
      font-size 2rem
    & span 
      font-size 3rem
      line-height 1
      font-weight 600
      @media (max-width point-m - 1)
        font-size 2.25rem
  &__promo
    width 480px
    line-height 1.4
    margin-bottom 1.8rem
    font-size 1.5rem
    @media (max-width point-l - 1)
      width 64%
      font-size 1.125rem
    @media (max-width point-m - 1)
      margin-bottom 1rem
  &__meet
    line-height 1.2
    font-weight 600
    margin-bottom 3rem
    font-size 1.25rem
    @media (max-width point-l - 1)
      width 60%
      margin-bottom 2rem
    @media (max-width point-m - 1)
      margin-bottom 1.5rem
      font-size 1rem
    @media (max-width point-s - 1)
      width 164px
  .button
    font-size 1.125rem
    padding 0.8rem 2rem
