extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Бразильское выпрямление
    +grid.page-subsection
      +cell({ m:6 })
        h2 Что такое бразильское выпрямление
        p При «выпрямлении по-бразильски» белок кератин смешивается с&nbsp;формальдегидом, экстрактами растений, маслами и&nbsp;наносится на&nbsp;волосы с&nbsp;последующей термической обработкой. Базовые компоненты проникают вглубь стержня, заполняя образовавшиеся пустоты и&nbsp;образуя липидную пленку, которая и&nbsp;удерживает стержень в&nbsp;прямом положении, предотвращает потерю влаги. Прямой волос обогащается питательными компонентами и&nbsp;получает защиту от&nbsp;термического, химического воздействия и&nbsp;УФ-лучей. А&nbsp;кудрявый и&nbsp;жесткий надолго разглаживается, структура восстанавливается за&nbsp;счет питания.
        p Изначально метод косметологами разрабатывался как лечебный и&nbsp;был рассчитан на&nbsp;жесткий «бразильский волос». В&nbsp;начале&nbsp;2000-х в&nbsp;состав вводили до&nbsp;15&nbsp;% спиртового раствора формальдегида. Эффект сохранялся до&nbsp;года, но процедура наносила вред здоровью человека. Технология претерпела изменения, сегодня доля формальдегида в&nbsp;косметических составах не превышает 0,2&nbsp;%, что полностью безопасно для человека.
      +figure({
        image: {
          name: 'brazilskoe-1',
          path: '/images/uslugi/uhod-i-lechenie/brazilskoe/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Бразильское выпрямление',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Суть метода
      +grid.par
        +figure({
          image: {
            name: 'brazilskoe-2',
            path: '/images/uslugi/uhod-i-lechenie/brazilskoe/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Структура волоса до и после выпрямления',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          p Кератин рассматривается как длинные цепочки аминокислот, соседние цепочки которых связаны друг с&nbsp;другом короткими мостиками. Подходящей аналогией станет лестница, ступеньки которой и&nbsp;представляют эти короткие мостики. С&nbsp;химической точки зрения ступеньки&nbsp;— это два атома серы, соединенные друг с&nbsp;другом и&nbsp;с&nbsp;длинными цепями аминокислот. Суть выпрямления волос заключается в&nbsp;разрыве серных связей и&nbsp;формировании новых связей между цепочками, удерживающих их в&nbsp;новой конфигурации.

    +pageSubsection
      h2 Преимущества метода
      +grid.par
        +cell({ m:6 })
          p Бразильское выпрямление волос облегчает сушку феном&nbsp;(фиксацию), так как локоны быстрее принимают желаемую форму. Что позволяет снизить температурный режим и&nbsp;продолжительность сушки. Это экономит время на&nbsp;укладку и&nbsp;минимизирует термическое воздействие.
          +ul.par
            +li Brazilian keratin восполняет баланс кератина и&nbsp;витаминов в&nbsp;стержне;
            +li Выстилающие кутикулу чешуйки разглаживаются;
            +li Прическа приобретает дополнительный объем и&nbsp;сияющий вид;
            +li Пряди становятся послушными;
            +li Образовавшаяся пленка защищает от&nbsp;агрессивной среды.
        +cell({ m:6 })
          h3 Противопоказания
          +ul.par
            +li Дерматологические болезни волосистой части головы;
            +li Гиперчувствительность к&nbsp;компонентам кератинового состава;
            +li Нарушение целостности кожи головы;
            +li Чрезмерное выпадение волос;
            +li Онкология;
            +li Беременность и&nbsp;лактация.

    +pageSubsection
      h2 Техника выполнения brazilian keratin
      +grid.par
        +figure({
          image: {
            name: 'brazilskoe-3',
            path: '/images/uslugi/uhod-i-lechenie/brazilskoe/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Мытье головы',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          p В&nbsp;салоне Hair Care Center в&nbsp;Санкт-Петербурге прием клиентов всегда начинаем с&nbsp;консультации и&nbsp;диагностики волосяного покрова. По&nbsp;результатам тестирования определяем кератиновый состав и&nbsp;время воздействия.
          +ul.par
            +li Процедуру начинаем с&nbsp;мытья головы средством глубокого очищения. Тщательно просушиваем волосы феном так, чтобы  они оставались слегка влажными.
            +li Делим волосы на&nbsp;несколько равных частей. Затем отделяя небольшие прядки равномерно наносим бразильский кератин.
            +li Выдерживаем состав 20-40&nbsp;минут и&nbsp;вновь просушиваем пряди феном.
            +li По&nbsp;истечении указанного времени начинаем выпрямлять каждую прядку, проходясь утюжком от&nbsp;корней по&nbsp;всей длине примерно 10&nbsp;раз.
            +li После выпрямления переходим к&nbsp;увлажняющему уходу. Этот шаг определяет, как долго продержится эффект. Нанеся несмываемую маску, укладываем прическу.

    +pageSubsection
      h2 Уход после бразильского выпрямления
      +grid.par
        +cell({ m:6 })
          +ul.par
            +li Первые дни не&nbsp;собирайте волосы резинками и&nbsp;заколками, чтобы избежать заломов;
            +li Выждите после процедуры 10-14&nbsp;дней прежде, чем покрасить волосы щадящими тонирующими составами;
            +li Для мытья головы используйте средства с&nbsp;низким содержанием сульфатов и&nbsp;парабенов, вымывающих полезные компоненты. Широкий ассортимент уходовой косметики представлен в&nbsp;нашем салоне. Мастер поможет подобрать подходящий уход.
            +li Избегайте контакта волос с&nbsp;морской или хлорированной водой.
        +figure({
          image: {
            name: 'brazilskoe-4',
            path: '/images/uslugi/uhod-i-lechenie/brazilskoe/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Результат бразильского выпрямления волос',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Бразильское выпрямление совместимо с наращиванием?</h3>').par
            p Да, если использовать натуральные пряди. Единственное но: при ленточном наращивании пряди могут не&nbsp;держаться.
          +accordionItem('<h3>Влияет ли бразильское выпрямление на окрашенные волосы?</h3>').par
            p Да, улучшает их здоровье, кондиционирует, запечатывает кутикулу для защиты цвета, предохраняет от&nbsp;статического электричества.
          +accordionItem('<h3>Есть ли возрастные ограничения для процедуры?</h3>').par
            p Возрастные рекомендации указаны в&nbsp;инструкции к&nbsp;используемому составу. Желательно делать выпрямление не&nbsp;раньше 16-18&nbsp;лет. Детский стержень тонкий и&nbsp;пористый, восприимчивый к&nbsp;химическим компонентам.
          +accordionItem('<h3>Brazilian keratin делают на короткую стрижку?</h3>').par
            p Да, но&nbsp;при длине прядей не&nbsp;меньше 10&nbsp;см.
          +accordionItem('<h3>Сколько длится эффект процедуры?</h3>').par
            p Продолжительность зависит от&nbsp;текстуры волос клиента, скорости их роста и&nbsp;частоты мытья. В&nbsp;среднем эффект держится 3&nbsp;месяца.
          +accordionItem('<h3>Структура стержня меняется навсегда?</h3>').par
            p Нет, в&nbsp;отличие от&nbsp;химического метода выпрямления бразильский не&nbsp;меняет структуру, состав постепенно вымывается.
