extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Челки
    +grid.page-subsection
      +figure({
        image: {
          name: 'chelki-1',
          path: '/images/uslugi/vypryamlenie/chelki/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Результат выпрямления челки кератином',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Женщины постоянно стремятся к&nbsp;переменам. Они хотят меняться внешне, удивлять, восхищать, но&nbsp;не&nbsp;всегда готовы к&nbsp;кардинальным изменениям. Челка&nbsp;– универсальный фокус женских преображений. Искусно подобранная, она изменяет женский образ до&nbsp;сногсшибательной неузнаваемости. Прямая ровная челка, прикрывая брови, придает лицу таинственность и&nbsp;магнетизм. Гармонично дополняет прямые длинные волосы или классическое каре. Последние годы в&nbsp;тренд вошла комбинация прямой челки и&nbsp;вьющихся прядей.
        p Проблем с&nbsp;укладкой челки не&nbsp;возникает у&nbsp;обладательниц прямых от&nbsp;природы волос. Если у&nbsp;вас вьющиеся, кудрявые или непослушные локоны, создаст идеальную прическу кератиновое выпрямление челки в&nbsp;Hair Care Center. Процедура на&nbsp;3-4&nbsp;месяца позволяет забыть о&nbsp;проблемах с&nbsp;укладкой.

    +pageSubsection
      h2 Что такое выпрямление челки кератином
      +grid.par
        +cell({ m:6 })
          p Это процедура, придающая волосам невероятный блеск и&nbsp;шелковистость. Кератин&nbsp;— волокнистый белок, который содержится в&nbsp;волосяных стержнях и&nbsp;работает как защитный экран от&nbsp;влаги. Кератин также влияет на&nbsp;пористость&nbsp;— состояние, когда чешуйчатый слой кутикулы открыт. Что делает волос восприимчивым к&nbsp;внешнему воздействию. Большая часть повреждений и&nbsp;спутанности происходит из-за повышенной пористости. Обработка кератином заполняет образовавшиеся пустоты, где кератин истощился, и&nbsp;таким образом придает волосяному полотну здоровый вид.
        +figure({
          image: {
            name: 'chelki-2',
            path: '/images/uslugi/vypryamlenie/chelki/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'До и после выпрямления челки кератином',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +figure({
          image: {
            name: 'chelki-3',
            path: '/images/uslugi/vypryamlenie/chelki/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Выпрямление вьющейся челки',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          p Кератиновое лечение разглаживает вьющиеся локоны и&nbsp;облегчает их выпрямление. Применяя такую технологию мастер добивается длительного и&nbsp;стойкого результата. Волосы и&nbsp;чёлка не&nbsp;просто будут идеально прямыми, а&nbsp;приобретут характерный матовый блеск, и&nbsp;выглядит это восхитительно.

    +pageSubsection
      h2 Преимущества процедуры
      +ul.par
        +li Сильные и&nbsp;толстые локоны;
        +li Время на&nbsp;сушку сокращается;
        +li При расчесывании пряди не&nbsp;спутываются;
        +li Продолжительный эффект;
        +li Дополнительная защита от&nbsp;пыли, ультрафиолета и&nbsp;выхлопных взвесей в&nbsp;воздухе;
        +li Отсутствие электризации.

    +pageSubsection
      h2 Процесс кератинового выпрямления челки
      +grid.par
        +cell({ m:6 })
          ol.list-ordered.par
            li.list-ordered__item Моем голову подготавливающим шампунем. Очищающие компоненты проникают вглубь стержня и&nbsp;удаляют из&nbsp;волокон пыль, грязь, остатки стайлинга и&nbsp;кожного сала. Что облегчает проникновение состава в&nbsp;структуру.
            li.list-ordered__item Полотенцем промакиваем лишнюю влагу, чтобы не&nbsp;капала вода. Затем приступаем к&nbsp;сушке.
            li.list-ordered__item Просушиваем волосы феном с&nbsp;теплой подачей до&nbsp;полного высыхания.
            li.list-ordered__item Наносим на&nbsp;челку кератиновый состав, не&nbsp;трогая корни, расчесываем. Выдерживаем кератин в&nbsp;соответствии с&nbsp;инструкцией.
            li.list-ordered__item Еще раз просушиваем челку, расческой снимаем излишки средства.
            li.list-ordered__item Горячим утюжком обрабатываем волосы до&nbsp;полного испарения влаги. При этом кератин, проникает в&nbsp;структуру и&nbsp;закрепляется.
            li.list-ordered__item Волосы оставляем остывать, а&nbsp;затем прополаскиваем под проточной водой без моющих средств. Этот этап избавляет от&nbsp;лишнего кератина, который не&nbsp;впитался.
            li.list-ordered__item Просушиваем голову феном, наносим несмываемую маску финализатор и&nbsp;завершаем процедуру.
            li.list-ordered__item Укладывать челку не&nbsp;обязательно, ведь она и&nbsp;так выглядит ухожено и&nbsp;аккуратно.
        +figure({
          image: {
            name: 'chelki-4',
            path: '/images/uslugi/vypryamlenie/chelki/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Выпрямление утюжком',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +figure({
          image: {
            name: 'chelki-5',
            path: '/images/uslugi/vypryamlenie/chelki/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Челки, выпрямленные кератином',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          p Если хоть на&nbsp;одном этапе технология будет нарушена, последствия выпрямления челки кератином могут неприятно удивить. Например, если приступить к&nbsp;работе утюжком на&nbsp;влажных прядях, это не&nbsp;отразится на&nbsp;результате мгновенно, но&nbsp;проявится через 1-2&nbsp;месяца, когда эффект терапии закончится. Поэтому важно, чтобы кератиновое лечение проводил квалифицированный опытный мастер проверенными составами.

    +pageSubsection
      h2 Противопоказания
      +ul.par
        +li Беременность и&nbsp;период лактации;
        +li Нарушение целостности кожи головы;
        +li Воспалительные кожные болезни волосистой части головы;
        +li Чувствительность к&nbsp;компонентам используемого состава;
        +li Онкология.

    +pageSubsection
      h2 Уход после кератинового выпрямления челки
      +ul.par
        +li Первые три дня избегать контакта с&nbsp;влажностью, включая пот: стараться не&nbsp;попадать под дождь, исключить посещение бассейнов, бань и&nbsp;интенсивные тренировки;
        +li Мыть голову щадящими средствами без агрессивных ингредиентов;
        +li Перейти на&nbsp;натуральные составы для укладки;
        +li Использовать при купании шапочку, чтобы избежать контакта с&nbsp;морской солью или хлоркой.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Есть ли недостатки у процедуры?</h3>').par
            p Клиенты иногда говорят о&nbsp;незначительном снижении объема. Для одних это достоинство процедуры, для других недостаток. При нарушении технологии повышается жирность головы.
          +accordionItem('<h3>Структура стержня меняется навсегда?</h3>').par
            p Нет, даже если очень захотеть. Кератиновый состав не проникает в&nbsp;геном человека и&nbsp;не&nbsp;меняет его. Также не&nbsp;контактирует с&nbsp;фолликулами. Продукт действует только на видимую часть стержня. У&nbsp;отрастающей части естественная природная структура.
          +accordionItem('<h3>Какие меры предосторожности соблюдать?</h3>').par
            p При нанесении состава кожу смазывают жирным кремом, чтобы избежать ожога.
          +accordionItem('<h3>Когда первый раз мыть голову после процедуры?</h3>').par
            p Через три дня, до&nbsp;этого также не&nbsp;рекомендуется закалывать волосы заколками, чтобы не&nbsp;оставить заломы. Разрешается очистить голову сухим шампунем.
          +accordionItem('<h3>Кератиновое выпрямление ускоряет рост челки?</h3>').par
            p Нет. Состав наносится только на&nbsp;стержень.
          +accordionItem('<h3>Кератиновый продукт способен повредить волосы?</h3>').par
            p Да, если нанести слишком много средства, использовать непроверенные составы, повысить допустимую температуру и&nbsp;т.д. Ошибки чаще допускаются при самостоятельной кератинизации.
