extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Мужское
    +grid.page-subsection
      +cell({ m:6 })
        p Мужчины, как и&nbsp;женщины, устают от&nbsp;ежедневной борьбы с&nbsp;непослушными вьющимися прядями, которые с&nbsp;трудом поддаются укладке. Бьюти-индустрия предлагает разные решения проблемы. Самая востребованная услуга&nbsp;— мужское кератиновое выпрямление волос. Искусственная кератинизация направлена не&nbsp;только на&nbsp;внешнее, но&nbsp;и&nbsp;на&nbsp;внутреннее преображение волос. Кератин выпрямляет кудрявые и&nbsp;волнистые локоны, выравнивает структуру волосяного стержня, сглаживает пушистость.
      +figure({
        image: {
          name: 'muzhskoe-1',
          path: '/images/uslugi/vypryamlenie/muzhskoe/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Мужское кератиновое выпрямление волос',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +figure({
        image: {
          name: 'muzhskoe-2',
          path: '/images/uslugi/vypryamlenie/muzhskoe/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Схематическое изображение волокна волоса',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Кератин&nbsp;— базовый строительный элемент (белок) волос, кожи и&nbsp;ногтей. Волосяной стержень до&nbsp;90&nbsp;% состоит из&nbsp;кератина, оставшиеся 10&nbsp;% занимает вода, жиры и&nbsp;пигменты. Белковый компонент придает шевелюре здоровый вид, делает пряди прочными, удерживает влагу.

    +pageSubsection
      h2 Что такое кератиновое выпрямление
      p Это разглаживающая процедура, которая заполняет жидким синтезированным кератином пустоты стержней и&nbsp;восполняет недостающий белок. После химической/термической обработки или с&nbsp;возрастом человек теряет белок, что делает волосы сухими, ломкими и&nbsp;тусклыми. Восстанавливая внешний слой волосяного волокна, кератин разглаживает, защищает, смягчает и&nbsp;укрепляет волосы. Время сушки сокращается на&nbsp;50-70&nbsp;%. Результат сохраняется 3-4&nbsp;месяца и&nbsp;даже дольше, если использовать правильные продукты для ухода.
      p Работает на&nbsp;всех типах волос. Положительный эффект уже после первой процедуры. После кератинизации даже под проливным дождем состояние волос не&nbsp;изменится.

    +pageSubsection
      h2 Какие результаты дает химическое выпрямление волос мужчинам
      +grid.par
        +cell({ m:6 })
          +ul.par
            +li Уменьшает ломкость прядей;
            +li Утолщает тонкие стержни;
            +li Предотвращает расслоение концов;
            +li Усиливает естественный блеск;
            +li Продолжительный результат;
            +li Простой уход&nbsp;— идеальная прическа менее, чем за&nbsp;5&nbsp;минут.
        +figure({
          image: {
            name: 'muzhskoe-3',
            path: '/images/uslugi/vypryamlenie/muzhskoe/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'До и после кератинового выпрямления',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Как происходит процедура
      +grid.par
        +figure({
          image: {
            name: 'muzhskoe-4',
            path: '/images/uslugi/vypryamlenie/muzhskoe/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Процесс кератинового выпрямления',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          +ul.par
            +li Лечение кератином начинается с&nbsp;мытья головы очищающим от&nbsp;загрязнений шампунем, чтобы открыть кутикулу.
            +li После подсушивания мастер наносит на&nbsp;волосы раствор на&nbsp;основе кератина, который выдерживает до&nbsp;40&nbsp;минут. Тайминг подбирается персонально. За&nbsp;это время волосяные стержни окисляются, и&nbsp;продукт впитывается в&nbsp;кутикулу, запуская разглаживающий процесс.
            +li Волосы сушим феном.
            +li Берем подготовленные пряди и&nbsp;разогретым утюжком активируем кератиновый раствор, запечатывая кутикулу.
            +li Ополаскиваем пряди теплой водой, смывая остатки средства.
            +li Увлажняем волосы, укладываем прическу.
          p Не&nbsp;мойте голову минимум 48&nbsp;часов после процедуры. Допустимо использовать сухой шампунь.

    +pageSubsection
      h2 Уход после процедуры
      +ul.par
        +li Избегайте уходовых продуктов, содержащих хлорид натрия (соль) и&nbsp;гидроксид натрия;
        +li Защищайте волосы шапочкой или липидным протектором при купании в&nbsp;море;
        +li Используйте бессульфатный шампунь;
        +li Проходите регулярные увлажняющие процедуры для волос.

    +pageSubsection
      h2 Потенциальные риски и&nbsp;противопоказания
      p Каким&nbsp;бы полезным ни&nbsp;был кератин, к&nbsp;сожалению, процедура подходит не&nbsp;всем мужчинам. Обладателям поврежденных, ультратонких и&nbsp;ломких локонов требуется предварительная консультация мастера, чтобы убедиться, что искусственная кератинизация безопасна для данного типа.
      +grid.par
        +cell({ m:6 })
          h3 Противопоказания
          +ul.par
            +li Кожные болезни, локализованные на&nbsp;голове, такие как псориаз, себорейный дерматит;
            +li Повреждения на&nbsp;коже головы (порезы, царапины и&nbsp;т.д.);
            +li Интенсивное облысение;
            +li Повышенная чувствительность к&nbsp;любому компоненту;
            +li Онкология.
        +cell({ m:6 })
          h3 Возможные риски
          +ul.par
            +li Дискомфорт во&nbsp;время процедуры. Хотя мастер делает все, чтобы клиент чувствовал себя комфортно, запах химических компонентов у&nbsp;ряда гостей вызывает неприятные ощущения в&nbsp;дыхательных органах.
            +li Воздействие формальдегида. Некоторые кератиновые продукты содержат формальдегид&nbsp;— химическое вещество, которое в&nbsp;больших количествах негативно влияет на&nbsp;здоровье.
            +li Потенциальное повреждение. Кератин способствует здоровью волос, но&nbsp;его избыток способен повредить структуру стержня.
        +figure({
          image: {
            name: 'muzhskoe-5',
            path: '/images/uslugi/vypryamlenie/muzhskoe/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Выпрямление кератином, выполненное профессионалом, сводит возможные риски к нулю.',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Почему кератиновое выпрямление волос мужчинам в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;Hair Care Center
      +ul.par
        +li Проводим точную диагностику, устанавливаем степень поврежденности локонов;
        +li Подбираем состав с&nbsp;кератином персонально с&nbsp;учетом результатов диагностики и&nbsp;пожеланий клиента;
        +li Кератиновый раствор наносим без излишков и&nbsp;пробелов;
        +li Оптимально устанавливаем время выдержки и&nbsp;температуру утюжка;
        +li Рассказываем правила домашнего ухода, подбираем косметику.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Натуральные альтернативы химическому выпрямлению?</h3>').par
            p Горячее масло, смесь взбитых яиц и&nbsp;оливковое масла, алоэ и&nbsp;другие натуральные компоненты, нанесенные на&nbsp;локоны, способствуют их выпрямлению и&nbsp;оздоровлению.
          +accordionItem('<h3>Что еще входит в состав кроме кератина?</h3>').par
            p В&nbsp;косметических продуктах с&nbsp;кератином используют серу, азот, кремний и&nbsp;витамин&nbsp;B6, незаменимые компоненты для синтеза аминокислот (аланин, глицин, цистин, метионин, цистеин)&nbsp;— составляющей натурального кератина.
          +accordionItem('<h3>Искусственная кератинизация ускоряет волосяной рост?</h3>').par
            p Нет, раствор не&nbsp;контактирует с&nbsp;корнями, поэтому не&nbsp;влияет на&nbsp;рост или выпадение волос.
          +accordionItem('<h3>У процедуры есть накопительный эффект?</h3>').par
            p Нет, кератин со&nbsp;временем вымывается.
