@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  --arrow-position var(--base-padding)
  --arrow-size calc(var(--gap) + .75rem)
  position relative
  @media (min-width point-m)
    --arrow-position 0
    --arrow-size calc(var(--gap) + .75rem)
  &__slides
    position static
  &__wrapper
    display grid
    grid-auto-columns auto
    grid-template-rows auto
    grid-auto-flow column
  &__arrow
    position absolute
    bottom 0
    width var(--arrow-size)
    height var(--arrow-size)
    &--prev
      left var(--arrow-position)
    &--next
      right var(--arrow-position)
  &__pagination
    display flex
    gap var(--base-padding)
    justify-content center
    align-items center
    margin-y var(--base-padding)
  &__pagination-item
    position relative
    bottom unset
    width .75rem
    height .75rem
