@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  &__arrow
    --arrow-color var(--color-button)
    --arrow-transition-duration var(--transition-duration-out)
    cursor pointer
    background-color var(--arrow-color)
    mask-image var(--icon-arrow)
    mask-repeat no-repeat
    mask-position center
    mask-size 2rem
    transition background-color var(--transition-duration-out)
    &:hover
      --arrow-color var(--color-white)
      --arrow-transition-duration var(--transition-duration-in)
      background-color var(--color-button)
      transition-duration var(--transition-duration-in)
    &:active
      background-color var(--color-button-active)
      border-color var(--color-button-active)
    &--next
      transform rotate(180deg)
    &--disabled
    &--disabled:hover
    &--disabled:active
      background-color var(--color-grey)
      cursor default
  &__pagination-item
    --transition-duration var(--transition-duration-out)
    background-color transparent
    border 2px solid var(--color-beige)
    border-radius 100vmax
    transition background-color var(--transition-duration)
    &::before
      content ''
      position absolute
      top 50%
      left 50%
      width 1.25rem
      height 1.25rem
      border 1px solid var(--before-border-color, transparent)
      border-left-color transparent
      border-radius 100vmax
      transform translate(-50%, -50%) rotate(135deg)
      transition border-color var(--transition-duration)
    &--active
      --before-border-color var(--color-beige)
      --transition-duration var(--transition-duration-in)
      width .75rem
      height .75rem
      background-color var(--color-beige)
