.button
  --color-link var(--color-white)
  --color-link-hover var(--color-white)
  --color-link-active var(--color-white)
  text-decoration none
  color var(--color-white)
  background-color var(--color-button)
  border-radius var(--border-radius-small)
  transition background-color var(--transition-duration-out)
  &:hover
    transition-duration var(--transition-duration-in)
    @media (min-width point-l)
      background-color var(--color-button-hover)
  &:active
    @media (min-width point-l)
      background-color var(--color-button-active)
  &--disabled
    --color-button var(--color-button-disabled)
    --color-button-hover var(--color-button-disabled)
    --color-button-active var(--color-button-disabled)
    cursor default
  &--secondary
    color var(--color-button)
    background-color transparent
    border 1px solid
    &:hover
      @media (min-width point-l)
        color var(--color-button-hover)
        background-color transparent
    &:active
      @media (min-width point-l)
        color var(--color-button-active)
        background-color transparent
