.home-service
  --color-link var(--color-white)
  --color-link-hover var(--color-grey)
  --color-link-active var(--color-light)
  --items-opacity 0
  --items-translate 1rem
  --items-transition-duration var(--transition-duration-out)
  position relative
  z-index 3
  display flex
  flex-direction column
  align-items flex-start
  padding 1.5rem
  @media (max-width point-l - 1)
    color var(--color-white)
  &:hover
    @media (min-width point-l)
      --items-opacity 1
      --items-translate 0
      --items-transition-duration var(--transition-duration-in)
      color var(--color-white)
  &--big
    @media (min-width point-l)
      padding 2.5rem
  &::before
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 2
    border-radius var(--border-radius-big)
    @media (min-width point-l)
      background-color rgba(0, 0, 0, .7)
      opacity var(--items-opacity)
      transition opacity var(--transition-duration-out)
    @media (max-width point-l - 1)
      background-color var(--color-black)
      opacity .625
  &__title
  &__list
  &__more
    position relative
    z-index 3
  &__list
  &__more
    fontSize16()
    color var(--color-white)
    @media (min-width point-l)
      opacity var(--items-opacity)
      transform translateY(var(--items-translate))
      transition-property opacity, transform, color
      transition-delay var(--transition-duration-in), var(--transition-duration-in), 0
      transition-duration var(--items-transition-duration)
  &__title
    fontSize24()
    font-weight bold
  &__list
    margin-top var(--base-padding)
    padding-left 2rem
  &__item
    list-style disc
  &__item a
  &__more
    text-decoration none
    margin-top auto
    @media (max-width point-l - 1)
      ^[-1]__list + &
        margin-top 2rem
  &__image
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 1
    width 100%
    height 100%
    border-radius var(--border-radius-big)
    object-position center
    object-fit cover
