mixin homeService(item)
  div(class= classes('home-service', item.settings))&attributes(attributes)
    .home-service__title !{item.title}
    if item.list
      ul.home-service__list
        each service in item.list
          li.home-service__item: a(href='#') !{service}
    a(href='#').link-arrow.home-service__more Узнать подробнее
    +img({
      name: item.image,
      path: '/images/',
      formats: [
        { ext: 'jpg', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ]
    }).home-service__image
