.pagination
  display flex
  align-items center
  &__item
    position relative
    & + &
      padding-left 0.625rem
    &--prev, &--next
      a
        display block
        width 2rem
        height 1rem
        mask-image var(--icon-arrow)
        mask-repeat no-repeat
        mask-size cover
        mask-position center
        background-color: currentColor
    &--next
      a
        transform: rotate(180deg)

  &__link
    padding 0.375rem 0.625rem
    color var(--color-grey)
    text-decoration none
    &--active
      color var(--color-link-hover)
