.prices-navigation
  display flex
  flex-wrap wrap
  gap .625rem
  &__item
    padding .75rem 1.25rem
  & .prices-navigation__item--active
    color var(--color-white)
    background-color var(--color-button)
    &:hover
    &:active
      @media (min-width point-l)
        color var(--color-white)
        background-color var(--color-button)
