-
  var calc2 = {
    header: 'Я знаю необходимое количество материалов',
    items: [
      {
        type: 'select',
        name: 'Вид наращивания',
        options: ['капсульное', 'ленточное' ]
      },
      {
        type: 'select',
        name: 'Желаемая длина волос',
        options: ['40 см', '50 см', '60 см', '70 см', '80 см']
      },
      {
        type: 'text',
        name: 'Кол-во',
        options: ['Каскадная', 'Густые кончики (одной длины)']
      },
    ]
  }
