.prices-block
  & + &
    margin-top 3.75rem
  &__tables + &__bottom
    margin-top 1.5rem
  &__bottom
    display flex
    flex-wrap wrap
    align-items center
    justify-content center
    column-gap 2rem
    row-gap 1rem
  &__clarification
    fontSize14()
    line-height 1.2
  &__phone
    margin-x auto
    @media(max-width point-m - 1)
      margin-x 0
.prices-table
  display flex
  flex-direction column
  width 100%
  & + &
    margin-top 1rem
    padding-top 1rem
    border-top 1px solid var(--color-beige-light)
  &--small-padding
    & + &
      margin-top 0.5rem
      padding-top 0.5rem
  &__row
    display flex
    align-items flex-start
    flex-wrap wrap
    gap .5rem
    padding .25rem 0
    & ^[-1]__cell
      &--row-header
        flex-grow 1
        @media (max-width point-m - 1)
          flex-basis 100%
          margin-bottom .5rem
          & + ^[-1]:last-child
            flex-basis 100%
        ^[-2]__row--discount &
          text-decoration underline
    &--header
      background-color var(--color-white)
      align-items center
      &:not(:first-child)
        margin-top 2.5rem
      & ^[-2]__cell
        fontSize12()
        &--title
          flex-grow 1
          @media (max-width point-m - 1)
            flex-basis 100%
            margin-bottom 0.5rem
    & + &
      margin-top .5rem
    &:not(&--header):not(&--subheader) + &:not(&--sep)
      padding-top .75rem
      border-top 1px solid var(--color-beige-lighter)
    &--subheader
      align-items center
      ^[-1]--header + &
        margin-top 1rem
      ^[-1]:not(^[-1]--header):not(^[-1]--subheader) + &
        margin-top .75rem
      & ^[-2]__cell
        &--title
          flex-grow 1
          font-weight bold
          @media (max-width point-m - 1)
            flex-basis 100%
            margin-bottom 0.5rem
    &--big-price
      & ^[-2]__cell:not(^[-2]__cell--title)
        text-transform lowercase
    &--sep
      border-top 1px solid var(--color-beige-light)
  &__cell
    flex-basis 20%
    line-height 1.25rem
    @media (max-width point-m - 1)
      flex-basis 39%
    &:first-child
      max-width calc(85% - .25rem)
      margin-right auto
    &:not(&:first-child)
      text-align right
    &--price-discount
      display flex
      column-gap 0.5rem
      justify-content flex-end
      align-items baseline
  &__old-price
    position relative
    margin-right 0.25rem
    fontSize12()
    color var(--color-grey)
    white-space nowrap
    &::before
      position absolute
      content ''
      width 100%
      height 1px
      top 52%
      background-color var(--color-grey)
  &__new-price
    font-weight bold
    white-space nowrap
  &__clarification
    fontSize12()
    margin-top .25rem
    color var(--color-grey)
    text-transform none
