.staff-experience
  position relative
  text-align center
  margin-right 5rem
  @media (max-width point-l)
    margin-right 0
    transform scale(0.8)
  @media (max-width point-s)
    margin-top 0.5rem
    transform scale(0.6)
  &::before
    position absolute
    content ''
    top 50%
    left 50%
    transform translate(-50%, -50%)
    width 12rem
    height 12rem
    background-image url(../images/svg-sprites/common.svg#home-services__quote)
    background-repeat no-repeat
    background-position center
  &__year
    fontSize58()
    font-weight bold
    color var(--color-link-hover)
