extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    +pageSubsection
      +grid 
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              figure
                +img({
                  name: 'hollywood',
                  path: '/images/uslugi/narashchivanie-volos/gollivudskoe/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] }
                  ]
                })(alt= 'Результат голливудского наращивания' title='Результат голливудского наращивания' width=800 height=466).border-radius.border-radius--big
                +textMarked({ tag:'figcaption', size: 'xs' }) Результат голливудского наращивания

            +cell
              p Голливудское наращивание волос родом из&nbsp;Голливуда&nbsp;&mdash; колыбели американского кинематографа. Изобреталось для создания пышных причесок актрисам. Hollywood Hair&nbsp;&mdash; максимально щадящая техника с&nbsp;естественным результатом. Подходит клиентам, желающим сохранить здоровье волос. Объем и&nbsp;длину увеличивают путем вшивания донорского локона (тресса) в&nbsp;тугую натуральную косичку. Допустимо наращивание близко к&nbsp;лицу и&nbsp;в&nbsp;зоне челки.
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              figure
                +img({
                  name: 'tress',
                  path: '/images/uslugi/narashchivanie-volos/gollivudskoe/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] }
                  ]
                })(alt= 'Тресс' title='Тресс' width=800 height=466).border-radius.border-radius--big
                +textMarked({ tag:'figcaption', size: 'xs' }) Тресс

            +cell  
              p Тресс&nbsp;&mdash; искусственные пряди, сшитые особым образом вместе. После вшивания локоны образуют единое полотно.
    
    +pageSubsection
      +grid({ smallGap: 'y' })
        +cell
          h2 Технология голливудского наращивания
        +cell({ m:6 })
          ol.list-ordered.par
            li.list-ordered__item Подбираем донорские пряди, максимально приближенные по&nbsp;цвету и&nbsp;текстуре к&nbsp;волосам клиента;
            li.list-ordered__item Подготовительный этап включает мытье волос шампунем и&nbsp;высушивание;
            li.list-ordered__item Пряди от&nbsp;линии лба до&nbsp;макушки отделяем в&nbsp;пучок, чтобы не&nbsp;мешали;
            li.list-ordered__item Под убранными с&nbsp;затылка волосами от&nbsp;корня заплетаем французскую косу размером не&nbsp;менее 1&nbsp;см;
            li.list-ordered__item Термически обработанной нитью искусственные локоны вшиваем в&nbsp;косу;
            li.list-ordered__item Оставшийся конец нити отрезаем.
          p Наращивание волос в&nbsp;стиле &laquo;голливуд&raquo; занимает 1,5-3&nbsp;часа. Коррекция требуется раз в&nbsp;1,5-2,5&nbsp;месяца. Частота зависит от&nbsp;скорости роста волос клиента.
        +cell({ m:6 })
          figure
            +img({
              name: 'extension',
              path: '/images/uslugi/narashchivanie-volos/gollivudskoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ]
            })(alt= 'Крепление накладных прядей к собственным волосам' title='Крепление накладных прядей к собственным волосам' width=800 height=466).border-radius.border-radius--big
            +textMarked({ tag:'figcaption', size: 'xs' }) Крепление накладных прядей к собственным волосам
    
    +pageSubsection
      +grid({ smallGap: 'y' })
        +cell
          h2 Особенности наращивания волос с&nbsp;голливудским эффектом
          p Американское наращивание волос не&nbsp;подходит для работы с&nbsp;короткими стрижками. Вплетение проводим при длине локонов 10&nbsp;см и&nbsp;больше. Стандартно за&nbsp;одну процедуру крепится 2&nbsp;тресса длиной 20&nbsp;и&nbsp;30&nbsp;см, общий вес которых составляет 100&nbsp;г. Трессов хватает на&nbsp;3-4&nbsp;коррекции, затем их&nbsp;меняют на&nbsp;новые.
          h3 Преимущества технологии
        +cell
          +grid({ tag: 'ul' }).par
            +iconBlock({ tag: 'li', shield: true })(class= cellClasses({ m:6 })) Безопасность для натуральных волос;
            +iconBlock({ tag: 'li', bath: true })(class= cellClasses({ m:6 })) Доступно посещение бани или сауны;
            +iconBlock({ tag: 'li', hairs: true })(class= cellClasses({ m:6 })) Хорошо скрыты места крепления;
            +iconBlock({ tag: 'li', smiling: true })(class= cellClasses({ m:6 })) В&nbsp;области фиксации нет ощущения дискомфорта;
            +iconBlock({ tag: 'li', brush: true })(class= cellClasses({ m:6 })) Трессы поддаются укладке, окрашиванию;
            +iconBlock({ tag: 'li', time: true })(class= cellClasses({ m:6 })) На&nbsp;крепление искусственных локонов требуется не&nbsp;больше 2&nbsp;часов.
    
    .block-marked.page-subsection
      p Никаких высоких температур. Бережное отношение к&nbsp;естественным волосам сделало процедуру Hollywood Hair популярной.
    
    +pageSubsection
      h2 Почему голливудское наращивание в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center
      p Приветствуем вас в&nbsp;нашем салоне красоты. С&nbsp;гостями салона работают опытные мастера с&nbsp;безупречным чувством стиля. Используем только продуктивные методики наращивания волос. На&nbsp;первом месте для нас здоровье, привлекательность и&nbsp;естественность причесок наших клиентов.
    
    +pageSubsection
      +grid({ smallGap: 'y' })
        +cell
          h2 Популярные вопросы
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Какие противопоказания к&nbsp;голливудскому наращиванию?</h3>').par
            p Дерматологические болезни, прохождение химической терапии, ломкие локоны&nbsp;&mdash; часть противопоказаний к&nbsp;процедуре. Подробности уточняйте у&nbsp;мастера.
          +accordionItem('<h3>Как мыть голову после голливудского наращивания ?</h3>').par
            p Голову моют в&nbsp;вертикальном положении. При наклоне и&nbsp;перебрасывании волос вперед путаются пряди.
    
    +pageSubsection
      h2 Сколько стоит голливудское наращивание в&nbsp;Санкт-Петербурге
      p Стоимость услуги включает используемый материал и&nbsp;работу мастера. Цена материала зависит от&nbsp;длины донорских локонов и&nbsp;количества вплетаемых лент.

  +pageSection({ noPadding: 'top' })#page-prices
    .prices-block
      .prices-block__tables
        .prices-table
          .prices-table__row.prices-table__row--header
            .prices-table__cell.prices-table__cell--title 
              h2 Услуги и цены
            .prices-table__cell До подбородка
              .prices-table__clarification до 10 см
            .prices-table__cell До плеч
              .prices-table__clarification до 20 см
            .prices-table__cell Ниже плеч
              .prices-table__clarification от 20 см

          .prices-table__row
            .prices-table__cell.prices-table__cell--row-header Голливудское наращивание
              .prices-table__clarification В услугу входит мытье головы, укладка феном - придание формы без использования стайлинговых средств. По желанию клиента может быть выбрана любая укладка с 50% скидкой по действующему прейскуранту.
            .prices-table__cell 1000-1400 ₽
            .prices-table__cell 1600 ₽
            .prices-table__cell 2000 ₽
