extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    +pageSubsection 
      p Холодное наращивание волос&nbsp;&mdash; это присоединение накладных прядей без использования термического воздействия. В&nbsp;салоне Hair Care Center проводим ленточное и&nbsp;голливудское холодное наращивание.
    
    +grid.page-subsection
      +cell({ m:6 })
        +grid({ smallGap: 'y' }) 
          +cell
            h2 Технология ленточного холодного наращивания
          +cell
            figure
              +img({
                name: 'process',
                path: '/images/uslugi/narashchivanie-volos/holodnoe/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= 'Процесс наращивания лентами' title='Процесс наращивания лентами' width=800 height=466).border-radius.border-radius--big
              +textMarked({ tag:'figcaption', size:'xs' }) Процесс наращивания лентами
          +cell
            ol.list-ordered.par
              li.list-ordered__item Консультация с&nbsp;мастером, в&nbsp;ходе которой анализируем потребности клиента, подбираем необходимую густоту и&nbsp;длину.
              li.list-ordered__item Подготовительный этап. Шевелюру очищаем специальным шампунем, высушиваем.
              li.list-ordered__item Фиксируем ленты. Прикрепляем накладные пряди вблизи корней, надежность фиксации обеспечивает клеевой состав.
              li.list-ordered__item Придаем прическе необходимый стиль, делаем укладку, создаем локоны или&nbsp;же вытягиваем пряди утюжком.

      +cell({ m:6 })
        +grid({ smallGap: 'y' }) 
          +cell
            h2 Технология голливудского холодного наращивания
          +cell
            figure
              +img({
                name: 'tress',
                path: '/images/uslugi/narashchivanie-volos/holodnoe/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= 'Трессы' title='Трессы' width=800 height=466).border-radius.border-radius--big
              +textMarked({ tag:'figcaption', size:'xs' }) Трессы
          +cell
            ol.list-ordered.par
              li.list-ordered__item Клиент проходит консультацию у&nbsp;нашего опытного мастера, который оценивает состояние шевелюры, выслушивает пожелания, подбирают оптимальную густоту, длину, категорию прядей, идеальный оттенок.
              li.list-ordered__item Готовит шевелюру клиента к&nbsp;процедуре. А&nbsp;если нужно выровнять оттенок, проводит окрашивание, моет голову специальным очищающим шампунем.
              li.list-ordered__item Заплетает шевелюру клиентов в&nbsp;небольшие косички, а&nbsp;затем пришивают к&nbsp;ним трессы, используя специальную нить. 
            p Трессы&nbsp;&mdash; полоска из&nbsp;волос, сплетенная вручную или состроченная на&nbsp;машинке. 
    
    +grid({ par:true }).page-subsection
      +cell({ m:8 })
        h2 Особенности и&nbsp;преимущества ленточной технологии
      +cell({ m:6 })
        +grid({ smallGap: 'y' })
          +cell
            p Одна из&nbsp;популярных разновидностей технологии холодного наращивания волос&nbsp;&mdash; клеевое наращивание лент. На&nbsp;их&nbsp;поверхность нанесен усовершенствованный клеевой состав, который продлевает продолжительность ношения и&nbsp;гарантирует максимальную прочность фиксации.
            p В&nbsp;основе клеевого состава&nbsp;&mdash; полимеры, которые способствуют надежному и&nbsp;прочному закреплению лент на&nbsp;3&nbsp;месяца. Но&nbsp;коррекцию рекомендуем выполнить спустя 1,5-2&nbsp;месяца, ориентируясь на&nbsp;скорость отрастания родных волос.
            p Процедура проходит максимально щадящим образом: донорские пряди не&nbsp;нужно дополнительно обрабатывать, применять термическое воздействие. 
          +cell
            figure
              +img({
                name: 'mini',
                path: '/images/uslugi/narashchivanie-volos/holodnoe/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= 'Наращивание мини-лентами' title='Наращивание мини-лентами' width=800 height=466).border-radius.border-radius--big
              +textMarked({ tag:'figcaption', size:'xs' }) Наращивание мини-лентами
            
      +cell({ m:6 })
        p Можно подобрать ленты минимальной ширины, а&nbsp;значит менее заметные и&nbsp;не&nbsp;утяжеляющие волосы. За&nbsp;счет того, что ленточное наращивание не&nbsp;перегружает волосяные луковицы, оно подходит даже обладательницам ослабленных волос.
        h3 Преимущества ленточной технологии
        +ul.par 
          +li Методика подходит для слабых, тонких волос, совершенно безвредна для них.
          +li Возможность быстро усовершенствовать прическу: придать желаемый объем и&nbsp;длину удается за&nbsp;час.
          +li Подходит для людей с&nbsp;аллергической реакцией на&nbsp;химические компоненты, чувствительным к&nbsp;резким запахам, уместна для женщин в&nbsp;период беременности и&nbsp;грудного вскармливания.
          +li Доступная стоимость холодного наращивания ленточным способом. Технология рассматривается как наиболее бюджетная, по&nbsp;сравнению с&nbsp;остальными методами.
          +li Снятие и&nbsp;коррекция проходят за&nbsp;минимум времени и&nbsp;без особых сложностей. Ленты предназначены для повторного применения (достаточно нанести новый полимер).
          +li Шевелюра клиента в&nbsp;полной безопасности. Волосяные стержни не&nbsp;повреждаются, поскольку мастер не&nbsp;применяет химические составы, не&nbsp;практикует термического воздействия.
    
    +grid({ par:true }).page-subsection
      +cell({ m:8 })
        h2 Особенности и&nbsp;преимущества голливудской технологии
      +cell({ m:6 })
        +grid({ smallGap: 'y' })
          +cell
            p Наращивание на&nbsp;трессах отличается тем, что процедуру начинают с&nbsp;нижнего участка затылка, где заплетают первую косичку, которая должна быть максимально тонкой и&nbsp;маленькой. А&nbsp;затем постепенно двигаются вверх, заплетая еще несколько незаметных косичек, последовательно пришивая к&nbsp;ним трессы. 
            p Трессы придумали еще в&nbsp;восьмидесятые годы, когда это решение пришло на&nbsp;смену шиньоном: больше женщинам не&nbsp;нужно постоянно надевать и&nbsp;снимать это изделие, а&nbsp;можно нарастить волосы на&nbsp;трессы, став обладательницей королевской шевелюры необычайного объема и&nbsp;красивой длины.
          +cell
            figure
              +img({
                name: 'hollywood',
                path: '/images/uslugi/narashchivanie-volos/holodnoe/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= 'Голливудское наращивание в салоне Волосы24' title='Голливудское наращивание в салоне Волосы24' width=800 height=466).border-radius.border-radius--big
              +textMarked({ tag:'figcaption', size:'xs' }) Голливудское наращивание в салоне Волосы24
      +cell({ m:6 })
        h3 Преимущества голливудской технологии
        +ul.par 
          +li Безопасность. Поскольку не&nbsp;используем химические составы, термические инструменты, кожа головы и&nbsp;шевелюра не&nbsp;повреждаются.
          +li Доступная цена голливудского холодного наращивания. Поскольку технология предельно простая, не&nbsp;отбирает слишком много времени и&nbsp;сил у&nbsp;мастера, по&nbsp;сравнению с&nbsp;другими методами, то&nbsp;услуга обойдется недорого.
          +li Трессы подходят для повторного применения, многократно, без потери длины.
          +li Простой принцип коррекции: просто заплетают новые косички, к&nbsp;которым и&nbsp;фиксируют трессы. 
          +li Исключено вычесывание, спутывание волос у&nbsp;корней. 
          +li Максимально естественный вид шевелюры, поскольку участки фиксации невозможно заметить.
          +li После процедуры можно вести привычный образ жизни, посещать бассейн, сауну, баню, делать стайлинг, окрашивание, химическую завивку. 
    
    +pageSubsection 
      h2 Сколько понадобится лент/трессов? 
      p Необходимое количество лент подсчитываем, ориентируясь на&nbsp;их&nbsp;ширину. В&nbsp;случае наращивания на&nbsp;шевелюру средней густоты нужно от&nbsp;40&nbsp;лент, а&nbsp;на&nbsp;густую&nbsp;&mdash; от&nbsp;60&nbsp;лент. 
      p Учитывая, что вес тресса составляет 50-130&nbsp;г, то&nbsp;в&nbsp;среднем для процедуры достаточно 100&nbsp;г волос. Если&nbsp;же женщину интересует только загущение, то&nbsp;можно обойтись одним трессом. 
    
    +pageSubsection 
      h2 Сколько стоит холодное наращивание в&nbsp;Санкт-Петербурге? 
      p Стоимость ленточного наращивания определяется необходимой длиной, густотой, категорией волос. Одна лента обойдется в&nbsp;100&nbsp;рублей.
      p Цена голливудского наращивания в&nbsp;СПб зависит от&nbsp;цели (увеличение длины, загущение), категории волос. В&nbsp;среднем услуга обойдется в&nbsp;3000-6000&nbsp;рублей. 

    +pageSubsection
      +grid({ smallGap: 'y' })
        +cell
          h2 Почему холодное наращивание в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center?
        +cell
          +grid({ tag: 'ul' })
            +iconBlock({ tag: 'li', shield: true })(class= cellClasses({ m:6 })) Гарантия на&nbsp;волосы составит 2-3&nbsp;месяца, а&nbsp;на&nbsp;результат&nbsp;&mdash; один месяц.
            +iconBlock({ tag: 'li', wallet: true })(class= cellClasses({ m:6 })) Минимально возможные цены в&nbsp;городе, поскольку сами производим накладные пряди, работаем без наценок и&nbsp;посредников.
            +iconBlock({ tag: 'li', pantone: true })(class= cellClasses({ m:6 })) Максимально точный подбор накладных прядей по&nbsp;цветовой гамме (в&nbsp;палитре 47&nbsp;оттенков) и&nbsp;длине (от&nbsp;40&nbsp;до&nbsp;85&nbsp;сантиметров). 
            +iconBlock({ tag: 'li', 'diagnosis2' : true })(class= cellClasses({ m:6 })) Заботимся о&nbsp;волосах клиентов: выполняем услугу только при отсутствии противопоказаний (бесплатно диагностируем волосы). 
            +iconBlock({ tag: 'li', hairs: true })(class= cellClasses({ m:6 })) Безупречное качество волос. Контролируем качество на&nbsp;каждом производственном этапе, не&nbsp;применяем силиконы, отсутствуют перевертыши. Получили экспертное заключение от&nbsp;Роспотребнадзора. 
            +iconBlock({ tag: 'li', cutting: true })(class= cellClasses({ m:6 })) Наращивание в&nbsp;нашем салоне&nbsp;&mdash; бесплатная укладка, стрижка или прическа в&nbsp;подарок.
    