extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    +pageSubsection
      +grid({ smallGap: 'y', justify: 'center' })
        +cell({ m:6 })
          p Цель любого наращивания&nbsp;&mdash; придание волосам желаемой длины и&nbsp;густоты. Конечный результат зависит от&nbsp;количества и&nbsp;качества донорских прядей.
          p Капсулирование волос для наращивания по&nbsp;&laquo;горячей&raquo;, итальянской технологии необходимо произвести перед процедурой наращивания волос, если у&nbsp;вас имеются волосы в&nbsp;срезе, либо пряди, которые вы&nbsp;сняли прежде. В&nbsp;случае, если вы&nbsp;покупаете готовые пряди для наращивания, процедура капсуляции перед наращиванием не&nbsp;требуется. 
          p Суть капсуляции заключается в&nbsp;нанесении и&nbsp;пропитке верхушки пряди волос при помощи расплавленного кератина. Это будет будущим местом соединения донорской пряди и&nbsp;пряди своих волос. Размер прядочки может быть различным по&nbsp;вашему желанию, а&nbsp;также в&nbsp;зависимости от&nbsp;стрижки, густоты своих волос и&nbsp;рекомендаций нашего мастера по&nbsp;наращиванию. Но&nbsp;для каждой длины волос мы&nbsp;рассчитали максимально безопасный вес пряди, такие пряди мы&nbsp;называем &laquo;стандартные&raquo; по&nbsp;весу. Также мы&nbsp;можем изготовить пряди меньшей наполняемости&nbsp;&mdash; микро и&nbsp;нано. 
          p Кератиновые пряди в&nbsp;результате наращивания не&nbsp;доставляют неудобства за&nbsp;счет оптимального веса. Наши мастера &laquo;закручивают&raquo; пряди при наращивании пальцами, что делают капсулку максимально неощутимой и&nbsp;комфортной в&nbsp;носке. 
        +cell({ m:6 })
          +grid({ smallGap: 'y', justify: 'center' })
            +cell
              p Также капсулы не&nbsp;склеиваются между собой, можно ездить на&nbsp;море, посещать бани и&nbsp;сауны.
              p Наращенные пряди носят до&nbsp;4&nbsp;месяцев. Донорские локоны выдерживают 3-4&nbsp;коррекции. Для снятия используем специальную жидкость и специальные щипцы для снятия наращенных волос.
            +cell
              figure
                +img({
                  name: 'capsule',
                  path: '/images/uslugi/narashchivanie-volos/kapsuljatsija/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] }
                  ]
                })(alt= 'Капсульное наращивание' title='Капсульное наращивание' width=800 height=466).border-radius.border-radius--big
                +textMarked({ tag:'figcaption', size: 'xs' }) Капсульное наращивание
    +pageSubsection
      +grid({ smallGap: 'y' })
        +cell({ m:6 })
          figure
            +img({
              name: 'keratin',
              path: '/images/uslugi/narashchivanie-volos/kapsuljatsija/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ]
            })(alt= 'Черный кератин для наращивания' title='Черный кератин для наращивания' width=800 height=430).border-radius.border-radius--big
            +textMarked({ tag:'figcaption', size: 'xs' }) Черный кератин для наращивания
        +cell({ m:6 })
          h2 Особенности капсуляции волос 
          p Во&nbsp;время процедуры мастер-капсулятор разогревает аппарат (термо-щипцы) до&nbsp;необходимой температуры, подготавливает прядь для капсуляции, берет несколько гранул кератина, которые расплавляются и&nbsp;затем наносит расплавленный кератин на&nbsp;верхнюю часть пряди. Во&nbsp;время нанесения кератина на&nbsp;волосы мастер тщательно пропитывает волосы кератином, чтобы каждый волосок в&nbsp;пряди был зафиксирован и&nbsp;в&nbsp;дальнейшем прочно держался и&nbsp;не&nbsp;вычесывался. Затем при помощи щипцов для формирования пряди придается форма капсуле, уплотняются волоски в&nbsp;капсуле и&nbsp;затвердевает кератин. Кончик кератиновой капсулы обрезают и&nbsp;прядка готова к&nbsp;наращиванию. Все пряди бережно складывают, а&nbsp;по&nbsp;готовности всех прядей мастер формирует (связывает) их&nbsp;упаковками по&nbsp;20&nbsp;прядей. Который потом связывают между собой для удобства хранения, транспортировки.
        
    .block-marked.page-subsection
      p Капсульный кератин для наращивания&nbsp;&mdash; гипоаллергенный, безвредный материал, гарантирующий надежную фиксацию.
    
    +pageSubsection
      h3 Подготовка к капсулированию волос для наращивания кератином, если вы покупаете волосы в срезе
      ol.list-ordered.par
        li.list-ordered__item Если вы&nbsp;выбираете новые волосы для наращивания, тогда мы&nbsp;помогаем вам с&nbsp;подбором донорских волос, длина подбирается по&nbsp;вашему желанию, а&nbsp;также мастер может дать необходимые рекомендации по&nbsp;длине, если вы&nbsp;не&nbsp;определились.
        li.list-ordered__item Цвет волос подбираем под цвет волос ваших кончиков (в&nbsp;зависимости от&nbsp;вашего цвета это могут быть донорские волосы одного или нескольких цветов).
        li.list-ordered__item Определяемся с&nbsp;вами по&nbsp;нужному весу волос для вашего наращивания (или рассчитываем вес волос исходя из&nbsp;нужного количества прядей).
        li.list-ordered__item Обсуждаем с&nbsp;вами нужный размер пряди волос и&nbsp;капсулы, делаем того размера, который требуется вам.
        li.list-ordered__item Выбираем цвет кератиновых гранул. Можно выбрать прозрачный кератин или цветной в&nbsp;зависимости от&nbsp;ваших пожеланий и&nbsp;рекомендаций мастера в&nbsp;зависимости от&nbsp;вашей ситуации.
        li.list-ordered__item Записываем ваш номер для связи, чтобы мы&nbsp;могли связаться с&nbsp;вами по&nbsp;готовности волос, либо готовые волосы откладываются и&nbsp;ожидают вас у&nbsp;нашего мастера.
      h3 Подготовка к капсулированию волос для наращивания кератином, если вы приобрели волосы (срез волос) в другом магазине и оставили нам на капсуляцию
      ol.list-ordered.par
        li.list-ordered__item Принимаем ваши волосы в&nbsp;работу.
        li.list-ordered__item Обговариваем с&nbsp;вами размер капсулы и&nbsp;наполняемость пряди.
        li.list-ordered__item Указываем ваше пожелание по&nbsp;цвету кератина.
        li.list-ordered__item Называем вам предварительный срок готовности волос и&nbsp;записываем ваши данные для связи.
        li.list-ordered__item При сомнении в&nbsp;волосах (если вы&nbsp;купили в&nbsp;другом магазине иногда там могут наносить силикон на&nbsp;волосы), мастер капсулятор может дополнительно вымыть макушку волос очищающим шампунем и/или обезжирить для лучшей фиксации кератина на&nbsp;волосах, чтобы волоски в&nbsp;пряди держались прочно и&nbsp;не&nbsp;выскальзывали (не&nbsp;вычесывались).
        li.list-ordered__item По&nbsp;готовности связываемся с&nbsp;вами и&nbsp;сообщаем информацию.
        li.list-ordered__item Оплата услуги в&nbsp;момент, когда забираете волосы.
      h3 Подготовка к капсулированию волос для наращивания кератином, если вы принесли волосы после снятия 
      ol.list-ordered.par
        li.list-ordered__item Принимаем ваши волосы в&nbsp;работу.
        li.list-ordered__item Обговариваем с&nbsp;вами размер капсулы, оставляем как было или некоторые пряди нужно объединить (например, те, что при снятии стали тоньше).
        li.list-ordered__item Указываем ваше пожелание по&nbsp;цвету кератина.
        li.list-ordered__item Называем вам предварительный срок готовности волос и&nbsp;записываем ваши данные для связи.
        li.list-ordered__item Участок со&nbsp;старым кератином обрезается и&nbsp;на&nbsp;кончики пряди волос наносится новый кератин, волоски тщательно пропитываются кератином.
        li.list-ordered__item Форма капсуле придается щипцами для формирования капсул и&nbsp;дополнительно фиксируются волоски в&nbsp;капсуле.
        li.list-ordered__item Кончик прядки обрезается. По&nbsp;завершении прядки связываем вместе.
        li.list-ordered__item По&nbsp;готовности связываемся с&nbsp;вами и&nbsp;сообщаем информацию.
        li.list-ordered__item Оплата услуги в&nbsp;момент, когда забираете волосы.

        //- +cell({ m:2 })
        //-   +img({
        //-     name: 'advantages',
        //-     path: '/images/uslugi/narashchivanie-volos/kapsuljatsija/',
        //-     formats: [
        //-       { ext: 'jpg', orig: true },
        //-       { ext: 'webp', mime: 'image/webp' },
        //-     ],
        //-     density: [
        //-       { values: [ 1, 2 ] }
        //-     ]
        //-   })(alt= 'Плюсы услуги капсуляции' width=800 height=827).border-radius.border-radius--big

      h3 Плюсы услуги капсуляции
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          +ul
            +li Скорость процедуры. Опытные мастера нашего салона при стандартном наращивании за&nbsp;3&nbsp;часа преображают прическу клиента.
            +li Увеличение длины коротких волос (от&nbsp;4-5&nbsp;см).
            +li Объем&nbsp;&mdash; даже при длинных локонах прическа сохраняет пышность.
            +li Прочная и&nbsp;надежная фиксация донорских локонов.
            +li Безопасность&nbsp;&mdash; температура фиксирующих щипцов ниже температуры выпрямителя.
            +li Не&nbsp;видно границы между волосами клиента и&nbsp;наращенными.
            +li Продолжительный срок носки.
          p Используемые для капсулирования локоны не&nbsp;путаются, не&nbsp;боятся окрашивания, подходят для создания разнообразных причесок, не&nbsp;вычесываются.
        +cell({ m:6 })
          figure
            +img({
              name: 'capsule-2',
              path: '/images/uslugi/narashchivanie-volos/kapsuljatsija/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ]
            })(alt= 'Результат капсульного наращивания' title='Результат капсульного наращивания' width=1000 height=666).border-radius.border-radius--big
            +textMarked({ tag:'figcaption', size: 'xs' }) Результат капсульного наращивания
    
    +pageSubsection
      h2 Уход за&nbsp;прической после капсуляции
      ol.list-ordered.list-ordered--column-2.par
        li.list-ordered__item Перед мытьем головы тщательно расчесать волосы;
        li.list-ordered__item Шампунь распределить по&nbsp;росту волос, не&nbsp;спутывая&nbsp;их;
        li.list-ordered__item На&nbsp;кератин не&nbsp;наносят бальзам, чтобы не&nbsp;размягчать;
        li.list-ordered__item После мытья локоны обернуть полотенцем и&nbsp;мягко промокнуть;
        li.list-ordered__item Предпочтительна естественная сушка;
        li.list-ordered__item Допустима термоукладка при температуре прибора ниже 230&deg;&nbsp;С.

    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        h2 Почему капсуляцию волос в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center
        p Капсуляция волос для наращивания в&nbsp;Hair Care Center&nbsp;&mdash; комфортная и&nbsp;безопасная процедура, которая гарантирует максимально естественный результат и&nbsp;комфортное ношение. Для наращивания используем славянские пряди собственного изготовления. Это шелковистые, без химической обработки, выдерживающие многократную капсуляцию волосы. Подбирая материал учитываем структуру и&nbsp;оттенок волос клиента.
      +cell({ m:6 })
        figure
          +img({
            name: 'slavic',
            path: '/images/uslugi/narashchivanie-volos/kapsuljatsija/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Богатая палитра оттенков волос на капсулах салона Hare Care Center' title='Богатая палитра оттенков волос на капсулах салона Hare Care Center' width=800 height=466).border-radius.border-radius--big
          +textMarked({ tag:'figcaption', size: 'xs' }) Богатая палитра оттенков волос на капсулах салона Hare Care Center
    
    +pageSubsection
      h2 Цены на капсулирование волос в Санкт-Петербурге в Hair Care Center
      p Цена процедуры формируется, исходя&nbsp;из:
      +ul.par
        +li стоимости донорской пряди;
        +li количества локонов;
        +li работы мастера.
      +textMarked({ tag:'p', size: 'xs' }) *Мытье головы и&nbsp;укладка в&nbsp;стоимость услуги не&nbsp;входит.
