extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    +pageSubsection
      p Капсульное наращивание волос&nbsp;&mdash; это услуга салона красоты Hair Care Center, которая позволяет увеличить длину, объем, создать модные цветовые переходы с&nbsp;помощью прядей для наращивания и&nbsp;кератина для формирования капсул. 

    +pageSubsection
      h2 Технология капсульного наращивания 
      +grid({ par: true }).par
        +cell({ m:6 })
          p Технологию горячего капсульного наращивания волос изобрел парикмахер-стилист Дэвид Голд: метод появился в&nbsp;1991 году и&nbsp;до&nbsp;сих пор лидирует среди способов наращивания. Популярно и&nbsp;другое название технологии&nbsp;&mdash; итальянское наращивание волос.
          p До&nbsp;появления авторской методики, волосы наращивали на&nbsp;смоляные капсулы, которые держали наращиваемые пряди совершенно ненадежно. Потому Голд и&nbsp;предложил использовать капсулы, полученные из&nbsp;органического кератина. 
          h3 Как проходит наращивание итальянским методом?
          ol.list-ordered.par
            li.list-ordered__item Подбирают пряди, которые гармонируют по&nbsp;оттенку, текстуре и&nbsp;структуре с&nbsp;родными волосами человека, обратившегося за&nbsp;услугой.
            li.list-ordered__item Затем волосы клиента готовят: моют специальным очищающим шампунем.
            li.list-ordered__item Переходят непосредственно к&nbsp;процедуре наращивания. Капсулированные пряди присоединяют к&nbsp;волосам человека, используя аппарат для горячего наращивания&nbsp;&mdash; термощипцы. Устройство расплавляет кератин, мастер фиксирует пряди. 
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              p Присоединение прядей происходит на&nbsp;расстоянии нескольких миллиметров от&nbsp;прикорневой зоны: полимер нагревается до&nbsp;температуры не&nbsp;более 180&nbsp;&deg;C, после чего прочно зажимается на&nbsp;несколько секунд.
            +cell
              figure
                +img({
                  name: 'italian',
                  path: '/images/uslugi/narashchivanie-volos/kapsulnoe/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] }
                  ]
                })(alt= 'Технология капсульного наращивания с применением термощипцов' title='Технология капсульного наращивания с применением термощипцов' width=800 height=466).border-radius.border-radius--big
                +textMarked({ tag:'figcaption', size: 'xs' }) Технология капсульного наращивания с применением термощипцов

    +pageSubsection
      +grid({ par: true }).par
        +cell({ m:8 })
          h2 Особенности и&nbsp;преимущества итальянского наращивания волос
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              h3 Отсутствие вреда для родных волос
              p Отсутствие вреда для родных волос: температура нагрева аппаратом для горячего наращивания аналогична той&nbsp;же, при которой работают стайлинговые устройства, позволяющие выпрямлять, укладывать волосы. 
              p Щадящей технология оказывается и&nbsp;во&nbsp;время снятия прядей, по&nbsp;сравнению с&nbsp;холодными методами наращивания: достаточно использовать специальную жидкость для снятия капсул и&nbsp;щипчики с&nbsp;зубчиками.
            +cell
              figure
                +img({
                  name: 'keratin',
                  path: '/images/uslugi/narashchivanie-volos/kapsulnoe/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] }
                  ]
                })(alt= 'Тугоплавкий кератин в гранулах' title='Тугоплавкий кератин в гранулах' width=800 height=466).border-radius.border-radius--big 
                +textMarked({ tag:'figcaption', size: 'xs' }) Тугоплавкий кератин в гранулах
            +cell
              h3 Максимальная естественность 
              p Кератин подбирают под оттенок волос, фиксируют пряди, грамотно распределяя их&nbsp;на&nbsp;голове, в&nbsp;результате чего наращенные волосы сложно отличить от&nbsp;естественных. Поскольку кератин&nbsp;&mdash; естественный структурный компонент волоса, то&nbsp;кератиновое наращивание не&nbsp;повреждает шевелюру, что позволяет считать метод абсолютно безвредным.
              h3 Важность своевременной коррекции
              p Результат процедуры сохраняется достаточно долго, вплоть до&nbsp;коррекции, которую следует провести через три месяца. Процедура обязательная, учитывая, что, по&nbsp;мере отрастания волос, участки крепления спускаются ниже, а&nbsp;следовательно капсулы становятся заметнее и&nbsp;повышается риск спутывания волос.
            
        +cell({ m:6 })
          h3 Наращивание решает разные задачи 
          p Обладателям густых волос итальянское наращивание подойдет для загущения волос не&nbsp;только в&nbsp;стандартных зонах, но&nbsp;и&nbsp;вплоть до&nbsp;линии пробора. Также горячее наращивание&nbsp;&mdash; подходящий выбор для коррекции неудачной стрижки, учитывая, что метод не&nbsp;препятствует росту собственных волос.
          p Метод позволяет практиковать наращивание нескольких оттенков волос, чтобы получить модный эффект омбре, мелирования, добавить пряди креативных оттенков. 
          h3 Другие особенности и&nbsp;преимущества метода
          +ul.par
            +li Возможность наращивать пряди даже при длине собственных волос от&nbsp;6&nbsp;см.
            +li Увеличение общей длины до&nbsp;70&nbsp;см.
            +li Отсутствие аллергических реакций, подходит для большинства клиентов.
            +li Для снятия наращенных прядей достаточно простых движений: дискомфорт и&nbsp;болезненность исключены.
            +li Подходит для наращивания в&nbsp;любых зонах, не&nbsp;обязательно по&nbsp;всей голове.
            +li Можно посещать сауну, бассейн, баню, солярий или загорать на&nbsp;солнце, плавать в&nbsp;море.
            +li Наращенные этим методом волосы можно укладывать, расчесывать, делать прически: допустимо использовать щипцы для завивки или утюжок для выпрямления волос, плойку, фен.
            +li Исключено вычесывание, поскольку достигается высокая прочность фиксации.
            +li Можно применять уходовую косметику (за&nbsp;исключением маслосодержащей), средства для укладки волос.
    
    +pageSubsection
      +grid({ smallGap: 'y' })
        +cell({ m:8 })
          h2 Сколько нужно прядей/капсул для наращивания?
        +cell({ m:6, s:6 })
          +img({
            name: 'amount',
            path: '/images/uslugi/narashchivanie-volos/kapsulnoe/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Упаковка волос на капсулах' title='Упаковка волос на капсулах').border-radius.border-radius--big 
          +textMarked({ tag:'figcaption', size: 'xs' }) Упаковка волос на капсулах

        +cell({ m:6, s:6 })
          p 60&nbsp;прядей наращивают, если нужно придать объем и&nbsp;загустить волосы.&nbsp;100 понадобится на&nbsp;редкие волосы. В&nbsp;среднем на&nbsp;голову требуется 140&nbsp;прядей. Если&nbsp;же у&nbsp;клиента каре, то&nbsp;понадобится минимум от&nbsp;200&nbsp;прядей.
      
    +pageSubsection
      +grid({ smallGap: 'y' })
        +cell
          h2 Почему капсульное наращивание в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center?
        +cell
          +grid({ tag: 'ul' }).page-subsection
            +iconBlock({ tag: 'li', palette: true })(class= cellClasses({ m:6 })) Подбираем волосы на&nbsp;месте из&nbsp;огромного ассортимента: в&nbsp;палитре 47&nbsp;оттенков, представлены пряди длиной до&nbsp;85&nbsp;см.
            +iconBlock({ tag: 'li', shield: true })(class= cellClasses({ m:6 })) 2-3-месячная гарантия на&nbsp;качество волос и&nbsp;месяц&nbsp;&mdash; срок гарантии на&nbsp;наращивание.
            +iconBlock({ tag: 'li', training: true })(class= cellClasses({ m:6 })) Профессиональный подход к&nbsp;наращиванию. У&nbsp;нас не&nbsp;только работают сертифицированные мастера, но&nbsp;мы&nbsp;и&nbsp;сами проводим курсы по&nbsp;обучению наращиванию.
            +iconBlock({ tag: 'li', hairs: true })(class= cellClasses({ m:6 })) Наращиваем славянские волосы, за&nbsp;качество которых несем ответственность: располагаем собственным производством, отсутствуют перевертыши, силикон, получили экспертное заключение на&nbsp;волосы. 
            +iconBlock({ tag: 'li', customer: true })(class= cellClasses({ m:6 })) Подбираем оптимальную длину наращивания, ориентируясь на&nbsp;образ жизни, рост, густоту, длину волос клиента.
            +iconBlock({ tag: 'li', diagnosis: true })(class= cellClasses({ m:6 })) Бесплатно диагностируем волосы в&nbsp;салоне: процедура позволяет определить противопоказания к&nbsp;наращиванию.
            +iconBlock({ tag: 'li', cutting: true })(class= cellClasses({ m:6 })) При наращивании волос нашего производства в&nbsp;салоне&nbsp;&mdash; укладываем, делаем стрижку или прическу в&nbsp;подарок.
            +iconBlock({ tag: 'li', extension: true })(class= cellClasses({ m:6 })) Выполняем наращивание волос популярными методами: подбираем подходящий вид наращивания, учитывая состояние, длину волос, длительность ношения. 
            +iconBlock({ tag: 'li', cosmetics: true })(class= cellClasses({ m:6 })) Подбираем профессиональную уходовую косметику (представлена в&nbsp;ассортименте), консультируем по&nbsp;правильному уходу за&nbsp;волосами.
            +iconBlock({ tag: 'li', brush: true })(class= cellClasses({ m:6 })) Выполняем адаптационную стрижку и&nbsp;обновляем оттенок родных волос клиента, чтобы скрыть переход между ними и&nbsp;наращенными прядями и&nbsp;придать более аккуратный вид шевелюре.

    +pageSubsection
      +grid({ smallGap: 'y' })
        +cell
          h2 Часто задаваемые вопросы
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>За&nbsp;сколько времени удается нарастить волосы этим методом?</h3>').par
            p Длительность горячего капсульного наращивания&nbsp;&mdash; 2-4&nbsp;часа. Продолжительность процедуры зависит от&nbsp;необходимой густоты и&nbsp;других пожеланий клиента.
          +accordionItem('<h3>Есть&nbsp;ли особенности ухода за&nbsp;наращенными волосами?</h3>').par
            p Да. Понадобится использовать специальную расческу, на&nbsp;щетинках которой отсутствуют шарики. Мыть голову только в&nbsp;вертикальном положении. Не&nbsp;ложиться спать с&nbsp;влажными волосами, а&nbsp;перед сном собирать волосы в&nbsp;хвост или заплетать в&nbsp;косу. В&nbsp;капсулы запрещено втирать уходовые средства на&nbsp;масляной основе. Питательные и&nbsp;увлажняющие средства можно наносить по&nbsp;всей длине, минуя корни.
          +accordionItem('<h3>Вредит&nbsp;ли наращивание родным волосам? </h3>').par
            p Хотя технология и&nbsp;предполагает термическое воздействие, но&nbsp;метод признан одним из&nbsp;самых безопасных.
            p Если вы&nbsp;хотите достичь ухоженного и&nbsp;здорового вида шевелюры&nbsp;&mdash; выберите услугу капсульного наращивания волос в&nbsp;СПб в&nbsp;салоне красоты Hair Care Center!

    +pageSubsection
      h2 Сколько стоит капсульное наращивание в&nbsp;Санкт-Петербурге?
      p Поскольку сами производим волосы, работаем без посредников, предлагаем самые низкие цены в&nbsp;городе. 
      p Стоимость капсульного наращивания волос в&nbsp;СПб зависит от&nbsp;исходной длины, густоты волос и&nbsp;дополнительных пожеланий клиента. Обычно стоимость одной капсулы&nbsp;&mdash; от&nbsp;40&nbsp;рублей. 
      p Точную цену капсульного наращивания волос рассчитает мастер салона или можно воспользоваться специальным калькулятором на&nbsp;нашем сайте.

  +pageSection({ noPadding: 'top' })#page-prices
    .prices-block
      .prices-block__tables
        .prices-table
          .prices-table__row.prices-table__row--header
            .prices-table__cell.prices-table__cell--title 
              h2 Услуги и цены
            .prices-table__cell До подбородка
              .prices-table__clarification до 10 см
            .prices-table__cell До плеч
              .prices-table__clarification до 20 см
            .prices-table__cell Ниже плеч
              .prices-table__clarification от 20 см

          .prices-table__row
            .prices-table__cell.prices-table__cell--row-header Голливудское наращивание
              .prices-table__clarification В услугу входит мытье головы, укладка феном - придание формы без использования стайлинговых средств. По желанию клиента может быть выбрана любая укладка с 50% скидкой по действующему прейскуранту.
            .prices-table__cell 1000-1400 ₽
            .prices-table__cell 1600 ₽
            .prices-table__cell 2000 ₽
