extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    +pageSubsection
      +grid({ par: true })
        +cell({ m:6 })
          p Наращенные локоны смотрятся эффектно, придавая оригинальность и&nbsp;женственность образу. Различные типы наращивания за&nbsp;одну процедуру увеличивают длину и&nbsp;толщину волос, а&nbsp;также исправляют неудачную стрижку. Чтобы прическа выглядела свежо, сохраняла качество натуральных прядей, периодически проводится коррекция наращенных волос.
          h2 Через сколько нужно делать коррекцию и&nbsp;зачем
          p Со&nbsp;временем волосы клиентов отрастают, расстояние между донорскими пучками и&nbsp;кожей головы увеличивается, обнажается место крепления капсул. Волосы теряют привлекательность и&nbsp;аккуратность. Коррекция искусственных прядей сохраняет эстетичность, естественный блеск и&nbsp;натуральность прически.
          p Периодичность коррекции наращивания волос индивидуальна, так как волосы у&nbsp;людей растут с&nbsp;разной скоростью. Клиенты с&nbsp;тонкими, сухими и&nbsp;мягкими локонами нуждаются в&nbsp;более частой замене крепления, в&nbsp;отличие от&nbsp;плотных и&nbsp;гладких.
          p Также на&nbsp;регулярность проведения процедуры влияет используемая технология:
          +ul.par 
            +li коррекцию наращенных волос на&nbsp;капсулах рекомендовано проводить каждые 2-4&nbsp;месяца;
            +li при ленточной технологии прическу обновляют раз в&nbsp;1-2&nbsp;месяца;
            +li голливудское наращивание мастера советуют освежать через 1,5-2,5 месяца после процедуры.
        +cell({ m:6 }) 
          figure
            +img({
              name: 'extension',
              path: '/images/uslugi/narashchivanie-volos/korrekciya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ]
            })(alt= 'Наращивание волос на трессах' title='Наращивание волос на трессах' width=800 height=466).border-radius.border-radius--big
            +textMarked({ tag:'figcaption', size: 'xs' }) Наращивание волос на трессах
          p Указанные выше даты носят рекомендательный характер. Если образовались колтуны, искусственные пучки сползают или доставляют дискомфорт, необходимо обратиться к&nbsp;мастеру.
            
    
    .block-marked.page-subsection
      p При смене крепления повторно используют установленные пряди, которые меняют через 3-4&nbsp;процедуры.
    
    +grid({ smallGap:'y' }).page-subsection 
      +cell({ m:6 })
        h3 Коррекция капсульного наращивания волос
        p Микрокапсулы обрабатывают смягчителем-ремувером для размягчения. При помощи щипцов мастер расщепляет капсулу. Донорские пряди отделяет и&nbsp;очищает от&nbsp;остатков кератина. Натуральные также очищают, обезжириваю и&nbsp;моют.
        p После снятия прядей мастер оценивает состояние родных волос, и&nbsp;решает делать повторно процедуру или дать им&nbsp;отдохнуть.
        p На&nbsp;искусственные локоны наносят кератиновые капсулы, прикрепляют к&nbsp;волосам клиента методом нагревания и&nbsp;прижатия. Удаление капсул занимает час, а&nbsp;повторное наращивание 2&nbsp;часа и&nbsp;более.
      +cell({ m:6 })
        figure
          +img({
            name: 'correction-1',
            path: '/images/uslugi/narashchivanie-volos/korrekciya/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Снятие наращенных волос' title='Снятие наращенных волос' width=800 height=466).border-radius.border-radius--big
          +textMarked({ tag:'figcaption', size: 'xs' }) Снятие наращенных волос
        
      +cell({ m:6 })
        +grid({ smallGap:'y' })
          +cell
            h3 Ленточная технология
            p Мастер распыляет спиртосодержащий спрей на&nbsp;ленты и&nbsp;аккуратно их&nbsp;снимает. Очищает донорские пучки от&nbsp;следов полимерной ленты и&nbsp;приклеивает новую. На&nbsp;чистые высушенные волосы клиента искусственные пряди прикрепляет новыми липкими лентами.
          +cell
            figure
              +img({
                name: 'correction-2',
                path: '/images/uslugi/narashchivanie-volos/korrekciya/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= 'Коррекция ленточного наращивания' title='Коррекция ленточного наращивания' width=800 height=466).border-radius.border-radius--big
              +textMarked({ tag:'figcaption', size: 'xs' }) Коррекция ленточного наращивания
        
      +cell({ m:6 })
        +grid({ smallGap:'y' })
          +cell
            h3 Голливудская технология
            p Нить, которой тресс пришит к&nbsp;косичке, разрезают, косу расплетают. Вымытые и&nbsp;высушенные волосы заплетают в&nbsp;плотную косу &laquo;корзинку&raquo; выше или ниже предыдущей, чтобы прикорневая зона в&nbsp;этой области &laquo;отдохнула&raquo;. Тресс пришивают заново.
          +cell
            figure
              +img({
                name: 'correction-3',
                path: '/images/uslugi/narashchivanie-volos/korrekciya/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= 'Коррекция голливудского наращивания' title='Коррекция голливудского наращивания' width=800 height=466).border-radius.border-radius--big
              +textMarked({ tag:'figcaption', size: 'xs' }) Коррекция голливудского наращивания
    
    +pageSubsection
      +grid({ smallGap: 'y' })
        +cell
          h2 Почему коррекцию волос в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center
          p Мастера нашего салона более 20&nbsp;лет радуют клиентов высоким качеством славянских волос, легкостью и&nbsp;надежностью креплений, безопасностью для собственных локонов.
        +cell
          +grid({ tag: 'ul' })
            +iconBlock({ tag: 'li', palette: true })(class= cellClasses({ m:6 })) 47&nbsp;оттенков дают возможность подобрать подходящие по&nbsp;толщине и&nbsp;цвету пряди для естественного результата;
            +iconBlock({ tag: 'li', recycling: true })(class= cellClasses({ m:6 })) Качество искусственных пучков допускает их&nbsp;повторное использование;
            +iconBlock({ tag: 'li', certificate: true })(class= cellClasses({ m:6 })) Сертифицированные мастера соблюдают технологии, пропорции родных и&nbsp;нарощенных волос, превращая коррекцию в&nbsp;комфортную, быструю и&nbsp;безопасную процедуру;
            +iconBlock({ tag: 'li', shield: true })(class= cellClasses({ m:6 })) Гарантия на&nbsp;работу 1&nbsp;месяц;
            +iconBlock({ tag: 'li', wallet: true })(class= cellClasses({ m:6 })) Доступность процедуры&nbsp;&mdash; при обновлении крепления до&nbsp;4&nbsp;раз допустимо использовать уже наращиваемые пряди, поэтому клиент платит только за&nbsp;услугу.
    
    +pageSubsection
      +grid({ smallGap: 'y' })
        +cell
          h2 Часто задаваемые вопросы
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Сколько времени занимает обновление креплений?</h3>').par
            +ul
              +li На&nbsp;стандартную процедуру ленточного наращивания потребуется 1,5&nbsp;часа. Если нарощено 60-80&nbsp;лент, процедура займет 3&nbsp;часа.
              +li На&nbsp;обновление трессов уходит 1-2&nbsp;часа.
              +li Снятие прядей и&nbsp;повторное нанесение капсул требует 3&nbsp;часа и&nbsp;больше.
          +accordionItem('<h3>Как ухаживать за&nbsp;волосами, чтобы реже делать коррекцию?</h3>').par
            +ul
              +li Заплетать перед сном пряди;
              +li Использовать шампуни без масел и&nbsp;жиров;
              +li Укреплять и&nbsp;питать прикорневую зону;
              +li Избегать образования колтунов, расчесывая пряди 3-4 раза в&nbsp;день специальной щеткой.
    
    +pageSubsection
      h2 Сколько стоит коррекция наращенных волос в&nbsp;Санкт-Петербурге
      p Цена состоит из&nbsp;снятия прядей, подготовки материала и&nbsp;повторного наращивания.
      h3 Расходные материалы
      p Если искусственные локоны требуют замены, в&nbsp;цену включают стоимость новых. Также в&nbsp;итоговую цену добавляется стоимость дополнительных прядей, если клиент решил увеличить объем.
      h3 Способ крепления
      +ul.par 
        +li При ленточном креплении стоимость процедуры включает: снятие лент, новые ленты и&nbsp;наращивание.
        +li При капсульном цена услуги складывается из&nbsp;снятия прядей, нанесения новых капсул, наращивания.
      h3 Запутанные волосы
      p При запутывании волос в&nbsp;процессе носки, формировании колтунов распутывание оплачивается дополнительно.


  +pageSection({ noPadding: 'top' })#page-prices
    .prices-block
      .prices-block__tables
        .prices-table
          .prices-table__row.prices-table__row--header
            .prices-table__cell.prices-table__cell--title 
              h2.not-menu-content Услуги и цены
            .prices-table__cell До подбородка
              .prices-table__clarification до 10 см
            .prices-table__cell До плеч
              .prices-table__clarification до 20 см
            .prices-table__cell Ниже плеч
              .prices-table__clarification от 20 см

          .prices-table__row
            .prices-table__cell.prices-table__cell--row-header Голливудское наращивание
              .prices-table__clarification В услугу входит мытье головы, укладка феном - придание формы без использования стайлинговых средств. По желанию клиента может быть выбрана любая укладка с 50% скидкой по действующему прейскуранту.
            .prices-table__cell 1000-1400 ₽
            .prices-table__cell 1600 ₽
            .prices-table__cell 2000 ₽
