extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    +grid({ justify: 'center', alignItems: 'center', smallGap: 'y' }).page-subsection
      +cell({ m:4, s:6 })
        figure
          +img({
            name: 'mini',
            path: '/images/uslugi/narashchivanie-volos/lentochnoe/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Наращивание мини-лентами' title='Наращивание мини-лентами' width=800 height=800).border-radius.border-radius--round
          +textMarked({ tag:'figcaption', size:'xs' }).text-align-center Наращивание мини-лентами
      +cell({ m:8 })
        p Разнообразие способов наращивания впечатляет, потому каждая женщина сможет обрести длинную и&nbsp;роскошную шевелюру, даже при изначально короткой стрижке. Если волосы женщины не&nbsp;переносят химического воздействия и&nbsp;термической обработки, то&nbsp;ей&nbsp;стоит предпочесть ленточное наращивание волос.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        +grid({ smallGap: 'y' })
          +cell
            h2 Технология ленточного наращивания
            p Другое название метода&nbsp;&mdash; экспресс-наращивание (express hair), поскольку выполняется гораздо быстрее, а&nbsp;снятие накладных прядей проходит легче. Процедура удобна для первого наращивания, идеальное решение для дам, предпочитающих часто менять имидж.
          +cell
            figure
              +img({
                name: 'proccess',
                path: '/images/uslugi/narashchivanie-volos/lentochnoe/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= 'Процесс наращивания' title='Процесс наращивания' width=800 height=466).border-radius.border-radius--big
              +textMarked({ tag:'figcaption', size:'xs' }) Процесс наращивания
      +cell({ m:6 })
        p Процесс разбит на&nbsp;следующие этапы:
        ol.list-ordered.par
          li.list-ordered__item Женщина консультируется с&nbsp;мастером, чтобы подобрать максимально удачный стиль. Он&nbsp;проанализирует потребности, предпочтения, подберет необходимую длину, проанализировав исходную, а&nbsp;также изначальную густоту шевелюры, образ жизни, рост. Мастер позаботится о&nbsp;создании максимально естественного результата, который обеспечен подбором оптимального оттенка и&nbsp;необходимого количества прядей.
          li.list-ordered__item Готовим шевелюру к&nbsp;процедуре: очищаем специальным шампунем, сушим и&nbsp;выполняем такую укладку, которая обеспечит наилучший результат наращивания.
          li.list-ordered__item Устанавливаем ленты. Подводим накладные пряди к&nbsp;корням и&nbsp;плотно присоединяем: фиксацию обеспечивает предварительно нанесенный клеевой состав. На&nbsp;всю процедуру уходит не&nbsp;более полутора часов (чаще 1&nbsp;час). Учитывая, что у&nbsp;лент низкая профильность, то&nbsp;они визуально незаметны и&nbsp;создают условия для комфортного ношения волос. 
          li.list-ordered__item Процедуру завершаем финальной обработкой и&nbsp;услугой стайлинга. Наши мастера поработают над стилем вашей прически. Вытянут пряди утюжком, создадут шикарные волны либо выполнят другой эффектный стайлинг. 
        
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        h2 Особенности и&nbsp;преимущества метода 
        p Пряди имеют усовершенствованную клейкую основу, за&nbsp;счет чего прочнее фиксируются и&nbsp;дольше носятся. Клеевая полоса создана из&nbsp;полимеров. Они обеспечивают надежную фиксацию в&nbsp;течение трех месяцев. Но&nbsp;коррекция может понадобиться уже спустя 1,5-2&nbsp;месяца, учитывая отрастание волос, а&nbsp;следовательно заметность мест крепления.
      +cell({ m:6 })
        figure
          +img({
            name: 'ribbon-3',
            path: '/images/uslugi/narashchivanie-volos/lentochnoe/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Ленты 3 см' title='Ленты 3 см' width=800 height=466).border-radius.border-radius--big
          +textMarked({ tag:'figcaption', size:'xs' }) Ленты 3 см

    .block-marked.page-subsection
      p Методика максимально щадящая для родных волос, поскольку нет необходимости в&nbsp;термическом воздействии и&nbsp;дополнительной обработке донорских прядей. Накладные волосы защищают родные от&nbsp;негативного воздействия, в&nbsp;том числе на&nbsp;этапе укладки и&nbsp;мытья.
    
    +pageSubsection
      p Ленты имеют минимальную ширину, которая составляет от&nbsp;2&nbsp;см. Их&nbsp;фиксация не&nbsp;приводит к&nbsp;утяжелению волос, а&nbsp;потому фолликулы не&nbsp;перегружаются, что особенно важно в&nbsp;случае наращивания на&nbsp;ослабленные волосы.
      h3 Основные преимущества ленточного метода
      +grid({ tag: 'ul' }).par
        +iconBlock({ tag: 'li', shortHair: true })(class= cellClasses({ m:6 })) Допустимость ленточного наращивания на&nbsp;короткие волосы, длина которых не&nbsp;превышает 2&nbsp;см.
        +iconBlock({ tag: 'li', noChemical: true })(class= cellClasses({ m:6 })) Абсолютная безопасность. Поскольку не&nbsp;применяют термические инструменты, химические составы, волосяные стержни не&nbsp;повреждаются.
        +iconBlock({ tag: 'li', purse: true })(class= cellClasses({ m:6 })) Экономный вариант услуги. Ленточный способ относится к&nbsp;самым бюджетным, в&nbsp;том числе по&nbsp;сравнению с&nbsp;капсульной методикой.
        +iconBlock({ tag: 'li', time: true })(class= cellClasses({ m:6 })) Оперативный способ удлинить шевелюру. На&nbsp;процедуру затрачивают минимум времени: обычно мастер завершает работу всего за&nbsp;час.
        +iconBlock({ tag: 'li', womanHair: true })(class= cellClasses({ m:6 })) Быстрое и&nbsp;беспроблемное снятие и&nbsp;коррекция. К&nbsp;тому&nbsp;же снятые ленты можно использовать повторно, просто нужно обновить полимерной состав.
        +iconBlock({ tag: 'li', pregnant: true })(class= cellClasses({ m:6 })) Идеальный вариант для женщин, чувствительных к&nbsp;запахам, с&nbsp;аллергией на&nbsp;химические составы: можно даже беременным и&nbsp;кормящим.
        +iconBlock({ tag: 'li', loss: true })(class= cellClasses({ m:6 })) Метод безвреден даже для тонких и&nbsp;слабых волос.
    
    +pageSubsection
      h2 Кому подходит процедура
      p Всем, кому нужен мгновенный результат, отсутствие вреда родным волосам и&nbsp;в&nbsp;целом щадящее воздействие на&nbsp;шевелюру.
      p Но&nbsp;у&nbsp;услуги существуют и&nbsp;противопоказания:
      +ul.par 
        +li заболевания кожи головы, связанные с&nbsp;наличием ранок, зуда, шелушения и&nbsp;воспаления;
        +li выпадение;
        +li гормональная терапия, прием антибиотиков и&nbsp;определенных лекарств.
    
    +pageSubsection
      h2 Сколько нужно лент для наращивания?
      p Количество лент, необходимых для процедуры, зависит от&nbsp;их&nbsp;ширины. Так, при ширине ленты 3&nbsp;см, на&nbsp;редкие волосы или средней густоты понадобится 40-60&nbsp;лент, на&nbsp;густые&nbsp;&mdash; 60-100&nbsp;лент. Если женщину интересует только увеличение объема, то&nbsp;достаточно нарастить 20&nbsp;лент.  
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему ленточное наращивание в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center?
      +cell
        +grid({ tag: 'ul' })
          +iconBlock({ tag: 'li', money: true })(class= cellClasses({ m:6 })) Самые низкие цены в&nbsp;городе: поскольку являемся прямыми производителями, работаем без посредников, потому наценки отсутствуют.
          +iconBlock({ tag: 'li', quality: true })(class= cellClasses({ m:6 })) Работаем по&nbsp;гарантии: на&nbsp;результат даем гарантию 1&nbsp;месяц, действует 2-3-месячная гарантия на&nbsp;волосы.
          +iconBlock({ tag: 'li', team: true })(class= cellClasses({ m:6 })) Услугу выполняют только профессионалы, квалификация которых подтверждена сертификатами. В&nbsp;совершенстве владеем методиками, поскольку даже проводим курсы по&nbsp;обучению мастеров наращивания.
          +iconBlock({ tag: 'li', policy: true })(class= cellClasses({ m:6 })) Гарантированное качество волос. Собственное производство позволяет отслеживать качество на&nbsp;каждом этапе, исключить наличие перевертышей, не&nbsp;использовать силиконы. Имеем экспертное заключение на&nbsp;волосы, выданное Роспотребнадзором. 
          +iconBlock({ tag: 'li', palette: true })(class= cellClasses({ m:6 })) Большой выбор: палитра представлена популярными 47&nbsp;оттенками, на&nbsp;выбор волосы длиной от&nbsp;40&nbsp;до&nbsp;85&nbsp;см.
          +iconBlock({ tag: 'li', diagnosis1: true })(class= cellClasses({ m:6 })) Наращиваем пряди только, если убедимся в&nbsp;отсутствии противопоказаний: для этого бесплатно диагностируем шевелюру.
          +iconBlock({ tag: 'li', cutting: true })(class= cellClasses({ m:6 })) Если клиент наращивает волосы в&nbsp;нашем салоне, то&nbsp;получает прическу или стрижку в&nbsp;подарок, бесплатную укладку.
    
    +pageSubsection
      h2 Процедура коррекции 
      p Коррекцию ленточного наращивания рекомендуем выполнять каждые полтора-два месяца.
      p Процесс коррекции происходит следующим образом:
      ol.list-ordered.par
        li.list-ordered__item На&nbsp;участки фиксации наносим специальный спрей, разъединяющий ленты. Даем время на&nbsp;растворение клеевого состава (достаточно трех-пяти минут).
        li.list-ordered__item Поочередно и&nbsp;аккуратно снимаем накладные пряди, а&nbsp;потом удаляем с&nbsp;них остатки клея.
        li.list-ordered__item Моем голову шампунем глубокой очистки, высушиваем шевелюру.
        li.list-ordered__item Клеевой слой отсоединяем от&nbsp;основания ленты, даем время на&nbsp;высыхание (после обработки жидкостью для снятия) .
        li.list-ordered__item Покрываем ленты новым клеевым составом.
        li.list-ordered__item Выполняем повторное ленточное наращивание.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Часто задаваемые вопросы 
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Как долго держится ленточное наращивание?</h3>').par
          p Ленточное наращивание способно продержаться от&nbsp;нескольких месяцев до&nbsp;полугода. Но&nbsp;чтобы оно по-прежнему оставалось незаметным, коррекцию лучше проводить в&nbsp;рекомендованный срок.
        +accordionItem('<h3>Такая процедура портит волосы?</h3>').par
          p Нет, если не&nbsp;нарушен уход за&nbsp;шевелюрой, процедуру проводил квалифицированный мастер, применял качественные накладные пряди, а&nbsp;клиент своевременно приходит на&nbsp;коррекцию. В&nbsp;таком случае удастся позаботиться о&nbsp;здоровье волос.
        +accordionItem('<h3>Есть&nbsp;ли ограничения при выборе средств по&nbsp;уходу за&nbsp;волосами?</h3>').par
          p Да, у&nbsp;шампуня должен быть мягкий состав, а&nbsp;бальзамы, маски и&nbsp;масло недопустимо наносить на&nbsp;участки фиксации прядей, чтобы ленты не&nbsp;отсоединились.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        h2 Сколько стоит ленточное наращивание в&nbsp;Санкт-Петербурге?
        p Цена ленточного наращивания в&nbsp;СПб зависит от&nbsp;исходной густоты, длины шевелюры, выбранной технологии, а&nbsp;также категории накладных прядей. 
        p Цена одной двойной ленты составляет 100&nbsp;рублей. Точную стоимость ленточного наращивания волос мастер салона красоты рассчитает уже на&nbsp;первой консультации.
      +cell({ m:6 })
        figure
          +img({
            name: 'ribbon-4',
            path: '/images/uslugi/narashchivanie-volos/lentochnoe/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Ленты 4 см' title='Ленты 4 см' width=800 height=466).border-radius.border-radius--big
          +textMarked({ tag:'figcaption', size:'xs' }) Ленты 4 см


  +pageSection({ noPadding: 'top' })#page-prices
    .prices-block
      .prices-block__tables
        .prices-table
          .prices-table__row.prices-table__row--header
            .prices-table__cell.prices-table__cell--title 
              h2 Услуги и цены
            .prices-table__cell До подбородка
              .prices-table__clarification до 10 см
            .prices-table__cell До плеч
              .prices-table__clarification до 20 см
            .prices-table__cell Ниже плеч
              .prices-table__clarification от 20 см

          .prices-table__row
            .prices-table__cell.prices-table__cell--row-header Голливудское наращивание
              .prices-table__clarification В услугу входит мытье головы, укладка феном - придание формы без использования стайлинговых средств. По желанию клиента может быть выбрана любая укладка с 50% скидкой по действующему прейскуранту.
            .prices-table__cell 1000-1400 ₽
            .prices-table__cell 1600 ₽
            .prices-table__cell 2000 ₽
