extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Наращивание волос мужчинам
    +grid.page-subsection
      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell
          p Наращивание волос больше не&nbsp;относится к&nbsp;сугубо женской процедуре. Мужчинам также доступны преимущества услуги по&nbsp;увеличению густоты и&nbsp;длины волосы. Причин для трансформации внешности у&nbsp;мужчин достаточно, ведь они больше женщин подвержены выпадению волос. Удачная прическа из&nbsp;наращенных локонов скроет образовавшиеся проплешины или шрамы, повысит плотность волосяного покрова. 
        +cell
          +figure({
            image: {
              name: 'man-1',
              path: '/images/uslugi/narashchivanie-volos/muzhskoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Процесс наращивания волос мужчине',  
            }, 
          }).figure--image-radius
      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between'  }))
        +cell
          p Также мужское наращивание волос корректирует результаты неудачной стрижки, возвращая уверенность в&nbsp;привлекательности.
          p Процедуре под силу скрыть небольшие безволосые участки. При обширном облысении следует искать другие пути решения проблемы. Наращивание также противопоказано при интенсивной потере волос.
        +cell
          +figure({
            image: {
              name: 'man-2',
              path: '/images/uslugi/narashchivanie-volos/muzhskoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Наращенные волосы маскируют залысины',  
            }, 
          }).figure--image-radius
    +pageSubsection
      h2 Технология мужского наращивания волос
      +grid.par
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              p Наращивание волос мужчинам делают прядями разной длины, текстуры и&nbsp;цвета. Для крепления искусственного материала мастера-стилисты также используют разные технологии, где предпочтение отдается микрокапсульной. Выбор остается за&nbsp;мастером, который учитывает состояние и&nbsp;структуру волос, цель наращивания и&nbsp;ожидаемый результат.
            +cell
              +figure({
                image: {
                  name: 'man-3',
                  path: '/images/uslugi/narashchivanie-volos/muzhskoe/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] }
                  ],
                  alt: 'Микрокапсулы остаются незамеченными даже при близком рассмотрении',  
                }, 
              }).figure--image-radius
        +cell({ m:6 })
          p Чтобы нарастить волосы мужчине, потребуется длина стержня не&nbsp;менее 6&nbsp;см для микрокапсульной технологии, 10&nbsp;см&nbsp;&mdash; для ленточного и&nbsp;голливудского методов.
          p При микрокапсульной методике для крепления прядей используем капсулы не&nbsp;больше 2&nbsp;мм, которые не&nbsp;видны даже при стрижке &laquo;кроп&raquo;. Микрокапсулы фиксируем щипцами, разогретыми до&nbsp;180&deg;&nbsp;С. Метод предпочтителен для наращивания волос мужчинам на&nbsp;короткие волосы от&nbsp;6&nbsp;см. Это щадящая технология для тонких и&nbsp;ослабленных волосяных стержней. Места соединения остаются незамеченными и&nbsp;не&nbsp;требуют прикрытия верхними прядями. Допустимо окрашивание, укладка и&nbsp;моделирование прически с&nbsp;донорскими прядями.
          p Ленточная и&nbsp;голливудская технологии доступны обладателям более длинных стрижек&nbsp;&mdash; не&nbsp;короче 10&nbsp;см. При ленточной искусственные пряди приклеиваем к&nbsp;прядям клиента липкой лентой. При голливудской пришиваем к&nbsp;предварительно заплетенной косичке от&nbsp;одного уха к&nbsp;другому. Термического воздействия не&nbsp;требуется. Обе технологии предполагают, что верхние пряди скроют места крепления.
    +pageSubsection
      h2 Особенности мужского наращивания волос
      p Наращивание&nbsp;&mdash; действенный и&nbsp;безопасный метод коррекции последствий облысения, истончения волос, неудачных стрижек, для кардинальной смены образа. Процедура занимает не&nbsp;больше 2&nbsp;часов. Микрокапсулы для естественного результата выбирают с&nbsp;воском, которые не&nbsp;ощутимы даже при прикосновении.
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          h3 У&nbsp;метода ряд преимуществ
          +ul.par
            +li продолжительный срок службы донорских прядей;
            +li ценовая доступность, если сравнивать с&nbsp;трансплантацией;
            +li легкость ухода;
            +li вариативность причесок;
            +li отсутствие ограничений повседневной жизни.
          p Продолжительность ношения донорских прядей определяется скоростью роста волос клиента, соблюдением рекомендаций по&nbsp;уходу.
        +cell({ m:6 })
          h3 Уход и&nbsp;коррекция
          p Коррекция мужчинам требуется раз в&nbsp;3-6&nbsp;месяцев. Срок индивидуален. Уход включает:
          +ul.par
            +li частое расчесывание для предупреждения спутывания прядей;
            +li мытье головы стоя;
            +li обязательную сушку волос перед сном;
            +li минимальное использование фена;
            +li исключение масок и&nbsp;бальзамов в&nbsp;уходе.
    +pageSubsection
      h2 Почему мужское наращивание в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center?
      p Двери нашего салона открыты для мужчин, которые хотят изменить стиль, скрыть косметический изъян или результат неудачной стрижки. Наши мастера дружелюбны и&nbsp;стремятся создать комфортные условия для клиентов. Результат наращивания волос в&nbsp;Hair Care Center возвращает мужчинам уверенность, повышает привлекательность, позволяет не&nbsp;менять привычный ритм жизни.
    +pageSubsection
      h2 Сколько стоит нарастить волосы мужчине в&nbsp;Санкт-Петербурге?
      p Итоговая стоимость услуги зависит от&nbsp;длины и&nbsp;количества донорского материала, метода наращивания, квалификации мастера-парикмахера.
