extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Нарастить волосы на короткие волосы
    +grid({ justify: 'center', alignItems: 'center' }).page-subsection
      +cell({ m:3, s:6 })
        +figure({
          image: {
            name: 'korotkie-1',
            path: '/images/uslugi/narashchivanie-volos/na-korotkie/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Короткая стрижка&nbsp;&mdash; это всегда стильно, но&nbsp;что делать, когда хочется перемен',  
          }, 
        }).figure--image-round
      +cell({ m:9 })
        p Короткие стрижки освежают образ, подчеркивают четкость овала. Но&nbsp;женская натура переменчива, поэтому после стрижки часто возникает желание стать обладательницей пышной и&nbsp;длинной шевелюры. Отращивание&nbsp;&mdash; процесс длительный и&nbsp;утомительный. Наращивание волос на&nbsp;короткие волосы творит чудеса за&nbsp;пару часов.
    
    +pageSubsection.block-marked
      p Примечание: рекомендуемая длина прядей, чтобы скрыть места соединения, не&nbsp;менее 6&nbsp;см.

    +pageSubsection
      h2 Технология наращивания на&nbsp;очень короткие волосы
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p До&nbsp;70&nbsp;% наращивания приходится на&nbsp;короткие стрижки&nbsp;&mdash; самые сложные для исполнения. Нет единого универсального способа нарастить длину. Только опытный мастер, после определения типа, структуры и&nbsp;состояния волос клиента, выбирает подходящий метод. Технологии, которые мы&nbsp;применяем, допускают наращивание волос 6-10&nbsp;см. У&nbsp;каждого метода свой предел минимума.
            +ul.par 
              +li У&nbsp;капсульного допустимая длина 6&nbsp;см, также капсульным методом удлиняем челку;
              +li У&nbsp;ленточного для крепления используем массивное клеевое основание, для маскировки которого потребуется волос не&nbsp;короче 10&nbsp;см;
              +li Голливудский метод предполагает минимум 10&nbsp;см для наращивания, плетеная основа для пришивания лучше держится на&nbsp;коротких кудрявых волосах, чем на&nbsp;азиатских или славянских.
          +cell
            +figure({
              image: {
                name: 'korotkie-2',
                path: '/images/uslugi/narashchivanie-volos/na-korotkie/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ],
                alt: 'При микрокапсульном методе результат выглядит естественно',  
              }, 
            }).figure--image-radius
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Для шикарной прически до&nbsp;пояса стрижку отращивают до&nbsp;20&nbsp;см.
            p Микрокапсульная технология показана для работы с&nbsp;открытыми участками. Капсула незаметна даже если нарастить искусственные волосы на&nbsp;короткие волосы клиента. Идеальная комбинация капсульного и&nbsp;микрокапсульного методов. Рекомендуемая длина искусственных локонов&nbsp;&mdash; 40&nbsp;см, чтобы не&nbsp;перегружать родные. Технология подходит тонким и&nbsp;ослабленным волосам, мужчинам, желающим скрыть залысины.
            h3 Схемы расположения искусственных локонов
            +ul.par 
              +li Полная подразумевает равномерное распределение для общего изменения длины и&nbsp;объема;
              +li Локальная&nbsp;&mdash; это добавление прядей в&nbsp;определенные зоны для создания или устранения асимметрии, удлинения челки, выделения отдельных участков.
          +cell
            +figure({
              image: {
                name: 'korotkie-3',
                path: '/images/uslugi/narashchivanie-volos/na-korotkie/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ],
                alt: 'Наращивание челки',  
              }, 
            }).figure--image-radius
    
    +pageSubsection
      h2 Особенности микронаращивания волос
      p Короткой считается длина до&nbsp;10&nbsp;см. Если процедура проводилась на&nbsp;минимально допустимой длине, то&nbsp;дальнейший уход выполняется мастером, так как требуется щадящее воздействие и&nbsp;уходовые средства.
      h3 Состояние
      p Если волос у&nbsp;клиентки тонкий, тусклый и&nbsp;ослабленный, процедура усугубит ситуацию. Волосяной стержень перед посещением мастера по&nbsp;наращиванию рекомендовано укрепить, чтобы выдержал вес донорских прядей. Укрепление начинают за&nbsp;месяц до&nbsp;процедуры, а&nbsp;еще лучше за&nbsp;2.
      h3 Преимущества
      +ul.par 
        +li Возможность сменить стиль, не&nbsp;дожидаясь, когда пряди отрастут;
        +li Добавление длины 15-50&nbsp;см и&nbsp;объема короткой стрижке за&nbsp;одну процедуру;
        +li Пропуск этапа, когда отрастающие пряди выглядят не&nbsp;эстетично;
        +li Добавление образу ярких акцентов, эффекта мелирования без сложных техник окрашивания.
      p К&nbsp;минусам относится невозможность собрать прическу в&nbsp;хвост или заплести косу, так как будут видны крепления.	
      p Искусственные пряди используют неоднократно при сохранении первоначальных свойств.
    
    +pageSubsection
      h2 Сколько стоит наращивание на&nbsp;короткие волосы в&nbsp;Санкт-Петербурге 
      p Стоимость услуги складывается из&nbsp;нескольких компонентов:
      +ul.par 
        +li длина и&nbsp;количество материала;
        +li используемый метод;
        +li квалификация парикмахера.
      p Итоговую цену называет мастер после консультации.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:8 })
        h2 Почему наращивание в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair&nbsp;Care&nbsp;Center 	
      +cell({ m:6 })
        p Красивые и&nbsp;здоровые волосы&nbsp;&mdash; важная составляющая женского образа. Процедура наращивания в&nbsp;Hair Care Center проходит комфортно, результат выглядят естественно. Наши мастера в&nbsp;курсе текущих тенденций, так как регулярно обучаются и&nbsp;повышают профессиональный уровень.
        p Предлагаем разные варианты наращивания для решения проблемы короткого волоса:
        +ul.par 
          +li удлинение;
          +li загущение;	
          +li загущение и&nbsp;удлинение;
          +li изменение цвета без краски;
          +li работа с&nbsp;отдельными зонами.
        p Творческий подход, профессионализм и&nbsp;опыт наших мастеров играют решающую роль в&nbsp;создании гармоничных причесок.	
      +cell({ m:6 })
        +figure({
          image: {
            name: 'korotkie-4',
            path: '/images/uslugi/narashchivanie-volos/na-korotkie/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Наращивание на короткие волосы в нашем салоне',  
          }, 
        }).figure--image-radius

    +grid({ smallGap: 'y' }).page-subsection
      +cell  
        h2 Часто задаваемые вопросы 
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Сколько держатся наращенные пряди на&nbsp;короткой стрижке?</h3>').par
          p На&nbsp;коротких волосах наращенные локоны держатся меньше, чем на&nbsp;длинных или средних. Стандартно это 1-1.5&nbsp;месяца.
