extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Курсы по&nbsp;наращиванию волос в&nbsp;Санкт-Петербурге
    +grid({ justify: 'center' }).page-subsection
      +cell({ m:12 })
        p: +img({
          name: 'obuchenie-1',
          path: '/images/uslugi/narashchivanie-volos/obuchenie/',
          formats: [
            { ext: 'png', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        }).border-radius.border-radius--big
        p Обучение наращиванию волос&nbsp;&mdash; услуга салона красоты Hair Care Center в&nbsp;СПб, в&nbsp;ходе которой удастся получить исчерпывающие знания о&nbsp;капсульном и&nbsp;ленточном методе, узнать все секреты, которые практикуют наши мастера и&nbsp;получить дополнительные бонусы.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Кому подойдет курс? 
      +cell({ m:6 })
        +figure({
          image: {
            name: 'obuchenie-2',
            path: '/images/uslugi/narashchivanie-volos/obuchenie/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Процесс обучения наращиванию',  
          }, 
        }).figure--image-radius
      +cell({ m:6 })
        p Прохождение курсов по&nbsp;наращиванию волос&nbsp;&mdash; удачное решение для освоения профессии новичками и&nbsp;повышения квалификационного уровня профессионалов.
        p Пройдя своего рода школу наращивания волос, мастера освоят современные техники не&nbsp;только в&nbsp;теории, но&nbsp;и&nbsp;на&nbsp;практике, приобретут необходимые навыки и&nbsp;знания, которые необходимы в&nbsp;последующей самостоятельной работе.
    
    +pageSubsection
      h2 Какие курсы мы&nbsp;предлагаем?
      p Проводим несколько курсов по&nbsp;наращиванию волос в&nbsp;СПб с&nbsp;сертификатом: 
      +ul.par
        +li обучаем горячему (капсульному)
        +li холодному (ленточному) методу. 

      h3 Как проходят и&nbsp;что дают курсы капсульного наращивания волос?
      +grid.par
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              p Курс проводим в&nbsp;индивидуальном порядке, погружая в&nbsp;мир итальянского метода&nbsp;&mdash; наиболее популярной технологии, позволяющей носить накладные пряди максимально долго.
              p На&nbsp;выбор предлагаем: краткий, базовый и&nbsp;продвинутый курс.
            +cell
              +img({
                name: 'obuchenie-3',
                path: '/images/uslugi/narashchivanie-volos/obuchenie/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              }).border-radius.border-radius--big
        +cell({ m:6 })
          h4 Содержание краткого курса
          p Проводим за&nbsp;1&nbsp;день, предлагаем теоретически-лекционную часть.
          p Вам предстоит погружение в&nbsp;суть технологий, узнавание их&nbsp;достоинств и&nbsp;недостатков, понимание разницы между видами, типами волос, методами их&nbsp;обработки.
          p Студенты курса узнают трюки поставщиков, чтобы научиться выбирать действительно качественные пряди, осваивают работу с&nbsp;материалами и&nbsp;инструментами, узнают противопоказания к&nbsp;процедуре, подбирают структуру, количество и&nbsp;качество прядей для клиентки.
          p Затем работают с&nbsp;кардой и&nbsp;срезом, отрабатывают полученные знания на&nbsp;манекене. В&nbsp;ходе этого учатся сортировать волосы, смешивать оттенки, избегать перевертышей, потери сырья, капсулировать. На&nbsp;манекене распределяют шевелюру на&nbsp;зоны, выполняют горячую технологию, снимают капсулы, учатся ухаживать за&nbsp;наращенными волосами, делать окрашивание и&nbsp;стрижку.

      h4 Содержание базового курса
      p Проводим за&nbsp;два дня.
      +grid({ smallGap: 'y' }).par 
        +cell({ m:6 })
          p #[strong Теоретически-лекционная часть первого дня]
          p Студенты погружаются в&nbsp;историю наращивания волос, узнают:
          +ul.par
            +li Все технологии, которые активно используют, знакомятся с&nbsp;их&nbsp;преимуществами и&nbsp;недостатками.
            +li Разницу между типами, видами волос, вариантами их&nbsp;обработки.
            +li Трюки поставщиков: как не&nbsp;ошибиться в&nbsp;выборе качественных прядей.
            +li Как работать с&nbsp;материалами, инструментами.
            +li Противопоказания к&nbsp;процедуре.
            +li Отрабатывают полученные знания с&nbsp;клиенткой: подбирают нужное количество прядей, отбирают их&nbsp;по&nbsp;качеству и&nbsp;структуре.
          p В&nbsp;этот&nbsp;же день работают с&nbsp;кардой и&nbsp;срезом, чтобы учиться сортировать, смешивать цвета, избегать перевертышей, чрезмерных потерь сырья, выполняют капсуляцию. Отрабатывают полученные знания на&nbsp;манекене: распределяют шевелюру на&nbsp;зоны, выполняют горячее наращивание, снимают капсулы, ухаживают за&nbsp;волосами, делают окрашивание, стрижку.
        +cell({ m:6 })
          p #[strong Практическая часть второго дня]
          p Студенты выполняют наращивание на&nbsp;модели, а&nbsp;именно:
          +ul.par
            +li Диагностируют шевелюру, подбирают подходящие, учитывая стиль женщины.
            +li Подбирают структуру, тип, подходящий оттенок.
            +li Учатся распределять шевелюру на&nbsp;голове перед процедурой.
            +li Выполняют непосредственно наращивание.
            +li Инструктируют модель по&nbsp;уходу за&nbsp;наращенными волосами.

      h4 Содержание продвинутого курса
      +grid({ smallGap: 'y' }).par 
        +cell({ m:6 })
          p #[strong Теоретически-лекционная часть первого дня продвинутого курса]
          p Студенты погружаются в&nbsp;историю наращивания, а&nbsp;также:
          +ul.par
            +li Знакомятся с&nbsp;технологиями, узнают преимущества и&nbsp;недостатки.
            +li Учатся различать виды волос: узнают разницу между лентами, капсулами, срезами, постижерными изделиями.
            +li Узнают исчерпывающую информацию о&nbsp;типах волос.
            +li Осваивают методы обработки.
            +li Постигают секреты выбора качественной продукции, избегая трюков поставщиков.
            +li Перенимают профессиональный опыт об&nbsp;использовании материалов, инструментов.
            +li Узнают противопоказания к&nbsp;процедуре.
            +li Отрабатывают полученные знания на&nbsp;практике: работают с&nbsp;клиенткой, подбирают пряди по&nbsp;качеству, структуре и&nbsp;количеству.
          p Обучаются работе со&nbsp;срезом и&nbsp;кардой: сортируют по&nbsp;длине, смешивают оттенки, учатся избегать перевертышей, минимизировать потери сырья, осваивают технику капсуляции.
          p На&nbsp;манекене отрабатывают наращивание и&nbsp;снятие капсул: учатся определять зоны, распределять пряди, выполняют капсульную технологию на&nbsp;практике, снятие капсул, проводят уходовые процедуры за&nbsp;шевелюрой, выполняют окрашивание, стрижку. 
        +cell({ m:6 })
          p #[strong Практическая часть второго дня продвинутого курса] 
          p Будущие мастера наращивания отрабатывают полученные знания на&nbsp;практике, работают с&nbsp;моделью.
          p Выполняют диагностику, подбирают стиль, оттенок, структуру, тип волос, распределяют пряди, зонируют шевелюру перед процедурой, проводят капсульную фиксацию прядей, уходовые процедуры.

          p #[strong Какая цена обучения наращиванию волос капсульным методом?]
          p Стоимость зависит от&nbsp;вида выбранного курса и&nbsp;составляет:
          +ul.par
            +li Краткий курс&nbsp;&mdash; 12&nbsp;500&nbsp;рублей.
            +li Базовый курс&nbsp;&mdash; 20&nbsp;500&nbsp;рублей.
            +li Продвинутый курс&nbsp;&mdash; 24&nbsp;500&nbsp;рублей.

      h3 Как проходит курс по&nbsp;ленточному наращиванию?
      +grid.par
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              p Каждому студенту предлагаем индивидуальный курс продвинутого типа, в&nbsp;том числе наращиванию волос обучаем с&nbsp;нуля. 
              p Для прохождения обучения достаточно одного дня, в&nbsp;течение которого студенты осваивают теоретическую и&nbsp;практическую часть курса.
              p #[strong Какая стоимость обучения ленточному наращиванию?]
              p Цена составляет 6000 рублей за&nbsp;3&nbsp;часа обучения.
            +cell
              +img({
                name: 'obuchenie-4',
                path: '/images/uslugi/narashchivanie-volos/obuchenie/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              }).border-radius.border-radius--big
        +cell({ m:6 })
          h4 Содержание теоретической части
          +ul.par
            +li Учащиеся знакомятся с&nbsp;историей наращивания, узнают об&nbsp;актуальных технологиях на&nbsp;рынке, их&nbsp;преимуществах, ограничениях. 
            +li Знакомятся с&nbsp;типами, видами, способами обработки сырья.
            +li Узнают все трюки поставщиков, чтобы не&nbsp;нарваться на&nbsp;некачественную продукцию.
            +li Постигают тонкости работы с&nbsp;материалами и&nbsp;инструментами для наращивания.
            +li Знакомятся с&nbsp;противопоказаниями к&nbsp;процедуре.
          h4 Содержание практической части
          +ul.par
            +li Студенты работают с&nbsp;моделями: подбирают количество прядей, структуру, подходящий оттенок волос.
            +li Также работают на&nbsp;болванке.
            +li Учатся подбирать оптимальное количество лент и&nbsp;правильно располагать их&nbsp;на&nbsp;голове.
            +li Отрабатывают ленточную технологию на&nbsp;практике, учатся снимать ленты.
            +li Завершают обучение освоением принципов коррекции лент.
    
    +pageSubsection
      h2 Кто проводит обучение?
      +grid({ alignItems: 'center', justify: 'center' }).par
        +cell
          p Обучение разным технологиям наращивания проводят наши мастера&nbsp;&mdash; Наталья и&nbsp;Ирина.
        +cell({ m:3, s:6 })
          +img({
            name: 'obuchenie-5',
            path: '/images/uslugi/narashchivanie-volos/obuchenie/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          }).border-radius.border-radius--round
        +cell({ m:9 })
          p #[strong Наталья]
          +ul.par
            +li Работает в&nbsp;сфере парикмахерского искусства больше 13&nbsp;лет.
            +li Выпускница школы парикмахерского искусства F&nbsp;Style, студий парикмахерского искусства Londa, Schwarzkopf, Wella. 
            +li Ведет широкую сферу деятельности: не&nbsp;только наращивает волосы, но&nbsp;и&nbsp;проводит безоперационное замещение волос, создает постижерные изделия, трессы, женские и&nbsp;мужские стрижки, делает окрашивание волос.
        +cell({ m:3, s:6 })
          +img({
            name: 'obuchenie-6',
            path: '/images/uslugi/narashchivanie-volos/obuchenie/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          }).border-radius.border-radius--round
        +cell({ m:9 })
          p #[strong Ирина]
          +ul.par
            +li Посвятила сфере парикмахерского искусства больше 15&nbsp;лет.
            +li Преподает разные техники наращивания, регулярная участница учебных семинаров по&nbsp;актуальным технологиям и&nbsp;трендам в&nbsp;сфере, совершенствуется в&nbsp;области окрашивания, стрижек. Сотрудничает с&nbsp;международными выставками парикмахерского искусства.
            +li Также ведет широкую сферу деятельности: работает мастером по&nbsp;наращиванию, безоперационному замещению волос, наращивает ресницы, занимается постижерными работами, делает стрижки, укладки прически.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell  
        h2 Почему стоит выбрать нас? 
      +cell  
        +grid({ tag: 'ul' }).par
          +iconBlock({ tag: 'li', group: true })(class= cellClasses({ m:6 })) Предлагаем комфортный формат обучения: в&nbsp;группе или индивидуально.
          +iconBlock({ tag: 'li', manufacturing: true })(class= cellClasses({ m:6 })) Обладаем уникальным опытом собственного производства волос, потому готовы поделиться секретами технологии от&nbsp;А до&nbsp;Я. 
          +iconBlock({ tag: 'li', discount: true })(class= cellClasses({ m:6 })) Начинающие мастера получают у&nbsp;нас систему скидок. Предоставляем максимальную оптовую скидку на&nbsp;волосы: 20% действует в&nbsp;течение месяца по&nbsp;завершению обучения.
          +iconBlock({ tag: 'li', expert: true })(class= cellClasses({ m:6 })) С&nbsp;нами становятся не&nbsp;просто мастерами наращивания волос, а&nbsp;истинными знатоками в&nbsp;этой области.
          +iconBlock({ tag: 'li', certificate1: true })(class= cellClasses({ m:6 })) По&nbsp;завершению обучения каждый студент получает #[a(href='/images/uslugi/narashchivanie-volos/obuchenie/certificate.pdf') сертификат].
          +iconBlock({ tag: 'li', training: true })(class= cellClasses({ m:6 })) Передаем знания по&nbsp;заработку на&nbsp;наращивании: другие школы наращивания специально не&nbsp;делятся всеми секретами, опасаясь конкуренции со&nbsp;стороны успешных студентов. Но&nbsp;поскольку ключевую прибыль получаем от&nbsp;продажи волос собственного производства, то&nbsp;мы&nbsp;заинтересованы в&nbsp;успехе каждой студентки.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell  
        h2 Часто задаваемые вопросы
      +cell  
        +grid({ smallGap: 'y' })
          +cell({ l: 8, m: 10 })
            +accordionItem('<h3>Что делать после завершения обучения?</h3>').par
              p Следует сразу&nbsp;же отрабатывать полученные знания и&nbsp;навыки на&nbsp;практике: возьмите хотя&nbsp;бы несколько моделей, и&nbsp;начинайте создавать красоту.
              p В&nbsp;случае затруднений&nbsp;&mdash; получите обратную связь от&nbsp;наших опытных преподавателей. Важно начать действовать как можно быстрее после прохождения курса, чтобы совершенствовать опыт.
            +accordionItem('<h3>Мастером наращивания может стать не&nbsp;парикмахер?</h3>').par
              p Образование в&nbsp;сфере парикмахерского искусства преимущество, но&nbsp;не&nbsp;необходимость. Большинство наших мастеров пришли на&nbsp;обучение без наличия такого образования, но&nbsp;это не&nbsp;помешало им&nbsp;достичь вершин успеха в&nbsp;сфере наращивания волос. 
            +accordionItem('<h3>Смогу&nbsp;ли я&nbsp;пройти обучение и&nbsp;работать, если нахожусь в&nbsp;декрете?</h3>').par
              p Да, наши курсы проходили беременные и&nbsp;женщины в&nbsp;декрете, для которых это стало глотком воздуха и&nbsp;возможностью творческого самовыражения, по&nbsp;которому они скучали. К&nbsp;тому&nbsp;же мастер наращивания может самостоятельно строить свой график.
