extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        p Для начала рассмотрим, зачем нужно снимать наращенные волосы.
        ol.list-ordered.par
          li.list-ordered__item Снять наращенные волосы понадобится, если родные волосы отросли, сдвинулись участки фиксации прядей, а&nbsp;потому капсулы, ленты становятся заметными.
          li.list-ordered__item Второй случай&nbsp;&mdash; необходимость повторного наращивания прядей, коррекции.
          li.list-ordered__item Снятие наращенных волос актуально при желании сменить прическу: добавить яркие пряди, скорректировать длину, густоту, структуру волос.
          li.list-ordered__item Процедуру проводят для исправления некачественного наращивания волос, когда образовались колтуны, чрезмерная спутанность прядей.
      +cell({ m:6 })
        figure
          +img({
            name: 'correction',
            path: '/images/uslugi/narashchivanie-volos/snyatie/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Коррекция наращенных волос, до/после' title='Коррекция наращенных волос, до/после' width=800 height=466).border-radius.border-radius--big
          +textMarked({ tag:'figcaption', size: 'xs' }) Коррекция наращенных волос, до/после

    +pageSubsection
      h2 Как проходит процедура
      +grid({ smallGap: 'y' }).par
        +cell
          p В&nbsp;салоне красоты Hair Care Center выполняем снятие капсульного и&nbsp;ленточного наращивания.
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              h3 Снятие наращенных волос на&nbsp;капсулы
            +cell
              figure
                +img({
                  name: 'capsule',
                  path: '/images/uslugi/narashchivanie-volos/snyatie/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] }
                  ]
                })(alt= 'Снятие наращенных волос' title='Снятие наращенных волос' width=800 height=466).border-radius.border-radius--big
                +textMarked({ tag:'figcaption', size: 'xs' }) Снятие наращенных волос
            +cell
              p Чтобы снять пряди, наращенные при помощи капсул, используем специальный спрей и&nbsp;щипцы. Обычно применяем гель-ремувер, который подходит для всех вариантов капсульного наращивания, имеет доступную стоимость. 
              p Средство бережно наносим на&nbsp;участки соединения накладных прядей, оно размягчает капсулы, а&nbsp;с&nbsp;помощью инструмента удаляем их&nbsp;с&nbsp;участков фиксации.
              p Процедуру нужно проводить неспешно и&nbsp;бережно, практикуя корректную технику использования инструментария, чтобы исключить повреждение прядей (разделение на&nbsp;пучки и&nbsp;разрыв).
              p На&nbsp;всю процедуру достаточно получаса, а&nbsp;если количество наращенных прядей большое, то&nbsp;понадобится час. Если уже на&nbsp;этапе выполнения процедуры обнаружена спутанность, клиент пропустил срок коррекции, услуга усложняется, занимает больше времени.
            
        
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell 
              h3 Снятие ленточного наращивания
            +cell
              figure
                +img({
                  name: 'ribbon',
                  path: '/images/uslugi/narashchivanie-volos/snyatie/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] }
                  ]
                })(alt= 'Снятие лент' title='Снятие лент' width=800 height=466).border-radius.border-radius--big
                +textMarked({ tag:'figcaption', size: 'xs' }) Снятие лент
            +cell
              p Выполняем быстрее, учитывая, что ленты зафиксированы на&nbsp;полимер. Используем спиртосодержащий спрей, распределяем его по&nbsp;поверхности лент. В&nbsp;результате полимер растворяется, позволяя беспрепятственно отсоединить пряди. На&nbsp;всю процедуру уходит не&nbsp;более получаса.
            
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему снятие волос в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center? 
      +cell
        +grid({ tag: 'ul' })
          +iconBlock({ tag: 'li', quality: true })(class= cellClasses({ m:6 })) Гарантируем качество услуг, действует 2-3-х-месячная гарантия на&nbsp;качество волос.
          +iconBlock({ tag: 'li', team: true })(class= cellClasses({ m:6 })) Профессиональный подход позволяет избежать ошибок снятия волос, исключить повреждение прядей, поскольку услугу оказывают сертифицированные мастера, а&nbsp;еще мы&nbsp;организуем собственные курсы по&nbsp;обучению наращиванию, коррекции и&nbsp;снятию волос.
          +iconBlock({ tag: 'li', policy: true })(class= cellClasses({ m:6 })) Возможно на&nbsp;месте повторно закапсулировать волосы, создать ленты: используем славянские волосы собственного производства, в&nbsp;которых отсутствуют перевертыши, не&nbsp;использован силикон, получено экспертное заключение от&nbsp;Роспотребнадзора. 
          +iconBlock({ tag: 'li', money: true })(class= cellClasses({ m:6 })) Предоставляем самые низкие цены в&nbsp;городе на&nbsp;волосы, поскольку производим самостоятельно. Доступная стоимость и&nbsp;на&nbsp;услуги по&nbsp;наращиванию, снятию, коррекции наращивания, капсулирование, лентирование прядей. 
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Сколько стоит снять наращенные волосы в&nbsp;Санкт-Петербурге?
      +cell
        +iconBlock({ coins: true }).par Цена снятия наращенных волос в&nbsp;СПб зависит от&nbsp;вида наращивания, стоимости использованных материалов, работы мастера, количества накладных прядей. 
        p Точную сумму мастер назовет во&nbsp;время первого визита в&nbsp;салон красоты. Также для подсчета действует онлайн-калькулятор на&nbsp;сайте. Снятие одной капсулы обойдется в&nbsp;20&nbsp;рублей. Стоимость снятия лент составляет от&nbsp;100&nbsp;рублей.

  +pageSection({ noPadding: 'top' })#page-prices
    .prices-block
      .prices-block__tables
        .prices-table
          .prices-table__row.prices-table__row--header
            .prices-table__cell.prices-table__cell--title 
              h2 Услуги и цены
            .prices-table__cell До подбородка
              .prices-table__clarification до 10 см
            .prices-table__cell До плеч
              .prices-table__clarification до 20 см
            .prices-table__cell Ниже плеч
              .prices-table__clarification от 20 см

          .prices-table__row
            .prices-table__cell.prices-table__cell--row-header Голливудское наращивание
              .prices-table__clarification В услугу входит мытье головы, укладка феном - придание формы без использования стайлинговых средств. По желанию клиента может быть выбрана любая укладка с 50% скидкой по действующему прейскуранту.
            .prices-table__cell 1000-1400 ₽
            .prices-table__cell 1600 ₽
            .prices-table__cell 2000 ₽
