extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        figure
          +img({
            name: 'color',
            path: '/images/uslugi/narashchivanie-volos/tsvetnoe/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Цветные пряди для наращивания на капсуле' title='Цветные пряди для наращивания на капсуле' width=800 height=430).border-radius.border-radius--big
          +textMarked({ tag:'figcaption', size:'xs' }) Цветные пряди для наращивания на капсуле
      +cell({ m:6 })
        p Цветное наращивание волос – это услуга салона красоты Hair Care Center, которая предполагает присоединение к родным волосам накладных прядей креативных оттенков.
            
            
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:8 })
        h2 Особенности и преимущества цветного наращивания волос
      +cell({ m:6 })
        +grid({ smallGap: 'y' })
          +cell
            p Наращивание цветных прядей позволяет обойтись без процедуры окрашивания. Благодаря этому удается:
            +ul.par
              +li Исключить вредное воздействие химического состава краски для волос, а значит избежать повреждения прядей по длине, у корней, раздражающего воздействия на кожу головы.
          +cell({ tag: 'figure' })
            +img({
              name: 'ultramarine',
              path: '/images/uslugi/narashchivanie-volos/tsvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ]
            })(alt= 'Оттенок - ультрамарин. В Волосы24 представлены 10 ярких оттенков категории цветные волосы' title='Оттенок - ультрамарин. В Волосы24 представлены 10 ярких оттенков категории цветные волосы' width=800 height=466).border-radius.border-radius--big
            +textMarked({ tag:'figcaption', size:'xs' }) Оттенок - ультрамарин. В Волосы24 представлены 10 ярких оттенков категории цветные волосы
      +cell({ tag: 'ul', m:6 }).unordered-list
        +li Предотвратить нежелательное поведение красителя на волосах. Ведь оттенок со временем тускнеет, вымывается, светлеет у корней (если окрашивают только эту зону), вступает в негативную реакцию со стайлинговыми средствами, неправильно подобранным шампунем.
        +li Кардинально изменить имидж. На сложные техники окрашивания понадобится затратить много времени, количества краски, подыскать профессионального мастера. Потому куда лучше создать эффектное цветовое сочетание с помощью удачного комбинирования разных оттенков креативных прядей.
        +li Получить предсказуемый результат окрашивания. Особенно, если клиент салона красоты ожидал получить именно такой оттенок шевелюры, который изображен на картинке. Не всегда удается угадать с тоном, если ориентироваться даже на образцы цвета, представленные производителями красок для волос. Потому, чтобы не огорчаться неожиданному результату окрашивания, лучше выбрать удобную альтернативу – нарастить цветные пряди.
      
    +grid({ par: true }).page-subsection
      +cell({ m:8 })
        h2 Цветное наращивание волос – большая вариативность модных образов
      +cell({ m:6 })
        p Выбрав этот вариант наращивания, удается:
        +ul.par
          +li Добиться контрастного разбавления общего цвета: речь о цветном наращивании волос на темные волосы, когда брюнеткам и шатенкам наращивают, например, рыжие, белые пряди, а блондинкам – черные.
          +li Сделать плавный переход одного оттенка в другой: это могут быть светлые корни, плавно перетекающие в более темные волосы по длине или же наоборот, а также создание других креативных вариантов цветовых сочетаний. 
          +li Создать эффект мелирования: чередовать темные пряди со светлыми.
          +li Сделать с помощью наращивания колорирование, а значит чередование разнообразных оттенков ярких прядей.
          +li Также цветное наращивание может стать дополнением окрашивания, позволяет сэкономить время и добиться максимально стильного результата, соответствующего задуманному образу.
      +cell({ m:6 })
        +grid({ smallGap: 'y' })
          +cell({ tag: 'ul' }).unordered-list
            +li Выгодно подчеркнуть достоинства прически, а значит оставаться всегда в тренде.
          +cell({ tag: 'figure' })
            +img({
              name: 'variants',
              path: '/images/uslugi/narashchivanie-volos/tsvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ]
            })(alt= 'Варианты колорирования волос' title='Варианты колорирования волос' width=800 height=466).border-radius.border-radius--big
            +textMarked({ tag:'figcaption', size:'xs' }) Варианты колорирования волос

    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        figure
          +img({
            name: 'extension',
            path: '/images/uslugi/narashchivanie-volos/tsvetnoe/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Наращивание цветными прядями в Волосы24' title='Наращивание цветными прядями в Волосы24' width=800 height=466).border-radius.border-radius--big
          +textMarked({ tag:'figcaption', size:'xs' }) Наращивание цветными прядями в Волосы24
      +cell({ m:6 })
        h2 Какая технология подойдет для цветного наращивания?
        p В этом случае актуальна любая технология, но мастера сообщают о наиболее удачных. Чаще предпочитают ленточное наращивание, позволяющее создать «ступенчатые» переходы цвета. 
        p Капсульное наращивание цветных прядей выбирают, когда нужно присоединить небольшое количество прядей креативных оттенков. Если вы сомневаетесь, какую же технологию предпочесть, то доверьтесь профессионализму мастера нашего салона красоты в СПб. 

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему цветное наращивание волос лучше проводить в салоне красоты Hair Care Center?
      +cell
        +grid({ tag: 'ul' })
          +iconBlock({ tag: 'li', hairs: true })(class= cellClasses({ m:6 })) Профессионализм мастеров позволяет выполнить скрытое наращивание волос, когда цветные пряди присоединяют самым незаметным образом.
          +iconBlock({ tag: 'li', wallet: true })(class= cellClasses({ m:6 })) Самая доступная цена в городе. Поскольку наращиваем волосы собственного производства, то стоимость прядей и услуги выходит максимально приятной.
          +iconBlock({ tag: 'li', shield: true })(class= cellClasses({ m:6 })) Гарантия качественного результата: 1 месяц действует гарантия на работу и 2-3 месяца – на качество волос.
          +iconBlock({ tag: 'li', extension: true })(class= cellClasses({ m:6 })) Наращиваем отборные славянские волосы собственного производства, в которых отсутствуют перевертыши и силикон.
          +iconBlock({ tag: 'li', team: true })(class= cellClasses({ m:6 })) Услугу оказывают сертифицированные мастера, что подтверждено соответствующими документами.
