.breadcrumbs
  display flex
  flex-wrap wrap
  align-items center
  fontSize12()
  &__parent
    a
      color var(--color-link-hover)
  &__separator
    width 20px
    height 1px
    margin 0 4px
    background-color var(--color-grey)
  &__current
    text-transform lowercase
    &::first-letter
      text-transform uppercase
