.icon-inline
  position relative
  &::before
    content ''
    position absolute
    top 0
    left 0
    width var(--icon-size, 1.125rem)
    height var(--icon-size, 1.125rem)
    background-color var(--color-beige)
    mask-image var(--icon-image)
    mask-repeat no-repeat
    mask-position center
    mask-size 100%
  &--clock
    --icon-image var(--icon-clock)
  &--pin
    --icon-image var(--icon-pin)
  &--metro
    --icon-image var(--icon-metro)
