.advantage-block
  position relative
  &::before
    content ''
    position absolute
    top 0
    left 50%
    height 5.625rem
    width 5.625rem
    background-image var(--background-image)
    transform translateX(-50%)
  for icon in 'cabinets' 'celebrities' 'professionalism' 'individ'
    &--{icon}
      --background-image var(unquote('--icon-' + icon))
  &--inner
    &::before
      height 3.625rem
      width 3.625rem
      background-color var(--color-beige)
      background-image none
      mask-image var(--mask-image)
  for icon in 'individ' 'practic' 'natural'
    &--{icon}
      --mask-image var(unquote('--icon-' + icon))
