.advantage-block
  padding-top 7rem
  text-align center
  &__title
    fontSize20()
    font-weight bold
  &__description
    fontSize16()
    ^[-1]__title + &
      margin-top .625rem
  &--inner
    padding-top 5rem
