mixin advantageBlock(item, settings = {})
  -
    const tag = settings.tag || 'div'
    settings[item.icon] = true
  #{tag}(class= classes('advantage-block', settings))&attributes(attributes)
    .advantage-block__title !{item.title}
    .advantage-block__description !{item.description}
