mixin multiStepCalculator
  .multi-step-calculator&attributes(attributes)
    .multi-step-calculator__inner
      block
    .multi-step-calculator__footer
      a(href='#' data-nav='prev').button.button--secondary.multi-step-calculator__button.multi-step-calculator__button--prev Назад
      a(href='#' data-nav='next').button.multi-step-calculator__button.multi-step-calculator__button--next Дальше
      //- a(href='#' data-url='https://n475189.yclients.com/company:170918').button.multi-step-calculator__button.multi-step-calculator__button--yclients.ms_booking Записаться со скидкой
      a(href='#multi-step-calculator' data-modal).button.multi-step-calculator__button.multi-step-calculator__button--yclients Записаться со скидкой
      .multi-step-calculator__pagination
