.multi-step-calculator
  background-color var(--color-white)
  border-radius var(--border-radius-big)
  padding-inline 5rem
  padding-y 3rem
  overflow-x clip
  @media(max-width point-m - 1)
    padding 2rem
  &__inner
    display flex
    align-items flex-start
    transition max-height 0.3s ease-out
    @media(max-width point-m - 1)
      min-height 210px
    @media(min-width point-m)
      padding-inline @css{ min(14vw, 16rem) }
  &__title
    margin-bottom var(--base-padding)
  &__slide
    flex 1 0 100%
    padding-bottom 2rem
    opacity 0
    pointer-events none
    transition transform 0.3s ease-out
    z-index 1000
    &--active
      opacity 1
      pointer-events auto 
  &__footer
    position relative
    display flex
    justify-content flex-end
    gap var(--base-padding)
    @media(max-width point-m - 1)
      flex-direction column
  &__button
    &--hidden
      display none
    &--prev
      @media(min-width point-m - 1)
        margin-right auto
      @media(max-width point-m - 1)
        order 3
  &__pagination
    display flex
    align-items center
    justify-content center
    gap 0.5rem
    order 1
    @media(min-width point-m)
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
    @media(max-width point-m - 1)
      order 4
    
  &__pagination-item
    width 0.5rem
    height 0.5rem
    background-color var(--color-beige-lighter)
    border-radius 50%
    transition background-color var(--transition-duration-out)
    &--active
      background-color var(--color-beige)
      transition-duration var(--transition-duration-in)
