.block-marked
  --color-text-h3 var(--color-beige)
  --color-background var(--color-beige-lighter)
  padding var(--padding)
  background-color var(--color-background)
  @media (min-width point-l)
    --padding 2.5rem
  @media (min-width point-s) and (max-width point-l - 1)
    --padding 1.875rem
  @media (max-width point-s - 1)
    --padding 1.25rem
  &--to-border
    position relative
    &::before
      content ''
      position absolute
      top 0
      bottom 0
      z-index -2
      height 100%
      width var(--before-width)
      background-color var(--color-background)
    &--left::before
      @media (min-width point-l)
        right calc(var(--gap) * -2)
      @media (max-width point-l - 1)
        right calc(var(--base-padding) * -1)
    &--right::before
      @media (min-width point-l)
        left calc(var(--gap) * -2.5)
      @media (max-width point-l - 1)
        left calc(var(--base-padding) * -1)
    &.grid__cell--l--6
      @media (min-width point-l)
        --before-width calc(50vw + var(--gap) * 2)
      @media (max-width point-l - 1)
        --before-width 100vw
  &--padding-small
    padding calc(var(--base-padding)*1.5)
  &--white
    --color-background var(--color-white)
    box-shadow 0 0 24px rgba(191, 184, 183, .3)
  &--beige
    --color-background var(--color-beige-light)
