mixin headerSites
  nav.header-sites.container&attributes(attributes)
    .content
      ul.header-sites__list
        li.header-sites__item.header-sites__item--hairdesign
          a(href='http://www.hairdesign.ru')
            span.hidden-xs.hidden-s.hidden-m Центр<br>замещения волос
            span.hidden-l.hidden-xl.hidden-hd Системы #[br] волос 
        li.header-sites__item.header-sites__item--salonvolos.header-sites__item--active.hidden-xs.hidden-s.hidden-m
          .a-repl
            span Салон красоты
        li.header-sites__item.header-sites__item--vsepariki
          a(href='http://www.vsepariki.com')
            span.hidden-xs.hidden-s.hidden-m Парики и<br>головные уборы
            span.hidden-l.hidden-xl.hidden-hd Парики #[br] и&nbsp;накладки
        li.header-sites__item.header-sites__item--triholog
          a(href='http://www.triholog.org/')
            span.hidden-xs.hidden-s.hidden-m Лечебная косметика<br>для волос
            span.hidden-l.hidden-xl.hidden-hd Лечебная #[br] косметика 
        li.header-sites__item.header-sites__item--zagustitel
          a(href='https://zagustitelvolos.com/')
            span.hidden-xs.hidden-s.hidden-m Загустители волос
            span.hidden-l.hidden-xl.hidden-hd Загустители #[br] для волос

