.header-sites
  background-color var(--color-beige-lighter)
  &__item
    a
    .a-repl
      color var(--color-black)
      background-color #fffefe
      &::after
        content ''
        flex-shrink 0
        width var(--item-icon-width)
        height var(--item-icon-height)
        background-image var(--item-icon-image)
        background-repeat no-repeat
        background-position center
        background-size cover
    &--hairdesign
      --item-icon-width 52px
      --item-icon-height 37px
      --item-icon-image url(../images/svg-sprites/common.svg#top-menu-hairdesign)
    &--salonvolos
      --item-icon-width 23px
      --item-icon-height 30px
      --item-icon-image url(../images/svg-sprites/common.svg#top-menu-salon)
    &--vsepariki
      --item-icon-width 52px
      --item-icon-height 37px
      --item-icon-image url(../images/svg-sprites/common.svg#top-menu-vsepariki)
    &--triholog
      --item-icon-width 14px
      --item-icon-height 35px
      --item-icon-image url(../images/svg-sprites/common.svg#top-menu-triholog)
    &--zagustitel
      --item-icon-width 42px
      --item-icon-height 37px
      --item-icon-image url(../images/svg-sprites/common.svg#top-menu-zagustitel)
    &--active
      background-color var(--color-white)
      a, span, .a-repl
        font-weight 500
        background-color transparent
    @media(min-width point-l)
      &:hover
        background-color var(--color-white)
        a, .a-repl
          background-color transparent
