.header-sites
  width 100%
  padding-top 5px
  &__list
    width 100%
    display flex
    margin-left -5px
    overflow-x scroll
    -ms-overflow-style none  /* Скрываем scrollbar для IE и Edge */
    scrollbar-width none  /* Скрываем scrollbar для Firefox */
    &::-webkit-scrollbar /* Скрываем scrollbar для Chrome, Safari и Opera */
      display none
  &__item
    display flex
    flex 1 1 20%
    margin-left 5px
    font-size 12px
    line-height 16px
    @media(max-width point-l - 1)
      min-width 152px
    a
    .a-repl
      position relative
      display flex
      align-items center
      justify-content space-between
      width 100%
      margin-bottom 5px
      padding 4px 10px
      text-decoration none
      span
        flex 0 1 auto
        @media(max-width point-l - 1)
          padding-right 0.8rem
