extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Окрашивание волос Airtouch в Санкт-Петербурге
    +grid.page-subsection
      +figure({
        image: {
          name: 'airtouch-1',
          path: '/images/uslugi/okrashivanie-volos/airtouch/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Окрашивание аиртач',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Аиртач-окрашивание&nbsp;&mdash; это техника многоцветного окрашивания, которую проводят, используя фен для отделения нужных прядей, за&nbsp;счет чего она и&nbsp;получила такое название, что в&nbsp;переводе означает &laquo;прикосновение воздуха&raquo;. 
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Основные преимущества
      +cell({ m:6 })
        +ul.par 
          +li Удается достичь мягких цветовых переливов: переход от&nbsp;осветленных к&nbsp;неосветленным прядям характеризуется плавностью и&nbsp;гармонией. Благодаря этому граница отрастания корней смотрится так&nbsp;же свежо, словно волосы только что окрасили. 
          +li Максимально щадящая техника окрашивания, учитывая, что обновлять ее&nbsp;можно через полгода-год, осветлению подвергают не&nbsp;более 30-50% волос, а&nbsp;коррекцию проводить, не&nbsp;затрагивая ранее осветленные пряди.
          +li Airtouch-окрашивание подойдет для женщин активного образа жизни, у&nbsp;которых мало времени на&nbsp;частое посещение салона.
          +li Идеальный вариант для желающих получить мягкое мелирование, лишенное неэстетичных полос и&nbsp;резких контрастов. 
          +li Универсальные возможности: идеальный выбор на&nbsp;период отращивания собственного естественного оттенка волос, маскировка седины, промежуточный период при подготовке к&nbsp;радикальным переменам имиджа, например, Аиртач с&nbsp;пропуском&nbsp;&mdash; возможность создать впечатляющий рельеф на&nbsp;волосах.
          +li Впечатляющий визуальный эффект пышности и&nbsp;густоты шевелюры.
          +li Возможность привнести яркость, эффектность в&nbsp;образ, за&nbsp;счет чего дама выглядит моложе.
      +cell({ m:6 })
        +grid({ smallGap: 'y' })
          +cell
            +ul.par 
              +li Техника AirTouch окрашивания подходит для шевелюры любой структуры, длины, уже ранее окрашенных или натуральных волос.
              +li Идеальное решение для женщин с&nbsp;аллергией на&nbsp;компоненты красящих составов, поскольку процедура не&nbsp;предполагает затрагивание кожи головы.
              +li Доступная стоимость AirTouch-окрашивания в&nbsp;СПб. Цена приемлемая, учитывая, что мастер окрашивает не&nbsp;всю поверхность волос, а&nbsp;только определенные пряди, используя меньше красителей. 
          +figure({
            image: {
              name: 'airtouch-2',
              path: '/images/uslugi/okrashivanie-volos/airtouch/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Аиртач с пропуском',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Варианты окрашивания на&nbsp;разные волосы
      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell({ tag:'ul' }).unordered-list
          +li Аиртач на&nbsp;темные волосы позволяет освежить имидж. Техника усиливает глубину цвета, придает объем, создает&nbsp;на&nbsp;шевелюре богатую палитру бликов. Для тонирования прядей используют оттенки меда, вина, орехов и&nbsp;карамели. Учитывая актуальность насыщенных оттенков, с&nbsp;помощью Аиртач на&nbsp;темные волосы можно создавать впечатляющие переливы цвета: например, брюнеткам добавить синевы. 
        +figure({
          link: '/images/uslugi/okrashivanie-volos/airtouch/airtouch-3-big.webp',
          image: {
            name: 'airtouch-3',
            path: '/images/uslugi/okrashivanie-volos/airtouch/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Окрашивание на темные волосы',  
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius
      
      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell({ tag:'ul' }).unordered-list
          +li Аиртач на&nbsp;блонд (в&nbsp;том числе холодных тонов) насыщает шевелюру динамичными отблесками, делает пряди сияющими, корректирует блеклость.
        +figure({
          link: '/images/uslugi/okrashivanie-volos/airtouch/airtouch-4-big.webp',
          image: {
            name: 'airtouch-4',
            path: '/images/uslugi/okrashivanie-volos/airtouch/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Аиртач на светлые волосы',  
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius
          
      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell({ tag:'ul' }).unordered-list
          +li Аиртач-окрашивание рыжим дамам подходит идеально, учитывая, насколько сложно подобрать удачные варианты для обладательниц этого оттенка шевелюры. Особую яркость образу позволяют привнести медовые, карамельные и&nbsp;медные блики, сияющие в&nbsp;лучах света.
        +figure({
          link: '/images/uslugi/okrashivanie-volos/airtouch/airtouch-5-big.webp',
          image: {
            name: 'airtouch-5',
            path: '/images/uslugi/okrashivanie-volos/airtouch/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Аиртач на рыжие волосы',  
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius
      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell({ tag:'ul' }).unordered-list
          +li Аиртач-окрашивание для русых волос позволяет привнести в&nbsp;образ больше яркости, существенно преобразить имидж сложным окрашиванием, чтобы глаза стали более сияющими, а&nbsp;внешность&nbsp;&mdash; выразительной. 
        +figure({
          link: '/images/uslugi/okrashivanie-volos/airtouch/airtouch-8-big.webp',
          image: {
            name: 'airtouch-8',
            path: '/images/uslugi/okrashivanie-volos/airtouch/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Аиртач на русые волосы',  
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius


    +grid({ alignItems: 'center', justify: 'center' }).page-subsection
      +figure({
        image: {
          name: 'airtouch-6',
          path: '/images/uslugi/okrashivanie-volos/airtouch/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Аиртач при короткой стрижке',  
        }, 
      })(class= cellClasses({ m:3, s:6, xs:9 })).figure--image-round
      +cell({ m:9 })
        p Учитывая, что техника подходит для работы с&nbsp;волосами разной длины, то&nbsp;будет небольшая разница в&nbsp;подходе. 
        p Так, Аиртач на&nbsp;короткие волосы предполагает, что цветовой переход понадобится сделать максимально близко к&nbsp;корням (актуально при Аиртач на&nbsp;каре и&nbsp;подобных прическах). 
        p А&nbsp;вот Аиртач на&nbsp;средние волосы, длинную шевелюру позволяет экспериментировать с&nbsp;отступом, корректировать его величину, воплотив рисунок максимальной сложности.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Основные этапы
      +cell({ m:6 })
        ol.list-ordered.par
          li.list-ordered__item Мастер тщательно расчесывает волосы, разделяет&nbsp;их, следуя специальной схеме.
          li.list-ordered__item Включает фен, обдувает прядь, чтобы освободить основную массу от&nbsp;коротких и&nbsp;тоненьких волосков. 
          li.list-ordered__item Предварительно приготовленную красящую смесь наносит на&nbsp;разделенные пряди, отступая от&nbsp;корней на&nbsp;3-5&nbsp;см, заворачивает их&nbsp;в&nbsp;фольгу. 
          li.list-ordered__item В&nbsp;индивидуальном порядке рассчитывает продолжительность окрашивания, после чего смывает смесь, используя профессиональную косметику по&nbsp;уходу за&nbsp;волосами.
        p Особенности AirTouch окрашивания на&nbsp;разных этапах:
        +ul.par 
          +li Мастер создает естественный и&nbsp;незаметный переход между корнями и&nbsp;окрашенными прядями, практикуя метод растушевки.
          +li Выполняет тонирование, чтобы восполнить пустоты в&nbsp;волосах с&nbsp;помощью пигмента, выйти на&nbsp;желаемый оттенок.
          +li Обязательно использует профессиональную защиту и&nbsp;уход от&nbsp;ведущего мирового бренда: средства работают таким образом, чтобы минимизировать повреждение структуры волоса, соединить дисульфидные связи.
      +figure({
        image: {
          name: 'airtouch-7',
          path: '/images/uslugi/okrashivanie-volos/airtouch/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Процесс окрашивания',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
    

    +pageSubsection
      h2 Почему AirTouch окрашивание в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center? 
      +ul.par 
        +li Работаем над изменением восприятия женщиной самой себя, потому каждая услуга&nbsp;&mdash; это не&nbsp;просто изменение имиджа.
        +li Для окрашивания применяем безопасные профессиональные красители, представленные известными мировыми брендами, потому сохраняем здоровье волос по&nbsp;максимуму.
        +li Максимально заботимся о&nbsp;состоянии шевелюры: подбираем уходовую косметику с&nbsp;сильным ухаживающим составом, который восстанавливает уровень увлажненности до&nbsp;нормы, питает и&nbsp;укрепляет.
        +li Оттенки подбираем, обязательно учитывая индивидуальный образ, оттенок глаз, кожи, стиль женщины. 
        +li Добиваемся стойкого, естественного, ровного результата окрашивания, следуя четкой методологии.
        +li Обязательно диагностируем волосы и&nbsp;кожу головы (услуга бесплатная), чтобы убедиться в&nbsp;отсутствии противопоказаний, подобрать максимально щадящую технику окрашивания.
