extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item
include /blocks/slider/slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Окрашивание волос балаяж в Санкт-Петербурге
    +pageSubsection
      p Окрашивание балаяж&nbsp;&mdash; это техника частичного изменения оттенка волос, в&nbsp;ходе которой им&nbsp;придают ореховые, медные, золотистые блики.
      p В&nbsp;переводе с&nbsp;французского языка этот вид окрашивания волос означает &laquo;выметание&raquo;. Мастер комбинирует несколько различных оттенков, которые либо контрастно, либо гармонично переходят друг в&nbsp;друга.
    
    +pageSubsection
      h2 Особенности и&nbsp;преимущества
      +grid.par
        +cell({ m:6 })
          +ul.par
            +li Балаяж усиливает естественный оттенок волос без необходимости полного окрашивания и&nbsp;постоянного подкрашивания.
            +li Поскольку краситель наносят на&nbsp;пряди хаотично, чаще в&nbsp;форме буквы&nbsp;V, то&nbsp;колорист выходит на&nbsp;эффект имитации солнечных бликов, в&nbsp;сочетании с&nbsp;участками, напоминающими легкие тени.
            +li Техника позволяет добиться манящего сияния, роскошного визуального объема и&nbsp;глубины цвета.
            +li Идеальное решение для окрашивания волос любой длины.
            +li Балаяж демонстрирует щадящее воздействие на&nbsp;волосы, в&nbsp;том числе и&nbsp;потому, что является частичным окрашиванием. 
          +figure({
            image: {
              name: 'balayazh-2',
              path: '/images/uslugi/okrashivanie-volos/balayazh/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Нанесение красителя и финальный результат',  
            }, 
          }).figure--image-radius
        
        +ul(class= cellClasses({ m:6 }))
          +li Подходит для дам любого возраста, корректирует овал лица, позволяя грамотно расставить акценты, подчеркнув достоинства внешности.
          +li Удивительно раскрывается на&nbsp;волосах разной структуры, толщины: эффект блеска и&nbsp;глубины придает вьющейся, кудрявой шевелюре, а&nbsp;визуальный объем&nbsp;&mdash; тонкой. Балаяж в&nbsp;целом освежает оттенок прически.
          +li Вариативность техник окрашивания волос балаяж: практикуют обратную, классическую, цветную, частичную или полную. В&nbsp;первом случае подразумевается, что основное внимание уделяют корням, а&nbsp;во&nbsp;втором&nbsp;&mdash; что работают на&nbsp;участке от&nbsp;середины длины до&nbsp;кончиков. В&nbsp;остальных случаях имеют в&nbsp;виду использование контрастных оттенков, осветление только определенных прядей или окрашивание по&nbsp;всей поверхности соответственно.
          +li Создание эффекта выгоревших прядей максимально гармоничным образом, чтобы придать образу максимальную выразительность. 
          +li Долговременный результат. Повторное окрашивание в&nbsp;технике балаяж проводят не&nbsp;ранее, чем через три месяца (исключение&nbsp;&mdash; наличие седины: в&nbsp;таком случае практикуют ежемесячное окрашивание). 
        

    +pageSubsection
      h2 Балаяж: окрашивание на&nbsp;темные волосы 
      +grid.par
        +cell({ m:6 })
          p На&nbsp;каштановые волосы оттенок подбирают, ориентируясь на&nbsp;желаемый результат: темный подчеркнет объем, удачно оттеняет пряди, светлый&nbsp;&mdash; придаст яркость и&nbsp;блеск. Предпочитая светлую цветовую гамму, следует подобрать тот оттенок, который выглядит максимально естественно.
          p Шоколадные блики актуальны для каштановой и&nbsp;темно-каштановой шевелюры, особенно, если дама не&nbsp;настроена к&nbsp;кардинальной перемене образа. 
          p Карамельный балаяж практикуют для женщин, стремящихся к&nbsp;кардинальной смене имиджа: позволяет выйти из&nbsp;естественного тона, добавить роскошный блеск карамельным и&nbsp;темно-каштановым оттенкам. Окрашивание позволяет создать эффект самых настоящих солнечных бликов на&nbsp;прядях.
          p Чтобы придать коже лица более теплый тон, как раз и&nbsp;подбирают карамельные оттенки балаяжа: они идеально подходят для визуальной коррекции тусклой кожи. 
        +cell({ m:6 })
          p Медовый балаяж зрительно освежает образ, придает большую выразительность, превосходно сочетается с&nbsp;естественным тоном волос.
          +figure({
            image: {
              name: 'balayazh-3',
              path: '/images/uslugi/okrashivanie-volos/balayazh/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Окрашивание балаяж до/после',  
            }, 
          }).figure--image-radius

    +pageSubsection
      h2 Как подобрать подходящий оттенок?
      +grid.par
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              p Создать впечатляющий зрительный эффект техника окрашивания балаяж позволяет и&nbsp;на&nbsp;светлых, и&nbsp;на&nbsp;темных волосах. Не&nbsp;обязательно ограничиваться только натуральными оттенками: наоборот, трендовыми считают яркие тона, в&nbsp;результате чего, за&nbsp;счет контрастности, создают яркий лук.
            +slider({ pagination: true })(class= cellClasses({ xs:12 })).photo-item
              +slide.photo-item__slide
                +figure({
                  image: {
                    name: 'balayazh-4',
                    path: '/images/uslugi/okrashivanie-volos/balayazh/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1, 2 ] }
                    ],
                    alt: 'Варианты и оттенки окрашивания',  
                  }, 
                }).figure--image-radius
              
              +slide.photo-item__slide
                +figure({
                  image: {
                    name: 'balayazh-5',
                    path: '/images/uslugi/okrashivanie-volos/balayazh/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1, 2 ] }
                    ],
                    alt: 'Светлые оттенки окрашивания',  
                  }, 
                }).figure--image-radius

        +cell({ m:6 })
          p Колористы рекомендуют применять краситель следующих тонов:
          +ul.par 
            +li Жемчужных, перламутровых, чтобы придать прядям сияние и&nbsp;естественный блеск.
            +li Пепельных, светлых, чтобы избежать резкой контрастности с&nbsp;естественным тоном, не&nbsp;навредить волосам, создать образ, который красиво обрамляет лицо.
          p Для мелированной шевелюры подбирают тона балаяжа, актуальные для окрашивания светлых, в&nbsp;том числе русых волос. Так, обращают внимание на&nbsp;золотистые, карамельные, кофейные оттенки.
          p Креативную цветовую гамму, представленную зелеными, фиолетовыми, синими, оранжевыми и&nbsp;подобными оттенками, предпочитают, ориентируясь на&nbsp;потребности дамы и&nbsp;фантазийные способности мастера. Выбирать их&nbsp;стоит тем женщинам, которые стремятся выделяться на&nbsp;фоне окружающих, быть заметнее, а&nbsp;значит более привлекательнее.
          p Обладательницам рыжих волос балаяж позволит придать интересные цветовые переходы и&nbsp;блики. Важно только грамотно подобрать оптимальные оттенки для безупречного выполнения этой техники окрашивания.
          +figure({
            image: {
              name: 'balayazh-6',
              path: '/images/uslugi/okrashivanie-volos/balayazh/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Окрашивание на рыжих волосах',  
            }, 
          }).figure--image-radius

    +pageSubsection
      h2 Техника выполнения на&nbsp;прямых волосах
      p Поэтапное окрашивание в&nbsp;технике балаяж предполагает выполнение следующих манипуляций:
      ol.list-ordered.par
        li.list-ordered__item Мастер с&nbsp;клиентом продумывают желаемый результат балаяжа, потому выбирают подходящее сочетание оттенков. На&nbsp;этом этапе также важно подобрать обесцвечивающий состав, который, в&nbsp;зависимости от&nbsp;потребности, создаст контрастный либо плавный переход в&nbsp;окрашивании. 
        li.list-ordered__item Колорист начинает окрашивание, двигаясь от&nbsp;края прядей. Красящий состав, после экспозиции требуемой длительности, смывает, после чего переходит к&nbsp;работе с&nbsp;корнями.
        li.list-ordered__item Выполнение балаяжа в&nbsp;выбранной технике. Спустя четверть часа, после действия красящего состава на&nbsp;корни, колорист начинает работать с&nbsp;перераспределением массы красителя: прочесывает расческой пряди, двигаясь от&nbsp;корней к&nbsp;кончикам. За&nbsp;счет этого достигается плавность цветового перехода.
      p На&nbsp;всю процедуру балаяжа уходит, в&nbsp;зависимости от&nbsp;поставленных задач, количества выбранных оттенков и&nbsp;длины, от&nbsp;1&nbsp;до&nbsp;3&nbsp;часов. 

    +pageSubsection
      h2 Балаяж на&nbsp;волосах разной длины 
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Окрашивание коротких волос
            p Для этого практикуют следующий подход:
            ol.list-ordered.par
              li.list-ordered__item Участки, подлежащие окрашиванию, начесывают, чтобы изменить направление кончиков прядей (они должны торчать вверх).
              li.list-ordered__item Затем, применяя фольгу, кончики прядей покрывают красящим составом, выдерживая на&nbsp;волосах 20&nbsp;минут.
              li.list-ordered__item Если запланировано&nbsp;&mdash; краситель наносят и&nbsp;на&nbsp;корни волос.
              li.list-ordered__item После этого расческой прочесывают, двигаясь к&nbsp;краям прядей, а&nbsp;потом выполняют тонирование.
              li.list-ordered__item Выдерживают на&nbsp;волосах 10&nbsp;минут, после чего красящий состав тщательно смывают.
          +figure({
            image: {
              name: 'balayazh-7',
              path: '/images/uslugi/okrashivanie-volos/balayazh/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Окрашивание на короткие волосы',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Окрашивание на&nbsp;длинных волосах
            p Процедура напоминает работу с&nbsp;шевелюрой средней длины, но&nbsp;доверить такую работу нужно опытному мастеру, чтобы достичь желаемого эффекта, избежать слипания прядей, что является частым признаком непрофессионального окрашивания.
            p Наиболее выигрышно в&nbsp;технике балаяж смотрятся прямые длинные пряди, поскольку на&nbsp;них удается достичь рельефных либо мягких цветовых переходов, которые получаются выразительнее, чем на&nbsp;вьющейся шевелюре. 
            p Максимальную естественность вида придают и&nbsp;кудрявым волосам, поскольку переходы цвета удачно маскируются в&nbsp;завитках. Но&nbsp;саму процедуру окрашивания выполняют только на&nbsp;предварительно выпрямленной шевелюре. 
          +figure({
            image: {
              name: 'balayazh-9',
              path: '/images/uslugi/okrashivanie-volos/balayazh/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Окрашивание на длинных волосах',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })
          h3 Окрашивание на&nbsp;средние волосы
          p Поэтапно это выглядит следующим образом:
          ol.list-ordered.par
            li.list-ordered__item Для начала шевелюру разделяют по&nbsp;квадратам на&nbsp;определенные зоны: на&nbsp;макушке, затылке, темени и&nbsp;висках. Чтобы не&nbsp;смешивать волосы из&nbsp;разных участков, их&nbsp;фиксируют специальными зажимами.
            li.list-ordered__item Готовят красящую смесь, наносят на&nbsp;кончики прядей, придерживаются необходимой экспозиции по&nbsp;длительности, ориентируясь на&nbsp;желаемую тональность. Затем краситель смывают.
            li.list-ordered__item Используя специальную кисть, красящее вещество наносят на&nbsp;определенные участки, чтобы достичь красивых цветовых переходов. Время экспозиции составляет 15-20&nbsp;минут, за&nbsp;счет чего удается выйти на&nbsp;более темные оттенки, по&nbsp;сравнению с&nbsp;тоном на&nbsp;краях прядей.
            li.list-ordered__item Процедуру завершают смыванием красителя, применением уходовых средств.
        +figure({
          image: {
            name: 'balayazh-8',
            path: '/images/uslugi/okrashivanie-volos/balayazh/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Окрашивание на средние волосы',  
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        
    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему окрашивание балаяж в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center? 
      +cell
        +grid({ tag: 'ul' })
          +iconBlock({ tag: 'li', cosmetics3: true })(class= cellClasses({ m:6 })) Окрашивание проводим профессиональными красящими составами от&nbsp;ведущих мировых брендов, которые характеризуются безопасным составом, заботятся о&nbsp;сохранении здоровья шевелюры.
          +iconBlock({ tag: 'li', talent: true })(class= cellClasses({ m:6 })) Работаем не&nbsp;только над совершенствованием имиджа, но&nbsp;и&nbsp;меняем восприятие собственной персоны к&nbsp;лучшему. 
          +iconBlock({ tag: 'li', womanHair: true })(class= cellClasses({ m:6 })) Формируем индивидуальный образ, подбираем оптимальные сочетания оттенков под цвет глаз, кожи, стиль женщины, обязательно учитывая ее&nbsp;пожелания.
          +iconBlock({ tag: 'li', hairDyeBrush: true })(class= cellClasses({ m:6 })) Стойкого, естественного и&nbsp;ровного результата балаяжа добиваемся, следуя четкой методологии окрашивания. 
          +iconBlock({ tag: 'li', budget: true })(class= cellClasses({ m:6 })) Доступная стоимость окрашивания балаяж в&nbsp;СПб. Цена также честная: без переплат, скрытых платежей, с&nbsp;правом клиента отказаться от&nbsp;предложенной стоимости услуги перед ее&nbsp;выполнением. Мы&nbsp;за&nbsp;взаимно комфортное сотрудничество!
