extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Блондирование
    +grid.page-subsection
      +figure({
        image: {
          name: 'blondirovanie-1',
          path: '/images/uslugi/okrashivanie-volos/blondirovanie/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Оттенки блонда',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Натуральные блондины встречаются редко, да&nbsp;и&nbsp;светлые волосы темнеют с&nbsp;возрастом. Поэтому хоть раз в&nbsp;жизни женщины задумываются об&nbsp;окрашивании в&nbsp;более светлые тона. От&nbsp;воплощения задуманного останавливает вероятность отрицательного исхода: соломенно-желтый оттенок или пересушенные пряди. 
        p Блонд&nbsp;&mdash; оттенок, к&nbsp;которому нелегко прийти и&nbsp;поддерживать. Но&nbsp;при поддержке опытных мастеров Hair Care Center возможно все. Предлагаем услугу профессионального блондирования волос (бличинг), при котором первоначальный цвет волос светлеет на&nbsp;5-6&nbsp;уровней. Если хотите больше узнать об&nbsp;осветлении волос, эта статья для вас.
    
    +pageSubsection
      h2 Что такое блондирование волос
      p Бличинг&nbsp;&mdash; техника осветления за&nbsp;счет удаления природного пигмента волосяного стержня меланина. Для этого используем блондораны и&nbsp;перекись водорода (окислитель) определенной концентрации. Процентное соотношение средств определяем ожидаемым результатом, природным цветом и&nbsp;состоянием волосяного покрова клиента. Окислитель проникает внутрь стержня, раскрывает чешуйки, и&nbsp;вытесняет природный пигмент светлым красителем. При правильном проведении даже при кардинальном бличинге волосы остаются в&nbsp;хорошем состоянии, получив при этом желаемый результат.
      p Проще менять цвет волос девушкам, у&nbsp;которых природный цвет отличается на&nbsp;1-2 тона от&nbsp;желаемого. Клиентам с&nbsp;натуральными темными волосами сделать это сложнее, но&nbsp;возможно, повторив процедуру 4-5&nbsp;раз.
      p Чем крепче и&nbsp;темнее пряди, тем концентрирование состав. Для легкого блондирования используем окислитель 1-2&nbsp;%, а&nbsp;для радикального концентрация доходит до&nbsp;12%. 
      //- +grid.par
      //-   +cell({ m:6 })
        //- +figure({
        //-   image: {
        //-     name: 'blondirovanie-2',
        //-     path: '/images/uslugi/okrashivanie-volos/blondirovanie/',
        //-     formats: [
        //-       { ext: 'jpg', orig: true },
        //-       { ext: 'webp', mime: 'image/webp' },
        //-     ],
        //-     density: [
        //-       { values: [ 1, 2 ] }
        //-     ],
        //-     alt: 'В прядях, обесцвеченных до бела, натуральный пигмент удален полностью',  
        //-   }, 
        //- })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Преимущества блондирования
      +grid.par
        +cell({ m:6 })
          h3 Подготовка к&nbsp;последующему окрашиванию
          p Осветление волос делает естественный оттенок значительно светлее, упрощая переход коричневого к&nbsp;темно-русому или русого к&nbsp;платиновому. Без предварительного обесцвечивания цвет не&nbsp;будет ярко проявляться на&nbsp;темных волосах. Осветление готовит локоны к&nbsp;цвету светлее исходного.

          h3 Скрытие седины и&nbsp;других нежелательных тонов
          p Некоторые седые пряди инертны к&nbsp;перманентному цвету. Бличинг открывает кутикулу и&nbsp;удаляет стойкий серый пигмент. Осветление также удаляет медные, желтые или пепельные тона естественного оттенка, освежая цвет.

          h3 Быстрый результат
          p При блондировании необходимый результат достигается за&nbsp;одно посещение, кроме темного исходного цвета.

          h3 Продолжительная яркость цвета
          p На&nbsp;обесцвеченных прядях результат окрашивания получается более ярким, волосы лучше захватывают и&nbsp;сохраняют цвет. После осветления краска проявляется без искажения оттенка.
        +cell({ m:6 })
          h3 Больше вариантов стиля и&nbsp;окраски 
          p С&nbsp;обесцвеченными волосами открывается мир ярких фантастических цветов. Доступно окрашивание в&nbsp;любой пастельный оттенок: серо-розовый, сиреневый, мятный. Отбеливание также делает возможным эффект омбре или радужных волос.
          +figure({
            image: {
              name: 'blondirovanie-3',
              path: '/images/uslugi/okrashivanie-volos/blondirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Бличинг открывает мир фантастических эффектов',  
            }, 
          }).figure--image-radius

    .block-marked.page-subsection
      p Красивый блонд подчеркивает преимущества прически, придает прядям дополнительный объем, делает облик ярче и&nbsp;привлекательней.	
    
    +pageSubsection
      h2 Недостатки блондирования
      +grid.par
        +cell({ m:6 })
          h3 Дополнительный уход
          p Контакт с&nbsp;окислителем приводит к&nbsp;сухости, расслоению волос и&nbsp;ломкости кончиков, которые нуждаются в&nbsp;профессиональном уходе.
        +cell({ m:6 })
          h3 Регулярное обесцвечивание корней
          p Волосы быстро отрастают, поэтому со&nbsp;временем появляется явная граница цвета у&nbsp;корней, что смотрится не&nbsp;эстетично. Чтобы поддерживать равномерность цвета, проводится корректировка каждые 4&ndash;8&nbsp;недель. 
    
    +pageSubsection
      h2 Этапы блондирования
      +grid.par
        +cell({ m:6 })
          p Мастер выслушивает пожелания клиента об&nbsp;оттенке, который в&nbsp;результате тот желает получить. Для окрашенных волос потребуется предварительная смывка предыдущего пигмента.
          +figure({
            image: {
              name: 'blondirovanie-4',
              path: '/images/uslugi/okrashivanie-volos/blondirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Блондирование до и после',  
            }, 
          }).figure--image-radius
        
        +cell({ m:6 })
          ol.list-ordered.par
            li.list-ordered__item Оцениваем состояние волос, структуру волосяных стержней, подбираем технику осветления, красители и&nbsp;оттенки.
            li.list-ordered__item Подготавливаем пряди к&nbsp;процедуре: тщательно расчесываем, делим на&nbsp;зоны.
            li.list-ordered__item Наносим осветлитель на&nbsp;все волосяное полотно или на&nbsp;отдельные пряди.
            li.list-ordered__item Выдерживаем обесцвечивающий состав в&nbsp;течение 2-40&nbsp;минут.
            li.list-ordered__item Смываем краску большим количеством теплой воды и&nbsp;шампунем.
            li.list-ordered__item На&nbsp;влажные пряди наносим питательную регенерирующую маску.
            li.list-ordered__item Моем повторно голову, сушим и&nbsp;укладываем волосы.
          p Для получения сложных оттенков потребуется тонирование&nbsp;&mdash; придание оттенка прядям, близкого к&nbsp;исходному цвету, или окрашивание волос.
    
    .block-marked.page-subsection
      p Осветление не&nbsp;рекомендовано сразу после окрашивания в&nbsp;темный цвет и&nbsp;химической завивки. Клиенты с&nbsp;перхотью или шелушением откладывают процедуру до&nbsp;устранения причины болезненных состояний. 
    
    +pageSubsection
      h2 Виды блондирования
      +grid.par
        +cell({ m:6 })
          h3 Классическое
          p Классический блонд&nbsp;&mdash; осветление на&nbsp;несколько тонов выше, чем исходный цвет волосяного покрова клиента. Осветление проводим двумя способами: обесцвечивающими составами, осветляющей краской при изначально светлых волосах.
          h3 Американское	
          p Обесцвечивание в&nbsp;технике Американский блонд заключается в&nbsp;выбеливании тонких прядей щадящими оксидами. Подходит девушкам со&nbsp;светлыми и&nbsp;русыми прядями любой длины, структуры и&nbsp;цвета. Доступно для темных волос, но&nbsp;потребуется пройти несколько этапов осветления.
          h3 Бразильское
          p Техника предполагает окрашивание отдельных прядей для формирования эффекта солнечных бликов, придающего прическе выразительность, объем и&nbsp;блеск. Методика заключается в&nbsp;осветлении прядей с&nbsp;последующим тонированием в&nbsp;разные оттенки. Бразильское блондирование не&nbsp;предполагает изменение цвета, а&nbsp;только подчеркивает базовый тон.

          //- +figure({
          //-   image: {
          //-     name: 'blondirovanie-5',
          //-     path: '/images/uslugi/okrashivanie-volos/blondirovanie/',
          //-     formats: [
          //-       { ext: 'jpg', orig: true },
          //-       { ext: 'webp', mime: 'image/webp' },
          //-     ],
          //-     density: [
          //-       { values: [ 1, 2 ] }
          //-     ],
          //-     alt: 'Классический блонд',  
          //-   }, 
          //- })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })
          h3 Калифорнийское	
          p Для Калифорнийского осветления подбираем 2-5 светлых оттенков, на&nbsp;2-3 тона отличающихся от&nbsp;природного цвета клиента. Результат&nbsp;&mdash; мягкие переходы, игра света и&nbsp;тени. Калифорнийский блонд предполагает щадящее воздействие и&nbsp;вариативность оттенков.
          +figure({
            image: {
              name: 'blondirovanie-7',
              path: '/images/uslugi/okrashivanie-volos/blondirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Калифорнийское окрашивание',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        

    +pageSubsection
      h2 Почему для осветления волос в&nbsp;Санкт-Петербурге выбирают салон красоты Hair Care Center
      p Специалисты нашего салона по&nbsp;окрашиванию волос выполняют блондирование на&nbsp;высочайшем уровне, благодаря знаниям теории цвета и&nbsp;практическому опыту. 
      p Создание блонда&nbsp;&mdash; это искусство, требующее последовательного и&nbsp;умелого исполнения. Необходимыми навыками наши мастера владеют на&nbsp;профессиональном уровне. Применяем стойкие красящие составы на&nbsp;аммиачной и&nbsp;безаммиачной основе, блондирующую пудру и&nbsp;т.д.
    
    +grid.page-subsection
      +cell({ m:6 })
        h2 Советы по&nbsp;уходу после процедуры
        p При замещение природного пигмента блондораном травмируется волосяной стержень, приводя к&nbsp;ломкости и&nbsp;ухудшению состояния. Мастера нашего салона не&nbsp;только минимизируют риски, но&nbsp;и&nbsp;подбирают восстанавливающий уход за&nbsp;волосами после осветления, которые нуждаются в&nbsp;питании и&nbsp;увлажнении, минимальном механическом воздействии. Также снижают частоту использования фена и&nbsp;электрических щипцов.	
      +figure({
        image: {
          name: 'blondirovanie-9',
          path: '/images/uslugi/okrashivanie-volos/blondirovanie/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Структура волос',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      
      +cell
        +grid({ smallGap: 'y' }).par
          +cell
            h3 Рекомендации по&nbsp;уходу
          +iconBlock({ noSulfate: true })(class= cellClasses({ m:6 })) Использование увлажняющего безсульфатного шампуня;
          +iconBlock({ conditioner: true })(class= cellClasses({ m:6 })) Применение специальных бальзамов и&nbsp;несмываемых кондиционеров для обесцвеченных волос;
          +iconBlock({ mousse: true })(class= cellClasses({ m:6 })) Еженедельные нанесение масок для блонда с&nbsp;увлажняющими и&nbsp;регенерирующими компонентами;
          +iconBlock({ hairSpray: true })(class= cellClasses({ m:6 })) Использование термозащитных средств перед укладкой;
          +iconBlock({ beautyTreatment: true })(class= cellClasses({ m:6 })) Посещение салонов для прохождения интенсивных восстанавливающих процедур: нанесение кератинового состава, коллагена, активно ухаживающих средств.
          +cell
            p Не&nbsp;забываем о&nbsp;народных рецептах после бличинга. Ополаскивание водой с&nbsp;лимонным соком или ромашковым настоем гарантирует светлым волосам гладкость и&nbsp;сияние, а&nbsp;масляно-медовые маски&nbsp;&mdash; питание.
    
    +pageSubsection
      h2 Когда проводится повторная процедура	
      p На&nbsp;срок повторного осветления влияют поставленные цели.
      +ul.par 
        +li При мелировании для поддержания насыщенности цвета парикмахера посещают раз в&nbsp;1-1,5&nbsp;месяца.
        +li При осветлении всего волосяного объема проводят окрашивание отросших корней, но&nbsp;не&nbsp;раньше чем через 6-8 недель после предыдущей процедуры.
        +li В&nbsp;случае неудачного или недостаточного осветления допустимо повторение процедуры через сутки, что станет сильным стрессом для волос.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Как подготовиться к&nbsp;окрашиванию?</h3>').par
          p Особая подготовка не&nbsp;требуется, достаточно поддерживать волосы в&nbsp;здоровом состоянии, избегать дополнительных химических процедур и&nbsp;не&nbsp;мыть голову перед осветлением.
        +accordionItem('<h3>Блондирование влияет на&nbsp;скорость роста волос?</h3>').par
          p Осветление не&nbsp;затрагивает фолликулы, поэтому волосяной рост продолжается в&nbsp;привычном режиме.
        +accordionItem('<h3>Блондирование делают беременным?</h3>').par
          p Научно негативное влияние красителей на&nbsp;организм не&nbsp;доказано, это только предположения. Учитывая плюсы и&nbsp;минусы процедуры, решение женщина принимает сама. Часто выбор падает на&nbsp;техники осветления, не&nbsp;затрагивающие корни.
