extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Брондирование волос в&nbsp;Санкт-Петербурге
    +grid.page-subsection
      +figure({
        image: {
          name: 'brondirovanie-1',
          path: '/images/uslugi/okrashivanie-volos/brondirovanie/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Пример естественного брондирования',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Брондирование волос&nbsp;&mdash; это техника окрашивания, которая позволяет создавать на&nbsp;прядях красивые переливы цвета. В&nbsp;результате шевелюра приобретает блики, красиво играющие под разным освещением, визуальный объем и&nbsp;ухоженный вид. 
        p Ключевое отличие этого типа окрашивания&nbsp;&mdash; применение до&nbsp;трех близких оттенков. В&nbsp;итоге достигается естественный эффект, словно волосы слегка выгорели на&nbsp;солнце.

    +pageSubsection
      h2 Преимущества процедуры
      +ul({ column:2 }).par
        +li Брондирование&nbsp;&mdash; окрашивание, которое оказывает щадящее воздействие на&nbsp;волосы, поскольку в&nbsp;составе отсутствует аммиак.
        +li После услуги не&nbsp;нужна коррекция и&nbsp;специальный уход.
        +li Доступно брондирование седых волос.
        +li Удается скрыть последствия неудачного окрашивания.
        +li Подчеркивает линии стрижки, красиво очерчивает локоны.
        +li Услуга позволяет отказаться от&nbsp;кардинальной смены имиджа, освежить натуральный оттенок.
        +li Эффект сохраняется минимум два месяца, а&nbsp;то&nbsp;и&nbsp;больше.
        +li Создает зрительный эффект на&nbsp;ослабленных, тонких волосах, за&nbsp;счет чего они выглядят объемнее, гуще, приобретают здоровый блеск.
        +li Вариант окрашивания, который незаметен за&nbsp;счет максимальной естественности вида.
        +li Подходит для тех, кто не&nbsp;любит слишком часто подкрашивать корни: отрастающие выглядят естественно.
        +li Модное направление окрашивания, которое подойдет всем, кто желает быть в&nbsp;тренде.
        +li Актуально для волос любой длины, толщины и&nbsp;оттенка.
        +li Улучшает цвет лица, освежает, а&nbsp;также подчеркивает контур лица, делает его более выразительным.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Показания и&nbsp;противопоказания
      +cell({ m:6 })
        p #[strong Показания к&nbsp;брондированию:]
        +ul.par
          +li Коррекция недостатков неудачного окрашивания.
          +li Желание привнести новизну в&nbsp;образ.
          +li Визуальная коррекция внешнего вида волос и&nbsp;их&nbsp;структуры.
      +cell({ m:6 })
        p #[strong Противопоказания:]
        +ul.par
          +li окрашивание басмой, хной;
          +li обилие секущихся кончиков;
          +li чрезмерно вьющиеся волосы;
          +li очень короткая стрижка;
          +li период беременности;
          +li ослабленные, поврежденные волосы.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Варианты брондирования на&nbsp;разные волосы 
      +cell
        +grid({ alignItems: 'center', justify: 'center' })
          +figure({
            image: {
              name: 'brondirovanie-2',
              path: '/images/uslugi/okrashivanie-volos/brondirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Брондирование на светлые волосы',  
            }, 
          })(class= cellClasses({ m:3, s:6, xs:9 })).figure--image-round

          +cell({ m:9 })
            h3 Особенности брондирования для блондинок
            p Если вы&nbsp;обладательница блонда, брондирование следует проводить, тщательно подобрав оттенки, ориентируясь на&nbsp;цветотип внешности. Так, колорист работает не&nbsp;только с&nbsp;теплой, но&nbsp;и&nbsp;холодной палитрой.
            p Превосходно освежить образ поможет зональное брондирование, суть которого заключается в&nbsp;затемнении участка возле корней. Шевелюра становится зрительно объемнее, не&nbsp;лишаясь природного оттенка.
            p Покраску волос брондирование допустимо проводить на&nbsp;короткие волосы. При этом процедуру проводят на&nbsp;всем объеме или только зонально. 
            p В&nbsp;целом для брондирования на&nbsp;блонд актуальны различные техники: плавный переход от&nbsp;темных к&nbsp;светлым оттенкам и&nbsp;в&nbsp;обратном порядке. 
          
          +figure({
            image: {
              name: 'brondirovanie-3',
              path: '/images/uslugi/okrashivanie-volos/brondirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Брондирование на темные волосы',  
            }, 
          })(class= cellClasses({ m:3, s:6, xs:9 })).figure--image-round

          +cell({ m:9 })
            h3 Особенности брондирования на&nbsp;темные волосы
            p Проводят брондирование волос на&nbsp;темные средние волосы, короткие (минимум от&nbsp;10&nbsp;см) и&nbsp;длинные. 
            p Работа с&nbsp;шевелюрой подобного оттенка требует от&nbsp;мастера особого мастерства: чем темнее цвет, тем сложнее реализовать брондирование, поскольку оно подразумевает работу с&nbsp;коричневыми оттенками.
            p Чаще колорист вначале осветляет определенные пряди, а&nbsp;после этого применяет краситель нужного тона. Чтобы достичь натуральности и&nbsp;гармоничности вида, чаще используют такие оттенки: ореховые, темный каштан, горький шоколад, черный кофе и&nbsp;уже упомянутые коричневые. 
          
          +figure({
            image: {
              name: 'brondirovanie-4',
              path: '/images/uslugi/okrashivanie-volos/brondirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Брондирование на русые волосы',  
            }, 
          })(class= cellClasses({ m:3, s:6, xs:9 })).figure--image-round

          +cell({ m:9 })
            h3 Особенности брондирования на&nbsp;русые волосы
            p Техника изначально предназначалась именно для обладательниц русых волос, по&nbsp;этой причине вариация оттенков впечатляет. 
            p Подбор нужного оттенка происходит, ориентируясь на&nbsp;цветотип внешности. Чаще колористы работают с&nbsp;такими оттенками: орех, капучино, пшеница, янтарь, кофе с&nbsp;молоком, жемчуг.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Техника проведения брондирования в&nbsp;салоне
      +cell({ m:6 })
        ol.list-ordered.par
          li.list-ordered__item Мастер подбирает подходящие оттенки, готовит красящий состав, чтобы нанести на&nbsp;пряди.
          li.list-ordered__item Формирует базу. Для начала шевелюру окрашивают в&nbsp;базовой оттенок, чтобы в&nbsp;последующем удалось достичь плавного цветового перехода. Но&nbsp;если натуральный оттенок соответствует базовому, то&nbsp;эту стадию пропускают.
          li.list-ordered__item Подготовка шевелюры. Ее&nbsp;разделяют на&nbsp;4-6&nbsp;зон, а&nbsp;затем каждую разделяют на&nbsp;тончайшие прядки (по&nbsp;зигзагообразным проборам), фиксируя&nbsp;их. 
          li.list-ordered__item Стадия окрашивания. Колорист наносит на&nbsp;пряди красящий состав, чтобы добиться плавного цветового перехода. Важно: подобранные цвета отличаются от&nbsp;базового оттенка всего лишь на&nbsp;два-три тона. Для удобства окрашенные пряди изолируют с&nbsp;помощью пленки, фольги или термобумаги.
          li.list-ordered__item Выждав определенное количество времени, красящий состав смывают с&nbsp;шевелюры, наносят на&nbsp;пряди восстанавливающую маску, содержащую витамины.
          li.list-ordered__item Процедуру завершают высушиванием волос и&nbsp;созданием укладки. При необходимости выполняют стрижку, создают прическу.
      +figure({
        image: {
          name: 'brondirovanie-5',
          path: '/images/uslugi/okrashivanie-volos/brondirovanie/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Процедура брондирования в салоне',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Особенности ухода после
      p Чтобы эффект от&nbsp;процедуры сохранился как можно дольше, мастера рекомендуют:
      +ul.par 
        +li Не&nbsp;мыть голову в&nbsp;течение трех дней, чтобы пигмент максимально закрепился на&nbsp;прядях.
        +li За&nbsp;две недели до&nbsp;брондирования прекратить применять восстанавливающие маски, поскольку их&nbsp;ингредиенты чрезмерно раскрывают волосяные чешуйки, способствуя вымыванию красящего вещества.
        +li Применять шампуни и&nbsp;стайлинговые средства, предназначенные для окрашенной шевелюры.
        +li Защищать волосы от&nbsp;чрезмерно горячей воды, отказаться от&nbsp;стайлеров, фена, чтобы не&nbsp;ухудшить их&nbsp;состояние тусклостью и&nbsp;ломкостью. 
        +li Максимально закрепить результат, способствовать наиболее яркому проявлению эффекта брондирования поможет процедура ламинирования.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему брондирование лучше делать в&nbsp;салоне красоты Hair Care Center?
      +cell
        +grid({ tag: 'ul' })
          +iconBlock({ tag: 'li', hairdresser: true })(class= cellClasses({ m:6 })) Работают мастера высокого квалификационного уровня и&nbsp;значительного опыта работы, который насчитывает десятилетия. Потому успешно справляются даже с&nbsp;максимально сложными техниками окрашивания. 
          +iconBlock({ tag: 'li', 'womanHair': true })(class= cellClasses({ m:6 })) Не&nbsp;просто оказываем услугу, а&nbsp;целостно работаем над вашим образом. Так, колорист подбирает цвета таким образом, чтобы грамотно расставить акценты, подчеркнуть природную красоту женщины, визуально омолодить лицо.
          +iconBlock({ tag: 'li', coloring: true })(class= cellClasses({ m:6 })) Для процедуры подбираем только профессиональные красители щадящего воздействия, которые не&nbsp;повреждают структуру волос.
          +iconBlock({ tag: 'li', 'diagnosis1': true })(class= cellClasses({ m:6 })) Оказываем услугу, только когда убедимся в&nbsp;отсутствии противопоказаний. Обязательно проводим бесплатную трихологическую диагностику шевелюры и&nbsp;кожи головы.
    
    +pageSubsection
      h2 Сколько стоит брондирование в&nbsp;Санкт-Петербурге?
      p Цена брондирования в&nbsp;СПб зависит от&nbsp;длины волос, количества используемого красителя, необходимости дополнительных процедур. Точную стоимость колорист салона красоты назовет перед проведением процедуры.
