extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Цветное
    +pageSubsection
      p Цветные волосы&nbsp;&mdash; идеальный способ выразить свою индивидуальность и&nbsp;настроение. Мода идёт навстречу представительницам прекрасного пола, предлагая новые технологии, смелые сочетания и&nbsp;необычные оттенки. Цветное окрашивание сегодня на&nbsp;пике популярности, потому что дает безграничный выбор для самовыражения. Подходит для длинных, коротких и&nbsp;волос средней длины. Покраска волос может быть одноцветная, многоцветная и&nbsp;частичная. Даже при одноцветном окрашивании прическа смотрится эффектно.
    
    +pageSubsection
      h2 Популярные техники и&nbsp;методы цветного окрашивания
      p Разноцветное окрашивание в&nbsp;большинстве случаев проводится в&nbsp;два этапа:
      +ul.par 
        +li обесцвечивание;
        +li нанесение красителя.
      p Допустимо сочетание двух и&nbsp;больше контрастных цветов, плавный переход нескольких оттенков одного цвета.	
      br
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Французский бронзовый глоссинг
            p Это двухэтапная техника, дающая безупречный цвет с&nbsp;индивидуальным бронзовым и&nbsp;глянцевым покрытием. Подчеркивает многомерность волос, где темные пряди у&nbsp;корней переходят в&nbsp;сияющую бронзу. Идеально подходит для каштанового цвета, поскольку осветляет и&nbsp;придает локонам более нежный оттенок, адаптируясь к&nbsp;природному цвету волос, глаз и&nbsp;кожи. Закрашивает седину, оживляет тусклые тона, визуально увеличивает объем.
          +figure({
            image: {
              name: 'czvetnoe-3',
              path: '/images/uslugi/okrashivanie-volos/czvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Скрытое окрашивание
            p Техника подразумевает окрашивание волосяного полотна ближе к&nbsp;шее, скрытого под основной массой волос. Подходит для людей, скрывающих яркое окрашивание до&nbsp;тех пор, пока не&nbsp;придет время его продемонстрировать. Для внутреннего слоя используем розовые, зеленые, голубые, фиолетовые и&nbsp;любые другие красители, выполняем радужное или голографическое окрашивание.
          +figure({
            image: {
              name: 'czvetnoe-4',
              path: '/images/uslugi/okrashivanie-volos/czvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 4D&nbsp;Блонд
            p Облегченная техника с&nbsp;максимально плавным переходом между оттенками. При окрашивании затрагиваем только внешние пряди. Эффект 4D&nbsp;Блонд схож с&nbsp;естественным осветлением волос на&nbsp;солнце с&nbsp;интересными яркими и&nbsp;темными моментами, которые выглядят как четырехмерная картинка в&nbsp;движении. 
          +figure({
            image: {
              name: 'czvetnoe-2',
              path: '/images/uslugi/okrashivanie-volos/czvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Зональное окрашивание	
            p Техника создает на&nbsp;голове невероятные узоры и&nbsp;рисунки, выделяя яркими цветами отдельные пряди и&nbsp;сегменты: челки, кончики, височные области. Цветное зональное окрашивание хорошо смотрится на&nbsp;коротких стрижках. Создает как естественный, так и&nbsp;дерзкий образ.
          +figure({
            image: {
              name: 'czvetnoe-5',
              path: '/images/uslugi/okrashivanie-volos/czvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Сплит
            p Еще с&nbsp;2023 года завирусился метод разделенного разноцветного окрашивания, при котором колорист делит волосяной покров на&nbsp;две части и&nbsp;окрашивает их&nbsp;в&nbsp;разные цвета. Чаще клиенты останавливают выбор на&nbsp;контрастном сочетании красок, но&nbsp;комбинация может быть и&nbsp;приглушенной. Сплит-окрашивание в&nbsp;яркие цвета не&nbsp;даст затеряться в&nbsp;толпе.
          +figure({
            image: {
              name: 'czvetnoe-7',
              path: '/images/uslugi/okrashivanie-volos/czvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Тонкое мелирование
            p Техника придает локонам мягкие, сияющие блики, создавая многомерный эффект. В&nbsp;отличие от&nbsp;ярких или тяжелых бликов, тонкие органично сочетаются с&nbsp;базовым цветом, углубляя его. Тонкое мелирование пользуется спросом у&nbsp;желающих выглядеть непринужденно, но&nbsp;при этом гламурно. Мастер выделяет тонкие пряди, осветляя их&nbsp;на&nbsp;2-3&nbsp;тона. 
          +figure({
            image: {
              name: 'czvetnoe-8',
              path: '/images/uslugi/okrashivanie-volos/czvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Dip&mdash;dye
            p Это тонирование нижней части прядей в&nbsp;один и&nbsp;больше ярких цветов для достижения эффекта кончиков, которые окунули в&nbsp;банку с&nbsp;краской. Переход к&nbsp;натуральному тону может быть резким или размытым.
          +figure({
            image: {
              name: 'czvetnoe-6',
              path: '/images/uslugi/okrashivanie-volos/czvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Затемнение блонда
            p Подходящий метод отойти от&nbsp;образа платиновой блондинки или просто стать темнее. Препигментация&nbsp;&mdash; наполнение стержня пигментом, как правило, русым, с&nbsp;дальнейшим его тонированием по&nbsp;желанию клиента.
          +figure({
            image: {
              name: 'czvetnoe-9',
              path: '/images/uslugi/okrashivanie-volos/czvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Неоновый градиент
            p Эффектный вариант цветного окрашивания на&nbsp;длинные волосы обладательниц авантюрного характера. Эффектно выглядят цветовые переходы розового в&nbsp;голубой и&nbsp;фиолетовый, салатового в&nbsp;желтый, оранжевого в&nbsp;красный и&nbsp;т.д.
          +figure({
            image: {
              name: 'czvetnoe-10',
              path: '/images/uslugi/okrashivanie-volos/czvetnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    +pageSubsection
      h2 Выбор краски
      p Для процедуры используем разные виды красок, отличающиеся интенсивностью цвета и&nbsp;стойкостью.
      +ul.par 
        +li Перманентная изменяет цветовую структуру стержня, закрашивает 100&nbsp;% седины, эффект держится до&nbsp;8&nbsp;недель;
        +li Демиперманентная мягко корректирует тон, усиливая естественный оттенок, закрашивает до&nbsp;70&nbsp;% седины;
        +li Полуперманентная действует мягко, покрывая пигментом поверхность волосяного стержня, тускнеет постепенно с&nbsp;каждым мытьем головы;
        +li Временная закрепляется на&nbsp;поверхности волоса, не&nbsp;проникая внутрь, смывается шампунем.
    +pageSubsection
      h2 Выбор цвета
      p Цветная окраска волос подходит всем. Для правильного выбора цвета учитывают ряд нюансов.
      +ul.par 
        +li Цветотип. Теплому цветотипу теплые оттенки, а&nbsp;холодному&nbsp;&mdash; холодные.
        +li Состояние волос. При сухости прядей или травмировании их&nbsp;химической завивкой рекомендуем клиентам щадящее или частичное окрашивание.
        +li Возраст. Пастельные оттенки хорошо маскируют седину, а&nbsp;яркие подчеркивают морщинки. Но&nbsp;у&nbsp;этого правила масса исключений.
        +li Предпочтения клиента. Вне зависимости от&nbsp;трендов цвет должен вдохновлять, поэтому берем во&nbsp;внимание пожелания клиентов.
      p Темноволосым клиентам желательно выбирать комбинации холодных оттенков синего и&nbsp;фиолетового. Для большего контраста подойдут оттенки красного.
      p Блондинкам проще играть с&nbsp;цветом, потому что можно пропустить этап обесцвечивания, и&nbsp;сразу наносить краску для частичного или полного окрашивания. Светловолосым девушкам подходят нежно-розовые и&nbsp;сиреневые тона. Так&nbsp;же стильно смотрится эффект жемчужного перелива на&nbsp;локонах.
      p Рыжеволосые, итак привлекают внимание, но&nbsp;креатив лишним не&nbsp;бывает. Выигрышно смотрится цветное омбре с&nbsp;использованием красного или золотистого тона. Бирюзовые пряди на&nbsp;рыжих волосах также выглядят колоритно.
    +pageSubsection
      h2 Процесс
      h3 Консультация
      p Перед ярким окрашиванием волос важно получить консультацию профессионального стилиста-колориста, чтобы оценить здоровье волос, разобрать пожелания и&nbsp;варианты реализации. Мастер предоставляет таблицу цветов или образцы, чтобы помочь выбрать подходящий оттенок.
      h3 Подготовка
      p Рекомендуем не&nbsp;мыть голову 2-3 дня перед процедурой. Если на&nbsp;прядях остался пигмент предыдущего красителя, удаляем его перед нанесением нового. Для это используем средства для удаления цвета или отбеливатель. При чувствительной коже головы рекомендуем клиентам максимально щадящие составы.
      h3 Во&nbsp;время процедуры
      p После того, как определили с&nbsp;клиентом идеальный для него оттенок, начинается процесс окрашивания. 
      ol.list-ordered.par
        li.list-ordered__item Защищаем кожу защитным кремом, ушными вкладышами или защитной фольгой, чтобы краска не&nbsp;испачкала кожу. 
        li.list-ordered__item Разделяем волосы на&nbsp;четыре или больше частей, чтобы облегчить процедуру.
        li.list-ordered__item В&nbsp;зависимости от&nbsp;выбранной техники и&nbsp;исходного цвета наносим осветлитель или краску на&nbsp;пряди, начиная от&nbsp;корней и&nbsp;продвигаясь к&nbsp;кончикам. 
        li.list-ordered__item Выдерживаем краску на&nbsp;прядях время, зависящее от&nbsp;используемого красителя и&nbsp;техники, а&nbsp;также естественного оттенка волос клиента. 
        li.list-ordered__item Смываем краситель в&nbsp;порядке, в&nbsp;котором его наносили с&nbsp;последующим мытьем окрашенных локонов мягким шампунем и&nbsp;кондиционированием, чтобы восстановить влагу и&nbsp;предотвратить повреждение.
        li.list-ordered__item Стрижем и/или укладываем окрашенные волосы.
    +pageSubsection
      h2 Советы по&nbsp;уходу за&nbsp;окрашенными локонами
      +ul.par 
        +li Используйте шампунь и&nbsp;кондиционер без сульфатов, так как сульфаты лишают пряди натуральных масел и&nbsp;приводят к&nbsp;ускоренному выцветанию. 
        +li Избегайте горячей воды, которая также ускоряет вымывание пигмента. Мойте голову теплой или прохладной водой, чтобы сохранить цвет.
        +li Используйте маски, бальзамы и&nbsp;сыворотки, предназначенные для окрашенных волос.
        +li Ограничьте термоукладку. Щипцы для завивки и&nbsp;выпрямители повреждают структуру стержня, ускоряя его выцветание.
        +li Не&nbsp;мойте голову слишком часто. Большинству людей достаточно мыть голову два раза в&nbsp;неделю.
    +pageSubsection
      h2 Почему цветное окрашивание в&nbsp;Санкт-Петербурге делают в&nbsp;салоне красоты Hair Care Center
      +ul.par 
        +li Студия цветного окрашивания разрабатывалась с&nbsp;учетом потребностей клиентов для создания уютной обстановки;
        +li Используемые красители и&nbsp;уходовая косметика поддерживают бережное отношение к&nbsp;волосам;
        +li Применяем авторские и&nbsp;классические техники окрашивания;
        +li Регулярное повышение квалификации мастеров&nbsp;&mdash; гарантия 100% результата.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Как часто обновлять яркий цвет после окрашивания?</h3>').par
          p Периодичность коррекции зависит от&nbsp;используемой краски. Дольше остальных держится перманентная краска&nbsp;&mdash; до&nbsp;8&nbsp;недель.
        +accordionItem('<h3>Как вернуть натуральный цвет после яркого окрашивания?</h3>').par
          p При перманентном окрашивании вернуть естественный оттенок можно, удалив яркий пигмент и&nbsp;заполнив стержень пигментом, приближенным к&nbsp;натуральному цвету. При временном окрашивании краситель смывается при мытье головы.
        +accordionItem('<h3>Влияет&nbsp;ли яркое окрашивание на&nbsp;здоровье волос?</h3>').par
          p Для окрашивания и&nbsp;мелирования используются разные химические вещества, которые проникая в&nbsp;волосяной стержень, вызывают изменения на&nbsp;молекулярном уровне. Для поддержания здоровья волосяного покрова важно выдерживать периодичность обновления цвета, отдавая предпочтение щадящим техникам и&nbsp;красителям.
