extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    +pageSubsection
      p Калифорнийское окрашивание волос (еще называют Голливудским) придумали американские мастера-парикмахеры, вдохновленные красотой калифорнийских красавиц с&nbsp;шикарными слегка выгоревшими прядями. Голливудский тип мелирования предполагает мягкие переходы от&nbsp;светлых кончиков к&nbsp;углубленно-темным корням. Щадящее окрашивание поддерживает популярную тему экологической сознательности и&nbsp;естественности.
    +grid.page-subsection
      +cell({ m:6 })
        h2 Что такое калифорнийское мелирование
        p Это многоцветное окрашивание, дающее эффект выцветания при использовании 4-5 тонов и&nbsp;больше. Из-за отсутствия резких переходов прическа выглядит максимально естественно. Исключительность техники в&nbsp;плавном растягивании цвета от&nbsp;самого темного у&nbsp;корней до&nbsp;самого светлого на&nbsp;кончиках, ведь очарование пляжного типа окрашивания в&nbsp;натуральности. Голливудское мелирование создает впечатляющие эффекты на&nbsp;светлых, рыжих и&nbsp;темных волосах.
      +figure({
        image: {
          name: 'kaliforniyskoe-1',
          path: '/images/uslugi/okrashivanie-volos/kaliforniyskoe/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Калифорнийская техника имитирует солнечные блики в волосах',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Особенности и&nbsp;преимущества техники
      +cell({ m:6 })
        +grid({ smallGap: 'y' })
          +cell
            p Характерная черта калифорнийской техники&nbsp;&mdash; использование насыщенной палитры для окрашивания прядей или совмещение нескольких оттенков светлой палитры. Чем больше оттенков задействовано, тем эффектнее результат. Техника не&nbsp;подразумевает использование фольги и&nbsp;шапочки для мелирования. 
          +figure({
            image: {
              name: 'kaliforniyskoe-2',
              path: '/images/uslugi/okrashivanie-volos/kaliforniyskoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Калифорнийская техника подходит для светлых, темных и рыжих волос',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
      
      +cell({ m:6 })
        p Пряди при окрашивании соприкасаются, создавая равномерные переходы. Краситель не&nbsp;контактирует с&nbsp;корнями, поэтому метод считается щадящим.
        p К&nbsp;другим плюсам калифорнийского окрашивания относятся:
        +ul.par 
          +li естественность с&nbsp;большим количеством переливов и&nbsp;оттенков;
          +li отсутствие общей цветокоррекции;
          +li универсальность&nbsp;&mdash; у&nbsp;мелирования нет возрастных ограничений, применяется на&nbsp;волосах разной длины и&nbsp;толщины, главное подобрать правильное сочетание цветов;	
          +li маскировка седины, благодаря осветлению темных прядей и&nbsp;закрашиванию седых;
          +li многоцветное мелирование оптически увеличивает объем прически;
          +li самовыражение&nbsp;&mdash; плавные переходы способны передать настроение и&nbsp;даже характер человека. 
        p К&nbsp;косвенным недостатком относится трудоемкость процесса, поэтому от&nbsp;клиента потребуется терпение и&nbsp;свободное время&nbsp;&mdash; процедура занимает 4-5&nbsp;часов. После химической завивки мелирование откладывают не&nbsp;меньше, чем на&nbsp;3&nbsp;месяца.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Техника калифорнийского мелирования	
      +cell({ m:6 })
        +grid({ smallGap: 'y' })
          +cell
            h3 Инструменты и&nbsp;материалы
            p Для защиты одежды используем специальную накидку, для защиты лба&nbsp;&mdash; жирный крем. Для удобства разделения прядей берем узкую расческу с&nbsp;длинным хвостиком. Краска наносится кисточкой как при стандартном окрашивании. Миска понадобится для смешивания оттенков.
          +figure({
            image: {
              name: 'kaliforniyskoe-3',
              path: '/images/uslugi/okrashivanie-volos/kaliforniyskoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'В первую очередь готовим инструменты',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

      +cell({ m:6 })
        h3 Пошаговый процесс мелирования
        ol.list-ordered.par
          li.list-ordered__item Моем голову и&nbsp;высушиваем волосы. Темные локоны предварительно осветляем. Паста на&nbsp;основе пчелиного воска предотвращает пересушивание, гарантирует ровное нанесение красителя. 	
          li.list-ordered__item Выбираем 4-6 подходящих оттенка, отличающиеся от&nbsp;природного цвета на&nbsp;3&nbsp;тона. Чем темнее волосы, тем больше оттенков потребуется.
          li.list-ordered__item Разделяем пряди шириной 1,5-2&nbsp;см горизонтальным пробором. Окрашиваются не&nbsp;все волосы, пряди выделяем в&nbsp;хаотичном порядке. Остальные локоны фиксируем зажимами.
          li.list-ordered__item Осветляющий состав наносим на&nbsp;кончики и&nbsp;оставляем на&nbsp;10&nbsp;мин. С
          li.list-ordered__item Следующий по&nbsp;насыщенности тон наносится на&nbsp;несколько сантиметров выше.
          li.list-ordered__item Предыдущее действие повторяем, пока самый темный оттенок не&nbsp;покроет прикорневую зону.
          li.list-ordered__item За&nbsp;5&nbsp;минут до&nbsp;смывания краски смоченной водой кистью проводим от&nbsp;кончиков к&nbsp;корням для сглаживания границ. Также для плавного перехода пряди скручивают на&nbsp;границе двух тонов.
          li.list-ordered__item Краситель смываем, наносим бальзами и&nbsp;укладываем волосы.

    +pageSubsection
      h2 Почему калифорнийское окрашивание в&nbsp;Санкт-Петербурге делают в&nbsp;салоне красоты Hair Care Center
      p Процедура прорисовки цвета сложная и&nbsp;трудоемкая, для ее&nbsp;выполнения мастера салона используют стойкие и&nbsp;безопасные красители высокого качества. Кропотливый выбор сочетающихся оттенков, точный расчет времени выдержки дают потрясающие результаты. В&nbsp;салоне царит неповторимая атмосфера творчества, даже взыскательные клиенты остаются довольны результатом.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Варианты мелирования
      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell
          p Голливудское окрашивание считается универсальной процедурой, поскольку подходит практически всем. На&nbsp;мастера ложится ответственность подбора цветов, соответствующих форме лица, структуре волос и&nbsp;цветотипу клиента. 
          p Как показала практика калифорнийское окрашивание отлично сочетается не&nbsp;только с&nbsp;темными, каштановыми волосами, но&nbsp;и&nbsp;блонд. Слишком светлые пряди перед процедурой затемняем в&nbsp;прикорневой зоне. Калифорнийское мелирование на&nbsp;русые средние волосы с&nbsp;использованием 4-5 близких по&nbsp;тону светлых пастельных оттенков позволяет получить восхитительный эффект многоцветного пастельного колорирования. 
        +figure({
          image: {
            name: 'kaliforniyskoe-4',
            path: '/images/uslugi/okrashivanie-volos/kaliforniyskoe/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Выгоревший эффект на светлых волосах',  
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell
          p На&nbsp;светлых волосах выигрышно смотрятся такие теплые оттенки как пшеничные, светлая карамель, золотистый и&nbsp;медовый. Из&nbsp;холодных выбор чаще останавливают на&nbsp;жемчужном, платиновом, цвете пепла.
          p У&nbsp;брюнеток плавных переходов от&nbsp;темного к&nbsp;светлому добиваться сложнее. Для надежности используем шоколадные, медовые, медные, коньячные, янтарные и&nbsp;золотистые оттенки.	
          p Если клиент хочет слегка обновить природный цвет, то&nbsp;воздействуем только на&nbsp;середину и&nbsp;кончики волос.
        +figure({
          image: {
            name: 'kaliforniyskoe-5',
            path: '/images/uslugi/okrashivanie-volos/kaliforniyskoe/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Калифорнийский эффект на темных локонах',  
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Уход после калифорнийского мелирования
      p Как после классического окрашивания, за&nbsp;калифорнийским также требуется правильный уход для сохранения цвета и&nbsp;поддержания здоровья волос. 	
      +ul.par 
        +li Для мытья головы использовать шампунь и&nbsp;ополаскиватель с&nbsp;щадящим составом.
        +li Применять увлажняющие и&nbsp;питательные маски раз в&nbsp;неделю;
        +li Защищать голову от&nbsp;прямых солнечных лучей;
        +li Надевать шапочку для плаванья в&nbsp;бассейне.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Сколько держится калифорнийское мелирование?</h3>').par
          p Главный визуальный плюс этого вида окрашивания&nbsp;&mdash; результат не&nbsp;надо часто обновлять. Так как корни не&nbsp;окрашивались. Если смоется тонирующий краситель, концы сохранят естественно выгоревший эффект. Тонирование повторяют раз в&nbsp;2-4&nbsp;месяца.

        +accordionItem('<h3>Влияет&nbsp;ли калифорнийское мелирование на&nbsp;скорость роста волос?</h3>').par
          p Нет, так как красители не&nbsp;контактируют с&nbsp;корнями.
        
        +accordionItem('<h3>Как подготовить волосы к&nbsp;мелированию?</h3>').par
          p За&nbsp;месяц до&nbsp;предполагаемой даты окрашивания рекомендуется провести питательный уход, используя укрепляющие бальзамы и&nbsp;маски.

        +accordionItem('<h3>Калифорнийское мелирование делают самостоятельно?</h3>').par
          p Это сложная техника окрашивания. Чтобы результат получился ожидаемым, стилисты проходят курсы колористики, посещают специальные мастер-классы опытных коллег. И&nbsp;только после этого используют знания на&nbsp;практике. Вряд&nbsp;ли стоит рассчитывать на&nbsp;блестящий результат без подобного опыта.
