extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Мелирование
    +grid.page-subsection
      +figure({
        image: {
          name: 'melirovaniye-1',
          path: '/images/uslugi/okrashivanie-volos/melirovaniye/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Пример мелирования волос',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Мелирование волос&nbsp;&mdash; это техника частичного окрашивания, которая в&nbsp;английском варианте получила название highlighting, что переводится как &laquo;подсвечивание&raquo; либо &laquo;осветление&raquo;. 
        p Английское слово отражает лишь первоначальный подход к&nbsp;этому варианту окрашивания. Сейчас методика предполагает использование яркой цветовой гаммы, наличие контрастных цветовых переходов, нанесение темных оттенков на&nbsp;светлые волосы, и&nbsp;даже работу с&nbsp;палитрой, состоящей из&nbsp;3-5&nbsp;тонов. 
    
    +pageSubsection
      h2 Ключевые достоинства метода
      +ul.par 
        +li Возможность преодолеть ограничения однотонного окрашивания, что, например, актуально для русой шевелюры, когда дама желает получить солнечные переливы и&nbsp;осветлить пряди.
        +li Мелирование&nbsp;&mdash; часто единственный вариант внести изменения во&nbsp;внешность, когда техника окрашивания подходит под стиль, форму лица и&nbsp;настроение женщины.
        +li Щадящее воздействие, когда к&nbsp;повторному окрашиванию допустимо возвращаться спустя 3&nbsp;месяца, а&nbsp;также по&nbsp;той причине, что обработке подлежит только часть прядей, а&nbsp;не&nbsp;вся шевелюра.
        +li Эффектный вид и&nbsp;привлекательность волос остается даже после двух и&nbsp;более месяцев после посещения салона красоты.
        +li Нет необходимости в&nbsp;длительном, утомительном и&nbsp;дорогостоящем уходе.
        +li Универсальность. Подходит на&nbsp;волосы любой структуры, густоты, длины и&nbsp;оттенка.
        +li Если практиковать мелирование в&nbsp;технике осветления, то&nbsp;удается замаскировать седину.
        +li Прекрасное решение для женщин с&nbsp;редеющими волосами, когда визуально можно придать большую пышность шевелюре.
    
    +grid.page-subsection
      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell
          h2 Подбор оттенков под цветотип внешности
          p Большинство дам не&nbsp;устраивает классическое решение по&nbsp;сочетанию нескольких оттенков: в&nbsp;таком случае прибегают к&nbsp;сложному окрашиванию волос мелированием, практикуя техники тонирования и&nbsp;осветления.
          p Необходимую тональность подбирают, ориентируясь на&nbsp;вкусовые предпочтения женщины. На&nbsp;этом этапе лучше рассмотреть фото похожих цветовых сочетаний, результаты окрашиваний женщин с&nbsp;аналогичным типажом, проконсультироваться с&nbsp;опытным колористом и&nbsp;специалистом по&nbsp;стилю.
        +figure({
          image: {
            name: 'melirovaniye-2',
            path: '/images/uslugi/okrashivanie-volos/melirovaniye/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Мелирование для блондинок',  
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell
          p Существуют и&nbsp;общие рекомендации:
          +ul.par 
            +li Обладательницам светлой кожи актуальны оттенки холодной цветовой гаммы: графит, перламутровый, мокрый песок, бежевые. 
            +li Для обладательниц русых волос подбирают золотистые цвета: золотой орех, карамель, пшеница.
            +li Блондинкам уместна светлая цветовая гамма: пепельный (желательно максимальной насыщенности), платиновый.
            +li Для шатенок подбирают янтарные, ореховые и&nbsp;медные оттенки.
            +li Обладательницам темных волос лучше присмотреться к&nbsp;темно-коричневым, ореховым, коньячным, медовым, кофейным и&nbsp;смородиновым оттенкам.
        +figure({
          image: {
            name: 'melirovaniye-3',
            path: '/images/uslugi/okrashivanie-volos/melirovaniye/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Мелирование на темные волосы',  
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Типы мелирования
      p Ориентируясь на&nbsp;оттенок, тип прядей, выбранную технику, практикуют определенный вид осветления либо&nbsp;же окрашивание предполагает одновременно и&nbsp;тонирование, и&nbsp;осветление.
      +grid.par
        +cell({ m:6 })
          p Варианты нанесения составов:
          +ul.par 
            +li Используют шапочку, выполненную из&nbsp;каучука. Изделие имеет дырочки соответствующего диаметра, сквозь которые вытягивают пряди, с&nbsp;которыми будут работать. Этот вариант предназначен для короткой и&nbsp;истощенной шевелюры, применяется для волос средней длины.
            +li Руками. Например, практикуют технику &laquo;иней&raquo;, предназначенную для вьющихся волос, или технику &laquo;глазирование&raquo;, когда работают с&nbsp;темными и&nbsp;рыжими волосами.
            +li С&nbsp;помощью расчески. Подходит для шеверы разной длины. Предполагается, что красящий состав наносят на&nbsp;зубчики, потом аксессуаром проходятся по&nbsp;всей длине, а&nbsp;именно там, где нужно избегать контрастов. С&nbsp;помощью этого варианта удается выйти на&nbsp;необходимый эстетический результат без лишних сложностей и&nbsp;длительного ожидания.
            +li Применяют фольгу. Полоски фольги подкладывают под пряди, на&nbsp;которые уже нанесен красящий состав. Актуально для длинной шевелюры.
          p В&nbsp;зависимости от&nbsp;густоты и&nbsp;широты воздействия мелирование классифицируют на&nbsp;такие виды:
          +ul.par 
            +li Редкое. Актуально для густой шевелюры. Предполагается, что осветлению подвергают несколько прядей, за&nbsp;счет чего удается подчеркнуть основной тон. В&nbsp;итоге результат выглядит привлекательно, но&nbsp;и&nbsp;сдержанно.
            +li Частое. Предназначено для дам с&nbsp;истонченной шевелюрой. Окрашиванию подлежит от&nbsp;40&nbsp;до&nbsp;60% волос. За&nbsp;счет этой техники создается зрительный объем.
            +li Широкое. Актуально для длинной шевелюры. Красящий состав наносят на&nbsp;50% волос, потому предпочитают практиковать щадящую технологию.
            +li Тонкое. Работают с&nbsp;пучками, толщина которых не&nbsp;превышает 5&nbsp;мм. Такой вариант позволяет усилить эффект естественного оттенка.
        //- +figure({
        //-   image: {
        //-     name: 'melirovaniye-4',
        //-     path: '/images/uslugi/okrashivanie-volos/melirovaniye/',
        //-     formats: [
        //-       { ext: 'jpg', orig: true },
        //-       { ext: 'webp', mime: 'image/webp' },
        //-     ],
        //-     density: [
        //-       { values: [ 1, 2 ] }
        //-     ],
        //-     alt: 'Окрашивание с помощью расчески',  
        //-   }, 
        //- })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        
        +cell({ m:6 })
          p Классифицируют мелирование в&nbsp;зависимости от&nbsp;охвата окрашенной шевелюры на&nbsp;такие варианты:
          +ul.par 
            +li Зональное. Предполагает окрашивание части прядей. Например, окрашивают прикорневые участки, оставляя натуральный оттенок на&nbsp;кончиках волос или&nbsp;же в&nbsp;два цвета окрашивают челку. 
            +li Полное. Окрашивают все волосы, а&nbsp;этот вариант подходит для любой длины.
            +li Частичное. Разновидность зонального мелирования. Например, осветлению подвергают пряди у&nbsp;лица. А&nbsp;если работают с&nbsp;короткой стрижкой, то&nbsp;создают стильные перышки по&nbsp;всей площади шевелюры.
          +figure({
            image: {
              name: 'melirovaniye-5',
              path: '/images/uslugi/okrashivanie-volos/melirovaniye/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Мелирование "перьями"',  
            }, 
          }).figure--image-radius
        +cell({ m:6 })
          
        

    +pageSubsection
      h2 Основные варианты мелирования
      +grid.par
        +cell({ m:6 })
          h3 Классическое
          +ul.par 
            +li Выполняется проще всего, пользуется повышенным спросом, идеально подходит для темных оттенков. Принцип окрашивания заключается в&nbsp;равномерном осветлении прядей по&nbsp;всей длине. 
            +li Практикуется бережная техника окрашивания, когда обесцвечивание выполняют не&nbsp;более, чем на&nbsp;3&nbsp;тона. Выходят на&nbsp;контраст между обработанными и&nbsp;естественными оттенками шевелюры.
            +li Практикуют оптимальную степень воздействия, когда применяют специальную шапочку или отрезки фольги.
            +li Для осветления берут пряди, расположенные на&nbsp;равномерно удаленном расстоянии.
            +li Классическое мелирование подходит для шатенок, темноволосых женщин и&nbsp;обладательниц светлой шевелюры.
            +li Оптимальное решение для обладательниц коротких стрижек и&nbsp;желающих поэкспериментировать с&nbsp;челкой.
        +figure({
          image: {
            name: 'melirovaniye-6',
            path: '/images/uslugi/okrashivanie-volos/melirovaniye/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Классическое мелирование',  
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        
        +figure({
          image: {
            name: 'melirovaniye-7',
            path: '/images/uslugi/okrashivanie-volos/melirovaniye/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Калифорнийское мелирование',  
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          h3 Калифорнийское
          +ul.par 
            +li Красящую смесь наносят руками, распределяя по&nbsp;всей длине.
            +li Используют сочетание натуральных оттенков (обычно до&nbsp;6), потом выходят на&nbsp;максимально естественный результат.
            +li Делая растяжку от&nbsp;темных участков в&nbsp;прикорневой зоне, осветляя кончики, удается создать модный эффект выгоревших волос.
            +li В&nbsp;некоторых случаях окрашивание сочетают с&nbsp;тонированием.
            +li Техника отличается щадящей интенсивностью воздействия на&nbsp;волосы.
            +li Подходит для обладательниц светлых волос, включая русые оттенки, а&nbsp;также на&nbsp;средние и&nbsp;длинные волосы.
        
        +cell({ m:6 })
          h3 Венецианское
          p Напоминает предыдущую разновидность, когда красящую смесь наносят рукой. Но&nbsp;ключевое отличие заключается в&nbsp;том, что окрашиванию подвергают только темные пряди. А&nbsp;отдельную часть волос окрашивают хаотично, добиваясь плавности цветовых переходов. 
          p Осветление практикуют не&nbsp;более, чем на&nbsp;3&nbsp;тона. В&nbsp;результате на&nbsp;шевелюре создают эффект солнечных бликов, когда наблюдают плавные, красивые переливы без контрастов.
          p Венецианское мелирование предназначено для волос средней длины, обладательниц темной, черной шевелюры, в&nbsp;том числе вьющейся структуры. Наиболее эффектно смотрится на&nbsp;градуированных стрижках.
        +figure({
          image: {
            name: 'melirovaniye-8',
            path: '/images/uslugi/okrashivanie-volos/melirovaniye/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Венецианское мелирование',  
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        
        +figure({
          image: {
            name: 'melirovaniye-9',
            path: '/images/uslugi/okrashivanie-volos/melirovaniye/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Бразильское мелирование',  
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          h3 Бразильское
          p Очередная разновидность калифорнийского мелирования, когда не&nbsp;практикуют смену цвета. Основная задача, которая стоит перед колористом,&nbsp;&mdash; подчеркнуть базовый оттенок, усилив его.
          p Технику выполняют руками, не&nbsp;используя фольгу. Красящую смесь наносят мазками на&nbsp;определенные зоны. В&nbsp;результате добиваются модного эффекта выгоревших волос.
          p Наиболее привлекательно бразильское мелирование смотрится на&nbsp;шевелюре русых оттенков, но&nbsp;подойдет и&nbsp;для рыжеволосых красавиц, если предпочесть темную палитру. А&nbsp;вот обладательницам черных волос такая техника мелирования не&nbsp;подходит.
        
        +cell({ m:6 })
          h3 Французское
          +ul.par 
            +li Относится к&nbsp;категории наиболее щадящих, поскольку шевелюра не&nbsp;подвергается полному обесцвечиванию.
            +li Осветление проводят на&nbsp;1-3&nbsp;тона. 
            +li В&nbsp;результате удается добиться невообразимо красивого эффекта сияния лучей заката на&nbsp;волосах или&nbsp;же выгоревших на&nbsp;солнце прядей. 
            +li Будет неуместно для обладательниц коротких стрижек, темных волос, включая каштановые. Дело в&nbsp;том, что слабая концентрация красителя недостаточно проникнет в&nbsp;структуру волоса, чтобы добиться желаемого оттенка.
            +li Идеальное решение для светлой шевелюры, включая русые оттенки. Предназначено для волос средней длины и&nbsp;длинной шевелюры.
        +figure({
          image: {
            name: 'melirovaniye-10',
            path: '/images/uslugi/okrashivanie-volos/melirovaniye/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Французское мелирование',  
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Почему мелирование в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center?
      +ul.par 
        +li Используем только профессиональную косметику и&nbsp;красящие составы от&nbsp;ведущих мировых брендов. В&nbsp;результате удается позаботиться о&nbsp;здоровье волос, напитать их&nbsp;ухаживающими компонентами.
        +li Возвращаем уверенность в&nbsp;себе, поскольку меняем восприятие собственной персоны, а&nbsp;не&nbsp;просто обновляем имидж.
        +li Чтобы сделать окрашивание максимально щадящим и&nbsp;бережным, используем безаммиачные красители, обогащенные компонентами, восстанавливающими волосы.
        +li Создадим индивидуальный образ, учитывая цвет глаз, кожи, в&nbsp;целом стиль женщины.
        +li Достигаем стойкого и&nbsp;естественного результата окрашивания, поскольку следуем четкой методологии.
        +li Позаботимся о&nbsp;волосах после окрашивания, подобрав максимально эффективную ухаживающую косметику.

    +pageSubsection
      h2 Цена мелирования в&nbsp;СПб в&nbsp;салоне Hair Care Center 
      p Стоимость мелирования волос в&nbsp;нашем салоне доступная и&nbsp;честная (скрытые платежи и&nbsp;переплаты отсутствуют). Цена сложного окрашивания в&nbsp;технике мелирования составляет от&nbsp;8500&nbsp;рублей. Стоимость зависит от&nbsp;длины волос, количества оттенков и&nbsp;красителя. Точную сумму назовет наш мастер во&nbsp;время консультации.
