extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Мужское окрашивание волос в&nbsp;Санкт-Петербурге
    .page-subsection
      p Мужское окрашивание волос&nbsp;&mdash; это услуга салона красоты Hair Care Center, которая позволяет скрыть седину, воплотить модные веяния или полностью сменить образ.
    
    +pageSubsection
      +grid.par
        +cell({ m:6 })
          h2 Актуальность процедуры
          p Мужское окрашивание волос актуально с&nbsp;возрастом, когда мужчина хочет эффектного визуального преображения. 
          p Так, грамотно подобранный краситель позволяет замаскировать седину либо снизить ее&nbsp;выраженность, когда на&nbsp;помощь приходит профессиональное тонирование. В&nbsp;таком случае даже удается поиграть с&nbsp;пепельной цветовой гаммой, чтобы, наоборот, подчеркнуть благородство мужской зрелости.
          p В&nbsp;других случаях мужское окрашивание волос&nbsp;&mdash; потребность кардинальной смены имиджа. Образ не&nbsp;получится целостным только с&nbsp;помощью аксессуаров и&nbsp;одежды: его гармоничным завершением и&nbsp;дополнением станет новый оттенок волос и&nbsp;современная стрижка, наиболее подходящая укладка. 
        +figure({
          image: {
            name: 'muzhskoe-2',
            path: '/images/uslugi/okrashivanie-volos/muzhskoe/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Мужское окрашивание волос поможет дополнить и освежить образ',  
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    .page-subsection
      h2 Особенности мужского окрашивания
      +grid.par
        +cell({ m:6 })
          p Покрасить волосы мужчине обычным красителем, приобретенным в&nbsp;магазине, не&nbsp;получится, поскольку можно просто не&nbsp;найти специализированного средства, рассчитанного на&nbsp;мужскую шевелюру, а&nbsp;женские для этой цели не&nbsp;подходят.
          p Объяснение кроется в&nbsp;структуре мужского волоса, который отличается большей жесткостью. Потому нужно искать профессиональные красители, состав которых разрабатывали под мужчин. Покраска волос для мужчин в&nbsp;этом случае пройдет эффективно, поскольку в&nbsp;состав краски входят вещества максимально усиленного и&nbsp;активного воздействия. 
          +figure({
            image: {
              name: 'muzhskoe-1',
              path: '/images/uslugi/okrashivanie-volos/muzhskoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
            }, 
          }).figure--image-radius
        +cell({ m:6 })
          p Для окрашивания стоит предпочесть такие составы, которые содержат оздоравливающие компоненты, включая витамины. В&nbsp;результате подобные смеси оказывают максимально бережное воздействие, действуют на&nbsp;волосы укрепляюще, придают им&nbsp;блеск. 
          p Но&nbsp;решение мужчине о&nbsp;предстоящем окрашивании стоит принимать осознанно, учитывая, что за&nbsp;услугой придется обращаться повторно, с&nbsp;определенной периодичностью: ориентироваться на&nbsp;степень вымывания красителя и&nbsp;скорость отрастания корней.
          p Предварительно стоит провести диагностику кожи головы: исключить чувствительность, чрезмерную пересушенность, чтобы краситель не&nbsp;спровоцировал перхоть, зуд, покраснение и&nbsp;шелушение кожного покрова. 
          p Перед процедурой стоит убедиться и&nbsp;в&nbsp;здоровье волос: лучше предварительно их&nbsp;укрепить, всячески позаботиться об&nbsp;их&nbsp;состоянии, чем поспешить с&nbsp;окрашиванием и&nbsp;впоследствии столкнуться с&nbsp;ломкостью, истончением или в&nbsp;целом ухудшением их&nbsp;состояния. 
          p Важно отдавать предпочтение профессиональной линии красителей, доверять опытным колористам, стаж которых насчитывает десятилетия: именно такие работают в&nbsp;салоне красоты Hair Care Center. 

    +pageSubsection
      h2 Наиболее популярные варианты окрашивания
      p Для начала рассмотрим популярные техники окрашивания:
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Мелирование. Позволяет привнести в&nbsp;образ дерзость, в&nbsp;целом освежить его. Демонстрирует следующие плюсы: отсутствие необходимости в&nbsp;частом обновлении, максимальная естественность результата, идеальное решение для всех оттенков и&nbsp;типов волос, эффективный способ маскировки седины.
          +figure({
            image: {
              name: 'muzhskoe-3',
              path: '/images/uslugi/okrashivanie-volos/muzhskoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Мужское мелирование',  
            }, 
          }).figure--image-radius
       
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Обесцвечивание. Позволяет выйти на&nbsp;модный блонд холодных оттенков, который сейчас в&nbsp;тренде. Темноволосым мужчинам стоит пройти несколько этапов окрашивания, прежде чем их&nbsp;волосы осветлят до&nbsp;желаемого оттенка. Обесцвечивание повышает риск истончения волос, подходит не&nbsp;для всех оттенков кожи. 
          +figure({
            image: {
              name: 'muzhskoe-5',
              path: '/images/uslugi/okrashivanie-volos/muzhskoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Обесцвечивание волос',  
            }, 
          }).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Балаяж. Трендовая техника окрашивания, когда на&nbsp;поверхности прядей создают своеобразные блики, используя эффектные цветовые переходы. Визуально это выглядит как иллюзия выгоревших на&nbsp;солнце волос. Вариант предназначен для шевелюры длиной от&nbsp;7&nbsp;см, а&nbsp;цветовую гамму выбирают, ориентируясь на&nbsp;базовый оттенок.
          +figure({
            image: {
              name: 'muzhskoe-4',
              path: '/images/uslugi/okrashivanie-volos/muzhskoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Окрашивание в технике балаяж',  
            }, 
          }).figure--image-radius

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему мужское окрашивание в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center
      +cell
        +grid({ tag: 'ul' })
          +iconBlock({ tag: 'li', man: true })(class= cellClasses({ m:6 })) Работаем над индивидуальным образом, а&nbsp;значит подбираем оптимальный оттенок под цвет глаз, кожи, особенности предпочитаемого стиля, с&nbsp;учетом индивидуальных пожеланий клиента.
          +iconBlock({ tag: 'li', hairDyeBrush: true })(class= cellClasses({ m:6 })) Процедуру проводим, следуя четкой методологии: в&nbsp;результате выходим на&nbsp;стойкий и&nbsp;естественный, ровный результат.
          +iconBlock({ tag: 'li', colorant: true })(class= cellClasses({ m:6 })) Работаем только с&nbsp;профессиональными красителями ведущих брендов, которые отличаются безопасным составом, содержат ухаживающие компоненты.
          +iconBlock({ tag: 'li', cosmetics2: true })(class= cellClasses({ m:6 })) При необходимости подберем серию косметики, чтобы клиент смог максимально ухаживать за&nbsp;здоровьем волос между процедурами окрашивания.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы 
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Сколько длится мужское окрашивание?</h3>').par
          p Длительность зависит от&nbsp;сложности техники окрашивания. Может составлять от&nbsp;2&nbsp;до&nbsp;4&nbsp;часов. 
        +accordionItem('<h3>Как часто мужчине придется красить волосы?</h3>').par
          p В&nbsp;среднем периодичность составляет полтора-два месяца. Если говорить о&nbsp;поддержании оттенка отросших корней, то&nbsp;допустимая частота окрашивания&nbsp;&mdash; раз в&nbsp;три&mdash;четыре недели.
        +accordionItem('<h3>Стричь волосы нужно до&nbsp;или после окрашивания?</h3>').par
          p Мастера рекомендуют вначале окрашивать, а&nbsp;затем стричь волосы. После процедуры окрашивания удастся более точно определиться с&nbsp;моделью стрижки, а&nbsp;также на&nbsp;этом этапе более заметны секущиеся кончики, что позволяет лучше их&nbsp;проработать. 
        +accordionItem('<h3>Нужно&nbsp;ли мыть волосы перед окрашиванием?</h3>').par
          p Красящий состав хуже фиксируется на&nbsp;вымытых волосах, но&nbsp;и&nbsp;чрезмерное количество себума тоже препятствует полноценному проникновению красителя внутрь структуры волоса. Потому рекомендуют придерживаться золотой середины: мыть голову за&nbsp;1-2 дня до&nbsp;процедуры.
        +accordionItem('<h3>Правильнее окрашивать сухие или влажные волосы?</h3>').par
          p Окрашивать рекомендовано сухие волосы.
    
    +pageSubsection
      h2 Стоимость услуги 
      p Цена мужского окрашивания в&nbsp;СПб составляет от 3 500&nbsp;рублей. На&nbsp;стоимость влияет сложность техники окрашивания, количество использованного красителя, работа мастера и&nbsp;другие нюансы. Полную сумму наш колорист назовет во&nbsp;время предварительной консультации. 
