extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Омбре
    +grid.page-subsection
      +figure({
        image: {
          name: 'ombre-1',
          path: '/images/uslugi/okrashivanie-volos/ombre/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Пример окрашивания омбре',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Ombre&nbsp;&mdash; французское слово, которое переводится как &laquo;затенение&raquo;. Окрашивание Омбре&nbsp;&mdash; это двухтональная техника с&nbsp;размытой границей перехода одного цвета в&nbsp;другой. Первоначально термин использовался для описания постепенного смешивания цветов в&nbsp;тканях и&nbsp;произведениях искусства. Но&nbsp;вскоре концепцию приняли в&nbsp;парикмахерском искусстве, произведя революцию. Большинство тенденций в&nbsp;области окрашивания взлетают и&nbsp;падают, а&nbsp;эта техника держится устойчиво.
    
    +pageSubsection
      h2 Что такое окpaшивaниe волос Омбре
      p Говорят, что новый вид окрашивания волос Омбре появился благодаря серферам и&nbsp;их&nbsp;выгоревшим на&nbsp;пляже прядям. К&nbsp;зиме корни отрастали, но&nbsp;кончики оставались светлыми. Игра тонов на&nbsp;контрасте пришлась по&nbsp;душе французским стилистам, которые и&nbsp;усовершенствовали окраску.
      p Суть техники заключается в&nbsp;характерной градации одного оттенка у&nbsp;корней к&nbsp;другому по&nbsp;направлению к&nbsp;кончикам. Преобразование будет настолько драматичным или тонким, насколько пожелает клиент, что делает технику универсальной и&nbsp;персонализированной тенденцией в&nbsp;парикмахерском деле.
      p Окрашивание Омбре проводится на&nbsp;длинные и&nbsp;средние волосы, так как градиентная техника требует длины для качественного выцветания,
    
    .page-subsection
      h2 Особенности окрашивания
      +grid.par
        +cell({ m:6 })
          p Отличительная черта классического Ombre&nbsp;&mdash; переход темного цвета у&nbsp;корней к&nbsp;светлому на&nbsp;концах. Практикуется и&nbsp;обратный переход, а&nbsp;также градиент по&nbsp;горизонтали. Эффект размытого перехода придает прядям оптическую объемность и&nbsp;глубину. Работает с&nbsp;разными цветами радуги.
          +figure({
            image: {
              name: 'ombre-2',
              path: '/images/uslugi/okrashivanie-volos/ombre/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Радужное омбре',  
            }, 
          }).figure--image-radius
        +cell({ m:6 })
          h3 Преимущества и&nbsp;недостатки
          +ul.par 
            +li Универсальность. Сложное окрашивание Омбре легко адаптировать к&nbsp;любому стилю, независимо от&nbsp;длины, структуры и&nbsp;естественного оттенка локонов.
            +li Сглаживает острые черты лица.
            +li Простота ухода. Отсутствие строгих требований к&nbsp;уходу делает пряди Ombre фаворитами среди других техник.
            +li Малая химическая нагрузка. Техника не&nbsp;затрагивает корни, а&nbsp;значит краситель не&nbsp;воздействует на&nbsp;волосяные луковицы.
            +li Редкая коррекция. Поскольку корни остаются нетронутыми или окрашены ближе к&nbsp;естественному оттенку, их&nbsp;отрастание меньше заметно.
          p Минусов не&nbsp;много, но&nbsp;они есть:
          +ul.par 
            +li градиентное окрашивание не&nbsp;делают на&nbsp;поврежденных волосах;
            +li не&nbsp;подходит для домашнего применения, так как присутствует риск получить в&nbsp;результате эффект неопрятно отросших корней.
    
    +pageSubsection
      h2 Выбор цвета и&nbsp;оттенка	
      p Омбре-окрашивание на&nbsp;темные средние волосы лучше делать, используя светлые оттенки. Если в&nbsp;предпочтении естественность, то&nbsp;кончики красят на&nbsp;пару тонов светлее естественного оттенка. Черное Омбре&nbsp;&mdash; это стильно и&nbsp;эффектно. Для натуральных брюнеток предпочтительно Омбре с&nbsp;переходом черного цвета волос к&nbsp;коричневому, рыжему или даже к&nbsp;блонду. При натуральном рыжем цвете выбор тона краски зависит от&nbsp;цветотипа кожи. При светлой коже кончики красят в&nbsp;более спокойный рыжий тон, при смуглом&nbsp;&mdash; ярко-красный цвет.
      p Большинство обладательниц светлых волос окрашивают кончики в&nbsp;янтарный, ореховый, медовый, пшеничный или кофейный тон. Также используют шоколадный. Такое разнообразие обусловлено тем, что русый гармонирует со&nbsp;всей палитрой оттенков.	 Скандинавское Омбре&nbsp;&mdash; выбор для платиновых блондинок. Светлая основа плавно переходит к&nbsp;темно-коричневым или черным кончикам. Светло-сиреневые кончики также смотрятся фантастически красиво. А&nbsp;для яркого легкого образа концы красят в&nbsp;малиновый или коралловый оттенок.
    
    +pageSubsection
      h2 Виды Омбре
      +grid.par 
        +cell({ m:6 })
          h3 Классическое
          p Окрашивание в&nbsp;2&nbsp;тона с&nbsp;тонким переходом темных корней к&nbsp;светлым кончикам. Подходящий вариант, если волосы от&nbsp;природы каштановые или черные, потому что осветляются только кончики. 
        +cell({ m:6 })
          h3 Поперечное
          p Выполняется с&nbsp;использованием только одного красящего средства. Создается эффект выгоревших на&nbsp;солнце прядей. Тона подбираются приближенные к&nbsp;естественному цвету.

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Винтажное
            p Метод аналогичен классическому варианту. Только в&nbsp;этом случае имитируются разросшиеся окрашенные корни, поэтому используют оттенки красного от&nbsp;насыщенного до&nbsp;мягкого. Важно соблюдать мягкие переходы.
          +figure({
            image: {
              name: 'ombre-4',
              path: '/images/uslugi/okrashivanie-volos/ombre/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Винтажное омбре',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Цветное
            p Для растушевки используют цвета, которые сочетаются друг с&nbsp;другом. Эффектный результат получается при использовании розового, фиолетового или даже синего вместо классических естественных оттенков.
          +figure({
            image: {
              name: 'ombre-5',
              path: '/images/uslugi/okrashivanie-volos/ombre/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Цветное омбре',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Обратное
            p Цветовой эффект действует наоборот. Начинается со&nbsp;светлого оттенка у&nbsp;корней и&nbsp;темнеет к&nbsp;кончикам, создавая уникальный и&nbsp;яркий образ.
          +figure({
            image: {
              name: 'ombre-3',
              path: '/images/uslugi/okrashivanie-volos/ombre/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Обратное омбре',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Сомбре
            p Это мягкая и&nbsp;утонченная техника с&nbsp;меньшим контрастом между цветами, чем у&nbsp;классического варианта.
          +figure({
            image: {
              name: 'ombre-6',
              path: '/images/uslugi/okrashivanie-volos/ombre/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Сомбре',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Техника окрашивания	
      ol.list-ordered.par
        li.list-ordered__item Подготовка включает выбор метода окрашивания, уровня начала градиента и&nbsp;цветов красителей. Проводим кожное тестирование на&nbsp;переносимость компонентов краски.
        li.list-ordered__item Делим волосы на&nbsp;секции для большего контроля нанесения и&nbsp;равномерного распределения красителя. Чтобы сгладить линию разграничения начесываем пряди.
        li.list-ordered__item Есть два варианта окрашивания: обесцвечивание и&nbsp;обесцвечивание + крашение.
        li.list-ordered__item Смешиваем краситель, чтобы получить однородный без комочков конечный результат.
        li.list-ordered__item Наносить краситель начинаем с&nbsp;концов, затем постепенно продвигаемся вверх. Чтобы краска естественным образом переходила в&nbsp;натуральный цвет волос клиента, растушевываем и&nbsp;растягиваем границы.
        li.list-ordered__item Выдерживаем краску указанное в&nbsp;инструкции время, смываем, а&nbsp;затем моем голову шампунем и&nbsp;наносим кондиционер, чтобы закрепить цвет, сохранить волосы мягкими и&nbsp;блестящими.
        li.list-ordered__item Сушим и&nbsp;укладываем прическу. 
      p Уязвимый момент в&nbsp;сложном окрашивании&nbsp;&mdash; демонстрация медных, оранжевых или желтых волосков. Часто это проявляется в&nbsp;результате использования чрезмерного количества осветлителя на&nbsp;темных красновато-коричневых прядях. Нежелательные цветовые эффекты еще появляются, когда исходный цвет красителя тускнеет в&nbsp;результате частого купания или пребывании на&nbsp;ярком солнце. Наши парикмахеры колористы знают в&nbsp;каком соотношении смешать осветлитель, чтобы получить ожидаемый результат.
    
    +pageSubsection
      h2 Сколько держится Омбре на&nbsp;волосах
      p Если говорить коротко, то&nbsp;4-6&nbsp;месяцев. При условии правильного ухода. Если использовались светлые красители&nbsp;&mdash; 2-3&nbsp;месяца, а&nbsp;если пряди темные, то&nbsp;продержится до&nbsp;9&nbsp;месяцев.
      p Главный фактор, влияющий на&nbsp;стойкость результата окрашивания в&nbsp;стиле Омбре&nbsp;&mdash; частота мытья и&nbsp;кондиционирования. Мыть и&nbsp;кондиционировать локоны следует 2-3 раза в&nbsp;неделю, так волосы не&nbsp;потускнеют и&nbsp;не&nbsp;пересохнут. Чтобы эффект продержался дольше, используют шампунь и&nbsp;кондиционер без сульфатов, разработанные для окрашенных волос. Избегают продолжительного воздействия солнечных лучей, использовать аэрозоль с&nbsp;УФ-защитой.
    
    +pageSubsection
      h2 Почему окрашивание Омбре в&nbsp;Санкт-Петербурге делают в&nbsp;салоне красоты Hair Care Center
      +grid({ tag: 'ul' }).par
        +iconBlock({ tag: 'li', verification: true })(class= cellClasses({ m:6 })) Безупречность в&nbsp;работе и&nbsp;креативный подход;
        +iconBlock({ tag: 'li', customerService: true })(class= cellClasses({ m:6 })) Гости, пришедшие один раз становятся постоянными, потому что здесь их&nbsp;слышат;
        +iconBlock({ tag: 'li', like: true })(class= cellClasses({ m:6 })) Работаем в&nbsp;сложных техниках, получая всегда желаемый результат;
        +iconBlock({ tag: 'li', graduationHat: true })(class= cellClasses({ m:6 })) Постоянно обучаемся, посещаем мастер-классы топовых стилистов и&nbsp;технологов колористики;
        +iconBlock({ tag: 'li', officeChair: true })(class= cellClasses({ m:6 })) У&nbsp;каждого мастера отдельный кабинет.
    
    +grid.page-subsection 
      +cell({ m:6 })
        h2 Отличия Омбре от&nbsp;Балаяж
        p Это две сдержанных техники с&nbsp;переходом от&nbsp;темного к&nbsp;светлому, которые легко спутать. Но&nbsp;у&nbsp;техник важные различия. Ombre определяется четким и&nbsp;постепенным переходом от&nbsp;темного к&nbsp;светлому, начинаясь с&nbsp;середины стержня и&nbsp;заканчивая светлым оттенком на&nbsp;кончиках волос. Эффект насыщенный и&nbsp;смелый, даже драматичный.
        p Балаяж предполагает ручную технику рисования. В&nbsp;результате получаются более мягкие и&nbsp;естественные блики, которые начинаются у&nbsp;корней и&nbsp;становятся гуще к&nbsp;кончикам.
      +figure({
        image: {
          name: 'ombre-7',
          path: '/images/uslugi/okrashivanie-volos/ombre/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Разница между омбре (слева) и балаяж (справа)',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Подходящее Омбре-окрашивание на&nbsp;прямых волосах?</h3>').par
          p Прямые пряди по&nbsp;природе служат безупречным холстом для сложных техник окрашивания. Непрерывный поток локонов разворачивается водопадом, делая градиентный переход заметным и&nbsp;завораживающим, усиливая эффект. В&nbsp;зависимости от&nbsp;базового цвета и&nbsp;текстуры доступен широкий спектр Омбре.
        +accordionItem('<h3>Влияет&nbsp;ли Омбре на&nbsp;естественный рост волос?</h3>').par
          p Нет, если техника не&nbsp;подразумевает окрашивание корней.
        +accordionItem('<h3>Какое Омбре популярно в&nbsp;этом сезоне?</h3>').par
          p Радуга-единорог в&nbsp;стиле Омбре&nbsp;&mdash; длинные пряди с&nbsp;градиентом пастельных тонов синего, зеленого, желтого, фиолетового и&nbsp;розового. Этой весной и&nbsp;летом для растушевки выбирают светлые и&nbsp;теплые тона. Также набирает популярность метод контрастов с&nbsp;видимой границей перехода, когда оттенок кончиков сильно отличается от&nbsp;исходного.
        +accordionItem('<h3>Как часто делать корректировку Омбре?</h3>').par
          p При соблюдении правил ухода за&nbsp;окрашенными прядями рекомендуется коррекция раз в&nbsp;1-3&nbsp;месяца. Интервал зависит от&nbsp;цветового тона и&nbsp;индивидуальной структуры волосяного стержня. Более частое окрашивание грозит истощением волос.
