extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Шатуш
    +grid({ alignItems: 'center', justify: 'center' }).page-subsection
      +figure({
        image: {
          name: 'shatush-1',
          path: '/images/uslugi/okrashivanie-volos/shatush/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Шатуш - это яркий и в тоже время естественный образ',  
        }, 
      })(class= cellClasses({ m:3, s:6, xs:12 })).figure--image-round
      +cell({ m:9 })
        p Хотите быть в&nbsp;тренде, держите курс на&nbsp;естественность, которая продолжает оставаться ведущим направлением в&nbsp;2023-2024&nbsp;году. Каждая женщина восхитительна по-своему. Иногда достаточно подчеркнуть достоинства, чтобы выглядеть элегантно. Шатуш&nbsp;&mdash; мультитональная техника, пользующаяся неизменным спросом у&nbsp;наших клиентов, так как отвечает актуальным требованиям. Методика помогает выглядеть стильно, привлекательно и&nbsp;при этом натурально. Между собой колористы называют технику Солнечным поцелуем.
        p Технику изобрел итальянский стилист Альдо Коппола, позаимствовав название в&nbsp;английском языке, где &laquo;shahtoosh&raquo; называют легкий козий пух, из&nbsp;которого изготавливают дорогой кашемир. В&nbsp;отношении техники окрашивания слово &laquo;шатуш&raquo; применяется как синоним слова &laquo;шик&raquo;, подчеркивая принадлежность к&nbsp;классу &laquo;люкс&raquo;.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        h2 Техника окрашивания волос Шатуш
        p Это вариант осветления волос с&nbsp;плавным перетеканием темных оттенков в&nbsp;светлые. За&nbsp;основу берем природный цвет волос клиента, на&nbsp;фоне которого создаем впечатление естественно выгоревших прядей. Краску наносим на&nbsp;открытом воздухе без фольги и&nbsp;шапочки, что помогает добиться гармоничного сочетания тонов. Можно даже сказать, что Солнечный поцелуй&nbsp;&mdash; улучшенная версия Калифорнийского мелирования. Лучистые прядки освежают образ, добавляют элегантный шик, что делает Шатуш любимой техникой голливудских звезд.
      +figure({
        image: {
          name: 'shatush-2',
          path: '/images/uslugi/okrashivanie-volos/shatush/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Шатуш подчеркивает обрамляющие лицо пряди',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Особенности техники
      +grid.par
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              p Шатуш выполняется на&nbsp;прямых и&nbsp;вьющихся волосах, но&nbsp;эффектнее результат смотрится на&nbsp;завитых локонах. Для окрашивания подходят средние, удлиненные и&nbsp;пряди ниже уровня плеч. На&nbsp;очень коротких стрижках растянуть цвет не&nbsp;получится. Корни не&nbsp;осветляем, а&nbsp;кончики прокрашиваем частично. Краску наносим на&nbsp;верхние волоски окрашиваемой пряди, а&nbsp;под ними оставляем волосы натурального цвета. Окрашивание корней допустимо при тонировании в&nbsp;более темные цвета.	
              p Шатуш-мелирование&nbsp;&mdash; универсальная техника, которая одинаково подходит обладательницам светлых и&nbsp;темных волос. На&nbsp;светло-русой основе отдельные пряди осветляем белым, на&nbsp;темно-русой базе делаем переход к&nbsp;песочным оттенкам, а&nbsp;на&nbsp;темных волосах выделяем коричневые или рыжие переливы. 
            +figure({
              image: {
                name: 'shatush-3',
                path: '/images/uslugi/okrashivanie-volos/shatush/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ],
                alt: 'Шатуш шоколадный цвет',  
              }, 
            })(class= cellClasses({ xs:12 })).figure--image-radius
        +cell({ m:6 })
          p Шатуш&nbsp;&mdash; подходящий выбор для желающих сохранить естественность, внося лишь небольшие коррективы в&nbsp;природный цвет волос.
          h3 Преимущества и&nbsp;недостатки
          +ul.par
            +li Акцентный цвет приближен к&nbsp;природному, поэтому у&nbsp;техники максимально естественный результат;
            +li Минимальная химическая нагрузка на&nbsp;волосы, благодаря щадящим составам и&nbsp;частичному окрашиванию;
            +li Визуальный объем, так как за&nbsp;счет игры тонов цвет приобретает рельефность;
            +li Хорошо маскируется частичная седина или последствия неудачного окрашивания;
            +li Не&nbsp;требуется частое подкрашивание.
          p У&nbsp;техники много преимуществ, но&nbsp;не&nbsp;обошлось без недостатков:
          +ul.par
            +li техника не&nbsp;рекомендована обладательницам редких волос;
            +li процедура длится 1,5-3&nbsp;часа;
            +li окрашенные пряди нуждаются в&nbsp;дополнительном уходе.
      
    +pageSubsection
      h2 Подготовка к&nbsp;окрашиванию Шатуш
      +grid.par
        +cell({ m:6 })
          h3 Выбор цвета и&nbsp;оттенков
          p Для того чтобы результат окрашивая был ожидаемым, мастер предварительно выясняет тип, структуру и&nbsp;другие особенности волос клиента.
          +ul.par
            +li На&nbsp;волосах ниже уровня плеч проще добиться мягкого перехода, акцентировать внимание на&nbsp;бликах;
            +li Техника Солнечного поцелуя применима на&nbsp;стрижках каскад, каре и&nbsp;боб;
            +li На&nbsp;коротких волосах (до&nbsp;15&nbsp;см) Шатуш не&nbsp;применяем;
            +li Красим только длинную челку.
          p В&nbsp;выборе оттенка ведущую роль играет цветотип клиента:
          +ul.par
            +li холодный тип выигрышно смотрится с&nbsp;холодными оттенками: пепельный, клубнично-розовый, жемчужный и&nbsp;т.д.;
            +li теплый тип оживает при сочетании орехового, карамельного, янтарного и&nbsp;других теплых тонов.
          
            
        +cell({ m:6 })
          h3 Подготовка волос к&nbsp;процедуре
          p К&nbsp;окрашиванию готовятся заранее, желательно за&nbsp;три недели. Подготовка включает улучшение структуры волос при помощи питательных и&nbsp;увлажняющих масок, стрижку секущихся кончиков. Рекомендуем не&nbsp;мыть голову перед окрашиванием, чтобы повысить защитные свойства волосяного стержня перед контактом с&nbsp;краской. Подразумевается, что клиент перед этим не&nbsp;наносил укладочные средства.
          +figure({
            image: {
              name: 'shatush-4',
              path: '/images/uslugi/okrashivanie-volos/shatush/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Подбор тонов основываем на цветотипе клиента',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

              
            //- +figure({
            //-   image: {
            //-     name: 'shatush-5',
            //-     path: '/images/uslugi/okrashivanie-volos/shatush/',
            //-     formats: [
            //-       { ext: 'jpg', orig: true },
            //-       { ext: 'webp', mime: 'image/webp' },
            //-     ],
            //-     density: [
            //-       { values: [ 1, 2 ] }
            //-     ],
            //-     alt: 'К окрашиванию начинают готовиться заранее',  
            //-   }, 
            //- })(class= cellClasses({ xs:12 })).figure--image-radius

    +grid.page-subsection
      +cell({ m:6 })
        h2 Этапы окрашивания
        ol.list-ordered.par
          li.list-ordered__item Волосы разделяем на&nbsp;пряди шириной не&nbsp;больше 3&nbsp;см.
          li.list-ordered__item Каждую прядь начесываем расческой с&nbsp;частыми зубьями.
          li.list-ordered__item Наносим красящий состав короткими мазками, чтобы ложился поверхностно, не&nbsp;проникая глубоко в&nbsp;прядь. Это позволяет добиться желаемого эффекта. Корни при окрашивании не&nbsp;затрагиваем.
          li.list-ordered__item Предыдущий пункт повторяем, пока не&nbsp;обработаем все пряди.
          li.list-ordered__item Оставляем краску для закрепления на&nbsp;10&nbsp;до&nbsp;40&nbsp;минут.
          li.list-ordered__item Красящий состав смываем и&nbsp;наносим увлажняющий бальзам.
        p При варианте без начеса краску наносим, слегка отступая от&nbsp;корней. В&nbsp;месте перехода основного цвета к&nbsp;осветляющему мазки делаем едва заметными, постепенно повышая интенсивность цвета. Благодаря этому достигаем гладкое окрашивание.

      +cell({ m:6 })
        h3 Техника выполнения
        p В&nbsp;зависимости от&nbsp;желаемого результата клиентам предлагаем на&nbsp;выбор 5&nbsp;вариантов окрашивания в&nbsp;технике Шатуш:
        +ul.par
          +li с&nbsp;начесом&nbsp;&mdash; перед процедурой окрашиваемые пряди начесываем для смягчения переходов;
          +li без начеса&nbsp;&mdash; этот вид окрашивания только для профессиональных мастеров;
          +li легкий подразумевает использование тонов, приближенных к&nbsp;натуральному цвету клиента;
          +li контрастный&nbsp;&mdash; для насыщенного цвета выбираем яркий акцентный пигмент;
          +li с&nbsp;мелированием&nbsp;&mdash; техника подразумевает сочетание осветленных и&nbsp;тонированных прядей для максимального объема цвета.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему Шатуш-окрашивание в&nbsp;Санкт-Петербурге делают в&nbsp;салоне красоты Hair Care Center
        p Мастера нашего салона умеют не&nbsp;только делать стильные прически, но&nbsp;и&nbsp;подбирать гармоничные цветовые вариации для окрашивания. Они хорошо владеют техникой растяжки цвета, выполняют Шатуш с&nbsp;начесом и&nbsp;без.
        p Перед окрашиванием парикмахер-колорист:
      +iconBlock({ diagnosis1: true })(class= cellClasses({ l:4, s:6 })) диагностирует кожу головы и&nbsp;волосы клиента,
      +iconBlock({ guidelines: true })(class= cellClasses({ l:4, s:6 })) дает рекомендации по&nbsp;уходу за&nbsp;волосами до&nbsp;и&nbsp;после процедуры;
      +iconBlock({ womanHair: true })(class= cellClasses({ l:4, s:6 })) быстро определяет тип внешности и&nbsp;создает образы, выражающие характер и&nbsp;мироощущение клиента.
      +cell
        p В&nbsp;нашем салоне работают профессионалы, знающие особенности получения оттенков, виды красителей, приемы окрашивания и&nbsp;способы нейтрализации нежелательных цветовых эффектов. Колористы продумывают действия на&nbsp;шаг вперед, предугадывая конечный результат.
  
    +pageSubsection
      h2 Уход после окрашивания Шатуш
      p Важная часть ухода за&nbsp;окрашенными волосами&nbsp;&mdash; отказ от&nbsp;сульфатов, парабенов и&nbsp;хлорида натрия. Так как после контакта с&nbsp;красителем пряди склонны к&nbsp;сухости, предпочтение отдают увлажняющим и&nbsp;питающим средствам. Для предотвращения тусклости локонов голову моют теплой водой, минимизируют контакт к&nbsp;устройствами для горячей укладки. При сушке феном и&nbsp;термоукладке используют термозащитные составы. Кончики также нуждаются в&nbsp;дополнительном уходе.
    
    +pageSubsection
      h2 Вариации техники Шатуш
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Шатуш на&nbsp;темные волосы средней длины предполагает обширную цветовую палитру. Солнечный поцелуй&nbsp;&mdash; отличный выбор для темноволосых клиентов. Для градуированного перехода подходят любые цвета: кофе с&nbsp;молоком, янтарь, старая бронза, ореховый и&nbsp;темный беж.
            p Шатуш на&nbsp;жгучих черных волосах&nbsp;&mdash; исключение из&nbsp;правил, природный чистый черный цвет лучше оставить неизменным.
          +figure({
            image: {
              name: 'shatush-7',
              path: '/images/uslugi/okrashivanie-volos/shatush/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: '“Солнечный поцелуй” на черных волосах',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Шатуш на&nbsp;русые волосы. Сочетание русых и&nbsp;лучистых прядей выглядит элегантно и&nbsp;ярко, если правильно подобрать цвет. Клиентам с&nbsp;пепельно русыми прядями оживляем цвет жемчужным или светло-платиновым оттенком. Для светло-русых волос чаще используем пшеничные и&nbsp;золотистые тона. Темно-коричневым волосам предпочтительны холодные тона для добавления яркости образу.
          +figure({
            image: {
              name: 'shatush-8',
              path: '/images/uslugi/okrashivanie-volos/shatush/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Светлый Шатуш',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })
          p Для рыжих прядей сложнее подбирать цвета, чтобы получить естественный результат. Хорошо сочетаются медовые, карамельные и&nbsp;золотистые тона. На&nbsp;темно-рыжих волосах выигрывают красные оттенки. Ярко выраженная рыжина визуально добавляет пышность прическе.	
          +figure({
            image: {
              name: 'shatush-9',
              path: '/images/uslugi/okrashivanie-volos/shatush/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Рыжий Шатуш',  
            }, 
          }).figure--image-radius
    
    +pageSubsection
      h2 Сравнение Шатуш с&nbsp;другими техниками
      +grid.par
        +cell({ m:6 })
          p В&nbsp;последнее время появилось много вариантов окрашивания, которые часто путают. Шатуш, Балаяж, Омбре, Аир тач&nbsp;&mdash; родственные техники с&nbsp;характерными особенностями. Разница особенно заметна на&nbsp;длинных прическах, когда удается сделать растяжку цвета и&nbsp;получить четкий рисунок. 
          +figure({
            image: {
              name: 'shatush-10',
              path: '/images/uslugi/okrashivanie-volos/shatush/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Техники омбре, балаяж и шатуш',  
            }, 
          }).figure--image-radius

        +cell({ m:6 })
          h3 Шатуш и&nbsp;Балаяж
          p Оба варианта предполагают плавный переход тонов с&nbsp;усилением эффекта обесцвечивания к&nbsp;кончикам. Отличие кроется в&nbsp;нанесении&nbsp;&mdash; при Шатуш окрашиваются только наружные волоски пряди, которую для этого предварительно начесывают. Балаяж&nbsp;&mdash; техника светлых диагональных штрихов при хаотичном нанесении краски по&nbsp;всей длине.

          h3 Шатуш и&nbsp;Омбре
          p Омбре также относится к&nbsp;методу растяжки цвета и&nbsp;частичного осветления. При Омбре окрашивается весь объем волос, между тонами образуются четкие границы, цвет получается глубоким в&nbsp;ущерб естественности. Солнечный поцелуй предполагает открытый способ нанесения краски, при работе с&nbsp;Омбре используется фольга.
          

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Можно&nbsp;ли делать Шатуш на&nbsp;волосы после кератинового выпрямления?</h3>').par
          p Рекомендовано провести окрашивание за&nbsp;2-3 дня до&nbsp;или через 2-3 недели после покрытия волосяного стержня кератином.
        +accordionItem('<h3>Влияет&nbsp;ли Шатуш на&nbsp;здоровье волос?</h3>').par
          p Солнечный поцелуй&nbsp;&mdash; техника частичного окрашивания, поэтому негативное воздействие на&nbsp;волосяной стержень минимально.
        +accordionItem('<h3>Можно&nbsp;ли делать Шатуш дома?</h3>').par
          p Это сложная в&nbsp;исполнении техника даже для профессионалов, требующая определенных знаний и&nbsp;навыков, без которых результат часто непредсказуем.

    