extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Скрытое окрашивание волос в&nbsp;Санкт-Петербурге
    +grid.page-subsection
      +figure({
        image: {
          name: 'skrytoe-1',
          path: '/images/uslugi/okrashivanie-volos/skrytoe/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Скрытое окрашивание в яркой радужной гамме',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Скрытое окрашивание волос&nbsp;&mdash; это услуга салона красоты Hair Care Center, которая предполагает изменение оттенка нижнего слоя волос, в&nbsp;то&nbsp;время как верхний остается без изменений. 
        p Другое название метода&nbsp;&mdash; тайное окрашивание, выполненное в&nbsp;креативной технике, поскольку для этой цели применяют максимально насыщенные, яркие оттенки светлой либо темной цветовой гаммы. 
        p Тайным&nbsp;же его называют, поскольку пряди измененного оттенка можно спрятать в&nbsp;основной массе волос: краситель стандартно наносят сзади, на&nbsp;пряди нижних либо средних слоев. Потому заметить эффект удается во&nbsp;время создания определенной прически, открывающей взорам окружающих потайной слой. 
      
      +figure({
        image: {
          name: 'skrytoe-2',
          path: '/images/uslugi/okrashivanie-volos/skrytoe/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Варианты причесок со скрытым окрашиванием',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +figure({
        image: {
          name: 'skrytoe-3',
          path: '/images/uslugi/okrashivanie-volos/skrytoe/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Варианты причесок со скрытым окрашиванием',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Какие оттенки подобрать?
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Предпочтение отдают контрастной цветовой гамме, которую подбирают под цветотип дамы.
            h3 Синий
            p Синий электрик сочетается с&nbsp;волосами цвета шатен, брюнет и&nbsp;блонд. На&nbsp;более светлых волосах удачнее смотрится нежно-голубой. Эффектный вид придают темные оттенки синего, особенно с&nbsp;примесью зеленого и&nbsp;серого.
            
            h3 Фиолетовый
            p Для скрытого окрашивания на&nbsp;светлые волосы используют сиреневые и&nbsp;лавандовые оттенки красителя, смешивая с&nbsp;розовым цветом. Для брюнеток&nbsp;же уместен фиолетовый неон, чтобы придать прядям, измененным по&nbsp;цвету, большую выразительность.
          +figure({
            image: {
              name: 'skrytoe-4',
              path: '/images/uslugi/okrashivanie-volos/skrytoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Скрытое окрашивание с лавандовыми оттенками на светлые волосы',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Розовый
            p Наносят на&nbsp;отдельные пряди либо&nbsp;же создают эффект градиента. Подбирать&nbsp;же уместно самые разные по&nbsp;насыщенности оттенки: неоновые или&nbsp;же пастельные.
            h3 Зеленый
            p Удачное решение, учитывая превосходное гармонирование с&nbsp;другими яркими цветами. В&nbsp;тренде разные оттенки зеленого, от&nbsp;насыщенных до&nbsp;пастельных.
            
            h3 Красный
            p Выбирать скрытое окрашивание волос красным цветом оптимально брюнеткам и&nbsp;блондинкам, в&nbsp;то&nbsp;время как рыжеволосым красавицам он&nbsp;не&nbsp;подойдет.
          +figure({
            image: {
              name: 'skrytoe-5',
              path: '/images/uslugi/okrashivanie-volos/skrytoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Скрытое окрашивание красным цветом',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    .page-subsection
      h2 Кому подойдет скрытое окрашивание?
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Скрытое окрашивание волос: блонд
            p В&nbsp;этом случае эксперименты не&nbsp;ограничены: можно остановить выбор на&nbsp;пастельных оттенках молочной цветовой гаммы или&nbsp;же отдать предпочтение в&nbsp;сторону неоновых.
            h3 Скрытое окрашивание волос на&nbsp;русые пряди
            p Для такого исходного цвета достаточно даже сдержанных оттенков. Потому дама может подобрать любые цвета, отказавшись только от&nbsp;пастельных, поскольку они смотрятся блекло. Если&nbsp;же есть желание отдать предпочтение в&nbsp;пользу последних, тогда предварительно понадобится обесцветить волосы.
          
          +figure({
            image: {
              name: 'skrytoe-7',
              path: '/images/uslugi/okrashivanie-volos/skrytoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Вариант скрытого окрашивания на русые волосы',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Скрытое окрашивание на&nbsp;темные волосы
            p Для обладательниц черных, каштановых и&nbsp;подобных волос предпочитают неоновую цветовую гамму. Если&nbsp;же женщина не&nbsp;желает чрезмерно пестрых оттенков, тогда стоит присмотреться к&nbsp;приглушенным оттенкам розового, синего либо зеленого.
            h3 Рыжие волосы
            p Важно отдать предпочтение той цветовой гамме, которая контрастирует, а&nbsp;не&nbsp;сливается с&nbsp;естественным оттенком. Получается, что от&nbsp;красно-розовой гаммы стоит отказаться.
          +figure({
            image: {
              name: 'skrytoe-8',
              path: '/images/uslugi/okrashivanie-volos/skrytoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Скрытое окрашивание на рыжих волосах',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    .page-subsection
      h2 Варианты окрашивания для разной длины
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 На&nbsp;среднюю длину
            p Если стрижка достигает линии плеч или спускается чуть ниже, тогда нижние пряди окрашивают в&nbsp;контрастные цвета, начиная от&nbsp;корней до&nbsp;самых кончиков. Продемонстрировать&nbsp;же потрясающий результат можно, если носить прически в&nbsp;виде пучка или низкого хвоста.
            h3 Скрытое окрашивание на&nbsp;короткие волосы
            p Для чрезмерно коротких стрижек подход к&nbsp;окрашиванию видоизменится, поскольку, следуя классической схеме, не&nbsp;удастся скрыть более яркие пряди. Потому обладательницам таких причесок мастера окрашивают корни волос, проходясь по&nbsp;центральным проборам. 
            p Игру&nbsp;же оттенков окружающим удастся продемонстрировать, если зачесывать волосы определенным образом. 
          +figure({
            image: {
              name: 'skrytoe-9',
              path: '/images/uslugi/okrashivanie-volos/skrytoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Скрытое окрашивание при каре',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Скрытое окрашивание на&nbsp;длинные волосы
            p Подобная длина открывает неограниченные возможности для экспериментов: не&nbsp;обязательно ограничиваться парой прядей, а&nbsp;можно изменить оттенок, например, среднего слоя волос.
            p Другой удачный вариант&nbsp;&mdash; растяжка цвета или изменение оттенка в&nbsp;прикорневой области. Продемонстрировать в&nbsp;максимально выгодном свете такие изменения позволит полупучок, в&nbsp;который собирают верхние пряди.
            p Отдельного внимания заслуживает скрытое окрашивание на&nbsp;вьющиеся волосы. В&nbsp;таком случае предпочитают следующие варианты: омбре, радужное окрашивание. 
          +figure({
            image: {
              name: 'skrytoe-10',
              path: '/images/uslugi/okrashivanie-volos/skrytoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Скрытое окрашивание на вьющиеся волосы',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Другие варианты скрытого окрашивания
      +ul(class= cellClasses({ m:6 }))
        +li Скрытое мелирование на&nbsp;темные волосы. В&nbsp;таком случае стоит учесть, что краска лучше схватится на&nbsp;более светлых прядях, а&nbsp;результат будет напоминать цветное мелирование. Если&nbsp;же есть потребность выйти на&nbsp;однородность оттенка, тогда понадобится осветлить всю часть волос.
        +li Радужное. Предполагает, что средний или нижний слой волос разделяют на&nbsp;пряди, каждую из&nbsp;которых окрашивают в&nbsp;контрастные цвета.
        +li Цветное. Практически полный аналог предыдущего, за&nbsp;исключением того, что пряди окрашивают в&nbsp;два-три ярких оттенка. 
        +li Омбре. Создают плавный цветовой переход из&nbsp;одного яркого оттенка в&nbsp;другой либо&nbsp;же практикуют другой вариант&nbsp;&mdash; из&nbsp;яркого к&nbsp;пастельному. 
      +figure({
        image: {
          name: 'skrytoe-11',
          path: '/images/uslugi/okrashivanie-volos/skrytoe/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Скрытое мелирование',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius 

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему скрытое окрашивание в&nbsp;Санкт-Петербурге лучше делать в&nbsp;салоне красоты Hair Care Center?
      +cell
        +grid({ tag: 'ul' })
          +iconBlock({ tag: 'li', womanHair: true })(class= cellClasses({ m:6 })) Позволяем обрести новое самоощущение, а&nbsp;не&nbsp;просто меняем имидж: возвращаем женщинам уверенность, яркую и&nbsp;выразительную внешность.
          +iconBlock({ tag: 'li', dye: true })(class= cellClasses({ m:6 })) Максимально заботимся о&nbsp;здоровье волос при скрытом окрашивании, что предложат не&nbsp;в&nbsp;каждой парикмахерской: используем только безопасные профессиональные красители ведущих брендов, которые обогащены ухаживающими компонентами.
          +iconBlock({ tag: 'li', colorPalette: true })(class= cellClasses({ m:6 })) Подбираем наиболее подходящие цветовые варианты, принимая во&nbsp;внимание цвет глаз, кожи, стиль, пожелания женщины.
          +iconBlock({ tag: 'li', hairDyeBrush: true })(class= cellClasses({ m:6 })) Достигаем ровного, стойкого результата, поскольку полностью соблюдаем методологию окрашивания.

    +pageSubsection
      h2 Стоимость скрытого окрашивания в&nbsp;СПб в&nbsp;салоне красоты Hair Care Center
      p Цена зависит от&nbsp;количества красителя и&nbsp;используемых оттенков, исходной длины прядей, сложности техники окрашивания. Составляет от&nbsp;8500&nbsp;рублей. Точную сумму мастер назовет во&nbsp;время консультации перед окрашиванием.
