extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Сложное
    +grid.page-subsection
      +figure({
        image: {
          name: 'slozhnoe-1',
          path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Сложное окрашивание волос',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Искусство профессионального окрашивания постоянно совершенствуется. Постепенно монохромные методы уступают место сложным, использующим сочетание разных техник и&nbsp;оттенков. Сложное окрашивание волос соответствует последним тенденциям, декларирующим многоцветье, объем, яркие и&nbsp;выразительные акценты в&nbsp;прическах. 
    
    +pageSubsection
      h2 Техники сложного окрашивания
      p Мир цвета волос огромен и&nbsp;сложен, список салонных услуг растет по&nbsp;мере развития тенденций. Сложное окрашивание&nbsp;&mdash; трудоемкий процесс, но&nbsp;полученный результат стоит потраченного времени. Пробуйте, экспериментируйте и&nbsp;всегда будете в&nbsp;центре внимания!
      p Названий сложных техник и&nbsp;схем нанесения красителя много. Среди представленных вариантов легко выбрать подходящий для любого типа и&nbsp;длины волос, геометрии лица и&nbsp;возраста. Независимо от&nbsp;техники, многоцветные окрашивания требуют растяжки цвета, перехода, контраста или градиента.
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Кашемировый блонд
            p Этот женственный нежный блонд, комбинирующий холодные и&nbsp;теплые оттенки, где особое внимание уделяем объему. Оттенок настраивается в&nbsp;соответствии с&nbsp;цветотипом клиента, но&nbsp;конечный результат&nbsp;&mdash; это всегда насыщенное золото, которое выглядит и&nbsp;ощущается роскошно.
          +figure({
            image: {
              name: 'slozhnoe-3',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Кашемировый блонд',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
          
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Шатуш
            p Отличается естественностью и&nbsp;воздушностью, пряди словно подсвечены солнцем и&nbsp;выглядят натурально. Вытянутые оттенки гармонично перетекают от&nbsp;затемненной макушки к&nbsp;светлым кончикам. В&nbsp;отличие от&nbsp;Омбре четкого градиента не&nbsp;прослеживается, переход горизонтального типа.
          +figure({
            image: {
              name: 'slozhnoe-5',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Шатуш',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
          
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Омбре
            p Суть Омбре в&nbsp;растягивании естественного цвета, игре с&nbsp;оттенками, похожими на&nbsp;тень. Корни остаются затемненными, с&nbsp;середины стержня начинается переход к&nbsp;светлым концам. Омбре придает объем, подходит для прямых и&nbsp;вьющихся прядей. 
          +figure({
            image: {
              name: 'slozhnoe-4',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Омбре',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Ice Tint (вуаль) 
            p Это сложное окрашивание волос в&nbsp;холодных тонах. Плавный градиент выполняется так, чтобы кончики получились белыми без золотинки. Для достижения чистого пепельного, перламутрового или жемчужного блонда используем до&nbsp;5&nbsp;оттенков красителей.
          +figure({
            image: {
              name: 'slozhnoe-9',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Окрашивание Ice Tint',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Блондирование
            p Окрашивание идеально для обладательниц светлых волос, но&nbsp;не&nbsp;для пересушенного желтого оттенка. Подходит для формирования роскошных здоровых локонов. Переливчатый эффект достигается за&nbsp;счет изменения базовых оттенков окрашиванием отдельных локонов в&nbsp;той&nbsp;же цветовой гамме с&nbsp;разницей в&nbsp;1-2&nbsp;тона.
          +figure({
            image: {
              name: 'slozhnoe-7',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Блондирование',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
          
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 AirTouch
            p Цветовая техника дает бесшовное смешивание цветов. Название метод получил из-за использования фена и&nbsp;особого нанесения красителя на&nbsp;волосы для получения натурального сочетания. AirTouch создавался для блонда, но&nbsp;сегодня работает с&nbsp;разными цветами.
          +figure({
            image: {
              name: 'slozhnoe-8',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Окрашивание в технике airtouch',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
          
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 3D-окрашивание	
            p Одна из&nbsp;сложных техник, включающая нанесение оттенков противоположных палитр: холодных, теплых, нейтральных для увеличения объема прически. Нежное окрашивание не&nbsp;затрагивает прикорневую зону.
          +figure({
            image: {
              name: 'slozhnoe-11',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Пример 3d-окрашивания',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Акваокрашивание
            p Щадящее окрашивание, при котором используем низкоконцентрированный оксидант, не&nbsp;перекрывающий природный цвет. Придает лишь блеск и&nbsp;легкий градиент.
          +figure({
            image: {
              name: 'slozhnoe-10',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Акваокрашивание',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
          
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Пиксельное
            p Замысловатые узоры и&nbsp;рисунки на&nbsp;волосах создаются с&nbsp;помощью маленьких цветных квадратов, похожих на&nbsp;пиксели. Пиксели открывают безграничные возможности для творчества и&nbsp;персонализации. От&nbsp;ярких радужных до&nbsp;нежных пастельных оттенков&nbsp;&mdash; пиксельные цвета предлагают выбор вариантов, подходящих стилю и&nbsp;индивидуальности человека.
          +figure({
            image: {
              name: 'slozhnoe-12',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Пиксельное окрашивание',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
          
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Плавление
            p Это техника плавного смешивания одного цвета с&nbsp;другим. Подходит тем, кто хочет внести изменения в&nbsp;образ, но&nbsp;не&nbsp;готов к&nbsp;кардинальным переменам. Колорист использует три или больше цветов, накладывая друг на&nbsp;друга так, чтобы получить в&nbsp;результате плавное смешение оттенков. Таяние хорошо маскирует седину, оживляет образ, придает объем, не&nbsp;нарушает рост стержня.
          +figure({
            image: {
              name: 'slozhnoe-6',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Плавление цвета',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Балаяж	
            p Название французской техники осветления означает &laquo;подметание&raquo;. Это отличный способ осветлить пряди, выделив лицо яркими бликами. Результат естественно сочетается с&nbsp;базовым цветом волос. И&nbsp;хотя Балаяж выигрышно смотрится на&nbsp;светлых локонах, применяется на&nbsp;любом исходном цвете, только темные предварительно осветляют. Осветлитель или краситель наносим на&nbsp;пряди вручную крупными или легкими мазками. В&nbsp;результате получаем эффект выгоревших прядей, более светлых на&nbsp;концах.
          +figure({
            image: {
              name: 'slozhnoe-2',
              path: '/images/uslugi/okrashivanie-volos/slozhnoe/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Балаяж (до и после)',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Выбор красителей
      h3 Перманентная
      p Перманентная краска самая стойкая и&nbsp;агрессивная. Ее&nbsp;выбирают, если клиент уверен в&nbsp;выборе цвета, и&nbsp;надеется сохранить результат продолжительное время. Краска активируется при смешивании с&nbsp;проявителем, содержащим перекись водорода. После нанесения красителя открывается кутикула стержня, позволяя пигменту проникнуть вглубь. Затем кутикула закрывается, удерживая пигмент, создавая стойкий эффект. Перманентная краска нарушает структуру волоса, поэтому после окрашивания требуется специальный уход.

      h3 Полуперманентная
      p Демиперманентная краска&nbsp;&mdash; вторая по&nbsp;стойкости. Похожа на&nbsp;перманентную, но&nbsp;не&nbsp;содержит аммиака, и&nbsp;количество проявителя меньше. Также открывает кутикулу, но&nbsp;пигмент не&nbsp;так глубоко проникает внутрь стержня. Придают оттенок, но&nbsp;не&nbsp;закрашивают седину. Менее агрессивна из-за меньшего количества химических веществ в&nbsp;формуле. Подходящая альтернатива для клиентов, желающих избежать сильного повреждения волос.

      h3 Тонирующая	
      p Тонирующий краситель не&nbsp;смешивается с&nbsp;проявителем, поэтому не&nbsp;содержит перекиси. Без перекиси краска не&nbsp;проникает в&nbsp;стержень, а&nbsp;окутывает его сверху мягким слоем. Используется для тонирования, придает прядям дополнительный блеск. Щадящий состав безопасен для здоровья волос.
    
    +pageSubsection
      h2 Подготовка к&nbsp;процедуре
      +grid.par 
        +cell({ m:6 })
          h3 Дома
          ol.list-ordered.par
            li.list-ordered__item За&nbsp;2&nbsp;недели до&nbsp;процедуры исключают химические процедуры для волос (завивка), включают дополнительный питательный и&nbsp;увлажняющий уход;
            li.list-ordered__item За&nbsp;3&nbsp;дня до&nbsp;покраски волос в&nbsp;салоне отказываются от&nbsp;несмываемых уходовых средств;
            li.list-ordered__item Голову моют за&nbsp;1-2 дня до&nbsp;профессионального окрашивания волос.
        +cell({ m:6 })
          h3 В&nbsp;салоне
          ol.list-ordered.par
            li.list-ordered__item Выбирают технику окрашивания и&nbsp;цвета пигмента;
            li.list-ordered__item Мастер оценивает состояние и&nbsp;здоровье волос;
            li.list-ordered__item Подготавливает локоны к&nbsp;нанесению красителя;
            li.list-ordered__item Защищает кожу головы и&nbsp;одежду от&nbsp;случайного окрашивания.
    
    +pageSubsection
      h2 Уход после процедуры
      p Несмотря на&nbsp;то, что большинство сложных техник не&nbsp;затрагивает корни, они, как и&nbsp;другие методы, влияют на&nbsp;структуру и&nbsp;внешний вид стержней. Сегодня большой выбор шампуней и&nbsp;бальзамов для окрашенных волос, восстанавливающих структуру стержня и&nbsp;поддерживающих насыщенность цвета продолжительное время.
      +ul.par
        +li Чтобы кончики не&nbsp;секлись, их&nbsp;периодически подстригают, наносят средства против сечения;
        +li Желательно отказаться или использовать по&nbsp;минимуму плойку, фен и&nbsp;утюжок; 
        +li Перед термоукладкой на&nbsp;пряди наносят термозащитные средства;
        +li Рекомендовано сократить использование лаков, гелей и&nbsp;муссов для укладки.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему сложное окрашивание в&nbsp;Санкт-Петербурге делают в&nbsp;салоне красоты Hair Care Center
        p Hair Care Center сочетает профессионализм персонала и&nbsp;внимательное отношение к&nbsp;клиенту с&nbsp;инновационными технологиями в&nbsp;области красоты. У&nbsp;нас клиенты получают тот результат, за&nbsp;которым пришли.
      +grid({ tag: 'ul' }).par
        +iconBlock({ tag: 'li', cosmetics4: true })(class= cellClasses({ m:6 })) Работаем с&nbsp;безопасными профессиональными средствами;
        +iconBlock({ tag: 'li', officeChair: true })(class= cellClasses({ m:6 })) Раздельные кабинеты для всех направлений;
        +iconBlock({ tag: 'li', prevention: true })(class= cellClasses({ m:6 })) Трехэтапная стерилизация инструментов.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Как часто обновлять окрашивание?</h3>').par
          p Периодичность зависит от&nbsp;выбранной техники и&nbsp;типа красителя. Перманентные обновляют не&nbsp;чаще раза в&nbsp;4-6&nbsp;недель, полуперманентные&nbsp;&mdash; раз в&nbsp;месяц, а&nbsp;тонирующие&nbsp;&mdash; раз в&nbsp;10&nbsp;дней.
        +accordionItem('<h3>Сложное окрашивание делают на&nbsp;поврежденные волосы?</h3>').par
          p Зависит от&nbsp;степени повреждения. Перед каждой процедурой наши мастера диагностируют волосы и&nbsp;кожу головы.
        +accordionItem('<h3>Возможно&nbsp;ли самостоятельно сделать сложное окрашивание дома?</h3>').par
          p Для смешения и&nbsp;растягивания цвета требуются опыт и&nbsp;знание техники выполнения, поэтому окрашивание дома часто дает непредсказуемый результат.
        +accordionItem('<h3>Что влияет на&nbsp;стоимость сложного окрашивания в&nbsp;салоне?</h3>').par
          p На&nbsp;цену процедуры влияет сложность выбранного окрашивания, длина волос.
