extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Тонирование
    +pageSubsection
      p Для женщин окрашивание волос&nbsp;&mdash; способ продемонстрировать стиль, уверенность и&nbsp;индивидуальность. Благодаря современным щадящим технологиям, все больше девушек подчеркивает естественную красоту волос, не&nbsp;прибегая к&nbsp;травмирующим процедурам. Поверхностное окрашивание корректирует и&nbsp;персонализирует цвет, увлажняет и&nbsp;возвращает блеск потускневшим прядям, улучшая их&nbsp;состояние.
    +pageSubsection
      h2 Что такое тонирование
      +grid.par 
        +cell({ m:6 })
          p Тонирование волос&nbsp;&mdash; придание нового оттенка натуральным, осветленным или окрашенным прядям при помощи щадящих красителей. Для тонировки используем тонеры с&nbsp;кислым pH&nbsp;или щелочные безаммиачные красители. Методика произвела революцию в&nbsp;индустрии ухода за&nbsp;волосами и&nbsp;продолжает доминировать в&nbsp;актуальных тенденциях благодаря универсальной функциональности и&nbsp;впечатляющим результатам. 
          p Основная задача тонирования&nbsp;&mdash; корректировать и&nbsp;совершенствовать исходный оттенок для получения желаемого оттенка. Поверхностное окрашивание не&nbsp;меняет цвет волосяного стержня, так как в&nbsp;тонирующих составах отсутствует аммиак. Тонирование происходит за&nbsp;счет пигментов, не&nbsp;проникающих внутрь волоса, а&nbsp;закрепившихся на&nbsp;его поверхности. 
          +figure({
            image: {
              name: 'tonirovanie-1',
              path: '/images/uslugi/okrashivanie-volos/tonirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Рыжее тонирование',  
            }, 
          }).figure--image-radius
        
        +cell({ m:6 })
          p Тонировка:
          +ul.par 
            +li осветляет пряди на&nbsp;1-1,5&nbsp;тона;
            +li с&nbsp;кислотным тонером придает сияющий оттенок после осветления;
            +li с&nbsp;нейтрализацией устраняет нежелательную желтизну, рыжину или красноватый подтон после осветления или окрашивания. 
          p Часто к&nbsp;тонированию волос прибегают после осветления для заполнения стержня пигментом, уменьшения сухости и&nbsp;ломкости. Процедура подходит блондинкам, брюнеткам, рыжеволосым и&nbsp;шатенкам, так как этот вид окрашивания безопасен для волос. 
          +figure({
            image: {
              name: 'tonirovanie-2',
              path: '/images/uslugi/okrashivanie-volos/tonirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Тонирование на мелированные пряди',  
            }, 
          }).figure--image-radius

    .block-marked.page-subsection
      p Цитата известного парикмахера Джорджии Грин: &laquo;Тонирование&nbsp;&mdash; это тонкая настройка цвета волос. Это как фотошоп в&nbsp;парикмахерском искусстве. Правильный тоник может значительно усилить глубину и&nbsp;блеск цвета ваших волос&raquo;.
    
    +pageSubsection
      h2 Преимущества и&nbsp;недостатки
      +grid.par 
        +cell({ m:6 })
          p Тонировка не&nbsp;меняет кардинально цвет локонов, но&nbsp;делает его более насыщенным и&nbsp;ярким.
          h3 Плюсы
          +ul.par 
            +li Деликатное окрашивание;
            +li Возможность быстро вернуть исходный тон;
            +li Дополнительный объем цвета;
            +li Широкая палитра оттенков;
            +li Оздоравливающий эффект обогащенного витаминами и&nbsp;микроэлементами состава;
            +li Отсутствие четкой границы между корнями и&nbsp;тонированной частью;
            +li Краситель держится не&nbsp;долго, что позволяет экспериментировать с&nbsp;образами;
            +li Уникальные цветовые решения в&nbsp;результате смешивания оттенков одной палитры.
        
        +cell({ m:6 })
          h3 Минусы
          +ul.par 
            +li Не&nbsp;закрашивает седину&nbsp;&mdash; процедура не&nbsp;рекомендована при поседении 40&nbsp;% волосяного покрова головы;
            +li Быстро смывается;
            +li Смена оттенка на&nbsp;1-2&nbsp;тона;
            +li Тонирование профессиональными составами выполняют только в&nbsp;салоне.
          +figure({
            image: {
              name: 'tonirovanie-3',
              path: '/images/uslugi/okrashivanie-volos/tonirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Тонирование предоставляет большой выбор оттенков',  
            }, 
          }).figure--image-radius
    
    +pageSubsection
      h2 Техники и&nbsp;методы тонирования
      +grid.par 
        +cell({ m:6 })
          h3 Легкое
          p Для легкого тонирования прядей используем шампуни, бальзамы, пенки и&nbsp;муссы, которые оживляют естественный тон, но&nbsp;смываются после мытья головы.
          h3 Щадящее (молекулярное)	
          p Молекулярное тонирование волос выполняем средствами, содержащими питательные и&nbsp;увлажняющие добавки, которые уменьшают пористость стержня. Результат держится 3-4&nbsp;недели. Краска безвредна, поэтому частотность процедур не&nbsp;ограничена.
          h3 Интенсивное
          p В&nbsp;состав используемых красителей не&nbsp;входит аммиак, но&nbsp;входят окисляющие вещества. Интенсивное тонирование держится на&nbsp;волосах до&nbsp;двух месяцев. Придает прядям насыщенный тёмный оттенок или осветляет на&nbsp;1-1,5&nbsp;тона.
          h3 Прикорневое		
          p Помогает сгладить переход отросших корней к&nbsp;основному цвету, если нет возможности подкрасить корни стойкой краской.
        +cell({ m:6 })
          h3 Цветное
          p Необычные яркие или пастельные тона эффектно раскрываются на&nbsp;осветленных прядях. Модное тонирование гармонично выглядит в&nbsp;креативных образах.
          +figure({
            image: {
              name: 'tonirovanie-5',
              path: '/images/uslugi/okrashivanie-volos/tonirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Цветная тонировка',  
            }, 
          }).figure--image-radius

    +grid.page-subsection
      +figure({
        image: {
          name: 'tonirovanie-6',
          path: '/images/uslugi/okrashivanie-volos/tonirovanie/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Тонирование или окрашивание на хну может дать зеленоватый оттенок',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        h2 Подготовка к&nbsp;процедуре
        p Не&nbsp;рекомендуется красить волосы поверх хны или басмы, так как реакция растительных компонентов на&nbsp;краситель непредсказуемая. Использование растительных красителей прекращают за&nbsp;2-3 месяца до&nbsp;предполагаемого окрашивания. За&nbsp;сутки до&nbsp;процедуры желательно не&nbsp;мыть голову, чтобы естественные жировые выделения смягчили воздействие красителя на&nbsp;кожу головы. Также рекомендуется заранее позаботиться об&nbsp;увлажнении прядей.
    
    +pageSubsection
      h2 Выбор красителя для тонирования
      +grid.par 
        +cell({ m:6 })
          +grid({ smallGap: 'y' })
            +cell
              p Выбирая тонер, подходящий для базового цвета клиента, учитываем желаемый оттенок, уровень текущего тона и&nbsp;подтона. В&nbsp;распоряжении наших мастеров кислотные и&nbsp;щелочные тонеры, пигменты прямого действия.
              +ul.par 
                +li Щелочные помогают затонировать волосы, а&nbsp;при необходимости, осветлить на&nbsp;1&nbsp;тон;
                +li Кислотные не&nbsp;осветляют и&nbsp;не&nbsp;меняют цвет натуральной базы;
                +li Краситель прямого действия не&nbsp;проявляется в&nbsp;структуре волоса в&nbsp;результате химической реакции&nbsp;&mdash; это готовый пигмент, который прикрепляется к&nbsp;стержню.
              p С&nbsp;каким составом работать мастер решает в&nbsp;зависимости от&nbsp;конкретной ситуации и&nbsp;пожеланий клиента. 
              h3 Профессиональные красители
              p Тонеры с&nbsp;кислым pH&nbsp;не&nbsp;поднимают уровень тона, так как пигменты не&nbsp;раскрывают кутикулу, не&nbsp;проникают в&nbsp;стержень и&nbsp;не&nbsp;замещают натуральный пигмент. Это подходящий способ для создания неповторимых переливающихся оттенков после осветления в&nbsp;актуальных техниках окрашивания. Красители с&nbsp;кислым pH&nbsp;действуют деликатно по&nbsp;сравнению с&nbsp;аммиачными, гарантируют равномерное распределение и&nbsp;окрашивание.	
              p Отбеливатель только вымывает пигмент с&nbsp;волоса, оставляя чистый холст для колориста, чтобы нанести окончательный цвет. 
            +figure({
              image: {
                name: 'tonirovanie-7',
                path: '/images/uslugi/okrashivanie-volos/tonirovanie/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ],
                alt: 'Тонеры с кислым pH создают уникальные мерцающие оттенки',  
              }, 
            })(class= cellClasses({ xs:12 })).figure--image-radius
            +cell
              p Тонирующие средства с&nbsp;нейтрализацией корректируют нежелательные теплые полутона. Каждому тону присущи характерные теплые пигменты. Для светлых волос&nbsp;&mdash; желтый и&nbsp;золотой пигменты, для каштановых&nbsp;&mdash; оранжевый или медный, для темно-коричневых и&nbsp;черных&nbsp;&mdash; красные пигменты. Учитывая это, выбирают нейтрализующее средство.
        
        +cell({ m:6 })
          +ul.par 
            +li Фиолетовый корректирует желтые и&nbsp;золотистые оттенки на&nbsp;светлых и&nbsp;седых волосах;
            +li Синий нейтрализует медные оттенки на&nbsp;средне-русых локонах;
            +li Зеленый убирает медные оттенки на&nbsp;темно-коричневых и&nbsp;черных волосах.
          p Тонеры с&nbsp;пигментами прямого действия не&nbsp;смешивают с&nbsp;окислителем или проявителем&nbsp;&mdash; они наносятся и&nbsp;закрепляются на&nbsp;поверхности волосков. Пигменты прямого действия не&nbsp;осветляют, новый оттенок по&nbsp;уровню соответствует исходному цвету и&nbsp;смывается за&nbsp;1&ndash;10&nbsp;дней. 
          p Большинство брендов дополнительно смягчают и&nbsp;так деликатные формулы тонирующих средств, добавляют растительные полимеры для гладкости и&nbsp;эластичности локонов.
          h3 Растительные красители	
          +ul.par 
            +li Настой ромашки подходит для светловолосых девушек. Благодаря пигментам азулену и&nbsp;апегенину отвар цветков ромашки осветляет и&nbsp;добавляет блеска волосам.
            +li Грецкий орех оживляет цвет, придавая локонам золотистый или каштановый оттенок (в&nbsp;зависимости от&nbsp;исходного цвета), ведь свежая или высушенная кожура ореха содержит необходимые красящие пигменты.
            +li Настой луковой шелухи оттеняет естественный тон, придает светлым прядям золотистый оттенок, укрепляет волосяные фолликулы. Закрашивает седину.
            +li Лимонный сок&nbsp;&mdash; натуральный осветлитель. Лимон не&nbsp;сделает шатенку блондинкой, но&nbsp;за&nbsp;одну процедуру пряди посветлеют на&nbsp;1&nbsp;тон. Средство не&nbsp;рекомендуется для сухих и&nbsp;ломких волос.
            +li Хна и&nbsp;басма&nbsp;&mdash; распространенные растительные красители. Хна окрашивает во&nbsp;все оттенки рыжего, басма&nbsp;&mdash; каштанового и&nbsp;черного. Вместе дают естественные мягкие цвета.
          +figure({
            image: {
              name: 'tonirovanie-8',
              path: '/images/uslugi/okrashivanie-volos/tonirovanie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Цветки ромашки осветляют волосы на 0,5 тона',  
            }, 
          }).figure--image-radius
    +pageSubsection
      h2 Уход за&nbsp;тонированными прядями	
      p У&nbsp;тонирующих средств деликатный состав, который обволакивает каждый волосок, не&nbsp;затрагивая волосяные фолликулы. Тонеры выравнивают пряди, делая их&nbsp;мягкими, ухоженными и&nbsp;блестящими, благодаря питательным и&nbsp;витаминным добавкам. Поэтому после тонирования рекомендован стандартный уход.
      +ul.par 
        +li Использование шампуня и&nbsp;кондиционера для окрашенных волос;
        +li Дважды в&nbsp;неделю нанесение маски глубокого кондиционирования;
        +li Применение термозащиты перед укладкой;
        +li Дополнение ухода несмываемым кондиционером для предотвращения высыхания и&nbsp;спутывания волосков.
    +pageSubsection
      h2 Почему тонирование волос в&nbsp;Санкт-Петербурге делают в&nbsp;салоне красоты Hair Care Center
      p Ослепительный блеск, минимальное вмешательство в&nbsp;структуру стержня и&nbsp;стильный оттенок гарантирует процедура тонирования в&nbsp;салоне Hair Care Cente. Колористы салона используют только передовые технологии для получения уникальных цветов. Следуем актуальным трендам, создаем собственные.
      p Предлагаем гостям поверхностное окрашивание, когда нет необходимости осветлять локоны или закрашивать седину, для нас главное&nbsp;&mdash; получить желаемый результат, сохранив качество волос.
      +ul.par 
        +li Перед каждой процедурой делаем диагностику волосяного и&nbsp;кожного покрова головы;
        +li Реализуем техники окрашивания любой сложности;
        +li Работаем на&nbsp;проверенных красителях ведущих брендов;
        +li Создаем неповторимый и&nbsp;гармоничный стиль.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Как часто делать тонировку?</h3>').par
          p Чтобы освежить и&nbsp;сбалансировать тон, поверхностное окрашивание в&nbsp;салоне проводят каждые 4-6&nbsp;недель. Легкие тонирующие составы наносят при каждом 3-4 мытье головы или по&nbsp;мере необходимости.
        +accordionItem('<h3>Во&nbsp;время беременности можно тонировать пряди?</h3>').par
          p Да. Тонирование профессиональной краской допустимо на&nbsp;любом сроке беременности.
        +accordionItem('<h3>Сколько держится тонировка?</h3>').par
          p Цвет после процедуры вымывается постепенно. Нет четкой границы между исходным и&nbsp;тонированным оттенком. Нейтрализующие составы держатся до&nbsp;10&nbsp;дней, тонирующие&nbsp;&mdash; 3-4&nbsp;недели.
        +accordionItem('<h3>Тонирование меняет полностью цвет?</h3>').par
          p Нет. При поверхностном окрашивании цвет волосяного покрова не&nbsp;меняется полностью&nbsp;&mdash; только на&nbsp;1-2 тона становится темнее или светлее.
        +accordionItem('<h3>Допустимо смешивать тонирующие красители?</h3>').par
          p Да. Как и&nbsp;перманентные красители тонеры комбинируют для получения желаемого оттенка.
