extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item
include /blocks/slider/slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Окрашивание волос в&nbsp;один тон в&nbsp;Санкт-Петербурге
    +pageSubsection
      p Окрашивание волос в&nbsp;один тон&nbsp;&mdash; это классическая техника в&nbsp;парикмахерском искусстве, которая позволяет добиться равномерного распределения красителя, закрасить седину, если она есть, подобрать щадящий состав красящей смеси, максимально сохраняющий здоровье волос.
    +pageSubsection
      h2 Особенности и&nbsp;преимущества окрашивания волос тон в&nbsp;тон
      +ul.par 
        +li Максимально простая техника окрашивания, которая позволяет как изменить образ, так и&nbsp;подчеркнуть совершенство собственного стиля.
        +li Возможность выбора абсолютно любого оттенка: русого, рыжего, блонд, шатен, брюнет, орехового, шоколадного.
        +li Окрашивание волос в&nbsp;один тон позволяет добиться естественного блеска, насыщенности и&nbsp;яркости оттенка, придать волосам структуру. Окрашенные волосы легче поддаются укладке и&nbsp;дольше сохраняют чистоту.
        +li Подходит практически всем: на&nbsp;ранее окрашенные и&nbsp;натуральные волосы, с&nbsp;разным процентом седины, женщинам в&nbsp;период беременности и&nbsp;грудного вскармливания, подросткам с&nbsp;14&nbsp;лет или раньше, но&nbsp;при получении разрешения со&nbsp;стороны родителей.
        +li Более короткая длительность процедуры, по&nbsp;сравнению с&nbsp;техниками сложного окрашивания: обычно составляет от&nbsp;полутора до&nbsp;двух часов (в&nbsp;это время включено мытье, укладка и&nbsp;прочие сопутствующие процедуры).
        +li Окрашивание, которое никогда не&nbsp;выходит из&nbsp;моды, всегда приходит на&nbsp;помощь при ошибке выбора нового оттенка, позволяя быстро скорректировать нежелательный результат.
        +li Наиболее щадящее воздействие. Учитывая, что используют меньшее количество красящих компонентов, сокращается длительность процедуры, а&nbsp;во&nbsp;время последующих визитов в&nbsp;салон достаточно окрашивать только корни, то&nbsp;это позволяет максимально позаботиться о&nbsp;здоровье волос.
        +li Быстрый и&nbsp;простой способ решить проблему неопрятного вида волос, которые выгорели на&nbsp;солнце, потеряли былой блеск и&nbsp;равномерность тона. С&nbsp;помощью&nbsp;же окрашивания в&nbsp;один тон удается справиться с&nbsp;нежелательными эффектами, выбрать стандартный оттенок либо&nbsp;же, смешав разные красители, выйти на&nbsp;искомый цвет.
        +li Полное перекрытие седины, даже в&nbsp;случае 100%-ного поседения. 
    
    +pageSubsection
      h2 Особенности подготовки к&nbsp;процедуре и&nbsp;другие нюансы
      p Важно понимать различие с&nbsp;тонированием, поскольку составы и&nbsp;красители для этих типов окрашивания не&nbsp;совпадают. При тонировании краска не&nbsp;настолько сильно проникает в&nbsp;структуру, в&nbsp;результате процедура проходит мягче, но&nbsp;и&nbsp;придает желанный цвет. Но&nbsp;тонировку приходится обновлять чаще, чем окрашивание в&nbsp;один тон (несколько раз в&nbsp;месяц по&nbsp;сравнению с&nbsp;посещением мастера 1&nbsp;раз в&nbsp;месяц соответственно). 
      p При выборе нужного цвета стоит учитывать рекомендации колориста, поскольку далеко не&nbsp;каждый тон сочетается с&nbsp;оттенком глаз и&nbsp;кожи. Потому, чтобы не&nbsp;разочароваться в&nbsp;результате, получив совершенно не&nbsp;то, что вы&nbsp;ожидали, лучше довериться профессионалу. В&nbsp;противном случае придется проводить процедуру заново, а&nbsp;это не&nbsp;добавляет здоровье волосам.
      p Клиенту важно подготовиться к&nbsp;процедуре, а&nbsp;именно помыть голову за&nbsp;24&nbsp;часа до&nbsp;дня окрашивания, а&nbsp;также не&nbsp;наносить стайлинговые средства.
    
    +pageSubsection
      h2 Особенности выбора оттенка под цветотип
      p Каждую даму условно можно отнести к&nbsp;определенному цветотипу, который выражается одним из&nbsp;сезонов года:
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Зима. Идет речь об&nbsp;обладательницах смуглой кожи и&nbsp;карих глаз. Идеальные оттенки волос для этого цветотипа&nbsp;&mdash; блонд или брюнет, но&nbsp;предпочтение отдается холодным пепельным оттенкам.
          +slider({ pagination: true })(class= cellClasses({ xs:12 })).photo-item
            - for (let i = 1; i <= 3; i++)
              +slide.photo-item__slide
                +img({
                  name: `zima-${i}`,
                  path: '/images/uslugi/okrashivanie-volos/v-odin-ton/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' }
                  ],
                }).border-radius.border-radius--big.border.border--blue
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Весна. Так характеризуют обладательниц серых, зеленых, голубых глаз, которые имеют теплый оттенок кожи. В&nbsp;этом случае следующие оттенки предполагает окрашивание волос в&nbsp;один тон: русый, блонд, золотистый. 
          +slider({ pagination: true })(class= cellClasses({ xs:12 })).photo-item
            - for (let i = 1; i <= 3; i++)
              +slide.photo-item__slide
                +img({
                  name: `vesna-${i}`,
                  path: '/images/uslugi/okrashivanie-volos/v-odin-ton/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' }
                  ],
                }).border-radius.border-radius--big.border.border--pink
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Лето. Так характеризуют женщин со&nbsp;светлой кожей, серыми, насыщенными зелеными, карими глазами. Им&nbsp;подходят бронзовые, пепельные оттенки, яркий блонд.
          +slider({ pagination: true })(class= cellClasses({ xs:12 })).photo-item
            - for (let i = 1; i <= 3; i++)
              +slide.photo-item__slide
                +img({
                  name: `leto-${i}`,
                  path: '/images/uslugi/okrashivanie-volos/v-odin-ton/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' }
                  ],
                }).border-radius.border-radius--big.border.border--beige

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Осень. Так говорят о&nbsp;внешности, для которой характерны светло-карие, ярко-голубые, зеленые глаза и&nbsp;светлая кожа, иногда с&nbsp;персиковым отливом. В&nbsp;таком случае подбирают ореховые, медовые, рыжие оттенки волос.
          +slider({ pagination: true })(class= cellClasses({ xs:12 })).photo-item
            - for (let i = 1; i <= 3; i++)
              +slide.photo-item__slide
                +img({
                  name: `osen-${i}`,
                  path: '/images/uslugi/okrashivanie-volos/v-odin-ton/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' }
                  ],
                density: [
                  { values: [ 1, 2 ] }
                ],
                }).border-radius.border-radius--big.border.border--beige-light

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Особенности окрашивания волос в&nbsp;один тон в&nbsp;Hair Care Center
      +cell
        +grid({ tag: 'ul' })
          +iconBlock({ tag: 'li', colorant: true })(class= cellClasses({ m:6 })) Выполняем стойким перманентным или полуперманентным красителем. 
          +iconBlock({ tag: 'li', tint: true })(class= cellClasses({ m:6 })) Подходящий оттенок подбираем, ориентируясь на&nbsp;уровень глубины тона и&nbsp;пожелания клиента.
          +iconBlock({ tag: 'li', hairdye1: true })(class= cellClasses({ m:6 })) Процедуру выполняем аммиачным либо безаммиачным красителем: первый актуален при закрашивании 100%-ной седины, а&nbsp;второй допускается при показателе седины не&nbsp;более 30%.
          +iconBlock({ tag: 'li', hair: true })(class= cellClasses({ m:6 })) Для начала красящую смесь наносим на&nbsp;прикорневую отросшую часть, затем по&nbsp;всей длине, тщательно промазывая и&nbsp;эмульгируя прядь.
          +iconBlock({ tag: 'li', shampoo: true })(class= cellClasses({ m:6 })) Обязательно наносим уходовые средства после окрашивания: шампунь с&nbsp;защитой цвета, бальзам-кондиционер, маску (актуальны увлажняющие, питательные, липидные). 
          +iconBlock({ tag: 'li', essentialOil: true })(class= cellClasses({ m:6 })) Также применяем несмываемые средства: наносим на&nbsp;всю поверхность термозащиту, на&nbsp;длину&nbsp;&mdash; крем для волос, на&nbsp;кончики&nbsp;&mdash; масло. 

    +pageSubsection
      h2 Почему окрашивание волос в&nbsp;один тон в&nbsp;СПб лучше делать в&nbsp;салоне красоты Hair Care Center? 
      +ul.par 
        +li Подбираем красители по&nbsp;уровню глубины тона. 
        +li Придаем волосам ухоженный внешний вид, впечатляющую яркость и&nbsp;блеск шевелюры. 
        +li 100%-ное закрашивание седины, без &laquo;рыжих корней&raquo; и&nbsp;пятен. 
        +li Подбор правильного соотношения оксида.
        +li Наименьшее повреждение структуры волоса.
        +li Правильное нанесение красителя: выполняем окрашивание, следуя четкой методологии, позволяющей получить естественный, ровный и&nbsp;стойкий результат.
        +li Правильное завершение оказания услуги: используем средства стабилизации после окрашивания.
        +li Выполняем правильную сушку под углом: воздействие браша и&nbsp;фена закрывает кутикулы, что позволяет создать превосходный глянцевый блеск.
        +li В&nbsp;подарок клиент получает советы индивидуального ухода.
        +li Оказываем дополнительные услуги: SPA для волос, уходовые процедуры, подбираем домашний уход, в&nbsp;том числе специальные ампулы с&nbsp;более концентрированным составом восстанавливающих компонентов. 

    +pageSubsection
      h2 Какая стоимость процедуры? 
      p Выгодная стоимость окрашивания волос в&nbsp;один тон. Цена доступная, поскольку нет переплат, скрытых платежей. В&nbsp;целом&nbsp;же стоимость зависит от&nbsp;выбранного бренда красителя, опыта мастера, количества использованного красителя и&nbsp;наличия сопутствующих услуг. Полную сумму мастер назовет во&nbsp;время консультации.
