h1
.h1
  fontSize40()
  position relative
  padding-bottom .625rem
  font-weight bold
  text-align center
  &::after
    content ''
    position absolute
    bottom 0
    left 50%
    width 10rem
    height .0625rem
    background-color var(--color-light)
    transform translateX(-50%)
  & + p
  & + .par
  & + .unordered-list
    margin-top .75rem
