.border-radius
  &--big
    border-radius var(--border-radius-big)
  &--small
    border-radius var(--border-radius-small)
  &--round
    border-radius 50%
    box-shadow 0 0 0 1px var(--color-beige-light)
    border 1rem solid var(--color-white)
