.discount-item
  &__wrapper
    display flex
    flex-direction column
    border-radius var(--border-radius-small)
    overflow hidden
  &__body
    display flex
    flex-direction column
    row-gap var(--base-padding)
    flex-grow 1
    padding calc(var(--base-padding)*2)
  &__title
    text-decoration none
  &__link
    margin-top auto
