// breakpoints

point-s = 480px
point-m = 800px
point-l = 1000px
point-xl = 1200px
point-hd = 1600px

// functions
padding-x(n)
  padding-right n
  padding-left n

padding-y(n)
  padding-top n
  padding-bottom n

margin-x(n)
  margin-right n
  margin-left n

margin-y(n)
  margin-top n
  margin-bottom n

// font sizes
fontSize58()
  font-size 3.625rem
  line-height 1
fontSize40()
  font-size 2.5rem
  line-height 1.125
fontSize32()
  font-size 2rem
  line-height 1.125
fontSize24()
  font-size 1.5rem
  line-height 1.25
fontSize20()
  font-size 1.25rem
  line-height 1.375
fontSize18()
  font-size 1.125rem
  line-height 1.5
fontSize16()
  font-size 1rem
  line-height 1.5
fontSize14()
  font-size .875rem
  line-height 1.5
fontSize12()
  font-size .75rem
  line-height 1.5
