:root
  --color-white #ffffff
  --color-black #424242
  --color-grey #b7b7b7
  --color-light #e8e8e8

  --color-beige-h 2
  --color-beige-s 39%
  --color-beige-l 63%
  --color-beige unquote('hsl(var(--color-beige-h), var(--color-beige-s), var(--color-beige-l))')

  --color-beige-light #f9e5dc
  --color-beige-lighter #fef7f7
  --color-red #b91d33

  --color-link var(--color-beige)
  --color-link-hover #a05d5a
  --color-link-active #e8a7a4

  --color-button var(--color-beige)
  --color-button-hover #a05d5a
  --color-button-active #e8a7a4
  --color-button-disabled var(--color-grey)

  --color-text-h3 var(--color-black)

  --rating-color #ffd700

  --transition-duration-in .1s
  --transition-duration-out .4s

  --border-radius-small .375rem
  --border-radius-big calc(var(--border-radius-small) * 2)

  --logo url(../images/svg-sprites/common.svg#logo)
  --logo-small url(../images/svg-sprites/common.svg#logo-small)

  --icon-tel url(../images/svg-sprites/common.svg#tel)
  --icon-clock url(../images/svg-sprites/common.svg#clock)
  --icon-pin url(../images/svg-sprites/common.svg#pin)
  --icon-metro url(../images/svg-sprites/common.svg#metro)
  --icon-whatsapp url(../images/svg-sprites/common.svg#whatsapp)
  --icon-menu url(../images/svg-sprites/common.svg#menu)
  --icon-close url(../images/svg-sprites/common.svg#close)
  --icon-dropdown url(../images/svg-sprites/common.svg#dropdown)
  --icon-vk url(../images/svg-sprites/common.svg#vk)
  --icon-viber url(../images/svg-sprites/common.svg#viber)
  --icon-telegram url(../images/svg-sprites/common.svg#telegram)
  --icon-medreclama url(../images/svg-sprites/common.svg#medreclama)
  --icon-cabinets url(../images/svg-sprites/common.svg#cabinets)
  --icon-celebrities url(../images/svg-sprites/common.svg#celebrities)
  --icon-professionalism url(../images/svg-sprites/common.svg#professionalism)
  --icon-arrow url(../images/svg-sprites/common.svg#arrow)
  --icon-arrow-thin url(../images/svg-sprites/common.svg#arrow-thin)
  --icon-date url(../images/svg-sprites/common.svg#date)
  --brand-item-cadiveu url(../images/svg-sprites/common.svg#brand-item-cadiveu)
  --brand-item-estel url(../images/svg-sprites/common.svg#brand-item-estel)
  --brand-item-loreal url(../images/svg-sprites/common.svg#brand-item-loreal)
  --brand-item-matrix url(../images/svg-sprites/common.svg#brand-item-matrix)
  --brand-item-malecula url(../images/svg-sprites/common.svg#brand-item-malecula)
  --brand-item-schwarzkopf url(../images/svg-sprites/common.svg#brand-item-schwarzkopf)
  --icon-date url(../images/svg-sprites/common.svg#date)
  --icon-individ url(../images/svg-sprites/common.svg#individ)
  --icon-practic url(../images/svg-sprites/common.svg#practic)
  --icon-natural url(../images/svg-sprites/common.svg#natural)
  --arrow-right url(../images/svg-sprites/common.svg#arrow-right)
