@import '../../../node_modules/choices.js/public/assets/styles/choices.min.css'

.form-input
  display block
  & + &
    margin-top var(--base-padding)
  &--checkbox
  &--radio
    display flex
    align-items baseline
    & ^[-1]__field
      order 0
      width auto
    & ^[-1]__label
      order 1
      margin-left calc(var(--base-padding) / 3)
    & + .button
      margin-top var(--base-padding)
  &__field
    width 100%
    padding .5625rem .625rem .625rem
    border 1px solid var(--color-grey)
    font-family 'Montserrat', 'Helvetica-Neue', 'Arial', sans-serif
    textarea&
      fontSize14()
      height calc(9.75rem + 2px)
    @media (min-width point-l)
      fontSize14()
    @media (max-width point-l - 1)
      fontSize18()
  &__label + .form-input__field
    margin-top 0.4rem
  &__select
    min-width 240px
    &[data-type*=select-one] ^[0]__select-inner
      padding 0.6875rem 2rem
    &.is-open 
      &.is-flipped ^[0]__select-inner
        border 1px solid var(--color-button)
      & .choices__list--dropdown 
        border 1px solid var(--color-button)
    & .choices__list--dropdown 
      & ^[0]__select-item
        padding 0.5rem 1rem!important
        font-size 1rem
        line-height 1.5
  &__select-inner
    font-size 1rem
    line-height 1.5
    border 1px solid var(--color-button)
    & .choices__list--single
      padding 0
  &--radio input[type="radio"]
    position relative
    min-height 1rem
    min-width 1rem
    margin-top 0
    padding 0
    border 1px solid var(--color-beige)
