.form-input
  &__field
    color var(--color-black)
    border-radius var(--border-radius-small)
    transition border-color var(--transition-duration-out)
    &:focus
      outline none
      border-color var(--color-black)
      transition-duration var(--transition-duration-in)
    textarea&
      resize none
  &__select
    &.is-focused ^[0]__select-inner
      border-color var(--color-button)
    &.is-open 
      & ^[0]__select-inner
        border-radius var(--border-radius-small) var(--border-radius-small) 0 0
      &.is-flipped ^[0]__select-inner
        border-radius 0 0 var(--border-radius-small) var(--border-radius-small)
      & .choices__list--dropdown 
        z-index 2000
    & .choices__list--dropdown 
      border-radius 0 0 var(--border-radius-small) var(--border-radius-small) 
      & .choices__item--selectable.is-highlighted
        background-color var(--color-beige-lighter)
    & .choices__list--dropdown .choices__item
      white-space normal
      word-break break-word
    &[data-type*=select-one]::after
      border-color var(--color-button) transparent transparent
    &[data-type*=select-one]&.is-open::after
      border-color transparent transparent var(--color-button)
  &__select-inner
    color var(--color-button)
    background-color transparent
    border-radius var(--border-radius-small)
  & .choices__placeholder
    opacity 1
  &--radio input[type="radio"]
    appearance none
    background-color var(--color-white)
    border-radius 100%
    &::before
      content ''
      position absolute
      top 50%
      left 50%
      transform translate(-50%,-50%)
      overflow hidden
    &:checked::before
      border 4px solid transparent
      border-radius 100%
      background var(--color-beige)
