.hair-extention-calculator
  background-color var(--color-beige-lighter)
  border 1px solid var(--color-beige-light)
  padding 1.5rem
  margin-bottom 1rem
  &--rows
    display flex
    padding-left 0.75rem
    padding-right 0.75rem
    flex-wrap wrap
    & ^[-1]__header
      width 100%
      margin-left 0.75rem
      margin-right 0.75rem
    & ^[-1]__item
      padding-left 0.75rem
      padding-right 0.75rem
    & ^[-1]__input
      input
        max-width 6rem
    & ^[-1]__submit
      display flex
      flex-grow 1
      justify-content center
      margin-top 0.75rem
  &__header
    margin-bottom 1.125rem
  &__item
    display flex
    flex-direction column
    align-items flex-start
    margin-bottom 0.9rem
  &__label
    margin-bottom 0.375rem
    font-size 0.875rem
    font-weight bold
  &__submit
    margin-top 1.5rem
    max-width calc(100% - 1.5rem)
  &__input
    display flex
    align-items center
    flex-grow 1
    max-width 100%
    input
      padding 0.2rem
      font-family 'Montserrat', 'Helvetica-Neue', 'Arial', sans-serif
    select
      width 100%
      padding 0.2rem
      overflow-x hidden
      text-overflow ellipsis
      font-family 'Montserrat', 'Helvetica-Neue', 'Arial', sans-serif
  &__output
    display flex
    align-items center
    flex-grow 1
    font-size 1.25rem
    margin-top -0.125rem
  &__description
    margin-left 0.1875rem
