@import 'includes/variables.core'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'

fontFace('Montserrat', 'Montserrat-Medium', '500', 'normal')
fontFace('Montserrat', 'Montserrat-Regular', '400', 'normal')
fontFace('Montserrat', 'Montserrat-SemiBold', '600', 'normal')

html
  font-family 'Montserrat', 'Helvetica-Neue', 'Arial', sans-serif
  font-size 16px

@import '../blocks/container'
@import '../blocks/content'
@import '../blocks/page-section'
@import '../blocks/button/button.core'
@import '../blocks/header/header.core'
@import '../blocks/phone/phone.core'
@import '../blocks/logo/logo.core'
@import '../blocks/form-input/form-input.core'
@import '../blocks/header-search/header-search.core'
@import '../blocks/icon-inline/icon-inline.core'
@import '../blocks/header-navigation/header-navigation.core'
@import '../blocks/layout'
@import '../blocks/home-header/home-header.core'
@import '../blocks/grid'
@import '../blocks/slider/slider.core'
@import '../blocks/advantage-block/advantage-block.core'
@import '../blocks/page-subsection'
@import '../blocks/img'
@import '../blocks/modal/modal.core'
@import "../blocks/header-sites/header-sites.core"
@import '../blocks/banner-malecula/banner-malecula.core'
@import '../blocks/service-navigation'
@import '../blocks/banner-schedule/banner-schedule.core'
@import '../blocks/banner-march/banner-march.core'

.hidden-hd
  @media screen and (min-width point-hd)
    display none !important // @stylint ignore
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none !important // @stylint ignore
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none !important // @stylint ignore
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none !important // @stylint ignore
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none !important // @stylint ignore
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none !important // @stylint ignore
