@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/variables.rest'

html
  color var(--color-black)
  background-color var(--color-white)
  &.no-scroll
    overflow hidden
  scroll-behavior smooth

@import '../blocks/button/button.rest'
@import '../blocks/a/a'
@import '../blocks/phone/phone.rest'
@import '../blocks/logo/logo.rest'
@import '../blocks/icon-inline/icon-inline.rest'
@import '../blocks/form-input/form-input.rest'
@import '../blocks/header-search/header-search.rest'
@import '../blocks/header/header.rest'
@import '../blocks/header-navigation/header-navigation.rest'
@import '../blocks/footer'
@import '../blocks/link-icons'
@import '../blocks/slider/slider.rest'
@import '../blocks/h1'
@import '../blocks/advantage-block/advantage-block.rest'
@import '../blocks/text-align'
@import '../blocks/p'
@import '../blocks/staff-item'
@import '../blocks/link-arrow'
@import '../blocks/block-marked'
@import '../blocks/ul'
@import '../blocks/h3'
@import '../blocks/h2'
@import '../blocks/font-size'
@import '../blocks/figure'
@import '../blocks/text-marked'
@import '../blocks/appear'
@import '../blocks/saturate'
@import '../blocks/block-shifted'
@import '../blocks/home-appointment'
@import '../blocks/works-item'
@import '../blocks/review-item'
@import '../blocks/modal/modal.rest'
@import "../blocks/header-sites/header-sites.rest"
@import '../../node_modules/glightbox/dist/css/glightbox.css'
@import "../blocks/lightbox/lightbox"
@import '../blocks/banner-schedule/banner-schedule.rest'
@import '../blocks/banner-march/banner-march.rest'
