.staff-item
  @media (min-width point-m)
    --more-opacity 0
    --more-transform 1.875rem
    --more-pointer-events none
    --more-transition-duration var(--transition-duration-out)
    --more-scale 0
    position relative
    display flex
    flex-direction column
    align-items flex-start
  @media (max-width point-m - 1)
    display grid
    grid-template-areas 'image title' 'image list' 'image more'
    grid-template-columns 1fr 2fr
    grid-template-rows repeat(2, min-content) auto
    grid-gap .5rem var(--base-padding)
  &:hover
    @media (min-width point-m)
      --more-opacity 1
      --more-transform calc(100% + 1.875rem)
      --more-pointer-events auto
      --more-transition-duration var(--transition-duration-in)
      --more-scale 1
  &::before
    @media (min-width point-m)
      content ''
      position absolute
      top 14.625rem
      bottom 0
      left 0
      width .0625rem
      background-color var(--color-beige)
      transform scaleY(var(--more-scale))
      transform-origin 0 0 0
      transition transform var(--more-transition-duration)
  &::after
    @media (min-width point-m)
      content ''
      position absolute
      bottom 0
      left 0
      z-index 1
      width 100%
      height 3.5rem
      transform translateY(100%)
      pointer-events var(--more-pointer-events)
  &__image
    border-radius var(--border-radius-big)
    @media (min-width point-m)
      order 1
    @media (max-width point-m - 1)
      grid-area image
  &__title
    font-weight bold
    @media (min-width point-m)
      fontSize14()
      order 2
      margin-top 1.25rem
      padding-left .875rem
    @media (max-width point-m - 1)
      fontSize16()
      grid-area title
  &__list
    @media (min-width point-m)
      fontSize14()
      order 3
      margin-top .625rem
      padding-left 1.875rem
    @media (max-width point-m - 1)
      fontSize16()
      grid-area list
      padding-left 1rem
  &__list-item
    list-style disc
    & + &
      margin-top .25rem
    &::marker
      color var(--color-beige)
  .link-arrow&__more
    @media (min-width point-m)
      fontSize14()
      position absolute
      bottom 0
      left .875rem
      z-index 2
      opacity var(--more-opacity)
      transform translateY(var(--more-transform))
      pointer-events var(--more-pointer-events)
      transition-property transform, opacity
      transition-duration var(--more-transition-duration)
    @media (max-width point-m - 1)
      fontSize16()
      grid-area more
      align-self start
      justify-self start
