mixin staffItem(item, settings = {})
  -
    if (settings.onHomePage) {
      onHomeClassName = 'saturate appear'
      delete settings.onHomePage
    }
  .staff-item&attributes(attributes)
    h3(class= onHomeClassName).staff-item__title !{item.title}
    if item.list
      ul.staff-item__list
        each i in item.list
          li(class= onHomeClassName).staff-item__list-item !{i}
    a(href='/').link-arrow.staff-item__more Подробнее
    +img({
      name: item.image,
      path: '/images/',
      formats: [
        { ext: 'jpg', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ],
      density: [
        { values: [ 1, 2 ] }
      ]
    })(alt= item.title title= item.title width=214 height=214 class= onHomeClassName).staff-item__image
