.page-contacts
  --color-text-h3 var(--color-beige)
  &__phone
    display inline-block
    text-decoration none
  &__map
    height 100%
    min-height 20rem
  &__route.block-marked--to-border--right::before
    --before-width calc(100vw + var(--base-padding))
    left calc(var(--base-padding) * -2)
  &__route-time
    font-size 0.9rem
  &__tour .iframe-responsive__iframe
    padding-bottom 60%
