.figure
  :is(p + &, .par + &)
    margin-top 1.25rem
  &--image-radius
    img
      border-radius var(--border-radius-big)
  &--image-round
    img
      border-radius 50%
      box-shadow 0 0 0 1px var(--color-beige-light)
      border 1rem solid var(--color-white)
    & .figure__caption--article
      text-align center
  &__caption
    fontSize14()
    margin-top 1.25rem
    @media (min-width point-l)
      padding-left calc(var(--gap) * 2)
    &--article
      margin-top 0.25rem
      fontSize14()
      @media (min-width point-l)
        padding-left 0
