mixin figure(figure, settings = {})
  figure(class= classes('figure', settings))&attributes(attributes)
    if figure.link 
      a(href= figure.link data-glightbox data-gallery='photos')
        +img(figure.image).figure__image
    else 
      +img(figure.image).figure__image
    if figure.caption
      figcaption.figure__caption !{figure.caption}
    - const imageAlt = figure.image
    if imageAlt
      figcaption.figure__caption.figure__caption--article !{imageAlt.alt}
