.hair-extention-sign-form
  display flex
  flex-direction column
  row-gap 1rem
  &__col
    display flex
    align-items center
    column-gap 1rem
    row-gap 0.5rem
    @media(max-width point-m - 1)
      flex-direction column
  &__input
    input
      padding 0.5rem
      font-family 'Montserrat', 'Helvetica-Neue', 'Arial', sans-serif
  &__success
    display none
