+pageSection({ noContent: true }).home-appointment: +content(class= gridClasses({ justify: 'flex-end', alignItems: 'center' })).home-appointment__inner
  +cell({ l: 6, m: 6, xs: 12 })(class= gridClasses({ justify: 'center' })).home-appointment__info: +cell({ l: 8, xs: 12 })
    h2.home-appointment__title.appear.saturate Запишитесь сейчас
    p.home-appointment__description.appear.saturate online на удобное время
    +button({ tag: 'a' })(href='#').home-appointment__button.appear.saturate Выбрать время и специалиста
