.home-appointment
  --before-translate 0
  position relative
  z-index 2
  isolation isolate
  height 42vh
  min-height fit-content
  overflow-y hidden
  text-align center
  background-color #D9D5DD
  background-image linear-gradient(90deg, #D9D5DD 0%, rgba(217, 213, 221, 0) 100%)
  &::before
    @media (min-width point-l)
      content ''
      position absolute
      top 50%
      left 0
      z-index -2
      width calc(100% / 3 * 2)
      aspect-ratio 1.375/1
      background-color unset
      background-image image-set(url(../images/home-appointment.webp) 1x, url(../images/home-appointment@2x.webp) 2x)
      background-repeat no-repeat
      background-position left center
      background-size contain
      translate 0 calc(-50% + var(--before-translate))
  &__inner
    height 100%
  &__title
    fontSize32()
    margin 0
    padding 0
    color var(--color-beige)
    &::after
      content none
  &__description
    margin-top 1.25rem
    color var(--color-beige)
  &__button
    --color-button var(--color-beige)
    margin-top 1.875rem
