.footer
  padding-top 3.75rem
  padding-bottom 2.625rem
  &--inner-page
    position relative
    overflow hidden
    &::before
      content ''
      position absolute
      top 0
      bottom 0
      left 0
      width 61.0526315789474%
      height 100%
      background-color var(--color-beige-lighter)
      border-radius 0 .5rem 0 0
    &::after
      content ''
      position absolute
      top -8rem
      left 8.8541666666667%
      width 31rem
      height 36rem
      background-color var(--color-white)
      mask-image url(../images/svg-sprites/common.svg#pic3)
      mask-size contain
      rotate -60deg
  &__inner
    display flex
    flex-wrap wrap
    gap var(--gap)
    justify-content space-between
  &__name
    fontSize16()
    position relative
    margin-bottom .625rem
    padding-bottom 1rem
    &::after
      content ''
      position absolute
      bottom 0
      left 0
      width 9rem
      height .0625rem
      background-color var(--color-beige-light)
  &__agreement
    fontSize12()
    --color-link var(--color-grey)
    display flex
    flex-direction column
  &__links
    fontSize16()
    position relative
    display flex
    flex-direction var(--links-direction, row)
    align-items center
    gap var(--links-row-gap, var(--base-padding)) var(--base-padding)
    margin-bottom .625rem
    padding-bottom 1rem
    &::after
      content var(--links-after-content, '')
      position absolute
      bottom 0
      right 0
      width 9rem
      height .0625rem
      background-color var(--color-beige-light)
  &__developer
    position relative
    padding-left 2rem
    text-align center
    @media (min-width point-m)
      margin-left -2rem
    &::before
      content ''
      position absolute
      top -.1875rem
      left 0
      width 1.5rem
      height 1.5rem
      background-image var(--icon-medreclama)
      background-repeat no-repeat
      background-position center
      background-size contain
  &__developer-link
    fontSize12()
    --color-link var(--color-grey)
    display block
  &__developer-name
    fontSize14()
    margin-top .5rem
  &__contacts
    --links-direction column
    --links-row-gap calc(var(--base-padding) / 2)
    --links-after-content none
    display flex
    flex-direction column
    align-items center
    row-gap var(--gap)
