include /blocks/link-icons/link-icons
include /blocks/footer-menu/footer-menu

if isHomePage
  +pageSection({ tag: 'footer', noContent: true }).footer: +content.footer__inner
    .footer__item
      .footer__name © Салон красоты HairCare Center 2006 - 2022
      .footer__agreement
        a(href='/soglasheniya-na-obrabotku-personalnykh-dannykh/') Соглашения на обработку персональных данных
        a(href='#') Правила использования сайта
    .footer__item.footer__developer
      a(href='https://medreclama.ru/' target='_blank').footer__developer-link Реклама косметологии
      .footer__developer-name Агентство «Medreclama»
    .footer__item
      .footer__links Напишите нам:
        +linkIcons(['whatsapp', 'telegram', 'viber', 'vk' ], { inline: true })
      +button({ tag: 'a' })(href='/kontakty/kons/') Задать вопрос в консультацию

else
  +pageSection({ tag: 'footer', noContent: true }).footer.footer--inner-page: +content(class= gridClasses()).footer__inner
    +footerMenu([
      { name: 'Стрижка', href: '/' },
      { name: 'Прическа', href: '/' },
      { name: 'Укладка', href: '/' },
    ])(class= cellClasses({ l: 2, m: 3, xs: 6 }))
    +footerMenu([
      { name: 'Завивка для волос', href: '/' },
      { name: 'Выпрямление волос', href: '/' },
      { name: 'Окрашивание волос', href: '/' },
    ])(class= cellClasses({ l: 3, m: 4, xs: 6 }))
    +footerMenu([
      { name: 'Наращивание волос', href: '/' },
      { name: 'Уход и лечение', href: '/' },
      { name: 'Макияж', href: '/' },
    ])(class= cellClasses({ l: 3, m: 4, xs: 6 }))
    +cell({ l: 4, xs: 12 }).footer__contacts
      +phone({ big: true }) +7 (812) 385-01-51
      .footer__links Напишите нам:
        +linkIcons(['whatsapp', 'telegram', 'viber', 'vk'], { inline: true })
