include /blocks/home-service/home-service

mixin homeServices
  -
    const services = {
      women: {
        title: 'Женская стрижка',
        list: ['Горячими ножницами','Каре','Каскад','Стрижка кончиков','Маллет','Пикси','На короткие волосы'],
        image: 'home-service-women',
        settings: { big: true, women: true },
      },
      men: {
        title: 'Мужская стрижка',
        list: [ 'Модельная','Полубокс','Кроп' ],
        image: 'home-service-men',
        settings: { men: true },
      },
      restoration: {
        title: 'Уход и лечение',
        list: ['Ботокс','Нанопластика'],
        image: 'home-service-restoration',
        settings: { restoration: true },
      },
      extension: {
        title: 'Наращивание волос',
        list: ['Голливудское','Капсульное','Капсуляция','Коррекция','Курсы по наращиванию','Ленточное','Мужское','На короткие волосы','Снятие','Холодное','Цветное'],
        image: 'home-service-extension',
        settings: { extension: true },
      },
      coloring: {
        title: 'Окрашивание',
        list: ['Омбре','Блондирование','Брондирование','Декапирование','Калифорнийское мелирование','Колорирование','Контуринг','Мелирование','Мужское','Airtouch','Балаяж','В один тон','Скрытое','Сложное','Тонирование','Шатуш','Яркое и цветное'],
        image: 'home-service-coloring',
        settings: { coloring: true },
      },
      makeup: {
        title: 'Макияж',
        image: 'home-service-makeup',
        settings: { makeup: true },
      },
      straightening: {
        title: 'Кератиновое выпрямление волос',
        list: ['Бразильское','Челки','Мужское'],
        image: 'home-service-straightening',
        settings: { straightening: true },
      },
      styles: {
        title: 'Прически и косы',
        list: ['Афрокудри','Вечерняя','Детская','Плетение кос','Свадебная'],
        image: 'home-service-styles',
        settings: { styles: true },
      },
      styling: {
        title: 'Укладка',
        image: 'home-service-styling',
        settings: { styling: true },
      },
      curling: {
        title: 'Завивка',
        image: 'home-service-curling',
        settings: { curling: true },
      },
      detskie: {
        title: 'Детская стрижка',
        image: 'home-service-detskie',
        settings: { detskie: true },
      },
    }

  .home-services&attributes(attributes)
    .home-services__item.home-services__item--cite.appear
      blockquote.home-services__quote
        p «Миловидная внешность — это еще не все, но добавьте обаяния, и мир — у ваших ног»
        cite Софи Лорен
    +homeService(services.women).home-services__item.home-services__item--women.appear
    +homeService(services.straightening).home-services__item.home-services__item--straightening.appear
    +homeService(services.restoration).home-services__item.home-services__item--restoration.appear
    +homeService(services.curling).home-services__item.home-services__item--curling.appear
    +homeService(services.extension).home-services__item.home-services__item--extension.appear
    +homeService(services.styling).home-services__item.home-services__item--styling.appear
    +homeService(services.styles).home-services__item.home-services__item--styles.appear
    +homeService(services.coloring).home-services__item.home-services__item--coloring.appear
    +homeService(services.makeup).home-services__item.home-services__item--makeup.appear
    +homeService(services.men).home-services__item.home-services__item--men.appear
    +homeService(services.detskie).home-services__item.home-services__item--detskie.appear
