.home-services
  display grid
  grid-gap var(--gap)
  @media (min-width point-l)
    grid-template-areas 'cite . . .' 'cite women women women' 'straightening women women women' 'straightening restoration restoration curling' 'extension extension extension curling' 'extension extension extension styling' 'styles coloring coloring coloring' 'makeup coloring coloring coloring' 'makeup men men detskie' '. . . detskie'
    grid-template-columns 8fr 7fr 2fr 7fr 
    grid-auto-rows min-content
    grid-template-rows 100px 280px 80px 305px 56px 276px 302px 60px 239px 35px
  @media (max-width point-l - 1) and (min-width point-m)
    grid-template-areas 'cite women women' 'straightening women women' 'straightening restoration curling' 'extension extension curling' 'extension extension styling' 'styles coloring coloring' 'makeup coloring coloring' 'makeup men detskie'
    grid-template-columns repeat(3, 1fr)
    grid-auto-rows 1fr
  @media (max-width point-m - 1)
    grid-template-areas 'cite' 'women' 'straightening' 'restoration' 'curling' 'extension' 'styling' 'styles' 'coloring' 'makeup' 'men' 'detskie'
    grid-auto-rows minmax(10rem, auto)
  &__item
    position relative
    z-index 1
    &--cite
      grid-area cite
    &--women
      grid-area women
    &--men
      grid-area men
    &--restoration
      grid-area restoration
    &--extension
      .home-service__list
        display grid
        grid-template-columns repeat(2, 1fr)
        column-gap 30px
      grid-area extension
      @media (max-width point-m - 1)
        .home-service__list
          display block
    &--coloring
      .home-service__list
        display grid
        grid-template-columns repeat(2, 1fr)
        column-gap 30px
      grid-area coloring
      @media (max-width point-m - 1)
        .home-service__list
          display block
    &--makeup
      grid-area makeup
      @media (min-width point-l)
        align-self start
        height 23rem
    &--straightening
      grid-area straightening
      @media (min-width point-l)
        align-self start
        height 26rem
    &--styles
      grid-area styles
    &--styling
      grid-area styling
    &--curling
      grid-area curling
    &--detskie
      grid-area detskie
  &__quote
    display flex
    flex-direction column
    justify-content center
    height 100%
    padding 3rem 4rem
    text-align center
    background-image url(../images/svg-sprites/common.svg#home-services__quote)
    background-repeat no-repeat
    background-position center
    p
      fontSize20()
    cite
      fontSize20()
      position relative
      margin-top 1rem
      padding-top 1rem
      &::before
        content ''
        position absolute
        top 0
        left -45%
        width 80%
        height .0625rem
        background-color var(--color-beige)
