extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Афрокудри
    +grid.page-subsection
      +cell({ m:6 })
        p Популярность вьющихся причесок с&nbsp;каждым годом растет. Африканские кудри придают локонам выразительную волнистость, делают образ ярким и&nbsp;выразительным. Укладка подходит практически всем, поскольку за&nbsp;счет объема корректирует черты лица. При этом не&nbsp;обязательно носить только распущенные волосы&nbsp;— завивка Афро притягивает взгляды окружающих даже в&nbsp;собранном виде. Девушкам с&nbsp;тугими завитками доступны вариации кудрявых причесок, о&nbsp;которых обладательницы прямых волос только мечтают. Афрокудри делают любой длины&nbsp;– они гармонируют с&nbsp;волосами разной текстуры и&nbsp;оттенка.
      +figure({
        image: {
          name: 'afrokudri-1',
          path: '/images/uslugi/pricheska/afrokudri/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Африканские кудри',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Что такое африканские кудри
      +grid.par
        +figure({
          image: {
            name: 'afrokudri-2',
            path: '/images/uslugi/pricheska/afrokudri/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Виды кудрей',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          p В&nbsp;мире натуральных волос афрокудри&nbsp;– уникальное явление, приковывающее внимание и&nbsp;излучающее индивидуальность. Эти локоны характеризуются плотной, спиральной структурой, часто образующей замысловатые узоры.
        +cell({ m:6 })
          +ul.par
            +li Классические&nbsp;— тугие острые завитушки, формирующие воздушное облако вокруг головы.
            +li Афролоконы крупнее по&nbsp;сравнению с&nbsp;классическими и&nbsp;не&nbsp;такие плотные. Создают дополнительный объем и&nbsp;придают шевелюре натуральность.
            +li Мелкие гофрированные создаются при помощи специальной гофрированной плойки или методом плетения тонких косичек. После расплетания локоны приобретают вид натуральных динамичных волн.
            +li Дредокудри соединяют афро кудри, дреды и&nbsp;наращивание, создавая редкое сочетание текстур и&nbsp;форм.
        +figure({
          image: {
            name: 'afrokudri-3',
            path: '/images/uslugi/pricheska/afrokudri/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Классические афрокудри',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

        +figure({
          image: {
            name: 'afrokudri-4',
            path: '/images/uslugi/pricheska/afrokudri/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Мелкие гофрированные кудри',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +figure({
          image: {
            name: 'afrokudri-5',
            path: '/images/uslugi/pricheska/afrokudri/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Дредокудри',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Варианты создания афрокудрей
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Плетение косичек
            p Прежде, чем заплести афро кудри, волосы делят на&nbsp;8-10 секций&nbsp;(в&nbsp;зависимости от&nbsp;густоты шевелюры). Желательно, чтобы волосы были влажными. Каждая выделенная секция заплетается во&nbsp;французскую косу. Заплетенные косы увлажняются, также на&nbsp;них наносится средство для укладки, и&nbsp;оставляются до&nbsp;высыхания. В&nbsp;результате получаются естественные и&nbsp;мягкие завитки. Чем тоньше косички, тем мельче и&nbsp;плотнее образуются кудряшки.
          +figure({
            image: {
              name: 'afrokudri-6',
              path: '/images/uslugi/pricheska/afrokudri/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Плетение косичек',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 На&nbsp;плойку
            p Афрозавивку на&nbsp;плойку выполняют в&nbsp;нашем салоне чаще для получения спиральных кудряшек. Пряди накручиваются на&nbsp;горячую плойку, укладывая вплотную ряды локонов, чтобы получить упругую спираль, которая стойко держится продолжительное время. Экспериментируя с&nbsp;диаметром плойки добиваются разной степени кручения. Чаще для завивки мелких локонов используется плойка диаметром 10-13&nbsp;мм. Чем тоньше стержень, тем туже и&nbsp;плотнее завитки.
            p Завивка на&nbsp;тонкую плойку требует набитой руки мастера, знающего технику, а&nbsp;еще профессиональных средств, которые не&nbsp;доступны к&nbsp;покупке в&nbsp;масмаркете.
          +figure({
            image: {
              name: 'afrokudri-7',
              path: '/images/uslugi/pricheska/afrokudri/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Варианты завивки и кудрей на плойку',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 На бигуди
            p Влажные волосы накручиваются на&nbsp;мелкие бигуди и&nbsp;оставляются до&nbsp;высыхания. Размер бигуди влияет на&nbsp;конечный результат&nbsp;— получают локоны от&nbsp;нежных волн до&nbsp;мелких кудряшек.
          +figure({
            image: {
              name: 'afrokudri-8',
              path: '/images/uslugi/pricheska/afrokudri/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Создание афрокудрей с помощью бигуди',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Наращенные афрокудри
            p Для наращивания афролоконов используются трессы из&nbsp;натуральных или синтетических прядей, которые крепятся к&nbsp;волосам клиента. Наращенные афрокудри создают эффект густоты и&nbsp;длины. Доступна разная степень кручения и&nbsp;плотности донорских локонов.
          +figure({
            image: {
              name: 'afrokudri-9',
              path: '/images/uslugi/pricheska/afrokudri/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Наращенные афрокудри',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Уход за&nbsp;афрокудрями
      p Так как это временная укладка, для которой не&nbsp;используются химические составы, за&nbsp;волосами не&nbsp;требуется особенный уход. Противопоказано расчесывание локонов расческой, чтобы не&nbsp;получить эффект пуха. Расправлять и&nbsp;укладывать волосы лучше руками. Здоровые и&nbsp;увлажненные локоны без следов расслоения не&nbsp;склонны к&nbsp;запутыванию. Во&nbsp;избежание спутывания, рекомендовано не&nbsp;носить кудри дольше 3&nbsp;дней.

    +pageSubsection
      h2 Варианты причесок с&nbsp;афрокудрями
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Текстурированный низкий хвост
            p Прическа кардинально меняет внешний вид. Создается средний пробор, на&nbsp;зубцы расчески наносится разглаживающая сыворотки и&nbsp;приглаживаются пряди на&nbsp;макушке. Чтобы завершить прическу, локоны собираются в&nbsp;низкий хвост. С&nbsp;такой укладкой гармонично смотрятся квадратные и&nbsp;круглые лица.
          +figure({
            image: {
              name: 'afrokudri-10',
              path: '/images/uslugi/pricheska/afrokudri/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Текстурированный низкий хвост',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Афрокудри с&nbsp;шарфом
            p Этот повседневный образ для женщин, которые готовятся провести день на&nbsp;свежем воздухе, пикнике или дружеской вечеринке. Понадобится легкий шарф, который оборачивают вокруг головы. Узел делают у&nbsp;основания, завитки фиксируют вверх.
          +figure({
            image: {
              name: 'afrokudri-11',
              path: '/images/uslugi/pricheska/afrokudri/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Афрокудри с шарфом',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Текстурированный верхний узел
            p Это аккуратная и&nbsp;элегантная прическа, удлиняющая шею. Соберите афролоконы высоко на&nbsp;макушке, оставив прядки, обрамляющие лицо. Завяжите хвост, скрутите в&nbsp;пучок, затем оберните вокруг себя и&nbsp;закрепите.
          +figure({
            image: {
              name: 'afrokudri-12',
              path: '/images/uslugi/pricheska/afrokudri/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Текстурированный верхний узел',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Этапы афрозавивки
      +grid.par
        +cell({ m:6 })
          p Мастера Hair Care Center предлагают клиентам афрозавивку на&nbsp;плойку.
          +ul.par
            +li Консультируем и&nbsp;тестируем состояние волос. Пред выбором объясняем, что длина локонов после завивки станет на&nbsp;10-15&nbsp;см короче. Когда клиент определится, выясняем не&nbsp;требуется&nbsp;ли для новой прически укоротить волосы. После удаления секущихся кончиков прическа смотрится аккуратнее.
            +li Моем голову и&nbsp;сушим волосы.
            +li Наносим и&nbsp;распределяем по&nbsp;прядям термозащитное и&nbsp;стайлинговое средство.
            +li Отделяем тонкие прядки и&nbsp;скручиваем слабым жгутиком, а&nbsp;затем накручиваем на плойку;
            +li Действия повторяем с&nbsp;каждой прядкой, пока не&nbsp;обработаем все полотно.
            +li Каждый локон руками делим на&nbsp;несколько частей, чтобы придать пышность прическе.
            +li Полученные локоны фиксируем лаком.
            p В&nbsp;среднем процедура занимает 1,5&nbsp;часа.
        +figure({
          image: {
            name: 'afrokudri-13',
            path: '/images/uslugi/pricheska/afrokudri/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Афрозавивка на плойку',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Сколько держатся афролоконы?</h3>').par
            p На продолжительность укладки влияет длина и структура волос. Меньше спиралевидные завитки держатся на тяжелых и длинных локонах. Кудри после завивки на плойку держатся 2-3 дня.
          +accordionItem('<h3>Как делают короткие афрокудри?</h3>').par
            p Афро кудри на короткие волосы из разряда для смелых. Делают вертикальным способом, формирующим спиралевидные завитки. Короткие волосы на затылке не трогают. При горизонтальном накручивании получается причёска с эффектом одуванчика.
          +accordionItem('<h3>Как делают афролоконы на волосы средней длины?</h3>').par
            p Африканские кудри на средние волосы делают любым методом. При каскадной стрижке рекомендуется спиральный метод, благодаря которому шевелюра приобретает отчетливую структуру и объём.
          +accordionItem('<h3>Сколько времени занимает процедура плетения?</h3>').par
            p 2.5-7 часов.
          +accordionItem('<h3>Могут ли афрокудри вызвать аллергические реакции?</h3>').par
            p Нет, для афрозавивки в нашем салоне для фиксации используются профессиональные безопасные средства. Допустима персональная непереносимость компонента мусса, термозащиты или лака.
