extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Детские
    +grid.page-subsection
      +figure({
        image: {
          name: 'detskie-1',
          path: '/images/uslugi/pricheska/detskie/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Повседневные несложные детские прически',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Выбор прически ребенку&nbsp;— животрепещущая тема для родителей. Это не&nbsp;просто укладка волос, это часть индивидуальности, которая показывает непосредственность и&nbsp;характер. Детские прически требуют творческой жилки, аккуратности и&nbsp;персонального подхода. Они должны соответствовать возрасту, быть функциональными и&nbsp;крепкими. Главное в&nbsp;детском образе&nbsp;— комфорт и&nbsp;простота ухода при сохранении нотки игривости.

    +pageSubsection
      h2 Виды вечерних причесок
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          h3 Повседневные прически
          p Практичность играет первостепенную роль в&nbsp;повседневном образе. В&nbsp;то время как взрослые тратят уйму времени на&nbsp;уход и&nbsp;укладку, родители предпочитают стрижки и&nbsp;прически, с&nbsp;которыми легко справиться и&nbsp;которые не&nbsp;требуют сложного ухода. Поэтому укладка детских волос предпочтительно не&nbsp;сложная, чтобы свести к минимуму риск запутывания во&nbsp;время игр и&nbsp;активных занятий.
          h3 Праздничные прически
          p В&nbsp;жизни ребенка много поводов для праздничного образа&nbsp;— выпускные, новый год, день рождения и&nbsp;т.д. Праздничная прическа&nbsp;— неотъемлемая часть подготовки к&nbsp;мероприятию, задающая праздничный тон. На&nbsp;праздниках создаются воспоминания, которые остаются в&nbsp;памяти ребят и&nbsp;на фото. Приятно смотреть на&nbsp;аккуратно уложенные детские головки. Не&nbsp;стоит гнаться за&nbsp;сложностью, задача укладки&nbsp;— обеспечить удобство и&nbsp;надежность. Дети полны энергии, поэтому прическе предстоит выдержать игры, танцы и&nbsp;другие развлечения.
        +figure({
          image: {
            name: 'detskie-2',
            path: '/images/uslugi/pricheska/detskie/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Праздничная прическа у девочки',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Прически для девочек
      p Девочки стремятся быть модными не&nbsp;меньше мам, поэтому стилисты придумали много причесок для девочек, которые оставят в&nbsp;восторге даже привередливых модниц.
      +grid({ smallGap: 'y' }).par
        +figure({
          image: {
            name: 'detskie-3',
            path: '/images/uslugi/pricheska/detskie/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Необычный вариант детских косичек',
          },
        })(class= cellClasses({ m:6 })).figure--image-radius
        +cell({ m:6 })
          h3 Длинные волосы
          h4 Плетение кос
          p Детские косички&nbsp;— это мило и&nbsp;изысканно! Плетеные прически универсальны, сочетаются с&nbsp;волосами любой длины и&nbsp;текстуры. Косы могут быть элегантными для торжественных случаев, а&nbsp;могут быть намеренно небрежными для непринужденного образа.
          h4 Рыбий хвост
          p Это стильная коса, которая напоминает рыбий скелет, еще называется «елочка». Подходит для повседневной носки и&nbsp;выхода в&nbsp;свет. Одна или две косы, тугая или объемная&nbsp;— у&nbsp;мастеров в&nbsp;запасе много вариантов плетения рыбьего хвоста.

        +cell({ m:6 })
          h4 Голландская коса
          p Это аналог французского плетения, только наоборот&nbsp;– нарядный вариант косы, который также подойдет для повседневного лаконичного образа.
        +figure({
          image: {
            name: 'detskie-4',
            path: '/images/uslugi/pricheska/detskie/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Голландская коса',
          },
        })(class= cellClasses({ m:6 })).figure--image-radius

    +pageSubsection
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Прически с&nbsp;элементом плетения
            h4 Пучок
            p Это универсальная элегантная прическа, которая в&nbsp;любой ситуации выглядит гармонично. Повседневный пучок плетется надежно, а&nbsp;вечерний сочетает легкую небрежность с&nbsp;аккуратностью. Декоративные заколки, шпильки, паутинки&nbsp;— ключ к&nbsp;разнообразию прически Пучок.
            h4 Два пучка
            p Эту прическу стоит попробовать каждой девочке, так она выглядит мило, добавляет в&nbsp;образ озорную нотку.

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Распущенные волосы
            h4 Свободные волны
            p Побалуйте малышку распущенными локонами и&nbsp;эффектной повязкой с&nbsp;цветочным узором, чтобы создать неповторимый образ. Эта простая прическа идеально подходит для дня рождения и&nbsp;на&nbsp;выпускной в&nbsp;детский сад.
          +figure({
            image: {
              name: 'detskie-5',
              path: '/images/uslugi/pricheska/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Кудри с повязкой',
            },
          })(class= cellClasses({ xs:12})).figure--image-radius

    +pageSubsection
      h3 Короткие и средние волосы
      +grid({ smallGap: 'y' }).par
        +figure({
          image: {
            name: 'detskie-6',
            path: '/images/uslugi/pricheska/detskie/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Детский боб',
          },
        })(class= cellClasses({ m:6 })).figure--image-radius
        +cell({ m:6 })
          p Боб&nbsp;— классическая универсальная стрижка, которая подходит женщинам и&nbsp;маленьким девочкам. Длина доходит до&nbsp;уровня челюсти, предлагает большую универсальность в&nbsp;стиле, включая добавление прерывистых слоев и&nbsp;челки. Хороший выбор для девушек, желающих сохранить свежий стиль. Боб дополняют бантами или цветными повязками на&nbsp;голову, чтобы добавить образу игривости.

    +pageSubsection
      h3 Стильные и&nbsp;креативные укладки
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Яркий хвост
            p Позвольте ребенку весело провести время и&nbsp;поэкспериментировать с&nbsp;помощью временной краски. Цвет позволяет легко создать креативный образ, выделяющий из&nbsp;толпы. Привлекательность окрашенных волос заключается в&nbsp;их универсальности. Когда дело доходит до&nbsp;укладки, можно оставить волосы поднятыми или опущенными, но&nbsp;яркий хвост станет простым и&nbsp;оригинальным решением.
          +figure({
            image: {
              name: 'detskie-7',
              path: '/images/uslugi/pricheska/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Яркий хвост',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Шторная челка
            p Челка&nbsp;— универсальное дополнение к&nbsp;любой прическе для девочки. Челка-шторка переживает подъем популярности. Получила такое название потому, что обрамляет лицо с&nbsp;двух сторон, как занавески на&nbsp;окне. Челка-шторка подходит для волос разной текстуры и&nbsp;может быть длинной или короткой. Это подходящий способ позволить дочери изменить внешность без кардинальных перемен.
          +figure({
            image: {
              name: 'detskie-8',
              path: '/images/uslugi/pricheska/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Шторная челка',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Прически для мальчиков
      p Прически для мальчиков становятся разнообразными и&nbsp;персонализированными, отражая модные тенденции и&nbsp;предпочтения ребенка.
      h3 Классические стрижки
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Ежик
            p Стрижка  подходит активным мальчишкам до&nbsp;семи лет и&nbsp;подросткам с&nbsp;вытянутой или овальной формой лица. Не&nbsp;требует сложного ухода или укладки. Выглядит опрятно даже после футбольного матча.
          +figure({
            image: {
              name: 'detskie-9',
              path: '/images/uslugi/pricheska/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка ежик',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Полубокс
            p Стильная спортивная стрижка полубокс подходит большинству будущих мужчин и&nbsp;позволяет экспериментировать с&nbsp;укладками.
          +figure({
            image: {
              name: 'detskie-10',
              path: '/images/uslugi/pricheska/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Полубокс',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h3 Модные стрижки
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Кроп и&nbsp;Цезарь
            p Стрижки не&nbsp;сильно отличаются друг от&nbsp;друга. Кроп&nbsp;— это короткая челка, а&nbsp;цезарь&nbsp;— это плюс текстура на&nbsp;макушке. Художественное выбривание делают по&nbsp;желанию.
          +figure({
            image: {
              name: 'detskie-11',
              path: '/images/uslugi/pricheska/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка кроп',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Квифф
            p Quiff переводится с&nbsp;английского как «челка» или «хохолок». Эта деталь универсальна и&nbsp;адаптируется к&nbsp;разной длине и&nbsp;стилю. От&nbsp;длинных непослушных причесок до&nbsp;коротких аккуратных&nbsp;— для каждой личности найдется вариант. Волосы укладываю в&nbsp;неформальном стиле или элегантно зачесывают для особых случаев.
          +figure({
            image: {
              name: 'detskie-12',
              path: '/images/uslugi/pricheska/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Квифф',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Афропрически для детей
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          p Прически с&nbsp;африканским плетением популярны в&nbsp;мире детских укладок. Косы и&nbsp;плетения сохраняют волосы аккуратными и&nbsp;опрятными, а&nbsp;дизайн открывает безграничный творческий потенциал и&nbsp;индивидуальность. Это отличный вариант для поездки на&nbsp;море или в&nbsp;летний лагерь.
        +figure({
          image: {
            name: 'detskie-13',
            path: '/images/uslugi/pricheska/detskie/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Афроприческа',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Косички с&nbsp;яркими бусинами&nbsp;— популярная и&nbsp;выразительная прическа для детей. Добавление разноцветных бусин или резинок придаст веселый и&nbsp;игривый вид.
          +figure({
            image: {
              name: 'detskie-14',
              path: '/images/uslugi/pricheska/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Косички с бусинами',
            },
          })(class= cellClasses({ xs:12})).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Косички зизи вплетают девочкам старше 5&nbsp;лет. Косички с&nbsp;цветными нитками легкие, с&nbsp;ними доступно много интересных причесок.
          +figure({
            image: {
              name: 'detskie-15',
              path: '/images/uslugi/pricheska/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Косички зизи',
            },
          })(class= cellClasses({ xs:12})).figure--image-radius

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Как выбрать безопасные резинки и заколки для детских волос?</h3>').par
            p При выборе резинок избегайте иделия с&nbsp;металлическим креплением, тугие или с&nbsp;бусинками, за&nbsp;которые будут цепляться волосы. Для детей предпочтительны пластмассовые заколки с&nbsp;гладкой поверхностью.
          +accordionItem('<h3>Делают сложные укладки на тонкие волосы?</h3>').par
            p Желательно избегать сложных громоздких укладок, так как детские тонкие мягкие волосы должны окрепнуть и&nbsp;набраться сил.
          +accordionItem('<h3>Какие средства использовать для укладки детских волос?</h3>').par
            p Сегодня на&nbsp;рынке представлено много детской косметики, разработанной для детских волос, включая для стайлинга.
          +accordionItem('<h3>Как подготовить ребенка к первому походу в салон?</h3>').par
            p Подбирайте время, когда ребенок сыт и&nbsp;не&nbsp;хочет спать. Познакомьте малыша предварительно с&nbsp;ножницами, феном, возьмите любимую игрушку, создавайте положительный настрой.
