extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Свадебная
    +grid.page-subsection
      +cell({ m:6 })
        p Каждая девушка мечтает быть самой красивой и&nbsp;безупречной на&nbsp;своей свадьбе. Свадебная прическа&nbsp;– важная составляющая образа невесты после платья. Праздничная укладка подчеркивает естественную красоту и&nbsp;свежесть новобрачной.
      +figure({
        image: {
          name: 'svadebnaja-1',
          path: '/images/uslugi/pricheska/svadebnaja/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Варианты свадебных причесок',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Виды свадебных причесок
      h3 Классические
      p Это элегантные прически на&nbsp;свадьбу, которые подчеркивают изысканность свадебного образа.
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Косы
            p Косы добавляют нотки игривости и&nbsp;очарования традиционной прическе, придают классической элегантности легкий намек на&nbsp;богемный дух. Коса «корона» красиво плетется вокруг головы, но&nbsp;коса «водопад» дает каскадный эффект и&nbsp;идеально подходит для длинных струящихся локонов, требующих больше текстуры и&nbsp;акцентов. Оба варианта подходят для девушек, которые ищут комбинацию традиций и&nbsp;волшебства.
          +figure({
            image: {
              name: 'svadebnaja-2',
              path: '/images/uslugi/pricheska/svadebnaja/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Косы в свадебной прическе',
            },
          })(class= cellClasses({ xs:12})).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Локоны
            p Мягкие локоны гармонируют с&nbsp;любой свадебной тематикой. Добавление мягких завитков придает прическе объем и&nbsp;движение, необходимые для формирования шелковистого контура, идеально подходящего для естественного стиля. Эта свадебная прическа делается как на&nbsp;длинные, так и&nbsp;короткие волосы.
          +figure({
            image: {
              name: 'svadebnaja-3',
              path: '/images/uslugi/pricheska/svadebnaja/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Локоны с цветами и косой',
            },
          })(class= cellClasses({ xs:12})).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Пучок
            p Со&nbsp;свадебным пучком можно не&nbsp;беспокоиться о&nbsp;погоде в&nbsp;этот день, так как волосы останутся в&nbsp;порядке, даже если подует сильный ветер. Если невеста предпочитает традиционные аксессуары, то&nbsp;идеальный выбор&nbsp;– пучок с&nbsp;фатой. Гармонирует с&nbsp;нежным платьем и&nbsp;укладка в&nbsp;виде ракушки, которую оживляют белые или пастельных тонов цветы. Также подойдут декоративные шпильки или гребень.
          +figure({
            image: {
              name: 'svadebnaja-4',
              path: '/images/uslugi/pricheska/svadebnaja/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Свадебный пучок',
            },
          })(class= cellClasses({ xs:12})).figure--image-radius

    +pageSubsection
      h3 Современные тренды
      p Невесты сейчас предпочитают выглядеть максимально натурально, поэтому наступает еще один сезон «естественной невесты». Достигают этого эффекта, не&nbsp;концентрируясь на&nbsp;совершенстве стиля.
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Высокий пучок
            p Это естественная красота и&nbsp;легкая небрежность. Добавить свободных прядей вокруг головы и&nbsp;прическа станет невесомой. Небольшой валик придаст дополнительный объем.
          +figure({
            image: {
              name: 'svadebnaja-5',
              path: '/images/uslugi/pricheska/svadebnaja/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Высокий пучок',
            },
          })(class= cellClasses({ xs:12})).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Конские хвосты
            p Это горячий тренд среди невест и&nbsp;среди подружек невесты. И&nbsp;это понятно, учитывая непринужденный, но&nbsp;продуманный характер прически. Высокий хвост&nbsp;— тот тип укладки, который подойдет любому стилю одежды.
          +figure({
            image: {
              name: 'svadebnaja-6',
              path: '/images/uslugi/pricheska/svadebnaja/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Конский хвост как свадебная прическа',
            },
          })(class= cellClasses({ xs:12})).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Волны в&nbsp;стиле Бохо
            p Гламурные волны всегда актуальны. Этот свадебный сезон продемонстрировал возвращение расслабленной и&nbsp;менее структурированной свадебной волны в&nbsp;стиле Бохо. Завершают образ любимым аксессуаром в&nbsp;том&nbsp;же стиле.
          +figure({
            image: {
              name: 'svadebnaja-7',
              path: '/images/uslugi/pricheska/svadebnaja/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Волны в стиле бохо',
            },
          })(class= cellClasses({ xs:12})).figure--image-radius

    +pageSubsection
      h3 Прически для коротких волос
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          p Как сделать свадебную прическу на&nbsp;короткие волосы&nbsp;— отдельная обширная тема. Прекрасно будут смотреться крупные локоны, обрамляющие лицо. Можно сделать гладкую укладку в&nbsp;стиле 20-х&nbsp;годов двадцатого века. Если длина челки позволяет, с&nbsp;нее начинают плетение, создавая эффектный образ.
          p Короткие волосы отлично подходят для использования при укладке разнообразного декора. Прекрасно смотрятся короткие свадебные прически с&nbsp;тиарой, с&nbsp;лентами, расшитыми жемчугом и&nbsp;стразами, с&nbsp;ободками и&nbsp;фатой.
        +figure({
          image: {
            name: 'svadebnaja-8',
            path: '/images/uslugi/pricheska/svadebnaja/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Свадебная прическа для коротких волос',
          },
        })(class= cellClasses({ m:6 })).figure--image-radius

    +pageSubsection
      h2 Подготовка к&nbsp;свадебной прическе
      +grid({ smallGap: 'y' }).par
        +figure({
          image: {
            name: 'svadebnaja-9',
            path: '/images/uslugi/pricheska/svadebnaja/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Стилист поможет создать завершенный образ',
          },
        })(class= cellClasses({ m:6 })).figure--image-radius
        +cell({ m:6 })
          h3 Услуги свадебного стилиста
          p Важный шаг в&nbsp;создании безупречного образа невесты&nbsp;— найти опытного стилиста, который поможет выбрать макияж и&nbsp;прическу на свадьбу. Обсудите с&nbsp;мастером нюансы свадебного образа, чтобы в&nbsp;торжественный день все прошло по&nbsp;запланированному сценарию. Стилисту рассказывают про концепцию торжества, стиль платья, какие аксессуары будут использоваться, чтобы укладка гармонировала с&nbsp;нарядом и&nbsp;макияжем.
        +cell
          h3 Уход за&nbsp;волосами перед свадьбой
          p О состоянии волос заботятся заблаговременно. Проходят ухаживающие и&nbsp;оздоравливающие салонные процедуры. При необходимости подкрашивают корни и&nbsp;освежают краску. Если в&nbsp;день свадьбы невеста решила поразить новым образом, поэкспериментировать с&nbsp;цветом волос лучше заранее. Оттенок должен выигрышно оттенять свежесть невесты, но&nbsp;не&nbsp;наоборот. Имея в&nbsp;запасе время, легче исправить неудачный эксперимент без вреда для локонов.
        +cell
          h3 Выбор укладки по&nbsp;типу лица
          p Форма лица учитывается в&nbsp;первую очередь при выборе любой прически. Например, круглолицым девушкам высокий пучок удлинит лицо, подчеркнет четкие контуры нижней челюсти. Если у&nbsp;невесты лицо в&nbsp;форме сердца, косая челка и&nbsp;длинные локоны смягчат угловатость. Свадебный стилист определит, какие стили подойдут к&nbsp;конкретной типажу.
        +cell
          h3 Пробная укладка
          p Пробная свадебная укладка и&nbsp;макияж дают представление о&nbsp;том, как будет выглядеть невеста во&nbsp;время и&nbsp;после того, как скажет&nbsp;«Да». Правильное планирование образа защищает от&nbsp;стресса в&nbsp;день свадьбы, предоставляя время для коррекции образа, прежде чем идти к&nbsp;алтарю.

    +pageSubsection
      h2 Рекомендации по&nbsp;выбору прически
      h3 По&nbsp;стилю свадебного платья
      p У&nbsp;платья два вида силуэта&nbsp;— горизонтальный и вертикальный, которые учитывают при выборе прически.
      +ul.par
        +li Горизонтальный&nbsp;– это многослойные пышные платья, которые также требуют пышных причесок&nbsp;— начесы, послойные укладки.
        +li Вертикальный предполагает прилегающий силуэт, платья-годе. С&nbsp;такими фасонами гармонично смотрятся распущенные локоны, ниспадающие (можно волнистые) пряди и&nbsp;т.д.
      h3 По времени года
      p Живые цветы в волосах в снежную зиму — лучше избегать подобных экспериментов. Зимой предпочтительны собранные на голове высокие прически, которые не будут касаться верхней одежды. Плетеные прически отлично подходят будущим невестам летом. Косы – это очаровательно, шикарно и изысканно. Можно выбрать забранные волосы частично вверх или вниз, придать классический вид или водопад, создать элегантный вариант французской косы или даже изысканный образ с коробчатыми косами. Летом востребованы живые цветы, аксессуары в виде бабочек, декорированные шпильки, ленточки и т.д.
      +grid({ smallGap: 'y' }).par
        +figure({
          image: {
            name: 'svadebnaja-10',
            path: '/images/uslugi/pricheska/svadebnaja/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Живые цветы в прически добавляют образу нежности',
          },
        })(class= cellClasses({ m:6 })).figure--image-radius
        +figure({
          image: {
            name: 'svadebnaja-11',
            path: '/images/uslugi/pricheska/svadebnaja/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Бабочки в свадебной прическе',
          },
        })(class= cellClasses({ m:6 })).figure--image-radius


    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Сколько времени занимает укладка на свадьбу?</h3>').par
            p В&nbsp;среднем 4-6&nbsp;часов. Это кажется, что много, но&nbsp;выделенное время заранее поможет пережить праздничный день без стресса.
          +accordionItem('<h3>Как подготовиться к репетиции укладки?</h3>').par
            p Имея пару фотографий, стилисту легче понять образ, которого добивается невеста, и&nbsp;дать рекомендации, исходя из&nbsp;длины и&nbsp;густоты ее&nbsp;шевелюры, перед испытанием. Заранее обсудите созревшие идеи, чтобы мастер подготовился к&nbsp;встрече должным образом. Это не&nbsp;означает, что пора точно определиться с&nbsp;прической, но&nbsp;это полезный шаг перед пробной укладкой.
          +accordionItem('<h3>Как сохранить прическу в первозданном виде?</h3>').par
            +ul.par
              +li Не&nbsp;стоить мыть голову в&nbsp;день торжества, так как после мытья шевелюра становится мягкой, что не&nbsp;хорошо для надежной укладки;
              +li Если в&nbsp;прическе много деталей, используют укладочный мусс или крем;
              +li В&nbsp;начале дня волосы укладывают выше и&nbsp;туже задуманного, чтобы к&nbsp;концу праздника укладка сохранила форму;
              +li Стараться не&nbsp;трогать волосы в&nbsp;течение дня.
          +accordionItem('<h3>Как избежать повреждений волос при укладке?</h3>').par
            p Использовать термозащиту, которая обволакивает каждый волосок, защищая от&nbsp;воздействия термоприборов.
          +accordionItem('<h3>Свадебную укладку делают самостоятельно?</h3>').par
            p Если нет навыка укладки и&nbsp;плетения, то&nbsp;лучше не&nbsp;рисковать.
