extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Вечерняя
    +grid.page-subsection
      +cell({ m:6 })
        p Вечерняя прическа&nbsp;— вариант укладки для торжественных событий. Уместна на&nbsp;свадебных церемониях, корпоративах, выпускных балах, свиданиях. Вечернюю укладку делают для посещения театра, ресторана и&nbsp;других особенных случаев. Прическа ставит завершающую точку в&nbsp;праздничном образе. Когда волосы красиво и&nbsp;опрятно уложены, женщина чувствует себя королевой на&nbsp;любом мероприятии.
      +figure({
        image: {
          name: 'vechernyaya-1',
          path: '/images/uslugi/pricheska/vechernyaya/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Вечерняя прическа',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Виды вечерних причесок
      h3 Классические
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Низкий пучок
            p Элегантный вариант укладки для невесты или выпускницы. Пучок располагают на&nbsp;уровне шеи или на&nbsp;макушке. Главное, чтобы длины прядей хватало для формирования узла.
          +figure({
            image: {
                name: 'vechernyaya-2',
                path: '/images/uslugi/pricheska/vechernyaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Низкий пучок',
            },
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Пучок «Ракушка»
            p Это универсальная прическа, которая гармонично смотрится на&nbsp;званом ужине и&nbsp;в&nbsp;офисе. Визуально удлиняет шею, а&nbsp;линии подбородка придает изящества. Не&nbsp;имеет возрастных ограничений.
          +figure({
            image: {
                name: 'vechernyaya-3',
                path: '/images/uslugi/pricheska/vechernyaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Как сделать пучок "Ракушка"',
            },
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })
          h4 Естественные волны
          p Создают романтичный беззаботный вид локоны с&nbsp;естественным изгибом. Такие волны волос еще называют французскими. Прическа выглядит просто и&nbsp;в&nbsp;то&nbsp;же время стильно.
        +figure({
          image: {
              name: 'vechernyaya-4',
              path: '/images/uslugi/pricheska/vechernyaya/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Естесственные волны',
          },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h3 Современные тренды
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Прямая укладка
            p Среди вариантов распущенных волос один из&nbsp;популярных трендов&nbsp;— классический пробор посередине с&nbsp;гладкими и&nbsp;блестящими волосами. Это простая и&nbsp;практичная прическа, позволяющая продемонстрировать великолепие густой шевелюры.
          +figure({
            image: {
                name: 'vechernyaya-5',
                path: '/images/uslugi/pricheska/vechernyaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Прямая укладка Милы Кунис',
            },
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Плоские волны
            p Мягкие, слегка растрепанные волны&nbsp;— вариант укладки коротких или средней длины прядей.
          +figure({
            image: {
                name: 'vechernyaya-6',
                path: '/images/uslugi/pricheska/vechernyaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Плоские волны',
            },
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +figure({
          image: {
              name: 'vechernyaya-7',
              path: '/images/uslugi/pricheska/vechernyaya/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Частичное плетение',
          },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          h4 Частичное плетение
          p Одна из&nbsp;современных тенденций, получившая широкое распространение,&nbsp;— это полусобранные косы с&nbsp;возвышением вверху.

    +pageSubsection
      h3 Плетение и косы
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Французское плетение
            p Отличается изяществом, у&nbsp;плетения разные направления&nbsp;— по&nbsp;кругу, по&nbsp;диагонали, по&nbsp;центру и&nbsp;другие. Плетутся свободно для придания объема. Для праздничного оформления вплетают атласные или кружевные ленты.
          +figure({
            image: {
                name: 'vechernyaya-8',
                path: '/images/uslugi/pricheska/vechernyaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Французское плетение',
            },
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Корона на&nbsp;длинные волосы
            p Уложенная вокруг головы коса смотрится потрясающе и&nbsp;подходит для официальных мероприятий. Неформальный вид придают выпущенные прядки у&nbsp;лица.
          +figure({
            image: {
                name: 'vechernyaya-9',
                path: '/images/uslugi/pricheska/vechernyaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Коса в форме короны',
            },
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +figure({
          image: {
              name: 'vechernyaya-10',
              path: '/images/uslugi/pricheska/vechernyaya/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Романтическое плетение кос',
          },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          h4 Романтичное плетение
          p Прическа для чувственных образов&nbsp;— это косы и&nbsp;плетения. Откажитесь от тугих и плотных косичек. В&nbsp;тренде легкая небрежность и&nbsp;пышные плетения. Для украшения в&nbsp;прическу добавляют ленты и&nbsp;цветы.

    +pageSubsection
      h3 Укладка с&nbsp;элементами ретро
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Бабетта
            p Поразительно элегантная прическа, подчеркивающая женственность образа.
            p Вышла на&nbsp;пик популярности после фильма в&nbsp;60-е годы «Бабетта идет на&nbsp;войну», где ведущую роль играла шикарная французская актриса тех лет Бриджит Бордо.
          +figure({
            image: {
                name: 'vechernyaya-11',
                path: '/images/uslugi/pricheska/vechernyaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Бабетта',
            },
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Мальвина
            p По названию легко понять, что речь об&nbsp;образе сказочной Мальвины. Укладка предполагает легкие локоны, завитки и&nbsp;легкую небрежность в&nbsp;укладке.
          +figure({
            image: {
                name: 'vechernyaya-12',
                path: '/images/uslugi/pricheska/vechernyaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Прическа Мальвина',
            },
        })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Выбор прически по&nbsp;длине волос
      h3 Короткие
      p Короткие стрижки упрощают жизнь женщин, так&nbsp;как укладка становится намного легче благодаря тому, что форма стрижки уже задает стиль. Достаточно при укладке добавить аксессуаров или стразов, и&nbsp;тогда образ заиграет по-новому. Рекомендуем попробовать укладку с&nbsp;плетением или перейти к&nbsp;стилю ретро, предполагающему идеально прямые локоны. Противоположность ретро&nbsp;— стиль гранж с&nbsp;нарочитой небрежностью и&nbsp;творческим беспорядком на&nbsp;голове.
      h3 Средние
      p Вечерняя прическа на&nbsp;мероприятие для средних волос может быть простой или сложной в&nbsp;исполнении. Это красивые голливудские локоны, волосы, украшенные плетением, разные косы, пучки и&nbsp;хвосты. Объемная прическа в&nbsp;сочетании с&nbsp;легкими волнами&nbsp;— беспроигрышный вариант вечерней укладки для любого события.
      h3 Длинные
      p Существует много вариаций и&nbsp;стилей вечерних причесок на&nbsp;длинные локоны. Если волосы скрутить, заплести в&nbsp;локоны или косы, оставив несколько свободных завитков, получится формальный вид, соответствующий вечернему мероприятию, гала-концерту, кино- или интеллектуальной вечеринке. Простой, но&nbsp;элегантный вечерний вариант&nbsp;— французский стиль, который дополнит профессиональный образ в&nbsp;сочетании с&nbsp;костюмом и&nbsp;жемчужными серьгами.

    +pageSubsection
      h2 Подбор прически по&nbsp;типу лица
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          +ul.par
            +li Тип «овал» предполагает любые варианты вечерней прически.
            +li Типу «круг» желательно избегать объем в&nbsp;области скул и&nbsp;щек. Также не&nbsp;стоит открывать уши. Предпочтительна укладка на&nbsp;распущенные пряди.
            +li Тип «треугольник» требует плавности линий, которые сгладят угловатость черт.
            +li Типу «прямоугольник» лучше отказаться от&nbsp;распущенных прямых локонов, выбрать вьющиеся пряди. Вьющиеся локоны оставляют распущенными или собирают в&nbsp;свободные прически.
        +figure({
          image: {
            name: 'vechernyaya-13',
            path: '/images/uslugi/pricheska/vechernyaya/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Варианты причесок, подобранных по типу лица',
          },
        })(class= cellClasses({ m:6 })).figure--image-radius
        +cell
          p При выборе вечерней укладки учитывают длину шеи. Для короткой предпочтительны варианты, открывающие шею. Для длинной&nbsp;— распущенные локоны. Современная мода настолько вариативна и&nbsp;терпима, что не&nbsp;обязательно строго следовать советам. Важно, чтобы каждая девушка, женщина чувствовала себя привлекательной и&nbsp;уверенной.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Какие вечерние прически подходят для тонких волос?</h3>').par
            p Любые, визуально придающие объем. Например, стрижки средней длины с&nbsp;текстурированными концами и&nbsp;укладкой свободными волнами.
          +accordionItem('<h3>Какие средства лучше использовать для фиксации?</h3>').par
            p Если предполагается использование термощипцов, то&nbsp;используют защитные средства от&nbsp;теплового воздействия. Лаки и&nbsp;муссы подбирают по&nbsp;типу волос. Если состояние шевелюры позволяет, то&nbsp;используют средства с&nbsp;усиленной фиксацией, чтобы укладка продержалась до&nbsp;конца мероприятия в&nbsp;первозданном виде.
          +accordionItem('<h3>Как подобрать аксессуары для волос?</h3>').par
            p Для романтичного образа подойдут искусственные цветы в волосах. Изящность пышной укладки подчеркнет гребень со&nbsp;стразами. Со&nbsp;свадебным платьем или нежным нарядом на&nbsp;выпускной сочетаются изящные короны и&nbsp;диадемы. Для сложной прически потребуются шпильки, заколки и&nbsp;невидимки.
          +accordionItem('<h3>Сколько времени занимает создание вечерней прически в салоне?</h3>').par
            p Время зависит от&nbsp;сложности, состояния, густоты и&nbsp;длины волос. Среднее время вечерней укладки&nbsp;— 1&nbsp;час.
