.unordered-list
  fontSize16()
  & + &
    margin-top .625rem
  &__item
    position relative
    padding-left .875rem
    & + &
      margin-top .625rem
    &::before
      content ''
      position absolute
      top 50%
      left 0
      width .25rem
      height .25rem
      background-color var(--color-beige)
      border-radius 100vmax
      translate 0 -50%
  &--column--2
    @media(min-width point-m)
      column-count 2
