.block-marked-arrow
  position relative
  padding-left 3rem
  &::before
    position absolute
    content ''
    top 50%
    transform translateY(-50%)
    left 0
    width 2rem
    height 3rem
    mask-image var(--arrow-right)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    background-color var(--color-beige-light)
