.home-header
  &__slide
    background-color var(--color-beige-lighter)
    border-radius var(--border-radius-big)
  &__offer
    color var(--color-red)
  &__button
    &--discount
      align-self center
  &__promo
    @media(max-width point-s - 1)
      align-items center
  &__clarification
  &__discount
    @media(max-width point-s - 1)
      text-align center
  &__clarification
    mark
      color var(--color-red)
      font-weight 700
