.home-header
  &__info
    display flex
    flex-direction column
    align-items flex-start
    align-self center
    gap var(--gap)
    @media (min-width point-l)
      // padding-y 6.75rem
      padding-y var(--gap)
      padding-left 3.75rem
    @media (min-width point-m) and (max-width point-l - 1)
      // padding calc(var(--gap) * 2) var(--gap)
      padding calc(var(--base-padding)*1.5)
    @media (max-width point-m - 1)
      padding var(--gap)
  &__title
    fontSize32()
  &__description
    fontSize20()
  &__promo
    display flex
    flex-direction column
    row-gap 0.75rem
    margin 0 auto
    padding var(--gap) 0
    border-top 1px solid var(--color-button)
    border-bottom 1px solid var(--color-button)
  &__offer
    fontSize40()
    font-weight 700
    @media(max-width point-m - 1)
      fontSize32()
  &__discount
  &__clarification
    fontSize18()
  &__discount
    display flex
    align-items center
    gap 1rem
    fontSize24()
    font-weight 500
    @media(max-width point-s - 1)
      flex-direction column
  &__image
    margin-top auto
