extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/pagination/pagination
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ noPadding: [ 'top', 'bottom' ] })
    +breadcrumbs({'parents':['Главная'], 'current':'Контакты'})
  +pageSection
    h1 Задать вопрос
    +grid.page-subsection
      +cell({ m:7 }).block-marked
        form
          +formInput({ type: 'textarea', label: `<strong>Вопрос</strong>`, name:'question' })
          +formInput({ type: 'text', label: `<strong>Имя</strong>` })
          +formInput({ type: 'text', label: `<strong>E-mail</strong><p class="text-marked--size--xs">Не публикуем на сайте. На e-mail отправим ответ</p>` })
          +formInput({ type: 'tel', label: `<strong>Телефон</strong><p class="text-marked--size--xs">Не публикуем на сайте. Позвоним чтобы проконсультровать.</p>` })
          +formInput({ type: 'text', label: '<strong>Город</strong>' })
          +formInput({ type: 'checkbox', label: `Нажимая на кнопку, я даю свое <a href="/soglasheniya-na-obrabotku-personalnykh-dannykh/">согласие на обработку своих персональных данных</a>` })
          button(type='submit').button Отправить вопрос
      +cell({ m:5 })
        p Ответим на все вопросы.
        p Обычно отвечаем в течение дня.
        p Но если мы сильно загружены, придется подождать пару дней.
        p В любом случае ответ пришлем на вашу почту.
