extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/pagination/pagination
include /blocks/block-marked/block-marked
include /blocks/aside-menu/aside-menu
include /blocks/text-marked/text-marked
include /blocks/consultation-similar/consultation-similar

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ noPadding: [ 'top', 'bottom' ] })
      +breadcrumbs({'parents':['Главная'], 'current':'Контакты'})
  +pageSection
    +pageSubsection
      +grid
        +cell({ m:9, s:12 })
          +pageSubsection
            .consultation-question.block-marked
              h1.h2 Пол года назад наращивала ресницы,пошла аллергия, сильно опухли веки - симптом Квинке.
              +grid({ 'alignItems': 'center' }).par
                +cell({ m:9, s:12 })
                  p Здравствуйте,пол года назад наращивала ресницы,пошла аллергия, сильно опухли веки - симптом Квинке. Скажите, можно ли опять наращивать, или не рекомендуется?
                +cell({ m:3, s:12 })
                  p Анна, Украина, 20 лет
                  +textMarked({ tag:'span', size: 'xs', color: 'grey' }) 20.08.2016
          +pageSubsection
            +grid
              +cell
                p Здравствуйте, Анастасия.
                p У Вас, возможно, наблюдается аллергическая реакция. И если Вам помогают данные препараты, то скорее всего, они немного помогают Вам снять послествия начавшейся аллергии. Вам нужно снять нарощенные ресницы, чтобы не усугубить ситуацию, а также посетить врача офтальмолога и аллерголога.
                p Также случается, что веки опухают, когда близко "поставлены" реснички к основанию, и они могут раздражать слизистую глаза и веко. В этом слуае также следует снять эти реснички, чтобы они не вызывали раздражения.
                p Категория: #[a(href='#') Брови и ресницы]
              +cell.consultation-author
                .consultation-author__image
                  +img({ 
                    name: 'leytes',
                    path: '/images/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', orig: true },
                    ]
                  })(alt='Стрижка' title='Стрижка')
                .consultation-author__answer
                  p Отвечает:
                  +textMarked({ tag:'p', color: 'beige' }) #[strong Ольга Лейтес, директор центра]

          +pageSubsection
            h2 Похожие вопросы
            - 
              const list = [
                {
                  question: 'Рас пожалуйста о наращивании ресниц. Вредно ли это?Надолго ли?И сколько это стоит?',
                  name: 'Евгения',
                  date: '2018.08.29',
                },
                {
                  question: 'Вчера нарастила ресницы.',
                  name: 'Ольга',
                  date: '2018.08.29',
                }
              ]
            +consultationSimilarItem(list).par   

          +pageSubsection
            .block-marked.consultation-banner
              +grid
                +cell({ l:8, m:8, s:12 })
                  p Отвечаем на вопросы про услуги салона красоты.
                  p Если Вы не нашли ответ на свой вопрос, обратитесь за консультацией к нашим специалистам.
                +cell({ l:4, m:4, s:12 }).consultation-banner__aside
                  +button({ tag: 'a' })(href='/') Спросить совет
                  p.consultation-banner__advice #[strong Советуем с 2007 года]
              

        +cell({ m:3, s:12 })
          h3.aside-header Категории
          -
            let menu = [
              {name:'Выпрямление волос', href:'/', count: '(15)'},
              {name:'Выпрямление волос', href:'/', count: '(15)'},
              {name:'Выпрямление волос', href:'/', count: '(15)'},
              {name:'Выпрямление волос', href:'/', count: '(15)'},
              {name:'Уход, лечение, диагностика', href:'/', count: '(31)'},
            ]
          +aside-menu(menu)


