extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/pagination/pagination
include /blocks/block-marked/block-marked
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ noPadding: [ 'top', 'bottom' ] })
      +breadcrumbs({'parents':['Главная'], 'current':'Контакты'})
  +pageSection
    h1 Консультация
    +pageSubsection
      +grid
        +cell({ m:9, s:12 })
          +pageSubsection
            .block-marked.consultation-banner
              +grid
                +cell({ l:8, m:8, s:12 })
                  p Отвечаем на вопросы про услуги салона красоты.
                  p Если Вы не нашли ответ на свой вопрос, обратитесь за консультацией к нашим специалистам.
                +cell({ l:4, m:4, s:12 }).consultation-banner__aside
                  +button({ tag: 'a' })(href='/') Спросить совет
                  p.consultation-banner__advice #[strong Советуем с 2007 года]

          +pageSubsection
            ul.consultation-list 
              li.consultation-list__item
                h2.h3.consultation-list__title
                  a(href='/').consultation-list__link Я бы хотела у Вас спросить , мне 12 лет. Можно ли мне сделать омбре ?
                +grid.par
                  +cell({ m:9, s:12 })
                    p Здравствуйте ! Я бы хотела у Вас спросить , мне 12 лет. Можно ли мне сделать омбре ? У меня кудрявые , хорошие , вообщем их состояние меня радует !
                  +cell({ m:3, s:12 })
                    p Аня
                    span.consultation-list__date 20.08.2016
                p
                  a(href='/') Читать ответ

              li.consultation-list__item
                h2.h3.consultation-list__title
                  a(href='/').consultation-list__link Я бы хотела у Вас спросить , мне 12 лет. Можно ли мне сделать омбре ?
                +grid.par
                  +cell({ m:9, s:12 })
                    p Здравствуйте ! Я бы хотела у Вас спросить , мне 12 лет. Можно ли мне сделать омбре ? У меня кудрявые , хорошие , вообщем их состояние меня радует !
                  +cell({ m:3, s:12 })
                    p Аня Аня Аня Аня
                    span.consultation-list__date 20.08.2016
                p
                  a(href='/') Читать ответ

          +pageSubsection
            +pagination

        +cell({ m:3, s:12 })
          h3.aside-header Категории
          -
            let menu = [
              {name:'Выпрямление волос', href:'/', count: '(15)'},
              {name:'Выпрямление волос', href:'/', count: '(15)'},
              {name:'Выпрямление волос', href:'/', count: '(15)'},
              {name:'Выпрямление волос', href:'/', count: '(15)'},
              {name:'Уход, лечение, диагностика', href:'/', count: '(31)'},
            ]
          +aside-menu(menu)


