extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/link-icons/link-icons
include /blocks/block-marked/block-marked
include /blocks/img/img
include /blocks/iframe-responsive/iframe-responsive
include /blocks/slider/slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isContactsPage = true
block content
  +pageSection({ noPadding: [ 'top', 'bottom' ] })
      +breadcrumbs({'parents':['Главная'], 'current':'Контакты'})
  +pageSection.page-contacts
    h1 Контакты
    +pageSubsection
      +grid
        +cell({ m:6, s:12 })
          h2.h3 Адрес
          p г. Санкт-Петербург #[br] наб. Обводного канала д. 108
          p Работаем ежедневно: #[br] пн-пт: с&nbsp;10:00 до&nbsp;21:00 #[br] выходные и праздничные дни: с 10.00 до 19.00.
        +cell({ m:6, s:12 })
          +grid 
            +cell
              h2.h3 Телефон
              a(href='tel:+78123850151').page-contacts__phone.par +7 (812) 385-01-51
            +cell
              h2.h3 Мессенджеры
              +grid({ 'alignItems': 'center' }).par
                +cell({ s:3 })
                  +linkIcons(['whatsapp', 'viber', 'telegram' ], { inline: true })
                +cell({ s:9 })
                  p Вы&nbsp;можете связаться с&nbsp;нами при помощи приложений Viber, WhatsApp и Telegram, добавив наш номер +7&nbsp;(981)&nbsp;724-56-28 в&nbsp;список контактов.
        +cell({ l:6, m:6, s:12 })
          .page-contacts__map
            script(type='text/javascript' charset='utf-8' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr&lang=ru_RU&sourceType=constructor')
        +cell({ l:6, m:6, s:12 }).page-contacts__route.block-marked.block-marked--to-border.block-marked--to-border--right
          h2.h3 Припарковаться на&nbsp;машине
          p Двигайтесь вдоль Обводного канала от&nbsp;Балтийского вокзала в&nbsp;сторону Московского пр.
          p Заезд есть перед и&nbsp;после здания.
          p Вдоль здания находятся парковочные места. Обычно 2-3 места свободные. Если все занято, то&nbsp;правее от&nbsp;здания есть площадка для машин.
          h2.h3 Добраться пешком
          +grid.par
            +cell
              span.icon-inline.icon-inline--metro #[strong Балтийская]
              p.page-contacts__route-time 10&nbsp;минут
              p После выхода из&nbsp;метро двигайтесь вдоль Обводного канала в&nbsp;сторону Московского пр. Ориентируйтесь на&nbsp;церковь. После нее будет сквозной проход через дом, далее желтое здание.
            +cell
              span.icon-inline.icon-inline--metro #[strong Фрунзенская]
              p.page-contacts__route-time 5&nbsp;минут
              p После выхода из&nbsp;метро поверните налево и&nbsp;двигайтесь вдоль Московского&nbsp;пр.&nbsp;до&nbsp;Обводного канала. Затем поверните налево и&nbsp;двигайтесь вдоль Обводного канала до&nbsp;желтого здания.
    +pageSubsection
      h2.h3 Фотографии офиса 
      p Вход находится справа от центра здания
      .gallery.par
        - for (let i = 1; i < 15; i++)
          a(href=`/images/contacts/office-${[i]}.webp` data-glightbox).gallery__item
            +img({
              name: `office-${[i]}`,
              path: '/images/contacts/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              })(alt= 'Фотографии офиса').border-radius.border-radius--small
    +pageSubsection
      +grid
        +cell({ m:8 })
          h2.h3 3D-тур
          .page-contacts__tour.par
            +iframeResponsive("https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1486634358815!6m8!1m7!1sK35p8NtUkMUAAAQvxa493A!2m2!1d59.90796101212884!2d30.31258920335586!3f221.86485814753792!4f-14.060279966658854!5f0.7820865974627469")
    +pageSubsection 
      h2.h3 Видео 360 градусов
      video(playsinline id="video360" class="video-js vjs-default-skin par" controls preload="auto" poster="/video/3dtur.jpg")
        source(src="/video/3dtur.webm" type="video/webm")
