extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img


block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ noPadding: [ 'top', 'bottom' ] })
    +breadcrumbs({'parents':['Главная'], 'current':'Акции'})
  +pageSection
    h1 Акции и специальные предложения
    +pageSubsection
      - 
        const discounts = [
          {
            title: 'Бонус за уходовые процедуры бренда Greymy',
            image: 'discounts-greymy',
            text: 'У вас поврежденные, безжизненные или секущиеся волосы? Получи cкидку 20% на профессиональный шампунь для домашнего ухода при выполнении уходовых услуг от Greymy.',
          },
          {
            title: '−15% на продукцию для домашнего ухода',
            image: 'discounts-greymy',
            text: 'Воспользуйтесь любой услугой в нашем салоне, и мы подарим вам скидку 15% на всю продукцию для домашнего ухода за волосами.',
          },
          {
            title: 'День красоты/заботы о волосах',
            image: 'discounts-greymy',
            text: 'Выполните окрашивание Estel / Loreal и получите в подарок стрижку, а также профессиональный шампунь «LUXURY ESTEL HAUTE COUTURE».',
          },
          {
            title: 'Скидка 20% в день рождения!',
            image: 'discounts-greymy',
            text: 'Наши мастера помогут вам быть еще красивее. На любую услугу в течение трёх дней до, в день рождения и три дня после дарим скидку 20%!',
          },
        ]
      +grid.discount-item
        each item in discounts
          +cell({ l:4, m:6, s:6 }).discount-item__wrapper
            .discount-item__image
              a(href='/')
                +img({
                  name: item.image,
                  path: '/images/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [ 1, 2 ] }
                  ]
                })(alt= item.title title= item.title width=800 height=800)
            .block-marked.discount-item__body
              h2.h3
                a(href='/').discount-item__title= item.title
              p= item.text
              a(href='/').discount-item__link Подробнее
