extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/countdown/countdown

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection.discount-header
    +pageSubsection
      img(src='/images/discounts.jpg' alt='Скидка 20% на ботокс или нанопластику от Malecula и не только' title='Скидка 20% на ботокс или нанопластику от Malecula и не только' loading='lazy' decoding='async')

    +pageSubsection.discount-header__breadcrumbs
      +breadcrumbs({'parents':['Главная'], 'current':'Акции'})
  
  +pageSection({ noPadding: 'top' })
    +grid.par
      +cell({ l:9, m:8 })
        h1 Скидка 20% на ботокс или нанопластику от Malecula и не только
        p У вас поврежденные, безжизненные или секущиеся волосы? Воспользуйся профессиональной услугой ботокс или нанопластика волос от бразильского бренда Malecula и получи скидку 20% на услугу и домашний уход.
        h2.text-align-center До конца акции осталось
        +countdown('1735592400000').block-marked.block-marked--padding-small.par
          
      +cell({ l:3, m:4 })
        .block-marked.block-marked--padding-small.text-align-center.discount-aside
          p #[strong Действие акции]
          p до 31.03.2023
          p #[strong Вы можете узнать подробности по телефону]
          p #[a(href="tel:+78123850151") +7 (812) 385-01-51]
          p или
          p #[a(href='#' data-url='https://n475189.yclients.com/company:170918').button.ms_booking.discount-aside__button Записаться в салон]
    h2.text-align-center Средний стаж мастеров салона — 12 лет
    p Мастера обучались в ведущих студиях и академиях:Coiffure, Локон, Londa, Shwarzkopf, Wella.
    p Сотрудники салона неоднократно участвовали в международном фестивале красоты«Невские берега», крупнейшей в Европе парфюмерно-косметической выставке Intercharm.
