extends /blocks/layout/layout

include /blocks/img/img
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/home-services/home-services
include /blocks/brand-item/brand-item
include /blocks/staff-item/staff-item
include /blocks/block-marked/block-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/figure/figure
include /blocks/text-marked/text-marked
include /blocks/review-item/review-item
include /blocks/works-item/works-item
include /blocks/form-input/form-input
include /blocks/feedback-item/feedback-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content    
  +pageSection({ noPadding: 'top' })
    h1 Галерея работ
    +pageSubsection.service-navigation
      +button({ tag: 'a', secondary: true })(href='#' data-service='all').service-navigation__item Все работы
      +button({ tag: 'a', secondary: true })(href='#' data-service='haircut').service-navigation__item Стрижка
      +button({ tag: 'a', secondary: true })(href='#' data-service='hairstyle').service-navigation__item Прическа
      +button({ tag: 'a', secondary: true })(href='#' data-service='coloring').service-navigation__item Окрашивание
      +button({ tag: 'a', secondary: true })(href='#' data-service='extension').service-navigation__item Наращивание волос
      +button({ tag: 'a', secondary: true })(href='#' data-service='styling').service-navigation__item Укладка
      +button({ tag: 'a', secondary: true })(href='#' data-service='straightening').service-navigation__item Выпрямление
      +button({ tag: 'a', secondary: true })(href='#' data-service='curling').service-navigation__item Завивка
      +button({ tag: 'a', secondary: true })(href='#' data-service='care').service-navigation__item Уход и лечение
      +button({ tag: 'a', secondary: true })(href='#' data-service='makeup').service-navigation__item Макияж
  
    +pageSubsection(class= gridClasses()) 
      -  
        const works = [
          {
            image: 'works-3',
            name: 'Прическа и макияж',
            price: 3100,
            service: 'hairstyle, makeup',
          },
          {
            image: 'works-4',
            name: 'Стрижка и укладка',
            price: 1400,
            service: 'haircut, styling',
          },
          {
            image: 'works-5',
            name: 'Вечерний макияж',
            price: 1600,
            service: 'makeup',
          },
          {
            image: 'works-evening-makeup',
            name: 'Наращивание волос',
            price: 30,
            service: 'extension',
          },
          {
            image: 'works-extention',
            name: 'Свадебная прическа и макияж',
            price: 6100,
            service: 'hairstyle, makeup',
          },
          {
            image: 'works-long-hair',
            name: 'Креативное окрашивания и макияж',
            price: 7500,
            service: 'coloring, makeup',
          },
          {
            image: 'works-wedding-style',
            name: 'Стрижка и окрашивание',
            price: 8500,
            service: 'haircut, coloring',
          },
          {
            image: 'works-long-hair',
            name: 'Креативное окрашивания и макияж',
            price: 7500,
            service: 'coloring, makeup',
          },
          {
            image: 'works-wedding-style',
            name: 'Стрижка и окрашивание',
            price: 8500,
            service: 'haircut, coloring',
          },
        ] 
      each work in works
        +worksItem(work, {tag: 'a'})(href=`/images/${work.image}.webp` data-glightbox data-description="Задача: загустить, замаскировать недостаток густоты собственных волос. Использовалась поволосковая техника в височной зоне и зоне макушки. Стоимость волос 25 000 рублей, стоимость работ 20 000 рублей" class= cellClasses({ l: 3, m: 4, s: 6, xs: 6 })) 
    
    +grid({ justify: 'center' }).page-subsection 
      +button({ tag: 'a' })(href='#', class = cellClasses({ m:4, s:6 }))#works-button Загрузить больше работ

  include /blocks/home-appointment/home-appointment
  +pageSection({ homeAddress: true })
    h2.h1 Наш адрес
    +pageSubsection(class= gridClasses({ alignItems: 'flex-end' })).block-shifted
      +cell({ l: 6, xs: 12 }).block-shifted__image
        +figure({
          image: {
            name: 'home-office',
            path: '/images/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          },
        }) 
      +blockMarked({ toBorder: [ true, 'right' ] })(class=cellClasses({ l: 6, xs: 12 })).block-shifted__content
        +pageSubsection
          h3 Санкт-Петербург, наб. Обводного канала 108
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14 пн-пт: с 10:00 до 21:00
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14 сб-вс: с 10:00 до 19:00
        +pageSubsection
          h3 Припарковаться на машине
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14 Перед входом парковочные места. Обычно 2-3 места свободные. Если все занято, то правее от здания есть площадка для машин.
        +pageSubsection
          h3 Добраться пешком
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14: +iconInline('metro') Балтийская – 10 мин
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14: +iconInline('metro') Фрунзенская – 5 мин
  +pageSection({ homeMap: true, noPadding: [ 'top', 'bottom' ], empty: true })
    iframe(src='https://yandex.ru/map-widget/v1/?scroll=false&um=constructor%3A0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr' frameborder='0' allowfullscreen='true' width='100%' height='450' style='display: block;')
