extends /blocks/layout/layout

include /blocks/img/img
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/home-services/home-services
include /blocks/brand-item/brand-item
include /blocks/staff-item/staff-item
include /blocks/block-marked/block-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/figure/figure
include /blocks/text-marked/text-marked
include /blocks/review-item/review-item
include /blocks/works-item/works-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isHomePage = true
block content    
  -
    const advantages = [
      {
        icon: 'professionalism',
        title: 'Профессионализм',
        description: 'Мастера обучались в ведущих студиях и академиях: Coiffure, Локон, Londa, Schwarzkopf, Wella',
      },
      {
        icon: 'cabinets',
        title: 'Отдельные кабинеты',
        description: 'Реализуем индивидуальный подход и позволяем вам по настоящему раскрыться перед мастером',
      },
      {
        icon: 'celebrities', 
        title: 'Знаменитости',
        description: 'Среди наших клиентов актрисы театра и кино, а также звезды реалити-шоу',
      },
    ]
    const staff = [
      {
        title: 'Виктория Пристанскова',
        list: [ 'Наращивание волос', 'Парикмахер-колорист', 'Стилист', 'Барбер' ],
        image: 'staff-item-pristanskova',
      },
      {
        title: 'Дарья Иванова',
        list: [ 'Стилист', 'Визажист', 'Мастер по наращиванию' ],
        image: 'staff-item-ivanova',
      },
      {
        title: 'Наталья Михайлова',
        list: [ 'Парикмахер-универсал' ],
        image: 'staff-item-mihaylova',
      },
      {
        title: 'Ирина Богданова',
        list: [ 'Парикмахер-универсал' ],
        image: 'staff-item-bogdanova',
      },
      {
        title: 'Екатерина Смирнова',
        list: [ 'Парикмахер-универсал' ],
        image: 'staff-item-smirnova',
      },
    ]
    const review = {
      image: {
        name: 'home-review', 
        path: '/images/',
        formats: [
          { ext: 'jpg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
      },
      author: 'Глафира Козулина',
      occupation: 'актриса театра и кино',
    }
    const works = [
      {
        image: 'works-1',
        name: 'Горячее капсульное наращивание',
        price: '109г волос (категория люкс) - 14416 ₽, капсуляция 285 капсул - 4275 ₽, работа - 11400 ₽. Окрашивание - 4000 ₽',
      },
      {
        image: 'works-2',
        name: 'Стрижка и укладка',
        price: 1400,
      },
      {
        image: 'works-creative-style',
        name: 'Вечерний макияж',
        price: 1600,
      },
      {
        image: 'works-evening-makeup',
        name: 'Наращивание волос',
        price: 30,
      },
      {
        image: 'works-extention',
        name: 'Свадебная прическа и макияж',
        price: 6100,
      },
      {
        image: 'works-long-hair',
        name: 'Креативное окрашивания и макияж',
        price: 7500,
      },
      {
        image: 'works-wedding-style',
        name: 'Стрижка и окрашивание',
        price: 8500,
      },
    ]
  .container.banner-march
    .content.banner-march__inner
      p.banner-march__duration с 5 по 20 марта
      .banner-march__clarification #[strong Дарим скидку #[span 8%]] на&nbsp;коррекцию наращивания и&nbsp;до&nbsp;#[span 12%] на&nbsp;покупку волос
      .banner-march__clarification Не&nbsp;откладывай свое весеннее преображение!
      span.banner-march__promocode по промокоду
  
  .container.page-section.page-section--home-header.banner-malecula
    .content
      .banner-malecula__inner
        p.banner-malecula__duration Только до&nbsp;30 декабря дарим&nbsp;скидки до&nbsp;#[span 20%]
        p.banner-malecula__promo на ботокс или нанопластику волос от бразильского бренда Malecula.
        p.banner-malecula__meet Роскошные волосы за 1 посещение!
        a(href='/aktsii/skidka-na-uslugi-brenda-malecula/').button.banner-malecula__button Подробнее об акции
  +pageSection({ homeHeader: true, noPadding: 'top' })
    +slider({ pagination: true }).home-header
      +slide.home-header__slide
        +grid()
          +cell({ l: 6, m: 8, xs: 12 }).home-header__info
            .home-header__title Салон для ценителей красоты и здоровья волос
            .home-header__description Сохраняем красоту и здоровое состояние волос за счет знаний в трихологии и подбирая профессиональные уходовые процедуры
            +button({ tag: 'a' })(href='#').home-header__button Выбрать мастера
          +cell({ l: 6, m: 4 }).home-header__image.hidden-s.hidden-xs: +img({
            name: 'home-header__image',
            path: '/images/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' }
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })
      //- +slide.home-header__slide
      //-   +grid()
      //-     +cell({ l: 6, m: 8, xs: 12 }).home-header__info
      //-       .home-header__promo
      //-         .home-header__offer 35%
      //-         .home-header__discount скидка 
      //-         .home-header__clarification.text-align-center на окрашивание L'Oréal #[br] до 30 июня
      //-       +button({ tag: 'a' })(href='#').home-header__button.home-header__button--discount Подробнее об акции
      //-     +cell({ m: 4 }).home-header__image.hidden-s.hidden-xs: +img({
      //-       name: 'home-header__image',
      //-       path: '/images/',
      //-       formats: [
      //-         { ext: 'png', orig: true },
      //-         { ext: 'webp', mime: 'image/webp' }
      //-       ],
      //-       density: [
      //-         { values: [ 1, 2 ] }
      //-       ]
      //-     })
      +slide.home-header__slide
        +grid()
          +cell({ m: 7, xs: 12 }).home-header__info
            .home-header__promo
              .home-header__discount #[span.home-header__offer -15%] Коррекция наращивания волос от другого салона до 31.10.2024
              .home-header__clarification Запишись на коррекцию к нам с выгодой до #[mark 1 500] руб.!
              .home-header__clarification #[small *скидка зависит от уровня мастера]
            +button({ tag: 'a' })(href='/uslugi/narashchivanie-volos/korrekciya/').home-header__button.home-header__button--discount Подробнее об акции
          +cell({ m: 5 }).home-header__image.hidden-s.hidden-xs: +img({
            name: 'home-header__image',
            path: '/images/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' }
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })
  +pageSection({ homeAdvantages: true })
    h2.h1 О нас
    +pageSubsection(class= gridClasses({ justify: 'center' }))
      each item in advantages
        +advantageBlock(item)(class= cellClasses({ l: 4, m: 4, s: 6, xs: 12 })).appear
  +pageSection({ homeServices: true })
    h2.h1.appear Оказываем услуги
    +homeServices.page-subsection
  +pageSection({ homeBrands: true })
    h2.h1.appear Работаем с брендами 
    +pageSubsection(class= gridClasses({ justify: 'center', columns:10 }))
      +brandItem({ estel: true })(class= cellClasses({ m: 2, xs: 5 })).appear.saturate
      +brandItem({ loreal: true })(class= cellClasses({ m: 2, xs: 5 })).appear.saturate
      //- +brandItem({ schwarzkopf: true })(class= cellClasses({ m: 2, xs: 5 })).appear.saturate
      //- +brandItem({ cadiveu: true })(class= cellClasses({ m: 2, xs: 5 })).appear.saturate
      +brandItem({ malecula: true })(class= cellClasses({ m: 2, xs: 5 })).appear.saturate
      +brandItem({ matrix: true })(class= cellClasses({ m: 2, xs: 5 })).appear.saturate
  +pageSection({ homeStaff: true })
    h2.h1.appear Средний стаж мастеров салона — 12 лет
    +pageSubsection(class= gridClasses({ justify: 'center' })): +cell({ l: 9, m: 10, xs: 12 }).text-align-center
      p.appear Мастера обучались в ведущих студиях и академиях: 
        strong Coiffure, Локон, Londa, Shwarzkopf, Wella
        | .
      p.appear Сотрудники салона неоднократно участвовали в международном фестивале красоты 
        strong «Невские берега»
        | , крупнейшей в Европе парфюмерно-косметической выставке 
        strong Intercharm
        | .
    +pageSubsection(class= gridClasses({ columns: 10, alignItems: 'flex-start' }))
      each item in staff
        +staffItem(item, { onHomePage: true })(class= cellClasses({ l: 2, m: 5, xs: 10 }))
  +pageSection({ homeWhyWe: true })
    h2.h1.appear Почему стоит выбрать нас?
    +pageSubsection(class= gridClasses({ alignItems: 'flex-end' }))
      +blockMarked({ toBorder: [ true, 'left' ] })(class=cellClasses({ l: 6, xs: 12 })).appear.saturate.saturate--lighter
        +pageSubsection
          h3.appear.saturate Отдельные кабинеты для каждого клиента
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14.appear Вы остаетесь наедине с мастером, что позволяет 
            strong расслабиться
            |  и, не отвлекаясь на других людей, заняться красотой и здоровьем ваших волос.
        +pageSubsection
          h3.appear.saturate Сохраним волосы здоровыми и красивыми
          +textMarked({ tag: 'ul', padding: 'left' }).unordered-list.font-size-14
            - listClass = 'unordered-list'
            +li.appear.saturate Мастера имеют 
              strong знания и опыт
              |  в сфере здоровья волос и кожи головы
            +li.appear.saturate Подберем 
              strong индивидуальный подход
              |  к вашим волосам и коже головы
            +li.appear.saturate Предложим ряд 
              strong профессиональных
              |  уходовых процедур для волос 
      +cell({ l: 6, xs: 12 }).appear
        +figure({
          image: {
            name: 'home-why-we',
            path: '/images/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          },
          caption: 'Салон красоты Hair Care Center - это одно из направлений группы компаний: Центр Дизайна Волос. Центр с 2002 года помогает людям с проблемными волосами, поредением или потерей волос выглядеть безупречно.'
        })
  +pageSection({ homeReviews: true })
    h2.h1.appear Отзывы
    +reviewItem(review).page-subsection.appear
      p Сейчас очень сложно найти своего мастера по волосам, так как выбор большой, салонов много.
      p Я рада, что я познакомилась с мастером Дашей из салона Hair Care Center. Теперь если у меня возникают вопросы по уходу за волосами, я всегда обращаюсь к ней. Не раз мы делали различные процедуры по волосам, эксперементировали с макияжем, я всегда была довольна. Если мне необходимо прийти красивой на какое либо мероприятие или встречу, я знаю, что могу быть уверена в Даше и довериться ее золотым ручкам!
      p В салоне всегда приятный, улыбчивый персонал. Предложат кофе, чай, конфетку! Вообще политика салона очень грамотная!
  +pageSection({ homeYandexReviews: true, empty: true })(class= gridClasses({ justify: 'center' }))
    +cell({ l: 5, m: 7, s: 9, xs: 12 })(style='display: flex; justify-content: center; align-items: center;width:100%;height:800px;overflow:hidden').appear
      iframe(style='max-width:750px;width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box' src='https://yandex.ru/maps-reviews-widget/1770719437?comments')
      a(href='https://yandex.ru/maps/org/hair_care_center/1770719437/' target='_blank' style='box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box') Hair Care Center на карте Санкт‑Петербурга — Яндекс Карты
  +pageSection({ homeWorks: true })
    h2.h1.appear Галерея работ
    +pageSubsection(class= gridClasses({ alignItems: 'flex-start' }))
      each work in works
        +worksItem(work, {tag: 'a'})(class= cellClasses({ l: 3, m: 4, s: 6, xs: 6 }) href='/images/works-1.webp' data-glightbox).appear
  include /blocks/home-appointment/home-appointment
  +pageSection({ homeAddress: true })
    h2.h1.appear Наш адрес
    +pageSubsection(class= gridClasses({ alignItems: 'flex-end' })).block-shifted
      +cell({ l: 6, xs: 12 }).appear.block-shifted__image
        +figure({
          image: {
            name: 'home-office',
            path: '/images/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          },
        }) 
      +blockMarked({ toBorder: [ true, 'right' ] })(class=cellClasses({ l: 6, xs: 12 })).appear.saturate.saturate--lighter.block-shifted__content
        +pageSubsection
          h3.appear.saturate Санкт-Петербург, наб. Обводного канала 108
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14.appear пн-пт: с 10:00 до 21:00
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14.appear сб-вс: с 10:00 до 19:00
        +pageSubsection
          h3.appear.saturate Припарковаться на машине
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14.appear Перед входом парковочные места. Обычно 2-3 места свободные. Если все занято, то правее от здания есть площадка для машин.
        +pageSubsection
          h3.appear.saturate Добраться пешком
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14.appear: +iconInline('metro').saturate Балтийская – 10 мин
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14.appear: +iconInline('metro').saturate Фрунзенская – 5 мин
  +pageSection({ homeMap: true, noPadding: [ 'top', 'bottom' ], empty: true })
    iframe(src='https://yandex.ru/map-widget/v1/?scroll=false&um=constructor%3A0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr' frameborder='0' allowfullscreen='true' width='100%' height='450' style='display: block;')
