extends /blocks/layout/layout

include /blocks/ul/ul
include /blocks/li/li

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    +pageSubsection
      p: a(href='home.html') Главная страница — home.html
      p: a(href='news.html') Новости — news.html
      p: a(href='personal.html') Екатерина Смирнова — personal.html
      p: a(href='service.html') Услуга — service.html
      p: a(href='prices.html') Цены — prices.html
      p: a(href='masters.html') Мастера — masters.html
      p: a(href='discounts.html') Акции — discounts.html
      p: a(href='discounts-inner.html') Акции-подробно — discounts-inner.html
      p: a(href='contacts.html') Контакты — contacts.html
      p: a(href='consultation.html') Консультация — consultation.html
      p: a(href='consultation-question.html') Ответ консультации — consultation-question.html
      p: a(href='ask-consultation.html') Задать вопрос консультанту — ask-consultation.html
      p: a(href='search.html') Результаты поиска — search.html
      p: a(href='otzivi.html') Страница отзывов — otzivi.html
      p: a(href='galereya-rabot.html') Страница работ — galereya-rabot.html

    +pageSubsection
      a(href='#' data-mrc-sh-title='services'): h3 Страницы услуг
      +ul(data-mrc-sh-body='services').par
        +li: a(href='service-haircut-woman.html') Женская стрижка - service-haircut-woman.html
        +li: a(href='service-haircut-man.html') Мужская стрижка - service-haircut-man.html
        +li: a(href='service-haircut-hot.html') Стрижка горячими ножницами - service-haircut-hot.html
        +li: a(href='service-braids.html') Плетение кос - service-braids.html
        +li: a(href='service-styling.html') Укладка - service-styling.html
        +li: a(href='service-extension.html') Наращивание волос - service-extension.html
        +li: a(href='service-keratin-hairstraightening.html') Кератиновое выпрямление волос - service-keratin-hairstraightening.html

    +pageSubsection
      a(href='#' data-mrc-sh-title='extension'): h3 Статьи по наращиванию
      +ul(data-mrc-sh-body='extension').par
        +li: a(href='narashchivanie-volos/korrekciya.html') Коррекция - korrekciya.html
        +li: a(href='narashchivanie-volos/kapsulnoe.html') Капсульное наращивание - kapsulnoe.html
        +li: a(href='narashchivanie-volos/gollivudskoe.html') Голливудское наращивание - gollivudskoe.html
        +li: a(href='narashchivanie-volos/kapsuljatsija.html') Капсуляция - kapsuljatsija.html
        +li: a(href='narashchivanie-volos/snyatie.html') Снятие - snyatie.html
        +li: a(href='narashchivanie-volos/lentochnoe.html') Ленточное - lentochnoe.html
        +li: a(href='narashchivanie-volos/holodnoe.html') Холодное - holodnoe.html
        +li: a(href='narashchivanie-volos/tsvetnoe.html') Цветное - tsvetnoe.html
        +li: a(href='narashchivanie-volos/obuchenie.html') Обучение - obuchenie.html
        +li: a(href='narashchivanie-volos/na-korotkie.html') Наращивание на короткие волосы - na-korotkie.html
        +li: a(href='narashchivanie-volos/muzhskoe.html') Наращивание мужское - muzhskoe.html

    +pageSubsection
      a(href='#' data-mrc-sh-title='coloring'): h3 Статьи по окрашиванию
      +ul(data-mrc-sh-body='coloring').par
        +li: a(href='okrashivanie-volos/brondirovanie.html') Брондирование - brondirovanie.html
        +li: a(href='okrashivanie-volos/kaliforniyskoe.html') Калифорнийское - kaliforniyskoe.html
        +li: a(href='okrashivanie-volos/airtouch.html') Аэиртач - airtouch.html
        +li: a(href='okrashivanie-volos/shatush.html') Шатуш - shatush.html
        +li: a(href='okrashivanie-volos/blondirovanie.html') Блондирование - blondirovanie.html
        +li: a(href='okrashivanie-volos/melirovaniye.html') Мелирование - melirovaniye.html
        +li: a(href='okrashivanie-volos/balayazh.html') Окрашивание волос балаяж - balayazh.html
        +li: a(href='okrashivanie-volos/v-odin-ton.html') Окрашивание в один тон - v-odin-ton.html
        +li: a(href='okrashivanie-volos/skrytoe.html') Скрытое окрашивание - skrytoe.html
        +li: a(href='okrashivanie-volos/muzhskoe.html') Мужское окрашивание - muzhskoe.html
        +li: a(href='okrashivanie-volos/tonirovanie.html') Тонирование - tonirovanie.html
        +li: a(href='okrashivanie-volos/czvetnoe.html') Цветное - czvetnoe.html
        +li: a(href='okrashivanie-volos/ombre.html') Омбре - ombre.html
        +li: a(href='okrashivanie-volos/slozhnoe.html') Сложное - slozhnoe.html

    +pageSubsection
      h3 Статьи по стрижкам
      +ul.par
        +li: a(href='strizhka/korotkaya.html') Короткая - korotkaya.html
        +li: a(href='strizhka/modelnaya.html') Модельная - modelnaya.html
        +li: a(href='strizhka/zhenskaya-strizhka.html') Женская стрижка - zhenskaya-strizhka.html
        +li: a(href='strizhka/mallet.html') Маллет - mallet.html
        +li: a(href='strizhka/kare.html') Каре - kare.html
        +li: a(href='strizhka/kaskad.html') Каскад - kaskad.html
        +li: a(href='strizhka/crop.html') Кроп - crop.html
        +li: a(href='strizhka/konchikov-volos.html') Кончиков - konchikov-volos.html
        +li: a(href='strizhka/piksi.html') Пикси - piksi.html
        +li: a(href='strizhka/poluboks.html') Полубокс - poluboks.html
        +li: a(href='strizhka/chelki.html') Челки - chelki.html
        +li: a(href='strizhka/sheggy.html') Шегги - sheggy.html
        +li: a(href='strizhka/vyushchikhsya-volos.html') Вьющихся волос - vyushchikhsya-volos.html
        +li: a(href='strizhka/goryachimi-nozhnitcami.html') Горячими ножницами - goryachimi-nozhnitcami.html
        +li: a(href='strizhka/detskie.html') Детские - detskie.html
        +li: a(href='strizhka/muzhskaya.html') Мужская - muzhskaya.html

    +pageSubsection
      h3 Статьи по прическам
      +ul.par
        +li: a(href='pricheska/vechernyaya.html') Вечерняя - vechernyaya.html
        +li: a(href='pricheska/detskie.html') Детские - detskie.html
        +li: a(href='pricheska/svadebnaja.html') Свадебная - svadebnaja.html
        +li: a(href='pricheska/afrokudri.html') Афрокудри - afrokudri.html

    +pageSubsection
      h3 Статьи по кератиновому выпрямлению
      +ul.par
        +li: a(href='vypryamlenie/muzhskoe.html') Мужское - muzhskoe.html
        +li: a(href='vypryamlenie/chelki.html') Челки - chelki.html
        +li: a(href='vypryamlenie/brazilskoe.html') Бразильское выпрямление - brazilskoe.html

    +pageSubsection
      h3 Статьи по уходу и лечению
      +ul.par
        +li: a(href='uhod-i-lechenie/laminirovanie-volos.html') Ламинирование волос - laminirovanie-volos.html
        +li: a(href='uhod-i-lechenie/nanoplastika.html') Нанопластика - nanoplastika.html
        +li: a(href='uhod-i-lechenie/botoks-dlya-volos.html') Ботокс для волос - botoks-dlya-volos.html

