extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/master-item/master-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ noPadding: [ 'top', 'bottom' ] })
    +breadcrumbs({'parents':['Главная'], 'current':'Мастера'})
  +pageSection
    h1 Мастера
    +pageSubsection
      - 
        const masters = [
          {
            title: 'Виктория Пристанскова',
            image: 'master-item-pristanskova',
            list: ['Наращивание волос', 'Парикмахер-колорист', 'Стилист', 'Барбер'],
          },
          {
            title: 'Екатерина Смирнова',
            image: 'master-item-pristanskova',
            list: ['Парикмахер-универсал'],
          },
          {
            title: 'Ирина Богданова',
            image: 'master-item-pristanskova',
            list: ['Парикмахер-универсал'],
          },
          {
            title: 'Наталья Михайлова',
            image: 'master-item-pristanskova',
            list: ['Парикмахер-универсал'],
          },
          {
            title: 'Дарья Иванова',
            image: 'master-item-pristanskova',
            list: ['Стилист', 'Визажист', 'Мастер по наращиванию'],
          },
        ]

      +grid({ 'columns': 10})
        each master in masters
          +masterItem(master)(class= cellClasses({ l:2, m:5, s:10, xs:5 }))
