extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/news-item/news-item
include /blocks/pagination/pagination


block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  - 
    const news = [
      {
        name: 'Требуются модели для наращивания/ Требуются модели для наращивания', 
        date: '18.08.2022',
      },
      {
        name: 'Базовый курс наращивания волос', 
        date: '10.07.2022',
      },
      {
        name: 'Полная инвентаризация ассортимента', 
        date: '28.07.2022',
      },
      {
        name: 'Кератиновое выпрямление Cadiveu Cacau Brasil Keratin теперь и в Центре дизайна волос', 
        date: '18.08.2022',
      },
      {
        name: 'Полная инвентаризация ассортимента', 
        date: '28.07.2022',
      },
      {
        name: 'Базовый курс наращивания волос', 
        date: '10.07.2022',
      }
    ]

  +pageSection({ noPadding: [ 'top', 'bottom' ] })
    +breadcrumbs({'parents':['Главная', 'О нас'], 'current':'Новости'})
  +pageSection()
    h1 Новости
    +pageSubsection()
      each i in news 
        +newsItem(i.name, i.date)
    +pageSubsection()
      +pagination()
