extends /blocks/layout/layout

include /blocks/img/img
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/home-services/home-services
include /blocks/brand-item/brand-item
include /blocks/staff-item/staff-item
include /blocks/block-marked/block-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/figure/figure
include /blocks/text-marked/text-marked
include /blocks/review-item/review-item
include /blocks/works-item/works-item
include /blocks/form-input/form-input
include /blocks/feedback-item/feedback-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content    
  +pageSection({ noPadding: 'top' })
    h1 Отзывы 
    +grid({ columns:10 }).page-subsection.feedback-site 
      - 
        const reviews = [
          {
            img: '/images/feedback/yandex-maps.svg',
            link: 'https://yandex.ru/maps/org/tsentr_dizayna_volos/1881119709/reviews/?ll=30.312785%2C59.908087&z=15',
            name: 'Яндекс карты',
            rating: '5 из 5',
          },
          {
            img: '/images/feedback/google-maps.svg',
            link: 'https://www.google.com/maps/place/%D0%A6%D0%B5%D0%BD%D1%82%D1%80+%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B0+%D0%92%D0%BE%D0%BB%D0%BE%D1%81/@59.9079854,30.3108918,17z/data=!3m1!4b1!4m5!3m4!1s0x469630e5425b37c1:0x8261d1ae80293e03!8m2!3d59.9079827!4d30.3130858?hl=RU',
            name: 'Google Maps',
            rating: '4,3 из 5',
          },
          {
            img: '/images/feedback/2gis.svg',
            link: 'https://2gis.ru/spb/search/%D1%86%D0%B5%D0%BD%D1%82%D1%80%20%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B0%20%D0%B2%D0%BE%D0%BB%D0%BE%D1%81%20%D1%81%D0%BF%D0%B1/firm/5348552838696892/30.31292%2C59.908049/tab/reviews?m=30.312901%2C59.908072%2F17.15',
            name: '2GIS',
            rating: '5 из 5',
          },
          {
            img: '/images/feedback/zoon.svg',
            link: 'https://zoon.ru/spb/beauty/tsentr_dizajna_volos_na_metro_frunzenskaya/reviews/',
            name: 'Zoon',
            rating: '4,5 из 5',
          },
          {
            img: '/images/feedback/yell.svg',
            link: 'https://www.yell.ru/spb/com/tsentr-dizayna-volos_6309646/reviews/',
            name: 'Yell',
            rating: '5 из 5',
          },
        ]
      each item in reviews
        +cell({ m:2, s:5, xs:10 }).block-marked.block-marked--padding-small.feedback-site__item
          a(href=item.link target='_blank') 
            img(src=item.img loading='lazy' decoding='async').feedback-site__image
          +textMarked({ size:'xs' }).text-align-center !{item.name}
          .text-align-center #[strong !{item.rating}]
    
    +pageSubsection.service-navigation
      +button({ tag: 'a', secondary: true })(href='#' data-service='all').service-navigation__item Все работы
      +button({ tag: 'a', secondary: true })(href='#' data-service='extension').service-navigation__item Наращивание волос
      +button({ tag: 'a', secondary: true })(href='#' data-service='haircut').service-navigation__item Стрижка
      +button({ tag: 'a', secondary: true })(href='#' data-service='biowave').service-navigation__item Биозавивка
      +button({ tag: 'a', secondary: true })(href='#' data-service='hairstyle').service-navigation__item Прическа
      +button({ tag: 'a', secondary: true })(href='#' data-service='coloring').service-navigation__item Окрашивание
      //- +button({ tag: 'a', secondary: true })(href='#' data-service='nanoplasty').service-navigation__item Нанопластика
      +button({ tag: 'a', secondary: true })(href='#' data-service='botox').service-navigation__item Ботокс
      +button({ tag: 'a', secondary: true })(href='#' data-service='straightening').service-navigation__item Выпрямление
      .service-navigation__selects
        .service-navigation__item.service-navigation__item--master(data-master='')
          +formInput({ type: 'select', options: [{name:'Выбрать мастера', value:''}, 'Виктория Пристанскова', 'Наталья Шаныгина', 'Екатерина Смирнова', 'Ирина Богданова', 'Наталья Михайлова', 'Дарья Иванова'] })
        .service-navigation__item.service-navigation__item--site(data-site='')
          +formInput({ type: 'select', options: [{name:'Выбрать площадку с отзывами', value:''}, {name:'Яндекс карты', value:'yandex'}, {name:'Google Maps', value:'google'}, {name:'2GIS', value:'2gis'}, {name:'Zoon', value:'zoon'}, {name:'Yell', value:'yell'} ] })
    - 
      const feedbacks = [
        {
          service: 'coloring, haircut, nanoplasty, extension',
          master: 'Виктория Пристанскова',
          site: 'yandex',
          name: 'Надежда Тарасова',  
          text: 'Была здесь на окрашивании волос, нужно было срочно, поэтому записывалас. По наличию свободного времени. Зашла и немного обалдела от количесва париков, волос разных форм и оттенков. Салон в основном специализируется именно на наращивании волос и париках. Даже стало как то тревожно справятся ли они с обычной процедурой по окраске и стрижке. Мастер провела опрос о моих пожеланиях и начала творить. Результат ее творчесва мне не очень понравился - чуть позже пойду перекрашиваться, но седину закрасила, а это была оснавная задача. И на этом спасибо. На реднюю (волосы только доросли до плеч) длину на краске лореаль + стрижка кончиков ( поддержание формы) стоили 6200 рублей. Как по мне ценник завышен. Ожидания не оправдались.',
          date: '16 марта 2023',
          serviceName: ['Окрашивание', 'Cтрижка', 'Нанопластика', 'Наращивание волос', 'Cтрижка'],  
          rating: '3',
        },
        {
          service: 'haircut',
          master: 'Ирина Богданова',
          site: 'yandex',  
          name: 'Алексеева В.',  
          text: 'Замечательный салон. Очень уютная атмосфера и доброжелательный персонал. Отдельная благодарность мастеру Ирине, сделала отличную стрижку, которую можно легко уложить ! Спасибо!',
          date: '17 февраля 2023',
          serviceName: ['Стрижка'],
          rating: '5',
        },
        {
          service: 'nanoplasty',
          master: 'Виктория Пристанскова',
          site: 'yandex',
          name: 'Алина Моисеенко',  
          text: 'Посещала город и решила сделать в салоне нанопластику волос. Осталась очень довольна мастером Викторией, а также всем персоналом салона. Доброжелательно проводили на процедуру, предлагали кофе и чай, одним словом- профессионалы своего дела. Записывайтесь в данное заведение, не пожалеете)',
          date: '13 ноября 2022',
          serviceName: ['Нанопластика'],
          rating: '5',
        },
        {
          service: 'haircut',
          site: '2gis',
          name: 'Айгерим Бримжанова',  
          text: 'Совершенно случайно выбрала этот салон и не прогадала. Очень приятный персонал и уютная обстановка, решила подрезать волосы, стрижку сделали быстро и качественно, рекомендую👍',
          date: '22 сентября 2022',
          serviceName: ['Стрижка'],
          rating: '5',
        },
        {
          site: 'zoon',
          master: 'Наталья Михайлова', 
          name: 'Зоя',  
          text: 'Впервые посетила салон. Мило встретили, предложили кофе, чай, воду. Услуга была оказана на 5. Спасибо Наталье Михайловой. Я очень довольна! Здесь обширный спектр услуг. Всем рекомендую этот замечательный центр.',
          date: '9 мая 2018',
          rating: '5',
        },
        {
          site: 'yandex',
          service: 'extension',
          master: 'Наталья Михайлова', 
          name: 'Екатерина Т.',  
          text: 'Сегодня была на консультации в салоне. Все сотрудницы очень внимательные, хотят помочь в решении поставленной задачи . Отдельно хотела бы сказать спасибо мастеру по наращиванию волос Натальи . Мастер не просто замечательный человек, но и большой специалист своего дела !!! Огромное спасибо!!!',
          date: '19 марта 2023',
          serviceName: ['Наращивание волос'],
          rating: '5',
        },
        {
          site: 'yandex',
          service: 'coloring',
          name: 'Екатерина Ш.',  
          text: 'Отличный салон, уютный. Очень удобно, что для каждого клиента отдельная комната. Понравилось, что смогли онлайн честно назвать примерную цену смывки и окрашивания по фото, все остальные салоны, в которые обращалась, уходили от ответа. И цвет в итоге получится такой, как хотела и волосы не испортились. Рекомендую!',
          date: '21 июля 2022',
          serviceName: ['Окрашивание'],
          rating: '5',
        },
        {
          site: 'google',
          service: 'haircut',
          master: 'Виктория Пристанскова',
          name: 'Alexander Pirzhukov',  
          text: 'Первый раз пришел в этот салон красоты полгода назад по рекомендации друзей. Интересный салон по дизайну и интерьеру, нет большого зала, мастера работают в отдельных помещениях. Несколько раз стригся у мастера Кати, прической остался доволен, единственное когда пришло время менять стиль прически, заметил неуверенность в действиях мастера. <br>На сегодняшний день хожу стричься в этот же салон, к мастеру Виктории. Виктория проффесионал в своём деле и отличный мастер. <br>Рекомендую салон и данного мастера.',
          date: '2024',
          serviceName: ['Стрижка'],
          rating: '4',
        },
      ]   
    +feedbackItem(feedbacks, cellClasses({ m:6 }))(class= gridClasses()).page-subsection 
    +grid({ justify: 'center' }).page-subsection 
      +button({ tag: 'a' })(href='#', class = cellClasses({ m:4, s:6 })).loading-button Загрузить больше отзывов

  include /blocks/home-appointment/home-appointment
  +pageSection({ homeAddress: true })
    h2.h1 Наш адрес
    +pageSubsection(class= gridClasses({ alignItems: 'flex-end' })).block-shifted
      +cell({ l: 6, xs: 12 }).block-shifted__image
        +figure({
          image: {
            name: 'home-office',
            path: '/images/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          },
        }) 
      +blockMarked({ toBorder: [ true, 'right' ] })(class=cellClasses({ l: 6, xs: 12 })).block-shifted__content
        +pageSubsection
          h3 Санкт-Петербург, наб. Обводного канала 108
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14 пн-пт: с 10:00 до 21:00
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14 сб-вс: с 10:00 до 19:00
        +pageSubsection
          h3 Припарковаться на машине
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14 Перед входом парковочные места. Обычно 2-3 места свободные. Если все занято, то правее от здания есть площадка для машин.
        +pageSubsection
          h3 Добраться пешком
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14: +iconInline('metro') Балтийская – 10 мин
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14: +iconInline('metro') Фрунзенская – 5 мин
  +pageSection({ homeMap: true, noPadding: [ 'top', 'bottom' ], empty: true })
    iframe(src='https://yandex.ru/map-widget/v1/?scroll=false&um=constructor%3A0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr' frameborder='0' allowfullscreen='true' width='100%' height='450' style='display: block;')
