extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/slider/slider
include /blocks/works-item/works-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  - 
    const staff = [
      {
        title: 'Екатерина Смирнова',
        image: 'staff-info-smirnova',
      }
    ]
    const certificates = [
      {
        title: 'Диплом Екатерины Степановой',
        image: 'staff-certificate-stepanova',
      },
      {
        title: 'Сертификат колорист эксперт',
        image: 'staff-certificate-smirnova',
      },
      {
        title: 'Сертификат ключи к цвету',
        image: 'staff-certificate-smirnova-1',
      },
      {
        title: 'Сертификат блонд меню',
        image: 'staff-certificate-smirnova-2',
      },
    ]
  +pageSection({ noPadding: [ 'top', 'bottom' ] })
    +breadcrumbs({'parents':['Главная', 'Мастера'], 'current':'Екатерина Смирнова'})
  +pageSection
    h1 Екатерина Смирнова
    +pageSubsection
      +grid.staff-info
        +cell({ l: 4, m: 4, s: 8, xs: 10 }).staff-info__image
          each item in staff
            +img({
                name: item.image,
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= item.title title= item.title width=380 height=430)
          +cell({ l: 8, m: 8, s: 8, xs: 10 })
            +button({ tag: 'a' })(href='#').staff-info__button Записаться

        +cell({ l: 8, m: 8, s: 12 })
          +blockMarked({ paddingSmall:'y' }).staff-info__announcement.par
            +ul
              +li Парикмахер-универсал
              +li Стилист
              +li Наращивание волос
            .staff-experience 
              p.staff-experience__text опыт работы
              p.staff-experience__year 24
              p.staff-experience__text года

          h2.h3.staff-info__title Образование
          +ul.par
            +li Школа парикмахерского искусства &laquo;Локон&raquo; (1998&nbsp;г.).
            +li Студия Д. Осипова.
            +li Французская академии Coiffure (2002&nbsp;г.).
          h2.h3.staff-info__title Опыт работы
          +ul.par
            +li Салон красоты &laquo;Анастасия&raquo; (1997-99&nbsp;гг.).
            +li Салон красоты &laquo;Dolche vita&raquo; (1999-2&nbsp;гг.).
            +li Салон красоты &laquo;Mega Beauty&raquo; (2002-4&nbsp;гг.).
            +li &laquo;Hair Care Center&raquo; (2004&nbsp;г.).
          h2.h3.staff-info__title Дополнительная информация
          p Екатерина&nbsp;&mdash; дипломированный мастер. В&nbsp;1998 году прошла обучение в&nbsp;школе парикмахерского искусства &laquo;Локон&raquo;, студии Д.&nbsp;Осипова, в&nbsp;2002 году&nbsp;&mdash; во&nbsp;французской академии Coiffure. С&nbsp;того времени постоянно совершенствует свой профессионализм: регулярно повышает квалификацию в&nbsp;области косметики и&nbsp;стрижек.
          p Парикмахерскому искусству мастер предана уже более 17&nbsp;лет. Мощный арсенал знаний позволяет ей&nbsp;достигать совершенства в&nbsp;поставленных целях.
          p Екатерина может:
          +ul.par
            +li 
              a(href='/').staff-info__link Решить проблемы облысения&nbsp;
              | и&nbsp;полного отсутствия волос методом безоперационного замещения, который освоила еще в&nbsp;2007&nbsp;году.
            +li Исполнить мечту о&nbsp;длинных, густых и&nbsp;объемных волосах: проводит 
              a(href='/').staff-info__link наращивание 
              | разными методами.
            +li Подобрать и&nbsp;создать 
              a(href='/').staff-info__link идеальную стрижку:
              |  учтет геометрию лица, индивидуальные особенности ваших волос, образ жизни и&nbsp;предпочтения в&nbsp;укладке.
            +li Бережно 
              a(href='/').staff-info__link окрасить волосы, подобрать уход: 
              |  знакома со&nbsp;всей линией косметики Schwarzkopf.
            +li Дать профессиональный 
              a(href='/').staff-info__link совет по&nbsp;лечению волос и&nbsp;кожи головы: 
              |  получила образование в&nbsp;области трихологии.
            +li
              a(href='/').staff-info__link Обучить технологиям наращивания волос:
              |  проводит семинары в&nbsp;&laquo;Центре дизайна волос&raquo;.
          p Красноречивым свидетельством профессионализма мастера является доверие клиентов: все, кто однажды воспользовался ее&nbsp;услугами, становятся постоянными клиентами.
          p Найдите своего мастера в&nbsp;ее&nbsp;лице и&nbsp;вы&nbsp;&mdash; запишитесь удобным способом!
    
  +pageSection({ staffCertificates: true, noPadding: 'top' })
    +pageSubsection
      h2 Сертификаты
      +pageSubsection
        +grid 
          each item in certificates
            +cell({ tag: 'a', l: 2, m: 3, s: 6, xs: 6})(href=`/images/${item.image}.jpg` data-glightbox data-gallery='certificates')
              +img({
                name: item.image,
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= item.title title= item.title width=175 height=124)

  +pageSection({ noPadding: 'top' })
    h2 Работы
    +pageSubsection(class= gridClasses()) 
      -  
        const works = [
          {
            image: 'works-1',
            name: 'Прическа и макияж',
            price: 3100,
          },
          {
            image: 'works-2',
            name: 'Стрижка и укладка',
            price: 1400,
          },
          {
            image: 'works-creative-style',
            name: 'Вечерний макияж',
            price: 1600,
          },
          {
            image: 'works-evening-makeup',
            name: 'Наращивание волос',
            price: 30,
          },
          {
            image: 'works-extention',
            name: 'Свадебная прическа и макияж',
            price: 6100,
          },
          {
            image: 'works-long-hair',
            name: 'Креативное окрашивания и макияж',
            price: 7500,
          },
          {
            image: 'works-wedding-style',
            name: 'Стрижка и окрашивание',
            price: 8500,
          },
          {
            image: 'works-long-hair',
            name: 'Креативное окрашивания и макияж',
            price: 7500,
          },
          {
            image: 'works-wedding-style',
            name: 'Стрижка и окрашивание',
            price: 8500,
          },
        ] 
      each work in works
        +worksItem(work)(class= cellClasses({ l: 3, m: 4, s: 6, xs: 6 })) 
      +cell
        a(href='#')#works-link Больше работ

  +pageSection({ noPadding: 'top' })
    h2 Отзывы клиенток
    +pageSubsection
      +slider({ pagination: true }).feedback-item
        +slide.feedback-item__slide
          .feedback-item__header 
            p.feedback-item__info Отзыв оставлен на сайте #[a(href='https://yandex.ru/search/?text=Hair+Care+Center&oid=b%3A1770719437&lr=2&redircnt=1678087315.1' target='_blank') yandex.ru]
          .feedback-item__image
            +img({
              name: 'feedback',
              path: '/images/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' }
              ],
            })
        - for ( i = 0; i < 4; i++ )
          +slide.feedback-item__slide
            .feedback-item__header 
              p.feedback-item__info Отзыв оставлен на сайте #[a(href='http://salonvolos.spb.ru/' target='_blank') salonvolos.spb.ru]
            .feedback-item__image
              +img({
                name: 'feedback-2',
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' }
                ],
              })
