extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/news-item/news-item
include /blocks/pagination/pagination
include /blocks/prices-block/prices-block

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const pricesNavigation = [ 'Стрижка', 'Прическа', 'Окрашивание', 'Укладка', 'Выпрямление волос', 'Завивка волос', 'Наращивание волос', 'Уход, лечение и диагностика', 'Визаж' ]
  +pageSection({ breadcrumbs:true })
    +breadcrumbs({ parents: [ 'Главная' ], current: 'Цены' })
  +pageSection()
    h1 Цены
    +pageSubsection.prices-navigation
      each item in pricesNavigation
        +button({ tag: 'a', secondary: true })(href='/').prices-navigation__item !{item}
    +pageSubsection
      +grid.prices-block
        +cell({ tag: 'h2', l: 5, m: 4, xs: 12 }).prices-block__title Визаж
        +cell({ l: 7, m: 8, xs: 12 }).prices-block__tables
          .prices-table
            .prices-table__row.prices-table__row--subheader.prices-table__row--big-price
              .prices-table__cell.prices-table__cell--title Make Up глаз
              .prices-table__cell 600 руб.
          .prices-table
            .prices-table__row.prices-table__row--subheader.prices-table__row--big-price
              .prices-table__cell.prices-table__cell--title Стрелки
              .prices-table__cell 350 ₽
          .prices-table
            .prices-table__row.prices-table__row--subheader.prices-table__row--big-price
              .prices-table__cell.prices-table__cell--title
                a(href='/') Дневной / бизнес make up
                .prices-table__clarification Услуга предоставляется после индивидуальной консультации с мастером-визажистом
              .prices-table__cell 1500 ₽
      +grid.prices-block
        +cell({ tag: 'h2', l: 5, m: 4, xs: 12 }).prices-block__title Выпрямление волос
        +cell({ l: 7, m: 8, xs: 12 }).prices-block__tables
          .prices-table
            .prices-table__row.prices-table__row--subheader
              .prices-table__cell.prices-table__cell--title
                a(href='/uslugi/vypryamlenie-volos/') Кератиновое выпрямление  Moroccan Hair Keratin 
                .prices-table__clarification Moroccan Hair Keratin — высокоэффективный набор средств премиум-класса для выполнения процедуры кератинового выпрямления и восстановления волос. Комплекс подходит для тонких, волнистых и пушащихся волос. Придает гладкость и блеск непослушным, тусклым волосам. Благодаря обновленному комплексу уникальных компонентов Moroccan Hair Keratin обладает сильнейшим ухаживающим и увлажняющим эффектом. После процедуры волосы в домашнем уходе не требуют использования бессульфатных шампуней. В стоимость услуги включены материалы.  При повышенном объеме волос к стоимости может быть прибавлено от 500 до 1000 рублей*
            .prices-table__row
              .prices-table__cell.prices-table__cell--row-header до плеч
                .prices-table__clarification до 20 см
              .prices-table__cell 7000 ₽
            .prices-table__row
              .prices-table__cell.prices-table__cell--row-header ниже плеч
                .prices-table__clarification от 20 см
              .prices-table__cell 8500 ₽
          .prices-table
            .prices-table__row.prices-table__row--subheader
              .prices-table__cell.prices-table__cell--title Нанопластика волос
                .prices-table__clarification Услуга направлена на восстановление структуры волос и выполняется кератиновым составом (с содержанием аминокератина и аминокислот) Jean de perle (Франция). Эффект более 2-х месяцев. В стоимость услуги включены материалы. При повышенном объеме волос к стоимости может быть прибавлено от 500-1000 рублей.
            .prices-table__row
              .prices-table__cell.prices-table__cell--row-header до 20 см
              .prices-table__cell 7000 ₽
            .prices-table__row
              .prices-table__cell.prices-table__cell--row-header от 20 см
              .prices-table__cell 8500 ₽
      +grid.prices-block
        +cell({ tag: 'h2', l: 5, m: 4, xs: 12 }).prices-block__title Окрашивание
        +cell({ l: 7, m: 8, xs: 12 }).prices-block__tables
          .prices-table
            .prices-table__row.prices-table__row--subheader
              .prices-table__cell.prices-table__cell--title
                a(href='/uslugi/okrashivanie-volos/') Снятие краски / смывка / обесцвечивание
                .prices-table__clarification Коррекция оттенка (цвета) - стоимость варьируется в зависимости от сложности декапирования (легкое-глубокое).  Услуга может суммироваться с услугами «Креативное окрашивание», «Окрашивание / тонирование в один тон» в случае, если необходимо подготовить базу для окрашивания. При повышенном объеме волос к стоимости может быть прибавлено от 1000 рублей.
              .prices-table__cell Estel
              .prices-table__cell Loreal
            .prices-table__row
              .prices-table__cell.prices-table__cell--row-header до плеч
                .prices-table__clarification до 20 см
              .prices-table__cell 5000-6000
              .prices-table__cell 5000-6000
            .prices-table__row
              .prices-table__cell.prices-table__cell--row-header ниже плеч
                .prices-table__clarification от 20 см
              .prices-table__cell 6000-8000
              .prices-table__cell 6000-8000
