extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/search-result/search-result

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ noPadding: [ 'top', 'bottom' ] })
    +breadcrumbs({'parents':['Главная'], 'current':'Мастера'})
  +pageSection
    h1 Поиск
    +grid.page-subsection 
      +cell({ tag: 'form', m:9 })(action method='get')
        +grid({ alignItems: 'center' }).par.search
          +formInput({ type: 'text' })(class= cellClasses({ m:9, s:8 }))
          input(class= cellClasses({ m:3, s:4 }) value='Найти').button
        p К сожалению, на ваш поисковый запрос ничего не найдено.

    +pageSubsection 
      b Отсортировано по релевантности  | 
      <a href="#">Сортировать по дате</a>

    +grid.page-subsection 
      - 
        const searchResults = [
          {
            name: 'Учебный центр по наращиванию волос', 
            path: { parents: [ 'Главная', 'О нас' ], current: 'Новости' },
            body: 'Центр дизайна волос открывает новое направление деятельности: учебный центр по наращиванию волос. В программу обучения войдут как все виды наращивания (холодное, горячее на воск и кератин, наращивание по технологии Double ...',
          },
          {
            name: 'Учебный центр по наращиванию волос', 
            path: { parents: [ 'Главная', 'О нас' ], current: 'Новости' },
            body: 'Центр дизайна волос открывает новое направление деятельности: учебный центр по наращиванию волос. В программу обучения войдут как все виды наращивания (холодное, горячее на воск и кератин, наращивание по технологии Double ...',
          },
          {
            name: 'Учебный центр по наращиванию волос', 
            path: { parents: [ 'Главная', 'О нас' ], current: 'Новости' },
            body: 'Центр дизайна волос открывает новое направление деятельности: учебный центр по наращиванию волос. В программу обучения войдут как все виды наращивания (холодное, горячее на воск и кератин, наращивание по технологии Double ...',
          },
        ]

      +cell({ m:9 })
        each result in searchResults
          +searchResult(result)
