extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/countdown/countdown
include /blocks/works-item/works-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    //- +grid({ justify: 'center' }).page-subsection
    //-   +cell({ m:4, s:6 })
    //-     +img({
    //-       name: 'staff-item-shadricheva',
    //-       path: '/images/',
    //-       formats: [
    //-         { ext: 'jpg', orig: true },
    //-         { ext: 'webp', mime: 'image/webp' }
    //-       ],
    //-       density: [
    //-         { values: [ 1, 2 ] }
    //-       ]
    //-     })(alt='Ольга Шадричева')
    //-   +blockMarked({ padding: 'small' })(class= cellClasses({ m:8 }))
    //-     +textMarked({ tag:'p', color: 'beige', size: 'm' }).text-align-center #[strong Акция! Дарим скидку -15%]
    //-     p Только месяц в нашем салоне наращивание от мастера эксперта Ольги всего <strong>70 руб.</strong> капсула вместо 85 руб.*! Оцени работы и нарасти роскошные натуральные волосы любой длины быстро и абсолютно незаметно.
    //-     p Успей записаться в ноябре со скидкой!
    //-     p <small>* в стоимость наращивания <strong>входит капсуляция</strong> волос от мастера</small>
    //-     +grid({ alignItems:'center', smallGap: 'y' })
    //-       +cell({ l:6 })
    //-         +countdown('1732914000000').block-marked--padding-small.par
    //-       +cell({ l:6 })
    //-         a(href="#" data-url="https://b371027.yclients.com/company/170918/personal/select-services?o=m3395862").button.ms_booking Записаться
    
    //- +grid({ justify: 'center' }).page-subsection
    //-   +cell({ m:4, s:6 })
    //-     +img({
    //-       name: 'staff-item-e-bogdanova',
    //-       path: '/images/',
    //-       formats: [
    //-         { ext: 'jpg', orig: true },
    //-         { ext: 'webp', mime: 'image/webp' }
    //-       ],
    //-       density: [
    //-         { values: [ 1, 2 ] }
    //-       ]
    //-     })(alt='Елена Богданова')
    //-   +blockMarked({ padding: 'small' })(class= cellClasses({ m:8 }))
    //-     +textMarked({ tag:'p', color: 'beige', size: 'm' }).text-align-center #[strong Акция! Дарим скидку -15%]
    //-     p Только месяц в нашем салоне наращивание от ТОП мастера Елены всего <strong>45 руб.</strong> вместо 55 ₽ за капсулу *! Оцени работы и нарасти роскошные натуральные волосы любой длины быстро и абсолютно незаметно.
    //-     p Успей записаться в ноябре со скидкой!
    //-     p <small>* в стоимость наращивания <strong>не входит капсуляция</strong> волос</small>
    //-     +grid({ alignItems:'center', smallGap: 'y' })
    //-       +cell({ l:6 })
    //-         +countdown('1732914000000').block-marked--padding-small
    //-       +cell({ l:6 })
    //-         a(href="#" data-url="https://b371027.yclients.com/company/170918/personal/select-services?o=m3422762").button.ms_booking Записаться

    +grid({ justify: 'center' }).hair-extention-appointment.page-subsection(data-menu='Виды наращивания')
      +cell({ l:4, m:6 }).block-marked.text-align-center
        +grid 
          +cell         
            h2.not-menu-content Голливудское 
            p | холодное |
            p.text-marked--size--m от 3000 руб*
          +cell
            a(href='#hair-extention-sign' data-modal data-name="голливудское наращивание").button.hair-extention-appointment__button Записаться

      +cell({ l:4, m:6 }).block-marked.text-align-center
        +grid 
          +cell
            h2.not-menu-content Капсульное
            p | горячее |
            p.text-marked--size--m от 4000 руб*
          +cell
            a(href='#hair-extention-sign' data-modal data-name="капсульное наращивание").button.hair-extention-appointment__button Записаться

      +cell({ l:4, m:6 }).block-marked.text-align-center
        +grid 
          +cell
            h2.not-menu-content Ленточное
            p | холодное |
            p.text-marked--size--m от 2000 руб*
          +cell
            a(href='#hair-extention-sign' data-modal data-name="ленточное наращивание").button.hair-extention-appointment__button Записаться
    +pageSubsection
      h2 Почему волосы стоит нарастить у нас?
    +grid.page-subsection
      +cell({ l:6 })
        +grid
          +cell({ l:6, s:5 })
            img(src='https://www.salonvolos.spb.ru/images/hair-extention/why-we-01.jpg' alt='Ассортимент волос' title='Ассортимент волос' loading='lazy' decoding='async')
          +cell({ l:6, s:7 })
            h3 Ассортимент волос
            <p><strong>Подберем</strong> волосы на месте.</p>
            <p><strong>Огромный ассортимент</strong> волос в наличии <strong>от 40 до 85 см</strong>, все цвета&nbsp;— <strong>47 оттенков</strong>.</p>
            <p>Изготовим любой оттенок на заказ.</p>

      +cell({ l:6 })
        +grid
          +cell({ l:6, s:5  })
            img(src='https://www.salonvolos.spb.ru/images/hair-extention/why-we-03.jpg' alt='Гарантия' title='Гарантия' loading='lazy' decoding='async')
          +cell({ l:6, s:7 })
            h3 Гарантия
            <p>Даем <strong>гарантию на работу</strong>&nbsp;— 1 месяц, <strong>гарантию на качество волос</strong>&nbsp;— 2-3 месяца. </p>

      +cell({ l:6 })
        +grid
          +cell({ l:6, s:5  })
            img(src='https://www.salonvolos.spb.ru/images/hair-extention/why-we-04.jpg' alt='Качество волос' title='Качество волос' loading='lazy' decoding='async')
          +cell({ l:6, s:7 })
            h3 Качество волос
            <p>Предложим <strong>качественные славянские волосы</strong> собственного производства, без силикона и перевертышей.</p>

      +cell({ l:6 })
        +grid
          +cell({ l:6, s:5  })
            img(src='https://www.salonvolos.spb.ru/images/hair-extention/why-we-05.jpg' alt='Низкие цены' title='Низкие цены' loading='lazy' decoding='async')
          +cell({ l:6, s:7 })
            h3 Низкие цены
            <p>Цены на волосы - самые низкие в городе, от производителя без посредников.</p>

      +cell({ l:6 })
        +grid
          +cell({ l:6, s:5  })
            img(src='https://www.salonvolos.spb.ru/images/hair-extention/why-we-06.jpg' alt='Сертифицированные мастера' title='Сертифицированные мастера' loading='lazy' decoding='async')
          +cell({ l:6, s:7 })
            h3 Сертифицированные мастера
            <p>Нарастим волосы <strong>профессионально</strong>. Мастера имеют соответствующие <strong>сертификаты</strong>. Сами обучаем других мастеров наращиванию.</p>
      
      +cell({ l:6 })
        +grid
          +cell({ l:6 })
            h3 Разные методики
            <p>Выполним 3 вида наращивания на выбор: <strong>на трессах, капсульное, ленточное</strong>.</p>
    
    +pageSubsection.hair-extention-banner
      .hair-extention-banner__left
        .hair-extention-banner__title Акция
        .hair-extention-banner__info Скидка на волосы #[strong 10%] #[br] при наращивании в нашем салоне
        .hair-extention-banner__gift + подарок
        .hair-extention-banner__counter
          p до конца акции осталось: 
          +countdown.par

      .hair-extention-banner__right.text-align-center
        .hair-extention-banner__byphone 
          p Вы можете получить<br>консультацию по телефону
          p.text-marked--size--m +7 (812) 385-01-51
          p или закажите обратный звонок
        a(href="#" onclick="event.preventDefault(); Comagic.openSitePhonePanel()").button Заказать звонок

    +pageSubsection
      h2 Как выбрать тип наращивания?
      +grid.par 
        +cell
          h3 Капсульное (горячее) наращивание
          +grid({ justify: 'center' }).par 
            +cell({ l:3, m:3, s:6 })
              img(src='https://www.salonvolos.spb.ru/images/hair-extention/type-01.jpg' alt='Капсульное (горячее) наращивание' title='Капсульное (горячее) наращивание' loading='lazy' decoding='async')
            +cell({ l:9, m:9 })
              <p>В данной технологии используются пряди волос с капсулами.</p>
              <p>Позволяет наращивать волосы при короткой длине своих волос от 6-8 см. А также можно наращивать волосы в зоне челки при помощи микрокапсул.</p>
              <p>Можно экспериментировать с цветом волос по длине, добавляя прядки различных цветов, например, делать эффект мелирования.</p>
              <p><strong>Лучший выбор, если вы планируете нарастить волосы на длительный период</strong></p>
              +ul.par
                <li class="unordered-list__item">В среднем, на голову требуется 140 прядей;</li>
                <li class="unordered-list__item">Коррекция каждые 3 месяца;</li>
                <li class="unordered-list__item">Срок службы волос 8 - 12 месяцев;</li>
                <li class="unordered-list__item">Время на процедуру 2-4 часа.</li>
        +cell
          h3 Ленточное (холодное) наращивание
          +grid({ justify: 'center' }).par 
            +cell({ l:3, m:4, s:6 })
              img(src='https://www.salonvolos.spb.ru/images/hair-extention/type-02.jpg' alt='Ленточное (холодное) наращивание' title='Ленточное (холодное) наращивание' loading='lazy' decoding='async')
            +cell({ l:9, m:8 })
              <p>В данной технологии волосы на ленте крепятся посредством клеевой ленты.</p>
              <p>Актуально, если вы планируете посетить мероприятие и вам нужно срочно нарастить и привести волосы в порядок.</p>
              <p>Подойдет для девушек с небольшим объемом своих волос.</p>
              <p>Длина своих волос от 10 см.</p>
              <p><strong>Лучший выбор для обладательниц редких и тонких волос</strong></p>
              +ul.par
                <li class="unordered-list__item">В среднем, на голову требуется 40 лент;</li>
                <li class="unordered-list__item">Коррекция каждые 1,5 - 2 месяца;</li>
                <li class="unordered-list__item">Срок службы волос 6-8 месяцев;</li>
                <li class="unordered-list__item">Время на процедуру 1-1,5 часа.</li>
        +cell
          h3 Голливудское (холодное) наращивание
          +grid({ justify: 'center' }).par 
            +cell({ l:3, m:4, s:6 })
              img(src='https://www.salonvolos.spb.ru/images/hair-extention/type-03.jpg' alt='Голливудское (холодное) наращивание' title='Голливудское (холодное) наращивание' loading='lazy' decoding='async')
            +cell({ l:9, m:8 })
              <p>В данной технологии волосы в трессах (накладные пряди) крепятся к собственным волосам, заплетенным в небольшие косички, посредством пришивания специальной нитью.</p>
              <p>Можно наращивать волосы близко к лицу и в области челки, что придает более естественный и натуральный вид прическе.</p>
              <p>При перекидывании волос на две стороны вперед сзади абсолютно ничего не заметно.</p>
              <p>Не подойдет для девушек с редкими и ослабленными волосами.</p>
              <p>Длина своих волос от 10 см.</p>
              <p><strong>Лучший выбор для безопасности и здоровья своих волос</strong></p>
              +ul.par
                <li class="unordered-list__item">В среднем, на голову требуется 2 тресса: 30 и 20 см, общим весом около 100 грамм;</li>
                <li class="unordered-list__item">Коррекция каждые 2 месяца;</li>
                <li class="unordered-list__item">Срок службы волос: около 6-8 мес. (3-4 коррекции);</li>
                <li class="unordered-list__item">Время на процедуру 2-3 часа.</li>

    +pageSubsection
      h2 Как рассчитать стоимость?
      p Для расчета стоимости используйте наши калькуляторы:
      include /blocks/hair-extention-calculator/hair-extention-calculator
      +grid.par  
        +cell({ m:6 })
          include /data/hair-extention/hair-extention-calc1
          +hairExtCalc(calc1)
        +cell({ m:6 })   
          include /data/hair-extention/hair-extention-calc2
          +hairExtCalc(calc2)
    
    +pageSubsection.block-marked.block-marked--beige.text-align-center.consultation-item
      h2 Сложно рассчитать стоимость самостоятельно?
      p Оставьте номер телефона, наш мастер перезвонит и поможет рассчитать стоимость услуги наращивания волос.
      a(href="#" onclick="event.preventDefault(); Comagic.openSitePhonePanel()").button.consultation-item__button Проконсультироваться

    +pageSubsection
      h2 Результаты наращивания
      +grid({ justify: 'center' }).page-subsection
        +cell({ l:3, m:4, s:6 })
          p: img(src='https://www.salonvolos.spb.ru/images/hair-extention/result-01.jpg' alt='Наращивание на капсуле' title='Наращивание на капсуле' loading='lazy' decoding='async')
          p Нарастили волосы на&nbsp;капсуле: #[br] 200&nbsp;капсул. длина 55&nbsp;см, #[br] цвет &#8470;&nbsp;1.
          <p>Стоимость:<br>19 800 (волосы) + 6 000 (работа)</p>
          p.text-marked--color-beige.text-marked--size-m #[strong = 25 800 рублей]
          p #[strong Со стоимостью волос]
        +cell({ l:3, m:4, s:6 })
          p: img(src='https://www.salonvolos.spb.ru/images/hair-extention/result-02.jpg' alt='Наращивание на ленте' title='Наращивание на ленте' loading='lazy' decoding='async')
          p Нарастили волосы на&nbsp;ленте: #[br] 40&nbsp;лент, длина 60&nbsp;см, #[br] цвет &#8470;&nbsp;201.
          <p>Стоимость:<br>14 960 (волосы) + 2 000 (работа)</p>
          p.text-marked--color-beige.text-marked--size-m #[strong = 16 960 рублей]
          p #[strong Со стоимостью волос]
        +cell({ l:3, m:4, s:6 })
          p: img(src='https://www.salonvolos.spb.ru/images/hair-extention/result-03.jpg' alt='Наращивание на трессе' title='Наращивание на трессе' loading='lazy' decoding='async')
          p Нарастили волосы на&nbsp;трессе: #[br] 80&nbsp;грамм, длина 45&nbsp;см, #[br] цвет &#8470;&nbsp;81В.
          <p>Стоимость:<br>10 340 (волосы) + 4 000 (работа)</p>
          p.text-marked--color-beige.text-marked--size-m #[strong = 14 340 рублей]
          p #[strong Со стоимостью волос]

    h2 Наши работы
    +pageSubsection(class= gridClasses())
      -  
        const works = [
          {
            image: 'works-6', 
            name: 'Наращивание 212 капсул',
            price: '1111',
            video: '/video/works-6.mp4',
            description: 'Задача: тестовое описание', 
          },
          {
            image: 'works-7', 
            name: 'Волосы 15 200 ₽',
            price: '15 200',
            video: '/video/works-7.mp4',
            description: 'Задача: тестовое описание 1', 
          },
        ]
      each work in works
        +worksItem(work)(class= cellClasses({ l: 3, m: 4, s: 6, xs: 6 }))
      
    +slider({ pagination: true }).works-slider.page-subsection
      +slide.works-slider__slide
        .works-slider__inner
          img(src='' alt="")
          .works-slider__description
      +slide.works-slider__slide
        video(controls src='')
        //- +youtubeResponsive('jNQXAC9IVRw')

    h2 Как мы работаем?
    +grid({ tag:'ol' }).page-subsection.list-steps.list-steps--list
      +cell({ tag: 'li' }).list-steps__item
        .list-steps__inner 
          p <strong>Рекомендуем</strong> подходящий вид наращивания волос при любой длине, состоянии волос (редкие или тонкие), длительности ношения, степени естественности.
          p Сможем нарастить волосы близко к лицу, в области челки.
      +cell({ tag: 'li' }).list-steps__item
        .list-steps__inner 
          <p>Поможем <strong>выбрать нужную длину</strong> волос, исходя из исходной длины и густоты волос, стрижки, роста и образа жизни. Это поможет получить максимально естественный результат.</p>
          <p>Подберем нужный <strong>оттенок</strong> и определим необходимое <strong>количество прядей.</strong></p>
          <p>За счет использования прядей различного цвета добьемся любого эффекта: <strong>мелирование, колорирование, омбре.</strong></p>
      +cell({ tag: 'li' }).list-steps__item
        .list-steps__inner
          <p>Рассчитаем примерную стоимость услуги.</p>
      +cell({ tag: 'li' }).list-steps__item
        .list-steps__inner
          <p>Перед наращиванием при необходимости <strong>выполним адаптационную стрижку</strong>. Волосы будут выглядеть <strong>аккуратно</strong>, а короткие собственные пряди не будут выбиваться из общей прически.</p>
          <p>Также <strong>обновим цвет собственных волос</strong>, чтобы не был заметен переход между ними и наращенными волосами.</p>
      +cell({ tag: 'li' }).list-steps__item
        .list-steps__inner
          <p>Дадим <strong>консультацию по уходу за волосами</strong>, порекомендуем профессиональную косметику, которую вы сможете приобрести в нашем салоне.</p>

    +grid({ justify: 'center' }).page-subsection
      +cell({ m:8, s:10 })
        +iframeResponsive("https://www.youtube.com/embed/AerKHfUqncA")

    +pageSubsection
      include /blocks/hair-extention-sign/hair-extention-sign

  +pageSection({ noPadding: 'top' })#page-prices
    .prices-block
      .prices-block__tables
        .prices-table
          .prices-table__row.prices-table__row--header
            .prices-table__cell.prices-table__cell--title 
              h2 Услуги и цены
            .prices-table__cell До подбородка
              .prices-table__clarification до 10 см
            .prices-table__cell До плеч
              .prices-table__clarification до 20 см
            .prices-table__cell Ниже плеч
              .prices-table__clarification от 20 см

          .prices-table__row
            .prices-table__cell.prices-table__cell--row-header Голливудское наращивание
              .prices-table__clarification В услугу входит мытье головы, укладка феном - придание формы без использования стайлинговых средств. По желанию клиента может быть выбрана любая укладка с 50% скидкой по действующему прейскуранту.
            .prices-table__cell 1000-1400 ₽
            .prices-table__cell 1600 ₽
            .prices-table__cell 2000 ₽

      .prices-block__bottom 
        a(href='#hair-extention-sign' data-modal data-name='наращивание').button.prices-block__record-online Записаться онлайн
        .prices-block__clarification При записи вы выбираете день, #[br] время и мастера.
        .prices-block__phone.phone  +7 (812) 385-01-51
        a(href='#') Все цены
