extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })   
    +pageSubsection
      h2 В чем преимущества стрижки горячими ножницами?
      <p>Горячие ножницы запаивают кончики и формируют кератиновую пробку, <strong>препятствующую вымыванию питательных веществ</strong> из волоса.</p>
      <p>За счет этого решается проблема секущихся кончиков, волосы получают <strong>здоровый блеск, гладкость и мягкость.</strong></p>
    +pageSubsection.block-marked
      p.text-marked--size-m Дадим шанс отрастить действительно <strong>длинные, красивые и здоровые волосы!</strong>
    +pageSubsection
      h2 Почему стрижку горячими ножницами стоит сделать у нас?
      +grid.par 
        +cell({ m:4 })
          img(src='/images/hot-scissors/safety.jpg' alt='Стрижка горячими ножницами: безопасность' title='Стрижка горячими ножницами: безопасность')
        +cell({ m:8 })
          h3 Безопасность
          <p>Миникомпьютер подбирает температурные режимы, подходящие именно под ваш тип волос.</p>
          <p>В том случае, если волосяной покров истощен множественными процедурами завивки, окрашивания или же тонок от природы, температуру можно сделать минимальной, а вот для толстых и кудрявых волос выставляют температуру повыше.</p>
        +cell({ m:4 })
          img(src='/images/hot-scissors/unique-method.jpg' alt='Стрижка горячими ножницами: уникальный метод' title='Стрижка горячими ножницами: уникальный метод')
        +cell({ m:8 })
          h3 Уникальный способ стрижки
          <p>Наши мастера используют жгутиковый способ стрижки горячими ножницами!</p>
        +cell({ m:6 })
          h3 Сохраним длину волос
          <p>Каждая прядка волос корректируется в ручном режиме.</p>
          <p>Это удлиняет время работы, но позволяет постричь волосы неоднородной длины или сильно градуированные, не изменяя длину!</p>
        +cell({ m:6 })
          h3 Диагностика и рекомендации
          <p>Проведем бесплатную диагностику волос перед процедурой.</p>
          <p>Порекомендуем уход за волосами после стрижки горячими ножницами, а также косметику.</p>
    +pageSubsection.block-marked
      p.text-marked--size-m У наших мастеров <strong>большой опыт</strong> в таких стрижках.
    +pageSubsection
      h2 Технология проведения стрижки
      p Стрижка горячими ножницами потребует от 1 до 2 часов – продолжительность зависит от длины волос и их состояния.
    +grid({ tag: 'ol', justify: 'space-around' }).page-subsection.list-steps.list-steps--bottom
      +cell({ tag: 'li', m:5  }).list-steps__item
        p: img(src='/images/works-creative-style.jpg' alt='Стрижка горячими ножницами: этап 1' title='Стрижка горячими ножницами: этап 1')
        .list-steps__inner.par
          p Разделим волосы на небольшие пряди, затем скрутим их в не слишком тугие жгутики. Это позволит выполнить стрижку, не изменяя длину.
      +cell({ tag: 'li', m:5  }).list-steps__item
        p: img(src='/images/works-creative-style.jpg' alt='Стрижка горячими ножницами: этап 2' title='Стрижка горячими ножницами: этап 2')
        .list-steps__inner.par
          <p>Выбившиеся из жгута секущиеся кончики обрежем.</p>
          <p>После этого проверим, не осталось ли секущихся концов, и в случае необходимости повторим процедуру.</p>
      +cell({ tag: 'li', m:5  }).list-steps__item
        p: img(src='/images/works-creative-style.jpg' alt='Стрижка горячими ножницами: этап 3' title='Стрижка горячими ножницами: этап 3')
        .list-steps__inner.par
          p После того, как все волосы обработаны, при помощи тех же горячих ножниц придадим волосам нужную форму.
