extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    +grid.page-subsection
      +figure({
        image: {
          name: 'vypryamlenie-1',
          path: '/images/uslugi/vypryamlenie/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Результат кератинового выпрямления волос',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Кератиновое выпрямление волос&nbsp;— популярная бьюти-услуга, которая превращает непокорные пористые пряди в&nbsp;послушное шелковистое полотно. Кератин&nbsp;— базовый строительный материал кожи, ногтей и&nbsp;волосяных стержней. Нехватка кератина нарушает структуру волос, они становятся тусклыми и&nbsp;непослушными. Нехватку фибриллярного белка провоцирует термоукладка, неправильное питание, агрессивная косметика, частое окрашивание, а&nbsp;также прямые солнечные лучи.
        p Дефицит важного структурного элемента легко восполнить, воспользовавшись услугой выпрямления волос кератином в&nbsp;Hair Care Center. Даже одной процедуры достаточно, чтобы впечатлить окружающих блестящим результатом.

    +pageSubsection
      h2 Что такое кератиновое выпрямление
      +grid.par
        +cell({ m:6 })
          p Это относительно новый метод временной коррекции структуры стержня составами, насыщенными кератиновыми волокнами. Чаще используются продукты с&nbsp;растительным или искусственным кератином, реже&nbsp;— животного происхождения. Раствор наносится на&nbsp;волосы, фиксируется утюжком для формирования защитного слоя на&nbsp;кутикуле. Процедура безопасна, не&nbsp;провоцирует раздражение кожи головы.
          p Кератиновая обработка рекомендована для:
          +ul.par
            +li укрощения вьющихся, поврежденных и&nbsp;жестких локонов;
            +li уплотнения тонких волос;
            +li облегчения процесса расчесывания и&nbsp;укладки;
            +li исправления последствий неудавшейся химической завивки.
          p Результат выпрямления волос сохраняется не&nbsp;навсегда, но&nbsp;надолго&nbsp;—  до&nbsp;3-6&nbsp;месяцев. Продолжительность эффекта зависит от&nbsp;последующего ухода в&nbsp;домашних условиях.
        +figure({
        image: {
          name: 'vypryamlenie-2',
          path: '/images/uslugi/vypryamlenie/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Волосы до и после кератинового выпрямления',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Преимущества обработки кератином
      +ul.par
        +li Универсальность&nbsp;— работает на&nbsp;длинных, средних и&nbsp;коротких волосах;
        +li Нет ограничений по&nbsp;цвету и&nbsp;структуре локонов;
        +li Обеспечивает мгновенный и&nbsp;накопительный эффект;
        +li Сокращает время сушки феном на&nbsp;50&nbsp;%;
        +li Восстанавливает структуру поврежденных стержней;
        +li Увеличивает объем прически;
        +li Облегчает укладку, создание причесок;
        +li Работает как антистатик, предотвращая спутывание локонов;
        +li Питает, укрепляет и&nbsp;выпрямляет волосяные стержни.
      p Кератин также выступает как барьер, уменьшающий проникновение тепла в&nbsp;корковый слой стержня. Защитный слой предотвращает тепловое повреждение, а&nbsp;значит ломкость, секущиеся кончики и&nbsp;выцветание.
      p Кератиновые процедуры не&nbsp;рекомендуются беременным женщинам из-за химических компонентов в&nbsp;составе. Выпрямление волос нежелательно проводить блондинкам сразу после окрашивания или осветления, следует подождать 2&nbsp;недели.

    +pageSubsection
      h2 Как происходит процедура выпрямления волос
      p Кератиновое выпрямление волос проводится только в&nbsp;парикмахерской и&nbsp;только опытным мастером, а&nbsp;главное&nbsp;— в&nbsp;проветриваемом помещении. На&nbsp;процедуру отводится 2-3&nbsp;часа в&nbsp;зависимости от&nbsp;длины, густоты и&nbsp;пористости локонов.

      h3 Подготовка к&nbsp;процедуре
      +ul.par
        +li За&nbsp;2&nbsp;недели до&nbsp;искусственной кератинизации избегайте шампуней и&nbsp;кондиционеров с&nbsp;сульфатами. Это агрессивные химические вещества, лишающие локоны натуральных масел и&nbsp;влаги.
        +li Сходите на&nbsp;предварительную консультацию к&nbsp;мастеру, чтобы узнать дополнительные меры предосторожности.

      h3 Основные этапы
      ol.list-ordered.par
        li.list-ordered__item Перед началом процедуры мастер кератинового выпрямления моет голову осветляющим очищающим шампунем, чтобы удалить грязь, налет и&nbsp;остатки уходовых средств. Затем высушивает.
        li.list-ordered__item На&nbsp;разделенные на&nbsp;секции пряди наносим кератиновый раствор, избегая корней, на&nbsp;20-40&nbsp;минут.
        li.list-ordered__item После впитывания лечебного состава локоны вновь сушим феном.
        li.list-ordered__item Запечатываем кутикулу и&nbsp;закрепляем кератин на&nbsp;волосах с&nbsp;помощью утюжка, нагретого до&nbsp;230&nbsp;° (температура выбирается персонально).
        li.list-ordered__item Промываем волосы теплой водой без шампуня, чтобы смыть остатки кератинового состава.
        li.list-ordered__item Завершаем процедуру увлажняющим уходом и&nbsp;укладкой.

      +grid.par
        +figure({
          image: {
            name: 'vypryamlenie-3',
            path: '/images/uslugi/vypryamlenie/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Выпрямление утюжком',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +figure({
          image: {
            name: 'vypryamlenie-4',
            path: '/images/uslugi/vypryamlenie/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'До и После кератинового выпрямления',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Технологии
      +grid.par
        +cell({ m:6 })
          h3 Бразильская технология
          p Составы для бразильского выпрямления помимо кератина включают натуральные масла&nbsp;(чаще аргановое), а&nbsp;также формальдегид, который обеспечивает впечатляющий продолжительный результат до&nbsp;6&nbsp;месяцев. Бразильское выпрямление справляется даже с&nbsp;жесткими волосами.
        +cell({ m:6 })
          h3 Американская технология
          p Американская методика подразумевает использование щадящих составов без формальдегида. Применяется даже на&nbsp;истонченной поврежденной шевелюре. Мягкая ухаживающая формула объясняет высокую стоимость. В тоже время процедура дает результат со&nbsp;стойкостью, уступающей бразильской технологии. Локоны сохраняют шелковистость 2–3&nbsp;месяца. Щадящий состав не&nbsp;всегда справляется с&nbsp;секущимися кончиками.

    +pageSubsection
      h2 Уход после процедуры
      +ul.par
        +li Не&nbsp;мойте голову еще 3&nbsp;дня после кератинизации.
        +li Не&nbsp;заправляйте пряди в&nbsp;хвост и&nbsp;за&nbsp;уши, не&nbsp;заплетайте в&nbsp;косу в&nbsp;течение 48&nbsp;часов, так&nbsp;как это формирует неприглядные вмятины.
        +li Применяйте бессульфатный шампунь, чтобы продлить срок лечения, так&nbsp;как мягкий состав не&nbsp;вызывает пушения волосков.
        +li Купайтесь в&nbsp;бассейне в&nbsp;шапочке, чтобы защитить пряди от&nbsp;хлорки.

    +pageSubsection
      h2 Почему кератиновое сглаживание в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;студии выпрямления волос Hair Care Center
      +ul.par
        +li Кератиновые выпрямление в&nbsp;нашем салоне делают только опытные мастера;
        +li Используем сертифицированное оборудование и&nbsp;профессиональную косметику;
        +li Тщательно обрабатываем каждую прядку, чтобы каждая получила необходимое количество кератина;
        +li Подбираем средства для последующего домашнего ухода.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Это вредная процедура?</h3>').par
            p Нет, хотя выпрямляющие составы содержат химические вещества. При использовании проверенных профессиональных составов процедура безвредна, так&nbsp;как производители строго следят за&nbsp;безопасностью продукции.
          +accordionItem('<h3>Есть возрастные ограничения у процедуры?</h3>').par
            p Да, рекомендуем проводить кератинизацию прядей после совершеннолетия. В&nbsp;иных случаях требуется письменное согласие официального опекуна.
          +accordionItem('<h3>Кератиновое лечение делают дома?</h3>').par
            p Да, но&nbsp;не&nbsp;ждите результатов профессионального выпрямления волос. Кератиновая обработка, проведенная в&nbsp;салоне, держится до&nbsp;полугода, тогда как домашние процедуры часто смываются через 1-3&nbsp;недели. Также важно заранее приобрести «рабочие» продукты с&nbsp;кератином, ведь не&nbsp;все средства с&nbsp;кератином в&nbsp;составе подходят для лечебной процедуры.
          +accordionItem('<h3>Какие существуют натуральные альтернативы кератину?</h3>').par
            p Желатин, который при нанесении обволакивает и&nbsp;утяжеляет волоски, в&nbsp;результате чего они выпрямляются. К&nbsp;недостаткам относится слабый результат и&nbsp;долгая выдержка желатина.
          +accordionItem('<h3>Меняет ли кератин цвет волос?</h3>').par
            p Нет, но&nbsp;может повлиять на&nbsp;оттенок, делая светлее на&nbsp;0,5-1&nbsp;тон.
