extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/multi-step-calculator/multi-step-calculator 

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const serviceTemplatePage = true
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    <p>Стрижка для нас&nbsp;&mdash; не&nbsp;шаблонное выполнение срезов, придание формы и&nbsp;объема. Нам важно создать такую стрижку, которая подчеркнет сильные стороны внешности, эффектно замаскирует недостатки. </p>
    <p>Для этого мы&nbsp;учитываем все, что важно:</p>
    <ul class="unordered-list par">
      <li class="unordered-list__item">длину волос,</li>
      <li class="unordered-list__item">их&nbsp;состояние, оттенок, структуру,</li>
      <li class="unordered-list__item">возраст,</li>
      <li class="unordered-list__item">анатомические данные: форму профиля, головы, лица, ширину плеч, длину шеи, конституцию и&nbsp;рост.</li>
    </ul>
    <h2>Ответим на&nbsp;вопросы, выслушаем и&nbsp;поймем желания</h2>
    <p>Мастера Hair Care Center помогут выбрать именно вашу стрижку. На&nbsp;консультации, выслушав ваши пожелания, сообщим нюансы и&nbsp;дадим рекомендации по&nbsp;укладке и&nbsp;окрашиванию. Часто добавить ярких акцентов прическе позволяет именно удачно подобранный цвет.</p>
    h2 Виды стрижек
    +grid({ alignItems:'center' }).par
      +cell({ m:3 })
        +img({
          name: 'works-creative-style',
          path: '/images/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
        })(alt= 'Женские стрижки' title= 'Женские стрижки' width=240 height=240).border-radius.border-radius--round
      +cell({ m:9 })
        h3.h3 Женские стрижки
        <p>Наши мастера&nbsp;&mdash; тонкие психологи: чувствуя настроение клиенток, создают удачные образы. Могут выполнить стрижки любой сложности на&nbsp;короткие, средние и&nbsp;длинные волосы. Каждая стрижка&nbsp;&mdash; поистине шедевр, неповторимый и&nbsp;эффектный. Достигаем этого благодаря:</p>
        ol.list-ordered.par
          li.list-ordered__item Современным техникам стрижек: Vidal Sassoon, Pivot Point, Tony &amp;&nbsp;Guy.
          li.list-ordered__item Профессиональным инструментам ведущих брендов: Oster, Jaguar.
          li.list-ordered__item Эффективному способу улучшения структуры волос: проводим стрижку горячими ножницами.
          li.list-ordered__item Визуализации вашей прически мечты: рисуем на&nbsp;бумаге будущий результат.
          li.list-ordered__item Применению современных приемов стрижки: филировка бритвой, поинтинг, слайсинг, чиппинг, поинтирование, прямой срез, пойнткат.

      +cell({ m:3 })
        +img({
          name: 'works-creative-style',
          path: '/images/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
        })(alt= 'Мужские стрижки' title= 'Мужские стрижки' width=240 height=240).border-radius.border-radius--round
      +cell({ m:9 })
        h3 Мужские стрижки
        <p>Мастера создадут стрижку, которая поможет мужчине найти индивидуальный стиль, подарит комфорт и&nbsp;уверенность. Ведь в&nbsp;первую очередь именно на&nbsp;стрижку обращают внимание женщины, оценивая внешность мужчины. </p>
        <p>Мастер, работающий над каждой мужской стрижкой, воплощает в&nbsp;ней естественность, практичность и&nbsp;индивидуальность&nbsp;&mdash; незыблемые принципы красоты. Подчеркивает образ и&nbsp;стиль жизни, характер мужчины. </p>

      +cell({ m:3 })
        +img({
          name: 'works-creative-style',
          path: '/images/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
        })(alt= 'Стрижка горячими ножницами' title= 'Стрижка горячими ножницами' width=240 height=240).border-radius.border-radius--round
      +cell({ m:9 })
        h3 Стрижка горячими ножницами
        <p>Мастера проведут стрижку горячими ножницами&nbsp;&mdash; улучшат структуру волос, помогут справиться с&nbsp;сухостью и&nbsp;секущимися кончиками. Срезы, сделанные нагретым инструментом, запаивают кончики, предотвращают вымывание полезных веществ. Проводите стрижку горячими ножницами регулярно, чтобы увеличить густоту волос, придать им&nbsp;здоровый и&nbsp;ухоженный вид.</p>

      +cell({ m:3 })
        +img({
          name: 'works-creative-style',
          path: '/images/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
        })(alt= 'Стрижка челки' title= 'Стрижка челки' width=240 height=240).border-radius.border-radius--round
      +cell({ m:9 })
        h3 Стрижка челки
        <p>Парикмахеры не&nbsp;просто укоротят длину челки, а&nbsp;подберут эффектный вариант именно для вас. Популярные варианты: косая, градуированная, прямая, рваная, удлиненная, короткая, челка-занавес помогут красиво подчеркнуть достоинства вашей внешности, уравновесить пропорции лица.</p>
      
      +cell({ m:3 })
        +img({
          name: 'works-creative-style',
          path: '/images/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
        })(alt= 'Стрижка бороды' title= 'Стрижка бороды' width=240 height=240).border-radius.border-radius--round
      +cell({ m:9 })
        h3 Стрижка бороды
        <p>Красиво оформленная борода придает стиль, мужественность, привносит в&nbsp;образ легкие нотки брутальности, которые так нравятся женщинам. Чтобы борода всегда была в&nbsp;порядке, работала на&nbsp;пользу вашему имиджу, важно поддерживать ее&nbsp;вид в&nbsp;безупречном состоянии. Вы&nbsp;можете доверить эту ответственную задачу нашим барберам, которые в&nbsp;совершенстве владеют навыками искусной стрижки бороды.</p>
    
      +cell({ m:3 })
        +img({
          name: 'works-creative-style',
          path: '/images/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
        })(alt= 'Стрижка усов' title= 'Стрижка усов' width=240 height=240).border-radius.border-radius--round
      +cell({ m:9 })
        h3 Стрижка усов
        <p>Усы&nbsp;&mdash; составляющая модного образа мужчины. Они делают внешность выразительнее, оставаясь актуальным трендом многие годы. Мастера нашего салона умело проведут коррекцию и&nbsp;моделирование усов, придадут им&nbsp;нужную длину и&nbsp;форму.</p>
      
      +cell({ m:3 })
        +img({
          name: 'works-creative-style',  
          path: '/images/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
        })(alt= 'Креативная стрижка' title= 'Креативная стрижка' width=240 height=240).border-radius.border-radius--round
      +cell({ m:9 })
        h3 Креативная стрижка
        <p>Креативная стрижка&nbsp;&mdash; самое настоящее произведение парикмахерского искусства. Смелые срезы, эффектная форма, яркие оттенки, удачная структура, и&nbsp;вот ваш образ изменяется до&nbsp;неузнаваемости! Если вы&nbsp;давно хотели кардинально новый имидж, то&nbsp;настало время для перемен: ждем вас в&nbsp;нашем салоне.</p>
  
  +pageSection({ backgroundColor:true })#coloring-calculator
    h2 Рассчитайте стоимость окрашивания
    +multiStepCalculator.page-subsection
      .multi-step-calculator__slide.multi-step-calculator__slide--service
        h3.multi-step-calculator__title Вид окрашивания 
        +grid({ justify:'center' }).par
          +formInput({ type: 'select', options: [ {name:'Сложное окрашивание (3D/4D эффект (Шатуш / Балаяж / AirTouch)', value:'Сложное окрашивание'}, {name:'Окраска волос в один тон', value:'Окраска волос в один тон', 'data-img':'one-ton'}, {name:'Снятие краски / смывка / обесцвечивание', value:'Снятие краски'}, {name: 'Мелирование классическое', value:'Мелирование классическое'}, {name:'Мелирование классическое с тонированием', value:'Мелирование классическое с тонированием'}, {name: 'Яркое креативное окрашивание в один тон «Антоцианин»', value:'Яркое креативное окрашивание'}, {name: 'Креативное окрашивание «Антоцианин»', value:'Креативное окрашивание'}] })(class=cellClasses()).multi-step-calculator__select
          img(width='600' height='600' src='/images/uslugi/removal.webp' loading='lazy' decoding='async' class=cellClasses({ l:5, m:6, s:8 })).border.border--beige-light.border-radius.border-radius--big
      .multi-step-calculator__slide.multi-step-calculator__slide--length
        h3.multi-step-calculator__title Длина волос
        +grid({ justify:'center' }).par
          +formInput({ type: 'select', options: [ {name:'До плеч (до 20 см)', value:'До плеч'}, {name:'Ниже плеч (от 20 см)', value:'Ниже плеч'}] })(class=cellClasses()).multi-step-calculator__select
          +cell({ l:5, m:6, s:8 })
            +img({
              name: 'hair-length',
              path: '/images/uslugi/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' }
              ],
            }).border.border--pink.border-radius.border-radius--big
      .multi-step-calculator__slide.multi-step-calculator__slide--density
        h3.multi-step-calculator__title Густота волос
        +formInput({ type: 'radio', 'value': 'Обычная', 'name': 'density', label: 'Обычная', checked: 'checked'})
        +formInput({ type: 'radio', 'value': 'Повышенная', 'name': 'density', label: 'Повышенная'})
      .multi-step-calculator__slide.multi-step-calculator__slide--additional-service
        h3.multi-step-calculator__title Дополнительные услуги
        +formInput({ type: 'radio', 'value': 'Стрижка', 'name': 'service', label: 'Стрижка', checked: 'checked'})
        +formInput({ type: 'radio', 'value': 'Укладка', 'name': 'service', label: 'Укладка'})
        +formInput({ type: 'radio', 'value': 'Прическа', 'name': 'service', label: 'Прическа'})
        +formInput({ type: 'radio', 'value': 'Не требуются', 'name': 'service', label: 'Не требуются'})
      .multi-step-calculator__slide.multi-step-calculator__slide--colorant
        h3.multi-step-calculator__title Предпочитаемый краситель
        +formInput({ type: 'radio', 'value': 'Estel', 'name': 'colorant', label: 'Estel', checked: 'checked'})
        +formInput({ type: 'radio', 'value': 'Matrix', 'name': 'colorant', label: 'Matrix'})
        //- +formInput({ type: 'radio', 'value': 'Loreal', 'name': 'colorant', label: 'Loreal'})
        +formInput({ type: 'radio', 'value': 'Не имеет значения', 'name': 'colorant', label: 'Не имеет значения'})
      .multi-step-calculator__slide
        h3 Общая стоимость
        .prices-table.prices-table--small-padding.page-subsection
          .prices-table__row(data-total-price)
            +textMarked({ size:'m', color:'beige', bold:true }).prices-table__cell.prices-table__cell--row-header C 10% скидкой на услуги
            +textMarked({ size:'m', color:'beige' }).prices-table__cell.prices-table__cell--price-discount
              .prices-table__old-price 
              .prices-table__new-price #[strong ]
        .prices-table.prices-table--small-padding
          .prices-table__row(data-service)
            .prices-table__cell.prices-table__cell--row-header Название услуги
            .prices-table__cell.prices-table__cell--price-discount
              .prices-table__old-price 
              .prices-table__new-price 
        .prices-table.prices-table--small-padding
          .prices-table__row(data-additional-service)
            .prices-table__cell.prices-table__cell--row-header Название дополнительной услуги
            .prices-table__cell.prices-table__cell--price-discount
              .prices-table__old-price 
              .prices-table__new-price 
        .prices-table.prices-table--small-padding
          .prices-table__row(data-colorant)
            .prices-table__cell.prices-table__cell--row-header Краситель
            .prices-table__cell.prices-table__cell--price-discount
              .prices-table__old-price 
              .prices-table__new-price 
        +textMarked({ tag:'p', size:'xs', color: 'grey' }) *указана ориентировочная стоимость, точная стоимость определяется мастером и объявляется клиенту до процедуры
    +modal#multi-step-calculator
      h3.text-align-center.multi-step-calculator-form-title Записаться в салон
      form(method='post').validated-form.submitJS.multi-step-calculator-form.par
        p.multi-step-calculator-form__header Вы также можете записаться по телефону #[a(href='tel:+78123850151').multi-step-calculator-form__phone +7 (812) 385-01-51]
        .multi-step-calculator-form__inner
          label.form-input.form-input--tel 
            span.form-input__label #[strong Телефон для связи *]
            <input class="form-input__field validated" type="tel" name="phone" required="required" placeholder="+7 (___) ___-__-__">
            .validation-msg.validation-msg-required Укажите телефон
          //- +formInput({ type: 'tel', name:'phone', label: `<strong>Телефон для связи *</strong>`, placeholder: "+7 (___) ___-__-__", required:true }).validated
          +formInput({ type: 'textarea', label: `<strong>Комментарий</strong>`, name:'comment' }).multi-step-calculator-form__comment.par
          button(type='submit').button.par Записаться
      .multi-step-calculator-form-success
        h3.text-align-center Спасибо за заявку!

  +pageSection({ noPadding: 'top' })
    +grid({ noGap: true }).service-discount
      +cell({ l:4, m:5 }).service-discount__image
        img(src='/images/coloring.jpg' loading='lazy' decoding='async')
      +cell({ l:8, m:7 }).block-marked.service-discount__inner
        h3 Сложное окрашивание "Anthocyanin" + подарок
        p Хотите окрасить волосы и при этом защитить их? Выполните окрашивание волос и мы подберем и подарим вам профессиональный домашний уход!
        a(href='').button Получить скидку

  +pageSection({ noPadding: 'top' })#page-prices
    .prices-block
      .prices-block__tables
        .prices-table

          .prices-table__row.prices-table__row--header
            .prices-table__cell.prices-table__cell--title 
              h2 Услуги и цены
            .prices-table__cell До подбородка
              .prices-table__clarification до 10 см
            .prices-table__cell До плеч
              .prices-table__clarification до 20 см
            .prices-table__cell Ниже плеч
              .prices-table__clarification от 20 см

          .prices-table__row
            .prices-table__cell.prices-table__cell--row-header Стрижка женская с укладкой
              .prices-table__clarification В услугу входит мытье головы, укладка феном - придание формы без использования стайлинговых средств. По желанию клиента может быть выбрана любая укладка с 50% скидкой по действующему прейскуранту.
            .prices-table__cell 1000-1400 ₽
            .prices-table__cell 1600 ₽
            .prices-table__cell 2000 ₽

          .prices-table__row
            .prices-table__cell.prices-table__cell--row-header Стрижка горячими ножницами (придание формы)
              .prices-table__clarification В услугу входит мытье головы и укладка феном. Данная услуга предоставляется после первичной (лечебной) стрижки горячими ножницами.
            .prices-table__cell 
            .prices-table__cell 2200 ₽
            .prices-table__cell 2400 ₽

          .prices-table__row.prices-table__row--subheader.prices-table__row--sep
            .prices-table__cell.prices-table__cell--title Стрижка горячими ножницами (лечебная)
              .prices-table__clarification В услугу входит мытье головы и укладка феном. Первичная стрижка горячими ножницами на любую длину волос. (Услуга с накопительным эффектом)
            .prices-table__cell 2600 ₽
      
          .prices-table__row.prices-table__row--subheader
            .prices-table__cell.prices-table__cell--title Стрижка мужская
            .prices-table__cell 1000-1400 ₽

          .prices-table__row.prices-table__row--subheader
            .prices-table__cell.prices-table__cell--title Стрижка бороды / усов
              .prices-table__clarification Коррекция формы
            .prices-table__cell 500 ₽

      .prices-block__bottom 
        a(href='#').button Записаться online
        .prices-block__clarification При записи вы выбираете день, #[br] время и мастера.
        .prices-block__phone.phone  +7 (812) 385-01-51
        a(href='#') Все цены

  +pageSection({ noPadding: 'top' })#page-works
    h2 Наши работы
    +pageSubsection(class= gridClasses()) 
      -  
        const works = [
          {
            image: 'works-1',
            name: 'Прическа и макияж',
            price: 3100,
          },
          {
            image: 'works-2',
            name: 'Стрижка и укладка',
            price: 1400,
          },
          {
            image: 'works-creative-style',
            name: 'Вечерний макияж',
            price: 1600,
          },
          {
            image: 'works-evening-makeup',
            name: 'Наращивание волос',
            price: 30,
          },
          {
            image: 'works-extention',
            name: 'Свадебная прическа и макияж',
            price: 6100,
          },
          {
            image: 'works-long-hair',
            name: 'Креативное окрашивания и макияж',
            price: 7500,
          },
          {
            image: 'works-wedding-style',
            name: 'Стрижка и окрашивание',
            price: 8500,
          },
          {
            image: 'works-long-hair',
            name: 'Креативное окрашивания и макияж',
            price: 7500,
          },
          {
            image: 'works-wedding-style',
            name: 'Стрижка и окрашивание',
            price: 8500,
          },
        ] 
      each work in works
        +worksItem(work)(class= cellClasses({ l: 3, m: 4, s: 6, xs: 6 })) 
      +cell
        a(href='#')#works-link Больше работ

  +pageSection({ noPadding: 'top' })
    h2 Акции
    - 
      const discounts = [
        {
          title: 'Бонус за уходовые процедуры бренда Greymy',
          image: 'discounts-greymy',
          text: 'У вас поврежденные, безжизненные или секущиеся волосы? Получи cкидку 20% на профессиональный шампунь для домашнего ухода при выполнении уходовых услуг от Greymy.',
        },
        {
          title: '−15% на продукцию для домашнего ухода',
          image: 'discounts-greymy',
          text: 'Воспользуйтесь любой услугой в нашем салоне, и мы подарим вам скидку 15% на всю продукцию для домашнего ухода за волосами.',
        },
        {
          title: 'День красоты/заботы о волосах',
          image: 'discounts-greymy',
          text: 'Выполните окрашивание Estel / Loreal и получите в подарок стрижку, а также профессиональный шампунь «LUXURY ESTEL HAUTE COUTURE».',
        },
        {
          title: 'Скидка 20% в день рождения!',
          image: 'discounts-greymy',
          text: 'Наши мастера помогут вам быть еще красивее. На любую услугу в течение трёх дней до, в день рождения и три дня после дарим скидку 20%!',
        },
      ]
    +grid.discount-item.page-subsection
      each item in discounts
        +cell({ l:4, m:6, s:6 }).discount-item__wrapper
          .discount-item__image
            a(href='/')
              +img({
                name: item.image,
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= item.title title= item.title width=800 height=800)
          .block-marked.discount-item__body
            h3
              a(href='/').discount-item__title= item.title

  +pageSection({ noPadding: 'top' }) 
    - 
      const review = {
        image: {
          name: 'home-review', 
          path: '/images/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        },
        author: 'Глафира Козулина',
        occupation: 'актриса театра и кино',
      }
    h2 Отзывы
    +reviewItem(review).page-subsection
      p Сейчас очень сложно найти своего мастера по волосам, так как выбор большой, салонов много.
      p Я рада, что я познакомилась с мастером Дашей из салона Hair Care Center. Теперь если у меня возникают вопросы по уходу за волосами, я всегда обращаюсь к ней. Не раз мы делали различные процедуры по волосам, эксперементировали с макияжем, я всегда была довольна. Если мне необходимо прийти красивой на какое либо мероприятие или встречу, я знаю, что могу быть уверена в Даше и довериться ее золотым ручкам!
      p В салоне всегда приятный, улыбчивый персонал. Предложат кофе, чай, конфетку! Вообще политика салона очень грамотная!

  +pageSection({ noPadding: 'top' })
    h2 Средний стаж мастеров салона — 12 лет
    +pageSubsection(class= gridClasses({ justify: 'center' })): +cell({ l: 9, m: 10, xs: 12 }).text-align-center
      p Мастера обучались в ведущих студиях и академиях: #[strong Coiffure, Локон, Londa, Shwarzkopf, Wella.] 
      p Сотрудники салона неоднократно участвовали в международном фестивале красоты #[strong «Невские берега»,] крупнейшей в Европе парфюмерно-косметической выставке #[strong Intercharm.]
    - 
      const masters = [
        {
          title: 'Виктория Пристанскова',
          image: 'master-item-pristanskova',
          list: ['Наращивание волос', 'Парикмахер-колорист', 'Стилист', 'Барбер'],
        },
        {
          title: 'Екатерина Смирнова',
          image: 'master-item-pristanskova',
          list: ['Парикмахер-универсал'],
        },
        {
          title: 'Ирина Богданова',
          image: 'master-item-pristanskova',
          list: ['Парикмахер-универсал'],
        },
        {
          title: 'Наталья Михайлова',
          image: 'master-item-pristanskova',
          list: ['Парикмахер-универсал'],
        },
        {
          title: 'Дарья Иванова',
          image: 'master-item-pristanskova',
          list: ['Стилист', 'Визажист', 'Мастер по наращиванию'],
        },
      ]

    +grid({ 'columns': 10}).par.page-subsection
      each item in masters
        +cell({ l:2, m:5, s:10, xs:5 }).master-item
          .master-item__image
            +img({
              name: item.image,
              path: '/images/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ]
            })(alt= item.title title= item.title width=214 height=214).master-item__image-item
            +button({ tag: 'a' })(href='/').master-item__button Записаться

          h2.master-item__title= item.title
          ul.master-item__list
            each val in item.list
              li.master-item__list-item= val
          a(href='/').master-item__more Подробнее

  +pageSection({ noPadding: 'top' })#page-feedback  
    h2 Отзывы клиенток
    +pageSubsection
      +slider({ pagination: true }).feedback-item
        +slide.feedback-item__slide
          .feedback-item__header 
            p.feedback-item__info Отзыв оставлен на сайте #[a(href='https://yandex.ru/search/?text=Hair+Care+Center&oid=b%3A1770719437&lr=2&redircnt=1678087315.1' target='_blank') yandex.ru]
          .feedback-item__image
            +img({
              name: 'feedback',
              path: '/images/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' }
              ],
            })
        - for ( i = 0; i < 4; i++ )
          +slide.feedback-item__slide
            .feedback-item__header 
              p.feedback-item__info Отзыв оставлен на сайте #[a(href='http://salonvolos.spb.ru/' target='_blank') salonvolos.spb.ru]
            .feedback-item__image
              +img({
                name: 'feedback-2',
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' }
                ],
              })

  +pageSection({ noPadding: 'top' })
    h2 Видеоотзывы
    +grid.page-subsection
      - for ( i=0; i<3; i++)
        +cell({ s:6 })
          +iframeResponsive("https://vk.com/video_ext.php?oid=12685241&id=171390828&hash=75794a76eddd773f&hd=2")

  +pageSection({ noPadding: 'top' })
    h2 Почему стоит выбрать нас?
    +pageSubsection(class= gridClasses({ alignItems: 'flex-end' }))
      +blockMarked({ toBorder: [ true, 'left' ] })(class=cellClasses({ l: 6, xs: 12 }))
        +pageSubsection
          h3 Отдельные кабинеты для каждого клиента
          +textMarked({ tag: 'p', padding: 'left' }).font-size-14 Вы остаетесь наедине с мастером, что позволяет 
            strong расслабиться
            |  и, не отвлекаясь на других людей, заняться красотой и здоровьем ваших волос.
        +pageSubsection
          h3 Сохраним волосы здоровыми и красивыми
          +textMarked({ tag: 'ul', padding: 'left' }).unordered-list.font-size-14
            - listClass = 'unordered-list'
            +li Мастера имеют 
              strong знания и опыт
              |  в сфере здоровья волос и кожи головы
            +li Подберем 
              strong индивидуальный подход
              |  к вашим волосам и коже головы
            +li Предложим ряд 
              strong профессиональных
              |  уходовых процедур для волос 
      +cell({ l: 6, xs: 12 })
        +figure({
          image: {
            name: 'home-why-we',
            path: '/images/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          },
          caption: 'Салон красоты Hair Care Center - это одно из направлений группы компаний: Центр Дизайна Волос. Центр с 2002 года помогает людям с проблемными волосами, поредением или потерей волос выглядеть безупречно.'
        })

  +pageSection({ noPadding: 'top' })
    h2 3D тур по салону красоты Hair Сare Center
    .par
      +iframeResponsive("https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1486634358815!6m8!1m7!1sK35p8NtUkMUAAAQvxa493A!2m2!1d59.90796101212884!2d30.31258920335586!3f221.86485814753792!4f-14.060279966658854!5f0.7820865974627469")

  +pageSection({ noContent: true }).home-appointment: +content(class= gridClasses({ justify: 'flex-end', alignItems: 'center' })).home-appointment__inner
    +cell({ l: 6, m: 6, xs: 12 })(class= gridClasses({ justify: 'center' })).home-appointment__info: +cell({ l: 8, xs: 12 })
      h2.home-appointment__title Скидка 5% при записи с сайта!
      +button({ tag: 'a' })(href='#').home-appointment__button Выбрать время и специалиста
