extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })   
    +pageSubsection
      <p>Для тех, кто любит экспериментировать и не боится привлечь внимание к своей персоне, могут оказаться удачной находкой косички. Одно из самых модных направлений - этнические мотивы знойной Африки. Косы разнообразного плетения с общим названием "африканские" предлагают разнообразные варианты.</p>
    +pageSubsection
      +grid.list-steps.list-steps--list
        +cell({ m:6 }).list-steps__item
          .list-steps__inner: p Во-первых, они могут выполняться на волосах любой длины, даже на коротких. В собственные волосы вплетается специальный материал - канекалон.
        +cell({ m:6 }).list-steps__item
          .list-steps__inner: p Во-вторых, обладатель косичек получает удобный вариант долговременной укладки, облегчающей уход за волосами, сводя его лишь к еженедельному мытью.
        +cell({ m:6 }).list-steps__item
          .list-steps__inner: p В-третьих, более 60 натуральных и 30 ярких экзотических оттенков искусственных прядей, из которых изготовлены современные материалы для афрокосичек, позволяют реализовать самые смелые фантазии.
        +cell({ m:6 }).list-steps__item
          .list-steps__inner: p В-четвертых, косички не изменяют структуры волос и после их расплетения вы возвращаетесь к исходному состоянию.
        +cell({ m:6 }).list-steps__item
          .list-steps__inner: p В-пятых, из косичек легко и быстро делается несколько вариантов красивых и оригинальных причесок для любого случая - от строгого торжественного мероприятия до модной тусовки.

    +pageSubsection
      h2 Виды косичек
      +grid.par
        +cell({ m:6 })
          +grid
            +cell 
              <p>Основных направлений плетения косичек - два: французские, когда косички прилегают к голове, и африканские, которые к голове не прилегают.</p>
            +cell({ m:6 })
              +grid({ justify: 'center', alignItems: 'center' })
                +cell({ m:10, s:6, xs:10 })
                  img(src='/images/braids/braids-type-1.jpg' alt='Французские косички' title='Французские косички' loading='lazy' decoding='async').border-radius.border-radius--round
                +cell({ m:12, s:6 })
                  h3.text-align-center Французские косички
            +cell({ m:6 })
              +grid({ justify: 'center', alignItems: 'center' })
                +cell({ m:10, s:6, xs:10 })
                  img(src='/images/braids/braids-type-2.jpg' alt='Африканские косички' title='Африканские косички' loading='lazy' decoding='async').border-radius.border-radius--round
                +cell({ m:12, s:6 }) 
                  h3.text-align-center Африканские косички

        +cell({ m:6 })
          +grid({ justify: 'center' })
            +cell 
              <p>Иногда мастер сочетает оба плетения, и в этом случае плотно охватывающие голову косички продолжаются дальше свободно, могут укладываться в узел или просто ниспадать на плечи, и такой вариант носит название "брейды".</p>
            +cell({ m:6 })
              +grid({ justify: 'center', alignItems: 'center' })
                +cell({ m:10, s:6, xs:10 })
                  img(src='/images/braids/braids-type-3.jpg' alt='Брейды' title='Брейды' loading='lazy' decoding='async').border-radius.border-radius--round
                +cell({ m:12, s:6 }) 
                  h3.text-align-center Брейды

    +pageSubsection
      h2 Прически с косичками
      +grid.par 
        +cell({ m:4 })
          +grid({ alignItems: 'center', justify: 'center' })
            +cell({ m:8, s:4, xs:10 })
              img(src='/images/braids/braids-style-1.jpg' alt='Прически с косичками' title='Прически с косичками' loading='lazy' decoding='async').border-radius.border-radius--round
            +cell({ m:12, s:8 })
              p Концы косичек можно накрутить на бигуди. Элегантные дамы предпочитают удлиненное каре из косичек, напоминающее прическу Нефертити.
              
        +cell({ m:4 })
          +grid({ alignItems: 'center', justify: 'center' })
            +cell({ m:8, s:4, xs:10 })
              img(src='/images/braids/braids-style-2.jpg' alt='Прически с косичками' title='Прически с косичками' loading='lazy' decoding='async').border-radius.border-radius--round
            +cell({ m:12, s:8 })
              p Для тех, кто занимается спортом, отращивает волосы после стрижки или просто не может справиться с непослушной челкой, выходом станет неполное плетение французских косичек, например, со лба до середины головы. Удобна эта прическа и для детей.

        +cell({ m:4 })
          +grid({ alignItems: 'center', justify: 'center' })
            +cell({ m:8, s:4, xs:10 })
              img(src='/images/braids/braids-style-3.jpg' alt='Прически с косичками' title='Прически с косичками' loading='lazy' decoding='async').border-radius.border-radius--round
            +cell({ m:12, s:8 })
              p Волосы могут заплетаться в спиралевидные косички - так называемые "сенегальские спирали". Ещё одна форма - "афрожгутики".

    +pageSubsection
      .block-marked.par
        <p>В основе каждого вида косичек - определенные узлы и их чередование, поэтому косички не требуют дополнительных фиксирующих средств вроде лака или геля.</p>
      <p>Традиционно плетение косичек - задача как минимум для четырех рук. Лучше спланировать время так, чтобы у вас в запасе было часов шесть. Зато целый месяц эта стильная прическа не потребует никаких ухищрений.</p>
    +pageSubsection
      h2 Уход за косичками
      <p>Мыть косички очень просто. Они не расплетутся и не разлохматятся. Но шампунь нужно разводить водой. О фенах, укладках, лаках можно забыть, да и сохнет эта прическа быстро. Так что в отпуске вам не придется возить с собой парикмахерский арсенал, чтобы выглядеть хорошо!</p>
