extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })   
    -
      const advantages = [
        {
          icon: 'individ',
          title: 'Индивидуальность',
        },
        {
          icon: 'practic',
          title: 'Практичность',
        },
        {
          icon: 'natural', 
          title: 'Естественность',
        },
      ]
    +pageSubsection 
      p.text-marked--size-m <strong>70% женщин</strong> при оценке внешности мужчины обращают внимание на стрижку.
      p В мужской стрижке мастера <strong>Hair Care Center</strong> соблюдают следующие принципы:
    +grid({ justify: 'center' }).page-subsection
      each item in advantages
        +advantageBlock(item)(class= cellClasses({ l: 4, m: 4, s: 6, xs: 12 })).advantage-block--inner
    
    +grid({ alignItems: 'center' }).page-subsection
      +cell({ l:6, m:7, s:8 })
        p При подборе стрижки мастер учтет следующие особенности:
        <ul class="unordered-list par">
          <li class="unordered-list__item">границы, направление и характер роста волос на лобной, затылочной области и макушке</li>
          <li class="unordered-list__item">плотность волосяного покрова</li>
          <li class="unordered-list__item">форму лица и затылка, высоту лба, особенности профиля</li>
        </ul>
      +cell({ m:3, s:4 })
        img(src='/images/men-hairstyle/men-hairstyle-04.jpg' alt='Мужская стрижка' title='Мужская стрижка')

    +grid.page-subsection
      +cell({ m:4 }).block-marked.text-align-center
        p.text-marked--size-m #[strong При выполнении стрижки]
        p мастер подчеркнет характер, образ жизни и стиль владельца
      +cell({ m:4 }).block-marked.block-marked--beige.text-align-center
        p.text-marked--size-m #[strong По желанию клиента]
        p мастер создаст абсолютно уникальную стрижку
      +cell({ m:4 }).block-marked.text-align-center
        p.text-marked--size-m #[strong Работаем с волосами]
        p любой длины
