extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })   
    +pageSubsection    
      <p>Серьезное изменение стрижки, по мнению стилистов, может в корне <strong>изменить жизнь.</strong></p>
      <p>Мастер <strong>Hair Care Center</strong> обязательно проконсультирует вас по выбору стрижки. Подчеркнет <strong>сильные стороны</strong> внешности, поможет <strong>скрыть недостатки.</strong></p>
      <p>Наши мастера всегда хорошо <strong>чувствуют настроение</strong> клиенток и, <strong>предвосхищая их желания</strong>, создают для них удивительные образы.</p>

    +grid({ justify: 'space-between', alignItems: 'center' }).block-marked.block-marked--white.page-subsection
      +cell({ l:6, m:6, s:12 })
        p Используем современные техники стрижек от <strong>Tony & Guy, Pivot Point, Vidal Sassoon.</strong>
      +cell({ l:2, m:3, xs:6  })
        img(src='/images/tony-and-guy.png' alt='Tony & Guy' title='Tony & Guy')
      +cell({ l:2, m:3, xs:6  })
        img(src='/images/pivot-point.png' alt='Pivot point' title='Pivot point')

    +grid({ tag: 'ol', justify: 'center' }).page-subsection.list-steps
      +cell({ tag: 'li', l:4, m:6  }).list-steps__item
        .list-steps__inner.par
          p Иногда рисуем на бумаге, как может выглядеть стрижка у клиента.
        p
          img(src='/images/reasons-1.jpg' alt='Рисуем, как может выглядеть стрижка' title='Рисуем, как может выглядеть стрижка')
      +cell({ tag: 'li', l:4, m:6  }).list-steps__item
        .list-steps__inner
          <p>Владеем техниками:</p>
          <ul class="unordered-list par">
            <li class="unordered-list__item"><strong>слайсинг</strong></li>
            <li class="unordered-list__item"><strong>поинтирование / поинтинг/ пойнткат</strong></li>
            <li class="unordered-list__item"><strong>чиппинг</strong></li>
            <li class="unordered-list__item"><strong>филировка бритвой</strong></li>
            <li class="unordered-list__item"><strong>прямой срез</strong></li>
          </ul>
      +cell({ tag: 'li', l:4, m:6  }).list-steps__item
        .list-steps__inner.par
          p Для улучшения структуры волос используем стрижку горячими ножницами.
        p
          img(src='/images/reasons-2.jpg' alt='Используем горячие ножницы' title='Используем горячие ножницы')

    +pageSubsection
      p.text-marked--size-m Для работы используем профессиональные инструменты ведущих производителей: ножницы Jaguar, машинку Oster.
      p.text-marked--size-m Наши мастера делают стрижки любой сложности на длинные, средние и короткие волосы.
    +grid({ justify: 'center' }).page-subsection
      +cell({ l:3, s:4, xs:7 })
        img(src='/images/hairstyles-gallery-long.jpg', alt='Стрижка на длинные волосы' title='Стрижка на длинные волосы' width='260' height='260').border-radius.border-radius--round
      +cell({ l:3, s:4, xs:7  })
        img(src='/images/hairstyles-gallery-middle.jpg', alt='Стрижка на волосы средней длины' title='Стрижка на волосы средней длины' width='260' height='260').border-radius.border-radius--round
      +cell({ l:3, s:4, xs:7  })
        img(src='/images/hairstyles-gallery-short.jpg', alt='"Стрижка на короткие волосы' title='"Стрижка на короткие волосы' width='260' height='260').border-radius.border-radius--round
    +pageSubsection
      +grid
        +cell({ m:6 }).block-marked
          <p>Клиент может рассчитывать на:</p>
          <ul class="unordered-list par">
            <li class="unordered-list__item"><strong>разнообразные варианты стрижек&nbsp;&mdash; всегда есть возможности выбора</strong></li>
            <li class="unordered-list__item"><strong>необходимую консультацию</strong></li>
            <li class="unordered-list__item"><strong>индивидуальный подход</strong></li>
          </ul>
        +cell({ m:6 }).block-marked.block-marked--beige
          +grid({ alignItems: 'center' })
            +cell({ s:4 })
              img(src="/images/optima.png", alt="")
            +cell({ s:8 })
              <p>В случае проблем с волосами, поредения предлагаем лечебную косметику <strong>Optima</strong>. Никогда не навязываем косметическую продукцию, предлагаем ее только в тех случаях, когда она необходима.</p>
    +pageSubsection
      h2 При подборе стрижки учитываем ваш стиль и здоровье волос
      <p>В ходе общения выслушаем ваши пожелания относительно того, какую прическу вы хотите. </p>
      <p>Подбирая стрижку, учитываем:</p>
      <ul class="unordered-list par">
        <li class="unordered-list__item">возраст</li>
        <li class="unordered-list__item">анатомические данные: форма головы, длина шеи, ширина плеч, форма лица, форма профиля, рост, конституцию (полный, худой)</li>
        <li class="unordered-list__item">состояние волос (сухие, секущиеся), цвет и структура (прямые, волнистые)</li>
        <li class="unordered-list__item">длину волос</li>
      </ul>
      <p>Обязательно сообщим клиенту о том, какими могут быть нюансы с учетом его особенностей и пожеланий. Высказываем свои рекомендации по укладке и окрашиванию (некоторые формы стрижек нужно подчеркнуть цветом, то есть сделать окрашивание).</p>
