extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    +pageSubsection
      <p>Укладка сродни искусству. То, насколько она уместна, индивидуальна и гармонична с внешностью — во многом влияет на настроение, красоту и общий образ. Мастера нашего салона знают, как создать образ мечты, умело и удачно подбирая укладку для каждой женщины. </p>
      h2 Преимущества укладки в нашем салоне
      p.block-marked-arrow Подарим диагностику головы: на дорогостоящем оборудовании бесплатно определим противопоказания к услугам и способы получения лучшего результата.
      p.block-marked-arrow Используем профессиональные инструменты: позволяют не только создавать укладку любого вида, но и не травмировать волосы.
    
    +pageSubsection
      h2 Виды укладок
      <p>Предлагаем популярные виды укладок: укладка феном, на щипцы, бигуди и с использованием утюжка.</p>
      +grid({ alignItems: 'center', justify: 'center' }).par 
        +cell({ m:3, s:6, xs:10 })
          img(src='/images/uslugi/ukladka/ukladka-fenom.jpg' alt='Укладка феном' title='Укладка феном' loading='lazy' decoding='async').border-radius.border-radius--round
        +cell({ m:9 })
          h3 Укладка феном
          <p> Фен идеально подходит для укладки и длинных, и коротких волос: позволяет создать легкую небрежность и придать эффект объема. С помощью фена даже непослушные волосы превращаются в идеальную прическу, достойную восхищения. Из великого множества идей укладки феном мы подберем именно ту, которая создаст ваш неповторимый стиль.</p>
        +cell({ m:3, s:6, xs:10 })
          img(src='/images/uslugi/ukladka/ukladka-na-shchipcy-bigudi.jpg' alt='Укладка на щипцы, бигуди' title='Укладка на щипцы, бигуди' loading='lazy' decoding='async').border-radius.border-radius--round
        +cell({ m:9 })
          h3 Укладка на щипцы, бигуди
          <p> Щипцы делают фантастическое преображение образа: даже самые непослушные волосы закручиваются в милые локоны или выпрямляются в идеальную длину. Самой простой, но и с не менее эффектным результатом считается укладка на бигуди. Волосы, накрученные на них, приобретают романтичную волнистость и эффектный объем.</p>
        +cell({ m:3, s:6, xs:10 })
          img(src='/images/uslugi/ukladka/ukladka-s-ispolzovaniem-utyuzhka.jpg' alt='Укладка с использованием утюжка' title='Укладка с использованием утюжка' loading='lazy' decoding='async').border-radius.border-radius--round
        +cell({ m:9 })
          h3 Укладка с использованием утюжка
          <p> С помощью утюжка можно выпрямить волосы, подкрутить кончики или создать шикарные локоны. С прямыми волосами вы будете выглядеть стильно и уверенно, со слегка подкрученными или вьющимися — романтично и необычайно женственно.</p>

    +grid.page-subsection
      +cell({ m:6 }).block-marked-faq
        h3 Что входит в услугу укладки волос?
        p Услуга предполагает придание волосам определенного положения и красоты. В нее входит мытье головы с помощью профессиональной уходовой косметики, а затем использование укладочных инструментов и стайлинговых средств.
      +cell({ m:6 }).block-marked-faq
        h3 Сколько держится долговременная укладка?
        p Она может продержаться 1,5-2 месяца, все зависит от состояния волос.
    
    +pageSubsection.block-marked
      p.text-marked--size-m Мастера Hair Care Center сделают любую укладку неповторимой настолько, что все взгляды будут прикованы к вам. Ведь в своей работе они руководствуются девизом: «Нет ничего невозможного»!
