extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Челки
    +grid.page-subsection
      +cell({ m:6 })
        p Тенденции в&nbsp; мире красоты приходят и&nbsp; уходят, но&nbsp; челка остается всегда. Это универсальный элемент прически, способный преобразить образ. В&nbsp; 2024 году прически с&nbsp; челкой стремительно набирают популярность, поэтому услуга стрижка челки пользуется неизменным спросом. В&nbsp; этом году селебрити для шествия по&nbsp; подиуму или красной дорожке выбирают челку-шторку, которая не&nbsp; требует сложного ухода.
        p Индустрия красоты предлагает разнообразный выбор причесок, сочетающихся с&nbsp; челкой: от&nbsp; коротких стрижек до&nbsp; длинных волн, ниспадающих на&nbsp; спину.
      +figure({
        image: {
          name: 'chelki-1',
          path: '/images/uslugi/strizhka/chelki/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Пример челки-шторки у Элизабет Олсен',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Виды челок
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Шторная	
            p Это новый модный вариант, который подходит всем. Обрамляющие лицо пряди, срезаны так, что создается привлекательный каскадный эффект: более короткие слои расположены в&nbsp; центре, а&nbsp; более длинные — к&nbsp; вискам. Получила широкую известность, так как хорошо сочетается с&nbsp; любым цветотипом и&nbsp; формой лица, легко укладывается.
          +figure({
            image: {
              name: 'chelki-2',
              path: '/images/uslugi/strizhka/chelki/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Пример шторной челки',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
                  
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Тонкая	
            p В&nbsp; отличие от&nbsp; челок, полностью закрывающих лоб, тонкая делает это частично. Больше подходит клиентам с редкими волосами, а&nbsp; также тем, кто впервые меняет образ. Как правило, тонкие челки спускаются ниже бровей, достигая глаз.
          +figure({
            image: {
              name: 'chelki-3',
              path: '/images/uslugi/strizhka/chelki/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Тонкая челка создает нежный образ',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Прямая	
            p При желании сделать что-то уникальное, но&nbsp; классическое, чтобы выделяться, выбирают прямой вариант. Густые пряди ниспадают на&nbsp; лицо и&nbsp; закрывают лоб по&nbsp; линии над бровями. Хорошо сочетается с&nbsp; текстурированным или прямым бобом, подчеркивая их&nbsp; форму. Потребуется время, чтобы отрастить ее до&nbsp; длины, позволяющей изменить стиль.
          +figure({
            image: {
              name: 'chelki-4',
              path: '/images/uslugi/strizhka/chelki/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Вариант прямой челки у Бейонсе',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Арочная	
            p Этот тип челок образует дугу на&nbsp; уровне или под бровями, поэтому и&nbsp; называются арочными. Напоминают прямые, но&nbsp; отличаются тем, что пряди по&nbsp; краям длиннее, а&nbsp; в&nbsp; центре короче. Поскольку челка слегка изогнута и&nbsp; асимметрична, то&nbsp; не&nbsp; выглядит резко. Акцентирует внимание на&nbsp; глазах и&nbsp; визуально расширяет лицо. 
          +figure({
            image: {
              name: 'chelki-5',
              path: '/images/uslugi/strizhka/chelki/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Арочная челка',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
            +cell
              h3 Детская	
              p В&nbsp; детскую добавляют несколько длинных прядей, чтобы смягчить область, где они соприкасаются со&nbsp; лбом. Разные по&nbsp; длине прядки сужают лоб, одновременно расширяя лицо и&nbsp; подчеркивая скулы. Благодаря неравномерной челке девушки выглядят по-детски мило.
            +figure({
              image: {
                name: 'chelki-6',
                path: '/images/uslugi/strizhka/chelki/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Примеры детской челки',
              }, 
            })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
            +cell
              h3 Вьющаяся	
              p Вьющиеся волосы и&nbsp; челка кажутся маловероятным сочетанием, но&nbsp; вьющаяся челка улучшает естественную текстуру, создавая неповторимый и&nbsp; привлекательный образ. Ее&nbsp; подстригают длиннее, учитывая естественную усадку вьющихся волос.
            +figure({
              image: {
                name: 'chelki-7',
                path: '/images/uslugi/strizhka/chelki/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Вьющаяся челка',
              }, 
            })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Выбор челки по форме лица
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Для круглого	
            p На&nbsp; круглолицых девушках выигрышно смотрится короткая или длинная стрижка боб с&nbsp; тонкой челкой. Еще одна отличная идея&nbsp; — это боковая челка, создающая удлиняющий эффект, выделяя скулы и&nbsp; линию подбородка.
          +figure({
            image: {
              name: 'chelki-8',
              path: '/images/uslugi/strizhka/chelki/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Челка для круглого лица',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Для прямоугольного	
            p У&nbsp; прямоугольного типа лоб и&nbsp; щеки шире, а&nbsp; линия подбородка угловатая, поэтому задача челки&nbsp; — создавать визуальную иллюзию длины и&nbsp; округлости линии подбородка. Подходящие варианты&nbsp; — асимметричная с&nbsp; бахромой, длинная набок и&nbsp; вьющаяся, смягчающая сильную линию подбородка. Боковая, обрамляющая лицо, и&nbsp; доходящая до&nbsp; подбородка, выгодно подчеркивает прямоугольное лицо, визуально удлиняя его.
          +figure({
            image: {
              name: 'chelki-9',
              path: '/images/uslugi/strizhka/chelki/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Челка набок для прямоугольного лица',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Для удлиненного	
            p Стройность лица подчеркивают с&nbsp; помощью густой прямой или многослойной челки. Чтобы подчеркнуть выразительные глаза, волосам разрешают соблазнительно скользить по&nbsp; бровям или оставляют длину чуть выше бровей.
          +figure({
            image: {
              name: 'chelki-10',
              path: '/images/uslugi/strizhka/chelki/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Варианты для удлиненного лица',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Для перевернутого треугольника	
            p Детская челка, изогнутая в&nbsp; центре лба и&nbsp; мягко переходящая в&nbsp; обрамляющие лицо пряди до&nbsp; подбородка хорошо сочетается с&nbsp; подобным типом. Неравномерные пряди визуально сужают верхнюю половину лица, а&nbsp; боковые пряди до&nbsp; подбородка расширяют линию подбородка, создавая гармоничные пропорции.
          +figure({
            image: {
              name: 'chelki-11',
              path: '/images/uslugi/strizhka/chelki/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Удачный образ с челкой у Скарлетт Йоханссон',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Для треугольного	
            p Поскольку лицо узкое вверху, выбирают челку, которая добавляет объем на&nbsp; макушке. Вьющаяся до&nbsp; бровей, густая прямая или боковая челка до&nbsp; ушей, зауженная на&nbsp; концах, — лучших вариантов для треугольной формы.   
            h3 Для овального	
            p У&nbsp; обладательниц овального лица варианты укладки безграничны. Прямая, короткая детская, густая, короткая многослойная или тонкая будут выглядеть восхитительно.

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +figure({
            image: {
              name: 'chelki-12',
              path: '/images/uslugi/strizhka/chelki/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Челки для треугольного лица',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Для формы сердце	
            p Тонкая челка с&nbsp; бахромой подчеркнет мягкие черты формы сердца, не&nbsp; акцентируя внимание на&nbsp; округлостях. В&nbsp; отличие от&nbsp; пышной, прореженная тонкая челка не&nbsp; утяжеляет широкий лоб, подчеркивая милый подбородок.
          +figure({
            image: {
              name: 'chelki-13',
              path: '/images/uslugi/strizhka/chelki/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Один их самых известных образов с челкой  - у Виктории Бэкхэм, обладательницы формы лица сердце',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection 
      h2 Преимущества стрижки в&nbsp; салоне
      +ul.par
        +li Консультация стилиста;
        +li Персональный подбор челки;
        +li Достойное качество услуг;
        +li Ожидаемый результат.

    +pageSubsection
      h2 Почему подстричь челку в&nbsp; Санкт-Петербурге стоит в&nbsp; Hair Care Center?
      +ul.par 
        +li Создаем незабываемые образы с 2002 года;
        +li Творчески подходим к решению поставленной задачи;
        +li Средний стаж мастеров составляет 12 лет;
        +li Парикмахеры работают в отдельных кабинетах;
        +li Даем рекомендации по уходу и укладке.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Как часто требуется коррекция?</h3>').par
            p Чем короче длина, тем чаще&nbsp; — раз в&nbsp; три недели.
          +accordionItem('<h3>Можно самостоятельно подстричь челку?</h3>').par
            p Да, но не&nbsp; всегда получается ожидаемый результат. Мастер&nbsp; же учитывает густоту волос, направление роста, задавая нужное направление.
          +accordionItem('<h3>Какая челка подойдет для круглого лица?</h3>').par
            p В&nbsp; парикмахерской клиентам с&nbsp; круглым лицом предлагаем выбрать асимметричную челку-шторку, уравновешивающую форму.
          +accordionItem('<h3>Может ли челка испортить образ?</h3>').par
            p Да, поэтому требуется предварительная консультация парикмахера-стилиста.