extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Кроп
    +grid.page-subsection
      +cell({ m:6 })
        p Мужская стрижка Кроп&nbsp;&mdash; модная классика, формирующая мужественный образ. Для Crop характерны коротко подстриженные виски и&nbsp;задняя часть головы, пышная макушка и&nbsp;челка, укладывающаяся вперед. Переходы делают плавными или резкими. Выбритые узоры или полосы на&nbsp;висках эффектно дополняют мужской образ. Прическу легко укладывать как в&nbsp;сдержанном, так и&nbsp;неформальном стиле. Неприхотливость в&nbsp;уходе делает ее&nbsp;подходящим выбором для людей с&nbsp;энергичным жизненным стилем.	
        p На&nbsp;стрижку обратили внимание женщины, предпочитающие экстравагантность, потому что Crop создает уверенный и&nbsp;актуальный образ. 
      +figure({
        image: {
          name: 'crop-1',
          path: '/images/uslugi/strizhka/crop/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Плюсы и&nbsp;минусы 
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          h3 Преимущества
          +ul.par
            +li Придает образу мужественности, даже некую брутальность;
            +li Вариативность;
            +li Гармонирует со&nbsp;всеми типами волос и&nbsp;типажами;
            +li Сочетается как с&nbsp;деловым, так и&nbsp;спортивным стилем в&nbsp;одежде;
            +li Не&nbsp;имеет возрастных ограничений.
        +cell({ m:6 })
          h3 Минусы	
          +ul.par
            +li Требуется частая коррекция.

    +pageSubsection
      h2 Основные варианты стрижки
      p У&nbsp;традиционного Crop длина 3-6&nbsp;сантиметров, заметна схожесть со&nbsp;стилем Бокс и&nbsp;Полубокс. Во&nbsp;всех вариациях волосы на&nbsp;макушке длиннее затылочной части и&nbsp;висков, присутствует четкая и&nbsp;ровная окантовка нижней линии роста волос. Мягкие переходы длины добавляют прическе элегантности, сглаживая агрессивные черты. 
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Классический	
            p Традиционный вариант создан для безупречного мужского образа. Верх минимально филирован, гладко зачесан, челка ровная. Приглаженная прическа подходит для работы в&nbsp;офисе. Естественная укладка с&nbsp;взлохмаченными кончиками гармонирует с&nbsp;повседневным стилем.
          +figure({
            image: {
              name: 'crop-2',
              path: '/images/uslugi/strizhka/crop/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Классический Кроп',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Французский стиль	
            p Это более смелая стрижка Кроп. Удлиненные пряди на&nbsp;макушке с&nbsp;рваными кончиками. Челка чаще удлиненная и&nbsp;тоже рваная, возможен скошенный вариант. Челку укладывают на&nbsp;бок или вперед. Мужской френч за&nbsp;счет филировки не&nbsp;создает хаос, напротив, в&nbsp;нем чувствуется дух бунтаря.
          +figure({
            image: {
              name: 'crop-3',
              path: '/images/uslugi/strizhka/crop/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Crop во французском стиле',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 С&nbsp;челкой
            p Челка может присутствовать на&nbsp;любом варианте стрижки. Допустима длина до&nbsp;бровей и&nbsp;ниже. По&nbsp;желанию клиента мастер делает прямую или косую форму. Также стрижется челка в&nbsp;рваной технике, для которой характерна разная длина прядей. Отличие мужской стрижки в&nbsp;том, что челка зачесывается только вперед.
          +figure({
            image: {
              name: 'crop-4',
              path: '/images/uslugi/strizhka/crop/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Crop с челкой',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Спортивный
            p Вариант предназначен для энергичных мужчин. Верх оставляем на&nbsp;1-2&nbsp;см длиннее выбритых висков, что выглядит гладко и&nbsp;естественно. Подходит мужчинам с&nbsp;правильной формой головы.
          +figure({
            image: {
              name: 'crop-5',
              path: '/images/uslugi/strizhka/crop/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Спортивный Кроп',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 В&nbsp;стиле Цезаря
            p Стрижка маскирует высокий лоб и&nbsp;небольшие проплешины. Виски остаются короткими, объем волос переносим на&nbsp;лоб, чтобы скрыть залысины. Для стрижки характерна идеально прямая или полукруглая челка.
          +figure({
            image: {
              name: 'crop-6',
              path: '/images/uslugi/strizhka/crop/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'В стиле Цезаря',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Hair tattoo
            p Художественный выстриг выполняется на&nbsp;короткой части стрижки при помощи триммера и&nbsp;опасной бритвы. Подходит клиентам, которые стремятся к&nbsp;неповторимому образу. Эффектно смотрится на&nbsp;густых темных волосах.
          +figure({
            image: {
              name: 'crop-7',
              path: '/images/uslugi/strizhka/crop/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Hair tattoo на ультракоротком Кроп',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Кому подходит Кроп
      +ul.par
        +li Мужчинам с&nbsp;широкими скулами подходит большинство вариаций Кроп. Выстригание выполняем короткими зонами на&nbsp;висках и&nbsp;затылке, волосы на&nbsp;макушке резко переходят в&nbsp;среднюю длину.
        +li Для формы &laquo;овал&raquo; рекомендуем оставлять небольшую длину сверху и&nbsp;выполнять контрастный переход к&nbsp;выбритой области при традиционном варианте стрижки.
        +li Мужчинам с&nbsp;типом лица &laquo;треугольник&raquo; дополнительно укорачиваем пряди на&nbsp;макушке, чтобы уравновесить форму. Делаем резкий переход к&nbsp;височной зоне.
        +li Для коррекции круглого лица выполняем незаметный переход коротких и&nbsp;длинных волос, сбриваем часть затылка. Выбритые виски также подходят данному типажу.

    +pageSubsection
      h2 Уход и&nbsp;стайлинг
      p В&nbsp;рабочие дни достаточно вымыть голову и&nbsp;зачесать волосы с&nbsp;макушки вперед. Для создания стильного образа понадобится гель, воск или лак. Выбор образов зависит от&nbsp;широты фантазии. Стиль бунтовщика оформляют гелем или воском: средство наносят на&nbsp;пальцы и&nbsp;рукой волосы зачесываются вверх или назад в&nbsp;зависимости от&nbsp;длины прядей. Для образа джентльмена делают линию пробора и&nbsp;зачесывают пряди в&nbsp;разные стороны. 

    +pageSubsection
      h2 Почему стрижку Кроп в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;салоне красоты Hair Care Center
      +ul.par
        +li В&nbsp;нашем салоне клиенты всегда получают ожидаемый результат;
        +li Придерживаемся профессиональной этики и&nbsp;соблюдаем конфиденциальность клиентов;
        +li Мастера салона&nbsp;&mdash; опытные стилисты, которые персонально подбирают стиль стрижки под черты лица гостя;
        +li Работаем только со&nbsp;стерильными инструментами.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Как часто обновляют Кроп?</h3>').par
            p Стрижка требует частую коррекцию&nbsp;&mdash; раз в&nbsp;3-4&nbsp;недели, художественный выстриг обновляют через 2&nbsp;недели.
          +accordionItem('<h3>Кроп делают на&nbsp;вьющиеся волосы?</h3>').par
            p Да, получается слегка небрежный стиль.
          +accordionItem('<h3>Влияет&nbsp;ли возраст на&nbsp;выбор стиля Кроп?</h3>').par
            p Это универсальная прическа, на&nbsp;выбор которой не&nbsp;влияет возраст.
          +accordionItem('<h3>Стрижка Кроп сочетается с&nbsp;бородой или усами?</h3>').par
            p Да, усы и&nbsp;борода поднимают Crop на&nbsp;новый уровень, повышая мужскую харизму.
          +accordionItem('<h3>Можно самостоятельно поддерживать форму стрижки?</h3>').par
            p Стрижка кажется несложной, но&nbsp;лучше ее&nbsp;делать у&nbsp;опытного мастера, чтобы получить ожидаемый результат.
