extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Детские
    +grid.page-subsection
      +cell({ m:6 })
        p Вопреки ошибочному мнению, детские стрижки&nbsp;— не&nbsp;такая простая задача даже для опытного парикмахера, ведь структура детских волос отличается от&nbsp;взрослой. Наши мастера с&nbsp;удовольствием работают с&nbsp;юными клиентами разных возрастов, им удается наладить контакт, установив доверительные отношения.
      +figure({
        image: {
          name: 'detskie-1',
          path: '/images/uslugi/strizhka/detskie/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Процесс детской стрижки',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Преимущества профессиональной детской стрижки
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Воспитание чувства стиля с&nbsp;раннего возраста	
            p Стрижки помогают детям выглядеть привлекательно. Детская стрижка для мальчика&nbsp;— простой способ сохранить его опрятный вид в&nbsp;течение дня, дать возможность ребенку проявить себя. Ведь идеальная стрижка для ребенка также индивидуальна, как и&nbsp;он.
            h3 Учет особенностей детских волос	
            p Детские волосы нуждаются в&nbsp;особом уходе и&nbsp;подходе при стрижке. Детскими считаются волосы от&nbsp;рождения до&nbsp; подросткового возраста. Они мягче взрослых, у&nbsp;кутикулы меньше слоев, а&nbsp;значит их легче повредить. Поэтому важно, чтобы стрижку выполнял мастер, знакомый со&nbsp;структурой детских волос.
            h3 Облегчение ухода за&nbsp;волосами после стрижки	
            p Даже у&nbsp;детей из-за&nbsp;недостатка витаминов, неправильного ухода и&nbsp;воздействия окружающей среды кончики волос секутся. Из-за&nbsp;этого пряди постоянно путаются, расчесывание превращается в&nbsp;муку для родителей и&nbsp;детей. Поэтому регулярная стрижка облегчает уход за&nbsp;прической ребенка и&nbsp;поддерживает ухоженный вид.

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +figure({
            image: {
              name: 'detskie-2',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка мальчика в салоне Hair Care Center',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
          +cell
            h3 Высокая самооценка	
            p Новая стрижка, которая нравится ребенку, помогает обрести уверенность и&nbsp;повысить самооценку. Наши парикмахеры&nbsp;— эксперты в&nbsp;создании модных причесок, которые подчеркивают достоинства и&nbsp;уникальность юного клиента.

    +pageSubsection
      h2 Выбор стрижки для мальчиков и&nbsp; девочек
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Форма лица	
            p Это базовый фактор, который учитывают при выборе стрижки. Разные формы подходят разным стилям, поэтому важно выбрать стрижку, которая дополнит форму лица ребенка. Например, если лицо круглое, многослойный или длинный Боб косой челкой визуально вытянет его.
          +figure({
            image: {
                name: 'detskie-3',
                path: '/images/uslugi/strizhka/detskie/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Удлиненный боб визуально вытягивает лицо',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Образ жизни и&nbsp;распорядок дня	
            p Если ребенок постоянно в&nbsp;движении, у&nbsp;него много дополнительных занятий, и&nbsp;мало свободного времени, лучшим вариантом станет стрижка, не&nbsp;требующая дополнительного ухода и&nbsp;тщательной укладки.
          +figure({
            image: {
                name: 'detskie-4',
                path: '/images/uslugi/strizhka/detskie/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Пример стрижки спортивного ребенка',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Тип и&nbsp;текстура волос	
            p Эти параметры также учитывают при выборе подходящей стрижки. Если у&nbsp;ребенка густые локоны, рассматриваются многослойные прически, уменьшающие объем. Если пряди тонкие или редкие, хорошим выбором станет короткая стрижка, создающая иллюзию густой шевелюры.

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Личный стиль и&nbsp;предпочтения	
            p Наконец, при выборе учитываем личный стиль и&nbsp;пожелания ребенка. Подросткам, например, нравится экспериментировать с&nbsp;разными стилями и&nbsp;образами, в&nbsp;этом случае стоит подумать о&nbsp;стрижке, которая позволит легко менять образы.

    +pageSubsection
      h2 Популярные типы стрижек для мальчиков и&nbsp;девочек
      +grid.par
        +figure({
          image: {
            name: 'detskie-5',
            path: '/images/uslugi/strizhka/detskie/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Самые стильные стрижки для мальчиков',
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          p Родителям порой непросто выбрать идеальную стрижку для ребенка. Ведь нужен стиль, который соответствует его индивидуальности, прост в&nbsp;уходе и&nbsp;позволяет чувствовать себя уверенно. В&nbsp;Hair Care Center мы понимаем, что правильная прическа повышает самооценку ребенка, поэтому предлагаем модные, одновременно стильные и&nbsp;функциональные прически.

    +pageSubsection
      h2 Для мальчиков
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Теннис	
            p Сочетает удобство, элегантность&nbsp;— идеальный выбор для мальчиков. Сохраняет презентабельный вид под головным убором. Неприхотлива в&nbsp;уходе. Подходит для любого возраста, типа лица.
          +figure({
            image: {
              name: 'detskie-6',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Теннис',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 С&nbsp;эффектом Фейд	
            p Область затылки и&nbsp;висков выстригается коротко, на&nbsp;макушке оставляем более длинные пряди. Делаем плавный переход между участками. Прическу часто дополняем художественным выстригом.
          +figure({
            image: {
              name: 'detskie-7',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка с эффектом Фейд',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Гаврош	
            p В&nbsp;современном исполнении разница длины волос на&nbsp;макушке и&nbsp;затылке слабо выражена. Доступны разные варианты длины&nbsp;— от&nbsp;короткой до&nbsp;плеч. Прическа универсальна, поэтому сочетается с&nbsp;классическим школьным и&nbsp;свободным стилями.
          +figure({
            image: {
              name: 'detskie-8',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Гаврош',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Шапочка	
            p Нестареющая классика, подчеркивающая непринужденное обаяние и&nbsp;юношескую элегантность. Прическа не&nbsp;требует трудоемкой и&nbsp;утомительной укладки. Легкая взъерошенность придаст образу озорной вид.
          +figure({
            image: {
              name: 'detskie-9',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка шапочка у мальчика',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Для девочек
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Длинный Боб с&nbsp;челкой	
            p Если у&nbsp;девочки прямые волосы и&nbsp;стоит задача сделать классическую стрижку, не&nbsp;требующую укладку, выбирают длинный Боб с&nbsp;челкой. При сушке используют круглую щетку и&nbsp;слегка подкручивают кончики для придания дополнительного объема. Чтобы предотвратить повреждение волос, на&nbsp;пряди распыляют термозащитное средство.
          +figure({
            image: {
              name: 'detskie-10',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Длинный боб с челкой',
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Длинное Каре	
            p Классическая стрижка подходит девочкам, предпочитающим длинные волосы, чтобы демонстрировать милые хвостики и&nbsp;косички. Распущенные пряди создают прекрасный изысканный стиль. Сочетается с&nbsp;разными аксессуарами для волос.
          +figure({
            image: {
              name: 'detskie-11',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Длинное Каре',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Многослойный короткий Боб	
            p Отличный выбор для тех, кто желает разбавить монотонность классической стрижки слоями. Заколки сделают образ ярче.
          +figure({
            image: {
              name: 'detskie-12',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Многослойный короткий Боб',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Каре с&nbsp; челкой	
            p Текстурированное каре выглядит динамично, неприхотливо в&nbsp;уходе. Девочке не&nbsp;придется постоянно поправлять выбившиеся прядки.
          +figure({
            image: {
              name: 'detskie-13',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Каре c челкой',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Лесенка	
            p Прическа для девочек, которые любят длинные волосы, но&nbsp;хотят свежих перемен в&nbsp;образе. Лесенка сочетается с&nbsp;разными видами челки.
          +figure({
            image: {
              name: 'detskie-14',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка лесенка',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Пикси	
            p Милая озорная стрижка не&nbsp;требует укладки и&nbsp;постоянного расчесывания. Подходит к&nbsp;любому образу и&nbsp;стилю.
          +figure({
            image: {
              name: 'detskie-15',
              path: '/images/uslugi/strizhka/detskie/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка пикси',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Почему подстричь ребенка в&nbsp;Санкт-Петербурге лучше в&nbsp;Hair Care Center
      +ul.par 
        +li В&nbsp;салоне работают профессиональные мастера, умеющие найти подход к&nbsp;ребенку;
        +li Располагающая уютная атмосфера в&nbsp;салоне;
        +li Инструментарий проходит трехэтапную обработку;
        +li Учитываем особенности характера каждого юного клиента;
        +li Выполняем классические и&nbsp;современные стрижки.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Как часто стричь ребенка?</h3>').par
            p Зависит от&nbsp;того, как быстро растут волосы ребенка, насколько сложно за&nbsp;ними ухаживать. Секущиеся концы создают колтуны и&nbsp;узлы, поэтому требуют регулярной коррекции, в&nbsp;среднем раз в&nbsp;3-5 недель.
          +accordionItem('<h3>Какие стрижки подходят детям с тонкими и слабыми волосами?</h3>').par
            p Для тонких и&nbsp;ослабленных волос предпочтительные короткие и&nbsp;средней длины стрижки, придающие визуальный объем. И&nbsp;желательно избегать тугих причесок.
          +accordionItem('<h3>Какие специальные прически для мальчиков, занимающихся спортом?</h3>').par
            p Короткие прически как Полубокс, Цезарь и&nbsp;Фейд. Стрижки не&nbsp;требуют особого ухода, подходят для активного образа жизни, гарантируют эстетичный и&nbsp;опрятный вид.
          +accordionItem('<h3>Стильная прическа для мальчика 12 лет?</h3>').par
            p Рассматривают такие варианты как длинная макушка с&nbsp;фейдом или андеркатом по&nbsp;бокам. Текстурированная челка и&nbsp;рваные концы создадут модный и&nbsp;эстетичный вид.
          +accordionItem('<h3>Какие укладочные средства безопасны для детских волос?</h3>').par
            p На постоянной основе не&nbsp;желательно использовать никакие укладочные средства. В&nbsp;редких случаях для укладки берут мусс или гель.