extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Горячими ножницами
    +grid.page-subsection
      +cell({ m:6 })
        p Стрижка горячими ножницами&nbsp;— классическая стрижка, но с&nbsp;использованием электрических ножниц. Процедура обладает выраженным восстанавливающим и&nbsp;лечебным эффектом. Горячие ножницы&nbsp;— это электроприбор, оснащенный кнопочной системой управления. Нагреваются только лезвия, поэтому исключены ожоги и&nbsp;другие повреждения рук и&nbsp;кожи головы. Средняя температура нагрева термоинструмента 130&nbsp; ̊ С.
        p Суть горячей стрижки в&nbsp;том, чтобы запаять срезанный конец стержня, создав тупой, утяжеленный конец, благодаря которому волосы выглядят гуще и&nbsp;здоровее. Внешний результат виден после первой стрижки, но&nbsp; для достижения полного восстановительного эффекта необходимо выполнить 4-6&nbsp;процедур.
      +figure({
        image: {
          name: 'goryachimi-nozhnicami-1',
          path: '/images/uslugi/strizhka/goryachimi-nozhnicami/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Стрижка горячими ножницами',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Преимущества термострижки
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Восстановление и&nbsp;защита поврежденных кончиков	
            p В&nbsp;отличие от&nbsp;традиционных ножниц, которые открывают наружный слой, лишая стержень защиты, тепло горячего инструмента запаивает кончики, таким образом кератин и&nbsp;влага удерживаются внутри, предотвращая трихоптилоз (рассечение). Благодаря этому стрижка выглядит свежей в&nbsp;течение нескольких недель.
          +figure({
            image: {
              name: 'goryachimi-nozhnicami-2',
              path: '/images/uslugi/strizhka/goryachimi-nozhnicami/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка поврежденных кончиков',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
                  
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Ускорение естественного роста волос	
            p Благодаря теплопроводности стержня в&nbsp;процессе горячей обработки ножницами автоматически стимулируются волосяные фолликулы, способствуя активному росту и&nbsp;регенерации волосяных стержней. Как следствие, густота волосяного покрова постепенно увеличивается.
            h3 Улучшение внешнего вида
            p При регулярном выполнении процедуры волосы приобретут одинаковую толщину по&nbsp;всей длине, будут выглядеть сильными и&nbsp;густыми.
          +figure({
            image: {
              name: 'goryachimi-nozhnicami-3',
              path: '/images/uslugi/strizhka/goryachimi-nozhnicami/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'До и после стрижки горячими ножницами',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection 
      h2 Как проходит термострижка
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Процедура занимает 1-2&nbsp;часа. При выборе температурного режима учитываем длину и&nbsp;состояние волос клиента.
            h3 Диагностика	
            p Перед процедурой мастер обязательно проверяет волосы клиента аппаратом, определяющим структуру стержня, чтобы правильно подобрать температуру горячих ножниц. Потому что в&nbsp;противном случае слишком горячие ножницы еще больше повредят волосы, а&nbsp;низкая температура скажется на&nbsp;качестве заделки среза.
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +figure({
            image: {
              name: 'goryachimi-nozhnicami-4',
              path: '/images/uslugi/strizhka/goryachimi-nozhnicami/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Восстановление и защита поврежденных кончиков',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +figure({
            image: {
              name: 'goryachimi-nozhnicami-5',
              path: '/images/uslugi/strizhka/goryachimi-nozhnicami/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Техника жгутиков',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Техника выполнения жгутиками
            +ul.par
              +li Волосы делим на&nbsp;пряди, которые затем скручиваем в&nbsp;жгутики и&nbsp;сушим феном, чтобы проявились посеченные кончики. Скручивание в&nbsp;жгутики позволяет сохранить исходную длину прядей;
              +li Выбившиеся секущиеся кончики обрезаем по&nbsp;всей длине жгута сверху вниз;
              +li Проверяем, не&nbsp;остались&nbsp;ли еще секущиеся волоски, при необходимости процедуру повторяем;
              +li После обработки кончиков жгутики распускаем, при помощи горячих ножниц придаем прическе желаемую форму;

    +pageSubsection 
      h2 Для кого подходит стрижка горячими ножницами
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell   
            p Термострижка&nbsp;— подходящий выбор для тех, кто не может отрастить волосы из-за трихоптилоза. Также процедура полезна для длинных, вьющихся, окрашенных, ослабленных и&nbsp;поврежденных локонов, поскольку они склонны к&nbsp;появлению расслаивающихся кончиков из-за недостаточного питания. Коротким волосам обработка горячими ножницами придает невероятный объем. Термострижка также подходит для профилактики расслоения стержня.
          +figure({
          image: {
            name: 'goryachimi-nozhnicami-6',
            path: '/images/uslugi/strizhka/goryachimi-nozhnicami/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Здоровые и поврежденные волосы',
          },
        })(class= cellClasses({ xs:12 })).figure--image-radius
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Ограничения и&nbsp;противопоказания
            p Стрижка горячими ножницами безопасна, ее даже рекомендуют для волос после химического травмировании при окрашивании и&nbsp;завивки. Однако вред шевелюре может нанести несертифицированный мастер или оборудование ненадлежащего качества. Поэтому для проведения оздоравливающей процедуры выбирают салоны с&nbsp;обученными мастерами. Ведь температурный режим для каждого типа, структуры и&nbsp;длины стержня подбирается персонально, а&nbsp;для этого нужны знания и&nbsp;опыт. 
            p Метод не&nbsp;подходит клиентам, которые не&nbsp;готовы раз в&nbsp;месяц посещать мастера для поддержания формы прически и&nbsp;отказаться от&nbsp;ежедневного использования фена и&nbsp;утюжка. А&nbsp;также стрижку термоножницами не&nbsp;проводят клиентам с&nbsp;очень короткой прической во&nbsp;избежание травмирования.

    +pageSubsection 
      h2 Чем термострижка отличается от обычной
      +grid.par
        +cell({ m:6 })
          p Разница заметна при рассмотрении среза стержня под микроскопом. Чётко видно, что даже острые обычные ножницы оставляют рваный, похожий на&nbsp;щетку срез. А&nbsp;после термоножниц срез ровный, так&nbsp;как нагретые лезвия при смыкании отсекают расслоившийся участок и&nbsp;сразу&nbsp;же его прижигают.
        +figure({
          image: {
            name: 'goryachimi-nozhnicami-7',
            path: '/images/uslugi/strizhka/goryachimi-nozhnicami/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Разница между обычной и термострижкой',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection 
      h2 Уход за волосами после стрижки горячими ножницами
      +ul.par
        +li После мытья головы сушить волосы естественным путем;
        +li Не расчесывать влажные пряди;
        +li Отказаться или минимизировать использование термоприборов;
        +li Включить в&nbsp;уход еженедельные увлажняющие маски;
        +li Регулярно посещать своего мастера для повторения процедуры.

    +pageSubsection 
      h2 Частота повторения процедуры
      p Периодичность зависит от&nbsp;исходного состояния волосяного покрова. Сложная структура стержня требует больше времени для достижения видимых результатов. В среднем проводят 4-6&nbsp;сеанса термострижки с&nbsp;перерывом месяц.
      p Есть волосы, не&nbsp;поддающиеся лечению горячими ножницами, в&nbsp;этом случае требуется глубокое исследование проблемы трихологом.

    +pageSubsection
      h2 Почему стрижку горячими ножницами в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;Hair Care Center
      +ul.par 
        +li Стрижку проводят мастера, прошедшие специальное обучение;
        +li Бесплатно диагностируем волосы перед процедурой;
        +li Каждую прядку обрабатываем вручную;
        +li Сохраняем длину градуированным и&nbsp;неоднородной длины волосам;
        +li После процедуры даем рекомендации по&nbsp;уходу и&nbsp;выбору косметики.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Можно стричь горячими ножницами окрашенные волосы?</h3>').par
            p Даже нужно для предотвращения расслаивания кончиков.
          +accordionItem('<h3>Есть возрастные ограничения для стрижки?</h3>').par
            p Нет, горячими ножницами стригут даже детей, если они уже способны сидеть усидчиво.
          +accordionItem('<h3>Можно ли делать стрижку дома?</h3>').par
            p Да, если стричь будет квалифицированный мастер профессиональным инструментом.

