extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Каре
    +grid.page-subsection
      +cell({ m:6 })
        p Стрижка Каре&nbsp;&mdash; легендарная прическа родом из&nbsp;Древнего Египта, возродившаяся как символ эмансипационной моды&nbsp;XX века и&nbsp;прошедшая много трансформаций, прежде чем возглавить современные тенденции.
        p В&nbsp;традиционном виде&nbsp;&mdash; это прическа средней длины с&nbsp;прямой линией среза. Часто дополняется прямой челкой. Секрет ее&nbsp;популярности в&nbsp;универсальности&nbsp;&mdash; Каре одинаково превосходно смотрится на&nbsp;густых и&nbsp;тонких волосах, отрастая не&nbsp;теряет привлекательности. Парикмахеры уверены, что Каре и&nbsp;модификации стрижки упрощают жизнь женщины, так как просты в&nbsp;уходе. Прямые линии Каре подходят как девушкам, так и&nbsp;зрелым дамам. Разновидности стрижки исчисляются десятками вариантов с&nbsp;разной техникой исполнения, но&nbsp;единой основой. 
      +figure({
        image: {
          name: 'kare-1',
          path: '/images/uslugi/strizhka/kare/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Тренды стрижки каре в 2023 г',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Виды Каре
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Классическое
            p В&nbsp;базовом варианте это стрижка с&nbsp;четкими контурами, ровным срезом чуть ниже ушей и&nbsp;прямой челкой. Никакой многослойности и&nbsp;градуировки&nbsp;&mdash; пряди лежат единым ровным полотном. Сегодня челка&nbsp;&mdash; не&nbsp;обязательный атрибут образа. Стрижки с&nbsp;прямыми углами&nbsp;&mdash; лучший выбор для ретро-образов, делового стиля, обладательниц ромбо- и&nbsp;сердцевидного типа лица. Прическа уравновешивает пропорции, оптически расширяя нижнюю треть лица.
          +figure({
            image: {
              name: 'kare-2',
              path: '/images/uslugi/strizhka/kare/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Классическое каре',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Без челки
            p Стрижки с&nbsp;прямоугольной геометрией без челки выглядят стильно и&nbsp;выразительно. Это идеальное решение для тех, кто предпочитает практичность и&nbsp;удобство. Подходит для прямых и&nbsp;волнистых локонов. Асимметричная прическа выглядит смело и&nbsp;свежо. Для этого стилист с&nbsp;одной стороны делает Каре на&nbsp;удлинение, а&nbsp;с&nbsp;другой состригает пряди у&nbsp;мочки уха.
          +figure({
            image: {
              name: 'kare-6',
              path: '/images/uslugi/strizhka/kare/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Асиметричное каре без челки',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 С&nbsp;челкой
            p Челка&nbsp;&mdash; актуальный элемент образа, оптически моделирующий черты лица. Для такой прически требуется достаточная густота волос.
            +ul.par 
              +li Плотная густая челка визуально подкорректирует удлиненное лицо, скроет высокий лоб;
              +li Косой челкой легко сгладить резкие контуры лица с&nbsp;одинаковой шириной и&nbsp;длиной;
              +li Короткая челка подчеркивает ширину лба длинная добавляет в&nbsp;образ таинственности.
          +figure({
            image: {
              name: 'kare-5',
              path: '/images/uslugi/strizhka/kare/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Пример каре с челкой у Тейлор Свифт',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 На&nbsp;ножке
            p Вариант характеризуется как самый объемный, эффект пышности достигается за&nbsp;счет коротких прядей на&nbsp;затылке, ровных, доходящих до&nbsp;середины щеки или подбородка локонов спереди. Каре на&nbsp;ножке часто отождествляют с&nbsp;грибной шляпкой, отсюда и&nbsp;необычное название прически. К&nbsp;преимуществам стрижки относят:
            +ul.par 
              +li акцент на&nbsp;вертикальной линии шеи, выигрышное подчеркивание ее&nbsp;изящества и&nbsp;визуальное удлинение;
              +li легкий уход за&nbsp;счет короткой длины волос;
              +li увеличения объема даже тонких и&nbsp;ослабленных прядей.
          +figure({
            image: {
              name: 'kare-4',
              path: '/images/uslugi/strizhka/kare/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Каре на ножке',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Каре на&nbsp;удлинение
            p Переднюю часть стрижем до&nbsp;подбородка или чуть ниже, а&nbsp;на&nbsp;затылке укорачиваем или даже выбриваем для увеличения контраста. В&nbsp;зависимости от&nbsp;типа исполнения спереди локоны мягко обрамляют лицо, спускаясь послойно или ступенчато, заднюю часть выполняем с&nbsp;помощью &laquo;пойтинга&raquo;&nbsp;&mdash; техники моделирования с&nbsp;зубчатым срезом. Такой стиль Каре подходит женщинам с&nbsp;любой формой лица.
            +ul.par 
              +li Даже при небольшой градуировке пряди лучше ложатся;
              +li Резкое удлинение передней части добавляет прическе креативности;
              +li Формирует максимальный объем на&nbsp;затылке;
              +li Удлиняет овал, поэтому подходит круглолицым дамам.
          +figure({
            image: {
              name: 'kare-3',
              path: '/images/uslugi/strizhka/kare/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Удлиненное каре Рианны',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Градуированное
            p Представляет собой переход прядей затылка к&nbsp;обрамляющим лицо. Прическа любима женщинами&nbsp;за:
            +ul.par 
              +li легкую растрепанность, придающую образу задорный вид;
              +li маскировку угловатых черт;
              +li легкость укладки и&nbsp;объем.
            p Парикмахеры-стилисты считают градуированное Каре универсальным и&nbsp;практичным вариантом, добавляющим романтичности.
          +figure({
            image: {
              name: 'kare-7',
              path: '/images/uslugi/strizhka/kare/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Градуированное каре: процесс стрижки и результат',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Выбор подходящего Каре
      p Не&nbsp;потеряться в&nbsp;разнообразии выбора и&nbsp;подобрать подходящий вариант помогают наши мастера, учитывающие при этом структуру, плотность и&nbsp;исходную длину волос, геометрию лица, пожелание клиента.
      h3 Выбор по&nbsp;форме лица
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell({ tag: 'ul' }).unordered-list
            +li Круг. Круглолицым девушкам предпочтительны стрижки с&nbsp;градуировкой, асимметрией, удлинением на&nbsp;одной и&nbsp;скрилекс (выбритый висок) на&nbsp;другой стороне. Дополняется образ косой или рваной челкой ниже бровей. Противопоказано: прямая челка, традиционный вариант стрижки.
            +li Прямоугольник или квадрат. В&nbsp;этом случае задача прически смягчить угловатые черты, оптически уменьшить широкий и&nbsp;высокий лоб. Дополняется стрижка челкой с&nbsp;длинным срезом или зигзагообразным пробором.
          +figure({
            image: {
              name: 'kare-8',
              path: '/images/uslugi/strizhka/kare/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Каре по форме лица (слева направо: прямоугольник, круг, овал)',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell({ tag: 'ul' }).unordered-list
            +li Вытянутый овал. Здесь желательно сохранить среднюю длину прядей. Кстати будет с&nbsp;хаотично состриженные или короткие на&nbsp;затылке пряди, асимметричное Каре. Нет удлинению, бритым вискам и&nbsp;челке выше бровей.
            +li Треугольник. Сегодня массивные скулы в&nbsp;тренде и&nbsp;считаются привлекательной чертой. Желающие подчеркнуть особенность выбирают Боб-каре и&nbsp;удлиненную челку. Если стоит задача&nbsp;&mdash; уменьшить скулы, предпочтение отдают объему и&nbsp;длине ниже уха.
          +figure({
            image: {
              name: 'kare-9',
              path: '/images/uslugi/strizhka/kare/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Каре у Виктории Бэкхэм (треугольная форма лица)',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему стрижку Каре в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;салоне красоты Hair Care Center
        p В&nbsp;Hair Care Center мы&nbsp;понимаем, как стрижка влияет на&nbsp;самооценку человека. Повышаем уверенность клиентам, создавая стильные стрижки с&nbsp;легкой укладкой. Наши мастера выполняют любые по&nbsp;сложности образы&nbsp;&mdash; от&nbsp;классики до&nbsp;смелых экспериментов со&nbsp;стилем. 
      +cell
        +grid({ tag: 'ul' }).par
          +iconBlock({ tag: 'li', webinar: true })(class= cellClasses({ m:6 })) Имея богатый опыт в&nbsp;индустрии красоты, продолжаем учиться и&nbsp;развиваться;
          +iconBlock({ tag: 'li', hair1: true })(class= cellClasses({ m:6 })) В&nbsp;Hair Care Center клиенты получают не&nbsp;только качественный сервис, но&nbsp;и&nbsp;бесплатные рекомендации по&nbsp;уходу и&nbsp;укладке;
          +iconBlock({ tag: 'li', cosmetics5: true })(class= cellClasses({ m:6 })) Заботимся о&nbsp;здоровье волос клиентов, поэтому работаем на&nbsp;профессиональной косметике, которой пользуемся сами;
          +iconBlock({ tag: 'li', prevention: true })(class= cellClasses({ m:6 })) В&nbsp;салоне предусмотрена трехэтапная стерилизация инструментария.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы	
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Каре делают на&nbsp;вьющиеся волосы?</h3>').par
          p Да. При волнистых прядях выбирают классический или каскадный варианты стрижки.
        +accordionItem('<h3>Как часто посещать парикмахера, чтобы сохранить форму?</h3>').par
          p Раз в&nbsp;6-8 недель&nbsp;&mdash; подходящая периодичность для обновления Каре.
        +accordionItem('<h3>Какие виды Каре выбирают для офисного стиля?</h3>').par
          p Классика в&nbsp;разных вариациях больше остальных подойдет для делового образа.
        +accordionItem('<h3>Самая короткая длина Каре?</h3>').par
          p У&nbsp;короткой разновидности стрижки длина прядей, обрамляющих лицо, не&nbsp;опускается ниже мочки уха.
        +accordionItem('<h3>Какие доступны варианты окрашивания для Каре?</h3>').par
          p Нет ограничений в&nbsp;выборе техники окрашивания. В&nbsp;этом году тренды предлагают натуральные оттенки или яркие оригинальные цвета, например, розовый или лавандовый блонд.
