extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Каскад
    +grid.page-subsection
      +cell({ m:6 })
        p Стрижка Каскад относится к&nbsp;многослойным универсальным прическам, поскольку гармонирует со&nbsp;всеми типажами и&nbsp;волосами разной длины. По&nbsp;мере отрастания не&nbsp;теряет опрятности. Каскадные волосы не&nbsp;нуждаются в&nbsp;сложном уходе, достаточно помыть и&nbsp;высушить пряди феном. Большой выбор оформления для быстрого перевоплощения.
        p Для Каскада характерно плавное укорачивание длины с&nbsp;минимальным или увеличенным промежутком. Переходы длины хорошо прослеживаются сзади, сбоку и&nbsp;спереди. Прическа с&nbsp;многоуровневой длиной визуально корректирует недостатки лица. У&nbsp;Каскада нет ограничений по&nbsp;возрасту. Стрижка одинаково хорошо смотрится на&nbsp;естественных, окрашенных и&nbsp;даже седых волосах, комбинируется с&nbsp;разными стилями, дополняется челкой.
      +figure({
        image: {
          name: 'kaskad-1',
          path: '/images/uslugi/strizhka/kaskad/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Стрижка каскад',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
    
    .page-subsection
      h2 Техника стрижки
      +grid.par
        +cell({ m:6 })
          p Волосы стрижем ярусами, увеличивая длину по&nbsp;направлению к&nbsp;кончикам. Срезы делаем по&nbsp;всему полотну волос. Ступенчатость выстригаем равномерно ровными срезами или рваными прядями, отделяя уровни горизонтальным пробором. 
          +figure({
            image: {
              name: 'kaskad-2',
              path: '/images/uslugi/strizhka/kaskad/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Процесс стрижки каскад',  
            }, 
          }).figure--image-radius
        
        +cell({ m:6 })
          h3 Классическая техника на&nbsp;длинные пряди
          ol.list-ordered.par
            li.list-ordered__item Волосы увлажняем, тщательно расчесываем, на&nbsp;верхней части головы определяем контрольную прядь, которую вытягиваем и&nbsp;стрижем нужной длины;
            li.list-ordered__item Контрольная прядь&nbsp;&mdash; самая короткая в&nbsp;стрижке;
            li.list-ordered__item Угол стрижки выбирается, исходя из&nbsp;предпочтений клиента, чем выраженнее каскад, тем больше угол наклона;
            li.list-ordered__item Обрабатываем оставшиеся пряди, резку делаем прямым срезом, выравнивая по&nbsp;контрольной полосе;
            li.list-ordered__item Для сглаживания переходов филируем локоны;
            li.list-ordered__item Делаем окончательную окантовку, расчесываем и&nbsp;укладываем прическу.
    
    .page-subsection
      h2 Варианты стрижки 
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p В&nbsp;базовом варианте между ступенями плавные, практически незаметные переходы. В&nbsp;других моделях классическая схема дополняется четкими переходами, разной длиной краев и&nbsp;т.д. 
            h3 Двухуровневый
            p В&nbsp;этой вариации у&nbsp;стрижки два ярко выраженных уровня. В&nbsp;виде объемной шапочки и&nbsp;оставшейся длины. Переход между ярусами резкий или плавный. Выполняется на&nbsp;длинных и&nbsp;средних прядях.
          +figure({
            image: {
              name: 'kaskad-3',
              path: '/images/uslugi/strizhka/kaskad/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Двухуровневый каскад',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 С&nbsp;короткой макушкой
            p Такой Каскад подходит для коротких волос. Пышная шапочка плавно переходит от&nbsp;затылка к&nbsp;шее. Нижнюю часть оставляют без ступенек или делают 1-2&nbsp;перехода. Модель корректирует скошенную форму головы. Сочетается с&nbsp;косой челкой. Укладка не&nbsp;предполагает придания Каскаду определенных форм, достаточно выровнять челку. Подходит для послушных и&nbsp;гладких волос. На&nbsp;вьющихся коротких локонах первоначальная форма не&nbsp;сохраняется.
          +figure({
            image: {
              name: 'kaskad-6',
              path: '/images/uslugi/strizhka/kaskad/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка каскад с короткой стрижкой',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
              
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Градуированный
            p Подходящий вариант для получения дополнительного объема. Не&nbsp;рекомендуется девушкам с&nbsp;мягкими и&nbsp;непослушными локонами, так как они быстро теряют пышность. Верхние пряди длиной не&nbsp;менее 10&nbsp;см постепенно переходят на&nbsp;следующий слой. От&nbsp;классики отличается большим количеством слоев. Очертания у&nbsp;градуированного каскада четкие. Гармонирует с&nbsp;косой или прямой челкой с&nbsp;глубокой филировкой.
            +ul.par 
              +li Регулярная коррекция кончиков сохраняет презентабельный вид стрижки;
              +li Для укладки достаточно подкрутить кончики ;
              +li Челку лучше оставить гладкой, при желании слегка приподнять.
          +figure({
            image: {
              name: 'kaskad-4',
              path: '/images/uslugi/strizhka/kaskad/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Градуированный каскад',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Рваный
            p Этот вариант стрижки создает игривый и&nbsp;нежный образ. Подходит даже девушкам, придерживающимся строгого делового стиля. Отличительная черта&nbsp;&mdash; кончики прядей разной длины. Это идеальное решение для нарочито небрежной укладки. Рваному Каскаду характерна асимметрия, приковывающая взгляды. Хорошо смотрится с&nbsp;челкой и&nbsp;без. Глубокая филировка завершает оформление четких ступеней прядей, в&nbsp;беспорядке разбросанных по&nbsp;всей длине. Ежедневная укладка не&nbsp;требуется, допустима простая сушка без фена.
          +figure({
            image: {
              name: 'kaskad-5',
              path: '/images/uslugi/strizhka/kaskad/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: '"Рваная" версия каскада',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Для вьющихся волос
            p Кудри&nbsp;&mdash; не&nbsp;помеха для каскадной стрижки, придется только учесть ряд нюансов.
            +ul.par 
              +li Волнистые пряди стригут чаще&nbsp;&mdash; раз в&nbsp;1-1,5&nbsp;месяца;
              +li Для укладки используют средства для кудрявых локонов;
              +li Для создания романтического или делового образа потребуется минимальная укладка.
          +figure({
            image: {
              name: 'kaskad-7',
              path: '/images/uslugi/strizhka/kaskad/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Каскад на вьющиеся волосы',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Для тонких
            p Ступенчатая структура и&nbsp;многослойность визуально увеличивают объем прически. Каскад корректирует редкие и&nbsp;тонкие волосы. При регулярной коррекции кончиков у&nbsp;прически аккуратный и&nbsp;ухоженный вид. Стрижка Каскад на&nbsp;средние или короткие волосы облегчает формирование разных причесок. Для фиксации тонких послушных волос требуется немного укладочных средств щадящего действия.
          +figure({
            image: {
              name: 'kaskad-8',
              path: '/images/uslugi/strizhka/kaskad/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Каскад для тонких волос',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +grid.page-subsection
      +cell({ m:6 })
        h2 Укладка	
        p Ежедневную укладку выполняют с&nbsp;помощью фена и&nbsp;пальцев. После мытья голову наклоняют вниз и&nbsp;сушат волосы, приглаживая пряди от&nbsp;корней до&nbsp;кончиков. Чтобы кончики выглядели привлекательнее, на&nbsp;них наносят гель или воск. Для праздничной и&nbsp;нарядной укладки на&nbsp;волосы наносят мусс и&nbsp;равномерно распределяют, затем просушивают феном, направляя поток от&nbsp;корней к&nbsp;кончикам, натянув их&nbsp;под углом 90 &deg;. Затем локоны укладывают кольцами круглой щеткой и&nbsp;закрепляют прическу лаком.
        p Все варианты укладки сочетаются с&nbsp;аксессуарами: лентами, повязками, заколками. Это вносит разнообразие в&nbsp;повседневный образ.
      +figure({
          image: {
            name: 'kaskad-9',
            path: '/images/uslugi/strizhka/kaskad/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'При стрижке каскад всегда требуется укладка',  
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Почему стрижку каскад в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;салоне красоты Hair Care Center
      +grid({ tag: 'ul' }).par
        +iconBlock({ tag: 'li', teaCup: true })(class= cellClasses({ m:6 })) Приятная атмосфера и&nbsp;максимум комфорта окружают клиентов с&nbsp;первых минут пребывания в&nbsp;Hair Care Center;
        +iconBlock({ tag: 'li', hair1: true })(class= cellClasses({ m:6 })) Наша цель&nbsp;&mdash; стрижка, подчеркивающая лучшие черты;
        +iconBlock({ tag: 'li', hairdresser1: true })(class= cellClasses({ m:6 })) Гордимся уровнем профессионализма наших мастеров, который выводит салон на&nbsp;высокие позиции в&nbsp;индустрии красоты;
        +iconBlock({ tag: 'li', sanitization: true })(class= cellClasses({ m:6 })) После каждого клиента инструменты отправляем на&nbsp;3-х ступенчатую обработку.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Как часто обновляют Каскад?</h3>').par
          p Периодичность коррекции зависит от&nbsp;типа стрижки, скорости роста волос. В&nbsp;среднем это один раз в&nbsp;месяц. 
        +accordionItem('<h3>Каскад подходит для всех типов волос?</h3>').par
          p Да, стрижка относится к&nbsp;универсальным.
        +accordionItem('<h3>Как подобрать длину прически под конкретную форму лица?</h3>').par
          p Строгих правил нет, достаточно помнить, что длинные пряди визуально вытягивают лицо, а&nbsp;короткие&nbsp;&mdash; округляют. Для круглого лица не&nbsp;рекомендована челка, квадратному противопоказана короткая макушка, каскад начинается с&nbsp;уровня скул.
        +accordionItem('<h3>Каскад каждый день укладывают?</h3>').par
          p Нет, пряди сами ложатся в&nbsp;заданной мастером форме.
        +accordionItem('<h3>Какие преимущества каскадных волос перед другими видами стрижек?</h3>').par
          p Каскад дает все, о&nbsp;чем мечтает женщина, идя в&nbsp;парикмахерскую,&nbsp;&mdash; вариативность, неповторимый образ, легкий уход и&nbsp;укладку.
