extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Кончиков
    +grid.page-subsection
      +cell({ m:6 })
        p Секущиеся волосы&nbsp;&mdash; распространенная проблема. Маски и&nbsp;сыворотки разглаживают пряди, но&nbsp;после мытья головы волоски вновь начинают расслаиваться. Избавляет от&nbsp;проблемы только стрижка секущихся кончиков. 
        p Расслоение волосяного стержня&nbsp;&mdash; состояние, при котором верхний защитный слой повреждается, а&nbsp;внутренний начинает делиться на&nbsp;2&nbsp;и&nbsp;больше частей. Что делает локоны тусклыми, ломкими и&nbsp;непослушными. 
        +figure({
          image: {
            name: 'konchikov-1',
            path: '/images/uslugi/strizhka/konchikov-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Секущиеся волосы',
          }, 
        }).figure--image-radius
      +cell({ m:6 })
        p Различают 16&nbsp;видов расслоения кончиков. Волосы секутся из-за частого окрашивания, злоупотребления термоукладкой и&nbsp;отсутствия должного ухода. Концы регулярно подстригают для поддержания их&nbsp;здоровья и&nbsp;эстетичного вида прически. Систематическое подравнивание волос не&nbsp;допускает появления секущихся концов.
        +figure({
          image: {
            name: 'konchikov-2',
            path: '/images/uslugi/strizhka/konchikov-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Виды секущихся кончиков',
          }, 
        }).figure--image-radius
    
    .page-subsection
      h2 Зачем стричь кончики волос
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          p Секущиеся концы со&nbsp;временем лишают локоны блеска, делают их&nbsp;тонкими и&nbsp;хрупкими. В&nbsp;зависимости от&nbsp;длины прядей, возраст кончиков достигает несколько лет. Концы&nbsp;&mdash; открытая и&nbsp;уязвимая часть стержня, которая ежедневно подвергается агрессивному воздействию химических составов, окружающей среды и&nbsp;времени. Ежедневный износ приводит к&nbsp;обезвоживанию и&nbsp;изнашиванию кутикулы волоса, обнажая внутренние слои. Стрижка кончиков препятствует продвижению расслоения вверх по&nbsp;стрежню, поддерживая здоровую структуру волоса.
          p Подравнивание прядей:
          +ul.par
            +li устраняет секущиеся кончики, которые нельзя восстановить, можно только отстричь;
            +li предотвращает ломкость и&nbsp;спутанность локонов;
            +li повышает эстетичность прически.
        +figure({
          image: {
            name: 'konchikov-3',
            path: '/images/uslugi/strizhka/konchikov-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Стрижка секущихся волос до и после',
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Как часто подстригают кончики
      p Состригание секущихся концов&nbsp;&mdash; обязательная составляющая ухода за&nbsp;волосами. Чтобы длинные пряди выглядели здоровыми, сохраняя при этом стиль, придется регулярно обновлять край волосяного стержня каждые 6-8&nbsp;недель. Если цель&nbsp;&mdash; отрастить длинные локоны, то&nbsp;концы подравнивают раз в&nbsp;3&nbsp;месяца. Обладательницы стрижек корректируют форму каждые 4-6&nbsp;недель. Клиентам с&nbsp;поврежденными концами рекомендуем делать это чаще&nbsp;&mdash; сразу как появляются признаки расслоения.

    +pageSubsection
      h2 Сколько времени требуется для стрижки кончиков
      p Стрижка занимает столько&nbsp;же времени, как и&nbsp;обычная стрижка, так как услуга комплексная. И&nbsp;включает:
      ol.list-ordered.par
        li.list-ordered__item консультацию;
        li.list-ordered__item мытье головы;
        li.list-ordered__item коррекцию концов;
        li.list-ordered__item сушку и&nbsp;укладку.
      p Обрезка занимает не&nbsp;больше 10&nbsp;минут. На&nbsp;весь процесс потребуется около часа.

    +pageSubsection
      h2 Техники для подравнивания волос
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Классическое подравнивание
            p Вымытые влажные волосы делят на&nbsp;пряди. Первую подстригают нужной длины, остальные ровняют по&nbsp;первому слою.
          +figure({
            image: {
              name: 'konchikov-4',
              path: '/images/uslugi/strizhka/konchikov-volos/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Классическое подравнивание',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Полировка
            p Сухие волосы расчесывают и&nbsp;выпрямляют. Натягивая пряди, концы состригают машинкой с&nbsp;насадкой для полировки.
          +figure({
            image: {
              name: 'konchikov-7',
              path: '/images/uslugi/strizhka/konchikov-volos/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Процесс полировки волос',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Метод жгута
            p Сухие пряди расчесывают и&nbsp;закручивают в&nbsp;тугой жгут, подстригая выбивающиеся расслоившиеся концы. Затем прядь закручивают в&nbsp;другую сторону и&nbsp;повторяют действия.
          +figure({
            image: {
              name: 'konchikov-5',
              path: '/images/uslugi/strizhka/konchikov-volos/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Метод жгута',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Горячими ножницами
            p В&nbsp;отличие от&nbsp;традиционных ножниц, которые открывают кутикулу и&nbsp;оставляют после стрижки стержни незащищенными к&nbsp;влиянию окружающей среды, тепло горячих ножниц запечатывает кончики, удерживая влагу и&nbsp;защищая от&nbsp;повреждений. Благодаря стрижке горячими ножницами прическа долго выглядит свежо.
          +figure({
            image: {
              name: 'konchikov-6',
              path: '/images/uslugi/strizhka/konchikov-volos/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка горячими ножницами',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Правила ухода за&nbsp;кончиками после подравнивания
      p Здоровые волосы нуждаются в&nbsp;питании изнутри, уходе снаружи и&nbsp;регулярной стрижке, чтобы сохранять форму и&nbsp;однородную длину. 
      +ul.par
        +li Не&nbsp;ложиться спать с&nbsp;мокрыми волосами;
        +li Защищать голову от&nbsp;прямых солнечных лучей, ветра и&nbsp;холода;
        +li Поддерживать водный баланс организма, выпивая достаточное количество воды;
        +li Минимизировать сушку и&nbsp;укладку нагревающимися инструментами;
        +li Использовать скраб для кожи головы, чтобы смыть загрязнения и&nbsp;создать здоровый кожный биом;
        +li Поддерживать увлажненность прядей деликатным шампунем и&nbsp;питательным кондиционером; 
        +li Наносить маски глубокого увлажнения раз в&nbsp;неделю.

    +pageSubsection
      h2 Почему кончики постригают в&nbsp;Санкт-Петербурге в&nbsp;салоне красоты Hair Care Center 
      p С&nbsp;2002 года радуем гостей качеством услуг и&nbsp;искренним сервисом. Наши клиенты уверены, что в&nbsp;Hair Care Center получат ту&nbsp;прическу, которую хотели. В&nbsp;центре царит дружественная и&nbsp;уютная атмосфера. Гостей встречают профессиональные мастера-стилисты, которые заботятся не&nbsp;только о&nbsp;красоте, но&nbsp;и&nbsp;о&nbsp;здоровье волос.
        
    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Нужна&nbsp;ли стрижка коротким волосам?</h3>').par
            p Короткие волосы также нуждаются в&nbsp;стрижке расслоившихся концов. Чтобы сохранить форму прически, их&nbsp;подстригают чаще. Например, чтобы Пикси или Боб не&nbsp;потеряли форму, коррекцию делают раз в&nbsp;4&nbsp;недели.
          +accordionItem('<h3>Можно подравнивать ломкие кончики дома?</h3>').par
            p Да, если использовать для этого профессиональные парикмахерские ножницы. Для самостоятельной стрижки подходит техника &laquo;жгутики&raquo;. Чтобы избежать неравномерной длины, за&nbsp;услугой обращаются в&nbsp;салон к&nbsp;мастеру.
          +accordionItem('<h3>Допустимо подравнивание обычными ножницами?</h3>').par
            p Нет, стричь обычными ножницами нельзя, поскольку бытовые ножницы тупее парикмахерских. Тупые ножницы повреждают волосяную кутикулу&nbsp;&mdash; защитный внешний слой стержня, провоцируя расслоение.
