extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Короткие женские стрижки
    +grid.page-subsection
      +figure({
        image: {
          name: 'korotkaya-1',
          path: '/images/uslugi/strizhka/korotkaya/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Короткие стрижки обновят образ и подчеркнут стиль',  
        }, 
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Короткие женские стрижки давно перестали быть символом воинствующей независимости. Сегодня это способ выразить свою исключительность и&nbsp;подчеркнуть оригинальность стиля. Стрижки выбирают&nbsp;те, кто ценит время, ведь необременительный уход освобождает его для других дел. Прически длиной до&nbsp;20&nbsp;см&nbsp;&mdash; неизменные фавориты разных возрастных групп, которые выдержали испытание временем, учитывая быстро меняющиеся тенденции индустрии моды. Но&nbsp;самое приятное&nbsp;&mdash; женские стрижки омолаживают и&nbsp;освежают.
    
    +pageSubsection
      h2 Почему женщины выбирают короткие волосы
      +grid.par 
        +cell({ m:6 })
          h3 Удобство
          p Частая причина, по&nbsp;которой женщины стригутся коротко,&nbsp;&mdash; удобство. Короткие стрижки быстрее мыть и&nbsp;сушить, а&nbsp;при окрашивании расходуется меньше красителя. Простота укладки экономит время и&nbsp;силы в&nbsp;утренней рутине.
          h3 Сезонность
          p В&nbsp;летние месяцы с&nbsp;длинными локонами жарко, поэтому в&nbsp;этот период короткие волосы становятся популярным выбором. Кроме того, они меньше подвержены последствиям порыва ветра и&nbsp;дождя.
          h3 Эстетичность
          p Короткие стрижки всегда выглядят ухоженно, никаких секущихся кончиков. И&nbsp;даже хаотично лежащие пряди смотрятся стильно. Со&nbsp;стрижками легко экспериментировать, используя разные варианты укладки.
        +cell({ m:6 })
          h3 Самовыражение	
          p Когда дело доходит до&nbsp;причесок, для женщин выбор основывается не&nbsp;на&nbsp;практичности и&nbsp;соответствии ожиданиям общества. Короткие волосы становятся мощной формой самовыражения, позволяя женщинам демонстрировать индивидуальность и&nbsp;творческий потенциал.
          h3 Психологические причины
          p Короткие стрижки&nbsp;&mdash; экологичный способ выразить эмоциональное состояние и&nbsp;справиться со&nbsp;сложными жизненными ситуациями. Например, стрижка после разрыва отношений или кардинальных перемен в&nbsp;жизни станет символом нового и&nbsp;освобождения от&nbsp;прошлого.
          p К&nbsp;минусам относятся повышенные требования к&nbsp;короткой женской стрижке. Форму обновляют раз в&nbsp;три-четыре недели, голову моют ежедневно, если используют средства для укладки.
    
    +pageSubsection
      h2 Виды коротких стрижек
      h3 Классические	
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Пикси
            p Это культовая универсальная прическа, которая подойдет любому типу волос и&nbsp;лица. Отличительная черта Пикси&nbsp;&mdash; короткие волоски по&nbsp;бокам и&nbsp;сзади с&nbsp;чуть более длинными прядями на&nbsp;макушке. Благодаря разнообразию модных и&nbsp;не&nbsp;требующих особого ухода стилей, прическа приобретает большую вариативность. Пикси укладывают послойно, сочетают с&nbsp;челкой, чтобы придать мягкий, хаотичный или дерзкий вид. От&nbsp;небрежного до&nbsp;фактурного, колючего, пушистого и&nbsp;струящегося вида&nbsp;&mdash; Пикси удовлетворяет разные предпочтения.
          +figure({
            image: {
              name: 'korotkaya-2',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Впервые за вековую историю конкурса красоты титул Мисс Франция завоевала девушка со стрижкой Писки',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell  
            h4 Боб
            p Тенденции приходят и&nbsp;уходят, а&nbsp;короткая стрижка Боб всегда остается. Это градуированная прическа, по&nbsp;форме напоминающая фасолину из-за снижения объема к&nbsp;низу. У&nbsp;Боб пряди на&nbsp;затылке короче, чем спереди, могут быть прямыми и&nbsp;асимметричными. Одинаково хорошо смотрится на&nbsp;прямых и&nbsp;вьющихся волосах. Корректирует диспропорции лица. Квадратный Боб предпочтителен для круглой формы лица, также легко подобрать свой Боб для квадратного, овального и&nbsp;треугольного очертания лица. Мягкости прическе добавляет челка.
          +figure({
            image: {
              name: 'korotkaya-4',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка боб <br> <br>',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Гаврош
            p Пик популярности прически Гаврош пришелся на&nbsp;70-е годы прошлого века, а&nbsp;сегодня стрижка триумфально вернулась на&nbsp;подиумы улиц. Название &laquo;Гаврош&raquo; связано с&nbsp;именем беспризорного мальчика&nbsp;&mdash; героя романа В.&nbsp;Гюго &laquo;Отверженные&raquo;. Представляет собой короткие волосы на&nbsp;макушке (часто торчащие), заостренные виски и&nbsp;длинные пряди на&nbsp;затылке.
            p Это универсальная прическа, придающая легкость образу и&nbsp;требующая минимальной укладки&nbsp;&mdash; достаточно взъерошить локоны и&nbsp;молодой озорной образ готов. 
          +figure({
            image: {
              name: 'korotkaya-3',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка Гаврош',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell  
            p На&nbsp;основе классической схемы мастер коротких женских стрижек создаст множество вариаций прически. Гаврош&nbsp;&mdash; также выбор для смелых цветовых экспериментов.
            h4 Каре
            p Это универсальная и&nbsp;женственная стрижка, которая вне времени и&nbsp;моды. У&nbsp;короткого Каре волосы подстрижены по&nbsp;одной линии чуть ниже уха. Прическа востребована у&nbsp;женщин любого возраста. На&nbsp;ножке, с&nbsp;челкой, удлиненное&nbsp;&mdash; у&nbsp;каждой женщины свое любимое Каре. Непослушные пряди стрижка укрощает, а&nbsp;тонким придает дополнительный объем, главное правильно выбрать мастера и&nbsp;салон красоты.
          +figure({
            image: {
              name: 'korotkaya-5',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Каре Киры Найтли',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

      h3 Современные	
      p Современные короткие женские стрижки&nbsp;&mdash; это, как правило, коллаборация классики с&nbsp;яркими элементами. Например, каре с&nbsp;челкой-шторка, обрамляющая лицо с&nbsp;обеих сторон. Такая челка внутри стрижется короче, удлиняясь к&nbsp;краям. Укладывается на&nbsp;пробор по&nbsp;центру. Также челка-шторка освежает прически Шегги, Бабочка, Каскад и&nbsp;другие.
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Маллет
            p Это многослойная стрижка с&nbsp;укороченными висками (иногда выбритыми) и&nbsp;челкой, но&nbsp;удлиненными прядями сверху и&nbsp;сзади, что создает стильный образ. Если раньше Маллет и&nbsp;эпатаж были синонимами, то&nbsp;сегодня это элегантность и&nbsp;даже романтичность. Подходит смелым и&nbsp;желающим выделиться личностям. Крысиный хвостик, Ежик и&nbsp;Скаллет&nbsp;&mdash; любой вариант получается ярким и&nbsp;экстравагантным.
          +figure({
            image: {
              name: 'korotkaya-6',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Майли Сайрус со стрижкой маллет',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Микси	
            p Это сочетание волос разной длины&nbsp;&mdash; стрижек Пикси и&nbsp;Маллет. От&nbsp;первой взяты короткие волоски на&nbsp;макушке и&nbsp;у&nbsp;висков, а&nbsp;второй&nbsp;&mdash; удлиненные пряди у&nbsp;затылка. Длина волос варьируется по&nbsp;желанию клиента. Челка и&nbsp;Микси неразделимы&nbsp;&mdash; рваная, средней длины или короткая. Удлиненные пряди у&nbsp;ушей скорректируют круглую и&nbsp;квадратную форму лица.
          +figure({
            image: {
              name: 'korotkaya-7',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Пример стрижки микси',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Андеркат
            p Это смелая прическа с&nbsp;андеркатом для женщин, которые ищут глубокий, насыщенный цвет и&nbsp;резкую стрижку в&nbsp;одном лице. Удлиненные пряди сверху и&nbsp;выбритые виски&nbsp;&mdash; это отличный выбор для ярких и&nbsp;креативных окрашиваний. Андеркат станет женственней, если уложить соответствующим образом. Бритые виски демонстрируют страсть к&nbsp;стилю и&nbsp;чувственность, легко адаптируется под более формальные ситуации.
          +figure({
            image: {
              name: 'korotkaya-8',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка андеркат',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h4 Милитари 
            p Стрижка в&nbsp;стиле милитари&nbsp;&mdash; это стильная и&nbsp;смелая прическа родом из&nbsp;армии. Волосы длиной до&nbsp;5-6&nbsp;см и&nbsp;аккуратность&nbsp;&mdash; ее&nbsp;отличительные черты. В&nbsp;этом году Милитари набирает популярность у&nbsp;женщин. Подходит для тех, кто предпочитает практичный и&nbsp;модный стиль, не&nbsp;требующий сложного ухода. Одинаково восхитительна с&nbsp;деловым костюмом, джинсовой курткой и&nbsp;вечерним платьем.
          +figure({
            image: {
              name: 'korotkaya-9',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка в стиле милитари',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Выбор стрижки по&nbsp;форме лица
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Овальная
            p У&nbsp;девушек с&nbsp;овальным лицом сбалансированные пропорции: скулы&nbsp;&mdash; самая широкая часть лица, а&nbsp;у&nbsp;лба и&nbsp;челюсти одинаковая ширина. С&nbsp;такой формой легко экспериментировать с&nbsp;прическами. Поиграть с&nbsp;челкой и&nbsp;короткими слоями для движения, чтобы выделить достоинства.
          +figure({
            image: {
              name: 'korotkaya-10',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'У Бейонсе овальное лицо. Удлиненное каре подчеркивает плавные черты.',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell  
            h3 Круглая	
            p При выборе прически для круглого лица упор делают на&nbsp;рыхлых или рваных слоях и&nbsp;взлохмаченной укладке. Предпочтительны прически с&nbsp;удлиненным А-силуэтом. Очаровательно смотрятся стрижки в&nbsp;стиле ретро.
          +figure({
            image: {
              name: 'korotkaya-11',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Певица Адель - пример круглого лица',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Квадратная
            p Людям нравятся выразительные черты, но&nbsp;что делать, если линия подбородка выделяется больше, чем хотелось. Предпочтительные характеристики стрижки для квадратного лица&nbsp;&mdash; челка, слои и&nbsp;текстурированные пряди. Это смягчит черты, придающие образу резкость.
          +figure({
            image: {
              name: 'korotkaya-12',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Короткая стрижка Анджелины Джоли (квадратная форма лица)',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Треугольная
            p Отличительные черты треугольного лица&nbsp;&mdash; широкий лоб и&nbsp;узкий подбородок. Короткие волосы, не&nbsp;вытягивают лицо, поэтому&nbsp;&mdash; подходящий выбор для треугольной формы. Придется добавить слоев или текстур, чтобы уравновесить пропорции. Челка минимизирует ширину лба, заполняя пустое пространство.
          +figure({
            image: {
              name: 'korotkaya-13',
              path: '/images/uslugi/strizhka/korotkaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'У Виктории Бэкхем треугольная форма лица',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Уход и&nbsp;укладка
      +grid.par 
        +cell({ m:6 })
          h3 Меньше укладки
          p Коротким волосам требуется меньше средства для укладки. Излишки продукта утяжеляют пряди, из-за чего они выглядят жирными. Средство наносится только по&nbsp;длине и&nbsp;на&nbsp;кончики.
          h3 Ухаживающие средства
          p Несмотря на&nbsp;здоровый вид, коротким волоскам необходим уход. Жесткие и&nbsp;сухие пряди нуждаются в&nbsp;питании и&nbsp;увлажнении. Для этого используют сыворотки с&nbsp;жирными кислотами, минералами и&nbsp;витаминами в&nbsp;составе. После мытья головы на&nbsp;вьющие локоны наносят несмывающиеся кремы.
        +cell({ m:6 })
          h3 Коррекция	
          p Прическу освежают каждые 4-6&nbsp;недель, чтобы поддерживать аккуратную форму и&nbsp;здоровую текстуру прядей.
          h3 Меньше контакта с&nbsp;горячим воздухом
          p Волосяные стержни плохо переносят нагревание. Частое использование термоприборов негативно сказывается на&nbsp;структуре волоса. Поэтому контакт с&nbsp;феном и&nbsp;плойкой минимизируют, отдавая предпочтение естественной сушке волос и&nbsp;папильоткам, бигуди-липучкам и&nbsp;т.д.
    
    +pageSubsection
      h2 Почему мастера коротких женских стрижек в&nbsp;Санкт-Петербурге выбирают в&nbsp;салоне красоты Hair Care Center
      p Hair Care Center&nbsp;&mdash; центр красоты, объединивший профессиональных мастеров, большой выбор услуг и&nbsp;высокий уровень сервиса в&nbsp;обрамлении атмосферы комфорта и&nbsp;уюта.
      +ul.par 
        +li Стрижем в&nbsp;разных даже самых сложных техниках, учитываем сезонные направления моды, применяем простоту и&nbsp;точность срезов;
        +li Работаем с&nbsp;заботой о&nbsp;здоровье и&nbsp;красоте волос клиента: мастер подбирает шампунь и&nbsp;кондиционер, исходя из&nbsp;состояния волос и&nbsp;кожи головы;
        +li В&nbsp;нашем салоне красоты гарантирована стерильность инструментов;
        +li Для каждого клиента используем одноразовые аксессуары;
        +li Учитываем фактуру, объем волос и&nbsp;геометрию лица для создания подходящей формы и&nbsp;впечатляющего преображения.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Какую стрижку выбрать для редких волос?	</h3>').par
          p Если позволит форма головы и&nbsp;пропорции лица, попробуйте очень короткую мальчишескую стрижку. Наши мастера также рекомендуют классический или рваный Боб, Пикси и&nbsp;Каре. Пышная укладка визуально увеличит объем.
        +accordionItem('<h3>Какие короткие стрижки смотрятся на&nbsp;густых волосах?</h3>').par
          p Многослойность и&nbsp;густые волосы&nbsp;&mdash; лучшие друзья. Слои убирают лишний объем, который свойственен густым прядям. Для пышной шевелюры подойдут разные вариации Пикси&nbsp;&mdash; асимметричная, обжитая, скульптурная и&nbsp;т.д.
        +accordionItem('<h3>Какие стрижки предпочтительны для женщин 50+?</h3>').par
          p После 50&nbsp;лет можно смело экспериментировать с&nbsp;образом, искать что-то новое и&nbsp;необычное, но&nbsp;всегда подходящее к&nbsp;форме лица. Например, очаровательная мальчишеская стрижка, небрежный Пикси с&nbsp;длинным подрезом, стрижка на&nbsp;танкетке дают омолаживающий эффект.
        +accordionItem('<h3>Подходящие для активных девушек короткие прически?</h3>').par
          p Активные и&nbsp;спортивные девушки предпочитают прически, не&nbsp;требующие сложного ухода. Классический Ежик&nbsp;&mdash; это вневременная и&nbsp;универсальная короткая стрижка, которая подходит всем. Андеркат также предлагает универсальный вид, который легко адаптировать к&nbsp;личному стилю и&nbsp;предпочтениям.
