extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Маллет
    +grid.page-subsection
      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell
          p Стрижка Маллет, которую также знают как Кефаль,&nbsp;&mdash; культовая тенденция 70-80-х годов, ставшая истинным свидетельством смелого характера эпохи. Прическу с&nbsp;фирменным стилем любили такие музыкальные легенды, как Билли Рэй Сайрус и&nbsp;Дэвид Боуи. Челка, короткие волосы на&nbsp;макушке и&nbsp;по&nbsp;бокам в&nbsp;сочетании с&nbsp;длинными прядями сзади создают незабываемый стиль&nbsp;&mdash; &laquo;от&nbsp;скромного до&nbsp;смелого&raquo;. Прическа универсальная, поэтому подходит мужчинам и&nbsp;женщинам. 
        +figure({
          image: {
            name: 'mallet-1',
            path: '/images/uslugi/strizhka/mallet/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Стрижка Маллет',  
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius
      +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        +cell
          p Применяют на&nbsp;волосы разной длины. Яркость образа определяется контрастом длины.
          p Современные маллеты&nbsp;&mdash; обновленные вариации классической формы, которые легко персонализировать в&nbsp;соответствии с&nbsp;личным стилем и&nbsp;образом жизни. Включают традиционные короткие бока и&nbsp;верх с&nbsp;плавным переходом к&nbsp;длинной спинке, короткие макушку и&nbsp;переднюю часть. Универсальный контур стрижки подходит любому типу лица.
        +figure({
          image: {
            name: 'mallet-2',
            path: '/images/uslugi/strizhka/mallet/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Стрижка Маллет у мужчин',  
          }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 История прически	
      p Корнями стрижка уходит в&nbsp;северную часть Америки 17&nbsp;века. Рыбаки, проводившие много времени в&nbsp;море под палящим солнцем или дующим холодом ветром, состригали волосы по&nbsp;бокам и&nbsp;спереди, оставляя изначальную длину сзади, чтоб защищать шею от&nbsp;солнечных ожогов или сквозняков.
    
    +pageSubsection
      h2 Особенности стрижки Маллет
      p Техника выполнения схожа с&nbsp;Каскадом, так как волосы на&nbsp;висках и&nbsp;спереди подстрижены коротко, а&nbsp;сзади длина остается исходной. Изначально мужская стрижка видоизменилась, и&nbsp;со&nbsp;временем на&nbsp;нее обратили внимание женщины, желающие выделиться из&nbsp;толпы.
      p Маллет придает образу необыкновенную экстравагантность и&nbsp;одновременно элегантность. Локоны плавно ложатся и&nbsp;выигрышно подчеркивают геометрию лица при любой длине волос. К&nbsp;преимуществам Маллет относят легкость укладки и&nbsp;эстетичность отросшей формы. Изначально стрижка выглядит необычно, но&nbsp;и&nbsp;отрастая не&nbsp;проигрывает первоначальному виду.
    
    +pageSubsection
      h2 Вариации Маллет
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Длинная Кефаль
            p Это прическа, которая делает обладателя центром внимания. Удлиненный стиль Маллет уникален&nbsp;&mdash; спинка очень длинная, часто доходит до&nbsp;плеч или даже заходит ниже. Верх и&nbsp;бока короче задней части, но&nbsp;все&nbsp;же достаточно длинные, чтобы зачесать назад.
          +figure({
            image: {
              name: 'mallet-5',
              path: '/images/uslugi/strizhka/mallet/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Длинная Кефаль',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Средняя Кефаль
            p Дополнительная длина придает прическе интригу и&nbsp;динамичность, сохраняя при этом стильность и&nbsp;уместность в&nbsp;корпоративной обстановке. Стиль идеально подходит для достижения чистой и&nbsp;нейтральной формы, вдохновленной модой K-pop.
          +figure({
            image: {
              name: 'mallet-4',
              path: '/images/uslugi/strizhka/mallet/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Средняя Кефаль',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Короткая Кефаль
            p Это очень короткая версия классического варианта, что делает ее&nbsp;подходящей для мужчин и&nbsp;женщин, предпочитающих прически, не&nbsp;требующие специального ухода и&nbsp;не&nbsp;слишком креативные для офисного стиля. Бока очень короткие, можно даже сбрить, а&nbsp;верхнюю и&nbsp;заднюю часть волос оставляют нетронутыми или слегка подстригают для аккуратности. Сегодня в&nbsp;тренде рваная челка над глазами.
          +figure({
            image: {
              name: 'mallet-3',
              path: '/images/uslugi/strizhka/mallet/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Короткий Маллет у мужчины',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Женская Кефаль
            p Женский вариант мало чем отличается от&nbsp;мужского. В&nbsp;височной, теменной зонах и&nbsp;на&nbsp;макушке также короткие пряди, и&nbsp;длинные сзади. Главное преимущество прически в&nbsp;том, что подходит всем дамам, независимо от&nbsp;цветотипа и&nbsp;формы лица. Это подходящий выбор для женщин&nbsp;&mdash; любительниц дерзких экспериментов.
    
    +pageSubsection
      h2 Стили на&nbsp;основе текстур
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Кудрявый Маллет
            p Мужчины и&nbsp;женщины с&nbsp;вьющимися от&nbsp;природы волосами без особых усилий создадут вьющуюся прическу. Текстура и&nbsp;объем&nbsp;&mdash; ключ к&nbsp;тому, чтобы стрижка выглядела органично и&nbsp;привлекательно. Укладывать волны лучше пальцами.
          +figure({
            image: {
              name: 'mallet-6',
              path: '/images/uslugi/strizhka/mallet/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Кудрявый Маллет',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Лохматый Маллет
            p Это многослойная анимированная версия классической модели. Стиль предлагает среднюю и&nbsp;большую длину, прямые, вьющиеся или волнистые пряди&nbsp;&mdash; подходит все, если стрижка состоит из&nbsp;нескольких слоев и&nbsp;выглядит взлохмаченной.
          +figure({
            image: {
              name: 'mallet-8',
              path: '/images/uslugi/strizhka/mallet/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Лохматый Маллет',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Вьющийся Маллет
            p Волнистая Кефаль использует естественную текстуру волнистых волос или текстуру, полученную методом термической укладки, чтобы придать прическе нежное движение. Это может быть легкая волна или упругие завитки. Стрижка относится к&nbsp;модификации прически-занавески с&nbsp;непринужденным, без гендерной принадлежности видом. Идеально сочетается с&nbsp;популярным стилем K-pop. 
          +figure({
            image: {
              name: 'mallet-7',
              path: '/images/uslugi/strizhka/mallet/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Вьющийся Маллет',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Ирокез Кефаль	
            p Модная и&nbsp;непринужденная стрижка&nbsp;&mdash; новый взгляд на&nbsp;классический образ, который легко адаптируется и&nbsp;не&nbsp;требует усилий. Сочетается с&nbsp;любым нарядом, будь&nbsp;то офисный работник или студент. Это может быть аккуратно подстриженная версия или креативный удлиненный ирокез, уложенный муссом или гелем.
          +figure({
            image: {
              name: 'mallet-9',
              path: '/images/uslugi/strizhka/mallet/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Ирокез Кефаль',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Рекомендации по&nbsp;стилизации
      p Ухаживать за&nbsp;Маллет просто. Главное носить стрижку небрежно, чтоб поддерживать характерный для нее оттенок рока. Поэтому достаточно высушить вымытые пряди и&nbsp;расправить пальцами. Созданный руками и&nbsp;гелем художественный беспорядок на&nbsp;голове напоминает прическу в&nbsp;стиле Аниме. Приглаживая воском виски, повышают выразительность объема у&nbsp;корней. Укладку тяжелых волос поддерживают лаком. Зачесанные вниз и&nbsp;зафиксированные волосы придают образу элегантности.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Почему стрижку Маллет в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;Hair Care Center
        p Найти подходящую прическу Маллет непросто. Стилисты-парикмахеры Hair Care Center подберут вариант, который больше остальных подойдет клиенту. Наша работа помогает людям стать счастливее и&nbsp;увереннее.
      +cell
        +grid({ tag: 'ul' }).par
          +iconBlock({ tag: 'li', best: true })(class= cellClasses({ m:6 })) В&nbsp;салоне работают сертифицированные мастера, постоянно повышающие квалификацию;
          +iconBlock({ tag: 'li', officeChair: true })(class= cellClasses({ m:6 })) Каждого гостя принимаем в&nbsp;отдельном кабинете;
          +iconBlock({ tag: 'li', hair1: true })(class= cellClasses({ m:6 })) Наши парикмахеры знают, как вернуть и&nbsp;сохранить здоровье волос;
          +iconBlock({ tag: 'li', medicalProtection: true })(class= cellClasses({ m:6 })) Заботимся о&nbsp;безопасности гостей&nbsp;&mdash; после каждого посетителя инструментарий проходит трехэтапную стерилизацию.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Как часто корректировать стрижку?</h3>').par
          p Для поддержания эстетичного вида Кефаль парикмахера посещают раз в&nbsp;3-5&nbsp;недель, чтобы подстричь отросшие волоски по&nbsp;бокам, челку, удалить секущиеся концы на&nbsp;длинных прядях. 
        +accordionItem('<h3>Какие аксессуары лучше всего сочетаются с&nbsp;Маллет?</h3>').par
          p Резинка для волос, чтобы собрать длинные волосы возле шеи в&nbsp;хвост или пучок. 
        +accordionItem('<h3>За&nbsp;какой Кефаль легче ухаживать?</h3>').par
          p Короткая, зачесанная назад кефаль,&nbsp;&mdash; самая легкая в&nbsp;уходе, потому что не&nbsp;нужны средства для укладки и&nbsp;ежедневный уход, чтобы прическа выглядела свежей и&nbsp;ухоженной. 
        +accordionItem('<h3>Какие знаменитости выбирают Маллет?</h3>').par
          p Майли Сайрус, Рианна, Билли Айлиш и&nbsp;другие.
    