extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Модельная
    +pageSubsection
      p Стрижки условно делят на&nbsp;2&nbsp;категории: повседневные и&nbsp;креативные. Креативные не&nbsp;предназначены для ежедневной укладки, а&nbsp;демонстрируются на&nbsp;подиуме, когда создается прическа, подчеркивающая детали дизайнерского наряда. Креативные задают тренды в&nbsp;моделировании причесок, и&nbsp;становятся основой для создания модных повседневных стрижек.
    
    +pageSubsection
      h2 Какую стрижку называют модельной
      p Модельная стрижка&nbsp;&mdash; это разумный компромисс между базовыми и&nbsp;креативными прическами, подчеркивающий уникальный стиль и&nbsp;формирующий идеальный овал. Грамотно выбранная модельная стрижка способна приглушить неидеальные формы лица и&nbsp;подчеркнуть шарм ее&nbsp;обладателя. Моделирующие прически делятся на&nbsp;несколько типов. Классификация основана на&nbsp;длине волос.
    
    +pageSubsection
      h2 Моделирующие стрижки для мужчин
      p Мужчины редко идут на&nbsp;эксперименты с&nbsp;внешностью, отдавая предпочтение классическим мужским коротким стрижкам. Причина проста: за&nbsp;такой прической легко ухаживать, она не&nbsp;привлекает внимание и&nbsp;в&nbsp;то&nbsp;же время освежает. По&nbsp;мере развития тенденций стиля, меняется и&nbsp;мир мужских стрижек. Возрождаются культовые стили&nbsp;&mdash; кефаль, челка-шторка, короткие пряди и&nbsp;вариации длинных волос. Модельная стрижка мужская Конус также достигла пика популярности, демонстрируя много интерпретаций.
      br
      +grid.par 
        //- +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
        //-   +cell
          //- +figure({
          //-   image: {
          //-     name: 'modelnaya-1',
          //-     path: '/images/uslugi/strizhka/modelnaya/',
          //-     formats: [
          //-       { ext: 'jpg', orig: true },
          //-       { ext: 'webp', mime: 'image/webp' },
          //-     ],
          //-     density: [
          //-       { values: [ 1, 2 ] }
          //-     ],
          //-     alt: 'Мужская стрижка в стиле андеркат',  
          //-   }, 
          //- })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Ульжан
            p Этот корейский термин обозначает человека с&nbsp;красивой внешностью и&nbsp;стилем. В&nbsp;контексте мужских причесок &laquo;ульжан&raquo; относится к&nbsp;разным популярным стилям в&nbsp;ЮК. Ульжан включают зачесанные назад волосы, начес, длинную челку и&nbsp;текстурирование. Чтобы добиться образа &laquo;ульжан&raquo;, мастера подбирают стрижку, соответствующую форме лица и&nbsp;личному стилю клиента.
          +figure({
            image: {
              name: 'modelnaya-6',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Ульжан',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 В&nbsp;стиле милитари
            p Стрижка прошла долгий путь, чтобы стать повседневной для мужчин. Придает мужественности даже обладателям тонких редких волос. Секрет популярности в&nbsp;универсальности, легком уходе и&nbsp;брутальном образе.
          +figure({
            image: {
              name: 'modelnaya-5',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка в стиле милитари',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Коническая
            p Конический стиль универсальный и&nbsp;элегантный, прост в&nbsp;уходе. Для резкого образа выбирают модель с&nbsp;глубоким конусом, для сдержанного подойдет прическа с&nbsp;низким конусом.
          +figure({
            image: {
              name: 'modelnaya-3',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Конический стиль',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Волнистая прическа средней длины
            p Подходящая модель для тех, кто предпочитает золотую середину. Средняя длина подходит для образа на&nbsp;каждый день, деловых встреч и&nbsp;светских мероприятий. Средний пробор облегчает укладку.
          +figure({
            image: {
              name: 'modelnaya-4',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Волнистые волосы средней длины',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Ежик
            p Это яркий классический выбор. Ежик&nbsp;&mdash; укороченная мужская модель с&nbsp;разной длиной волос. Независимо от&nbsp;варианта укладки&nbsp;&mdash; у&nbsp;прически безграничный потенциал.
          +figure({
            image: {
              name: 'modelnaya-2',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка ежик',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Моделирующие стрижки для женщин 	
      p Хорошая моделирующая прическа&nbsp;&mdash; это&nbsp;то, на&nbsp;чем женщины предпочитают не&nbsp;экономить. Укладка важна, но&nbsp;часто второстепенна, потому что даже хаотичной прическе нужна правильная основа&nbsp;&mdash; модельная стрижка с&nbsp;формой и&nbsp;текстурой. Только в&nbsp;этом случае волосы выглядят привлекательно и&nbsp;гармонично.
      br
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Пикси
            p Современные Пикси не&nbsp;ограничиваются мальчишескими образами. Сегодня это разнообразные прически с&nbsp;зачесанными назад или взлохмаченными волосами, короткие Пикси на&nbsp;вьющихся локонах, асимметричные винтажные или модный &laquo;искусственный ястреб&raquo;. Короткие и&nbsp;длинные Пикси с&nbsp;челкой&nbsp;&mdash; популярный выбор для коротких волос.
          +figure({
            image: {
              name: 'modelnaya-7',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Тайра Бэнкс со стрижкой пикси',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h3 Гарсон
            p У&nbsp;Гарсон строгий, элегантный вид, подходящий даже для бизнес-леди. Прическа похожа на&nbsp;Пикси, но&nbsp;есть и&nbsp;отличие. Гарсон выполняется классическим ровным срезом. Затылок, челку и&nbsp;виски филируют, благодаря чему пряди ложатся плавными линиями. Пойдет женщинам с&nbsp;правильной геометрией, а&nbsp;также с&nbsp;высоким лбом, который скроется под челкой.
          +figure({
            image: {
              name: 'modelnaya-8',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка гарсон',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h3 Боб
            p Бобу уже больше ста лет, но&nbsp;мастера не&nbsp;устают вносить в&nbsp;него каждый год новые элементы. У&nbsp;классического Боба длинные обрамляющие лицо пряди и&nbsp;укороченные на&nbsp;затылке. При этом задняя часть прически остается пышной, благодаря градуировке. Также актуален асимметричный вариант. Каждому типу легко подобрать свой Боб.
          +figure({
            image: {
              name: 'modelnaya-9',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Боб',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h3 Волчица
            p Соединяет элементы Лесенки и&nbsp;Гаврош. У&nbsp;Волчицы зона макушки сильно укорачивается, длина прибавляется ступенчато. Неровные очертания создают рваный эффект. Челка уравновешивает дерзкий образ.
          +figure({
            image: {
              name: 'modelnaya-11',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Волчья стрижка',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h3 Боб-каре	
            p Название говорит, что это модельная стрижка женская, которая сочетает элементы Боб и&nbsp;Каре. От&nbsp;Каре взяли ровный прямой срез, а&nbsp;Боб&nbsp;&mdash; уменьшение густоты книзу и&nbsp;градуирование. Бывает:
            +ul.par 
              +li с&nbsp;удлиненными прядями у&nbsp;лица;
              +li градуированное многослойное каре;
              +li с&nbsp;коротко стриженным затылком;
              +li с&nbsp;фактурными локонами и&nbsp;небрежной укладкой;
              +li асимметричный;
              +li с&nbsp;челкой и&nbsp;без.
          +figure({
            image: {
              name: 'modelnaya-10',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Дженнифер Лоуренс с боб-каре',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h3 Шегги
            p Современные лохматые стрижки добавляют образу стильные и&nbsp;резкие нотки, выводя образ на&nbsp;новый уровень. Шегги восхитительна на&nbsp;разной длине: короткие прически дерзкие и&nbsp;сексуальные, а&nbsp;длинные и&nbsp;лохматые славятся невероятными слоями по&nbsp;всей длине. Шэгги одинаково выигрышно смотрится на&nbsp;тонких и&nbsp;густых, вьющихся и&nbsp;прямых волосах. Лохматые стрижки тонким прядям придают объем, а&nbsp;у&nbsp;вьющихся укрощают непокорные локоны. 
          +figure({
            image: {
              name: 'modelnaya-12',
              path: '/images/uslugi/strizhka/modelnaya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка шегги',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Укладка модельных стрижек
      p Моделирующие прически не&nbsp;нуждаются в&nbsp;ежедневном накручивании и&nbsp;начесывании, а&nbsp;предполагают легкую укладку, так как модель мастер подбирает, опираясь на&nbsp;тип и&nbsp;структуру волос, стиль клиента. Разработан ряд универсальных моделей, требующих минимум ухода.
      p Прически с&nbsp;челкой предлагают разнообразие вариантов укладки. Челка, зачесанная набок,&nbsp;&mdash; фаворит, задающий стиль который сезон подряд. Их&nbsp;носят распущенными, длинные заплетают в&nbsp;косу, закалывают или зачесывают назад, каждый раз получая новый результат.
    
    +pageSubsection
      h2 Почему модельные стрижки в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;салоне красоты Hair Care Center
      +ul.par 
        +li Бесплатная консультация по&nbsp;выбору персонального стиля;
        +li Профессиональный сервис, приятная атмосфера;
        +li В&nbsp;работе используем косметику, сочетающую передовые технологии с&nbsp;полезными ингредиентами;
        +li Безопасность клиента гарантируют стерильные инструменты и&nbsp;опыт мастеров;
        +li Парикмахеры проходят строгий отбор, регулярные аттестации и&nbsp;контроль качества работ, а&nbsp;также обучаются новым трендам и&nbsp;техникам.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Какую стрижку легко отрастить?</h3>').par
          p Конические стрижки с&nbsp;длинными волосами по&nbsp;бокам и&nbsp;сзади&nbsp;&mdash; популярный стиль и&nbsp;отличный выбор при отращивании волос. Пикси&nbsp;&mdash; подходящая для отращивания модель, благодаря дополнительным, вытекающим из&nbsp;нее стилям. Например, Бикси&nbsp;&mdash; мягкая многослойная прическа, сочетающая шикарный вид Боба с&nbsp;легкостью короткой стрижки.
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Какие модели причесок не&nbsp;нуждаются в&nbsp;укладке?</h3>').par
          p Короткие стрижки и&nbsp;творческий хаос на&nbsp;голове&nbsp;&mdash; выбор для тех, кто не&nbsp;хочет заморачиваться с&nbsp;укладкой.
