extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Мужская
    +grid.page-subsection
      +figure({
        image: {
          name: 'muzhskaya-1',
          path: '/images/uslugi/strizhka/muzhskaya/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Стильная мужская стрижка, которая дополняет образ',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Правильная мужская стрижка&nbsp;— сильное имиджевое оружие, которое используют для построения успешной карьеры и&nbsp;личных отношений. Стильная прическа прибавляет уверенности, сохраняет привлекательный безупречный внешний вид.

    +pageSubsection 
      h2 Как выбрать стрижку
      p Подбор мужской прически принципиально отличается от&nbsp;женской. Чем проще ежедневный уход за&nbsp;волосами, тем лучше и&nbsp;комфортнее.
      +ul.par
        +li Базовые критерии выбора&nbsp;— форма лица и&nbsp;тип волос. Счастливым обладателям овала пойдет любая модель. Удлинить лицо можно отпустив бороду. Прямоугольному противопоказана пышная макушка. Правила выбора для круглого лица&nbsp;— четкие линии, острые углы и&nbsp;асимметрия. Треугольному лицу подойдут классические прически с&nbsp;выстриженными боками и&nbsp;удлиненной макушкой.
        +li Внешний вид должен быть достаточно универсальным. Классическая мужская стрижка одинаково гармонично смотрится с деловым костюмом и&nbsp;спортивной курткой.
        +li Третье, что учитывает мастер&nbsp;— маскировка проблемных мест: залысин на&nbsp;лбу или лысин на&nbsp;макушке. Мужской стилист предложит стрижку, которая отвлечет внимание от&nbsp;проблемных зон.

    +pageSubsection 
      h2 Тренды в&nbsp;мужских стрижках
      +grid.par
        +cell({ m:6 })
          p По&nbsp;мере того как мировые тенденции стиля развиваются, меняется и&nbsp;мир мужских стрижек. Мы внимательно следим за&nbsp;энергичным ландшафтом моды на&nbsp;мужские прически и&nbsp;тщательно анализируем то, что предлагает переменчивая мода. В&nbsp;наступающем году ожидается возрождения культовых стилей, в&nbsp;том числе Кефаль, челка-шторка, укороченные стрижки, разные варианты длинных волос.
        +figure({
          image: {
            name: 'muzhskaya-2',
            path: '/images/uslugi/strizhka/muzhskaya/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Самые популярные стрижки 2024',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Французская укороченная	
            p Прическа популярна у&nbsp;мужчин 18-30&nbsp;лет. Характеризуется выбритой боковой и&nbsp;затылочной частью, короткой заостренной челкой, которую укладывают набок для получения официального образа. Прическа универсальна и&nbsp;функциональна, отвлекает внимание от&nbsp;высокой передней линии.
          +figure({
            image: {
                name: 'muzhskaya-3',
                path: '/images/uslugi/strizhka/muzhskaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Французская укороченная мужская стрижка',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Текстурированный кроп	
            p В&nbsp;этой прическе пряди средней длины на&nbsp;макушке уложены вперед естественной волной, создавая забавную хипстерскую атмосферу. По&nbsp;бокам выстриженные волосы плавно переходят к&nbsp;удлиненному верху, структурируя общий вид.
          +figure({
            image: {
                name: 'muzhskaya-4',
                path: '/images/uslugi/strizhka/muzhskaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Текстурированный кроп',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 В&nbsp;стиле милитари	
            p Подходящая мужская стрижка для редких волос. Прямые аккуратное уложенные пряди на&nbsp;макушке и&nbsp;короткие по бокам, чистые линии вокруг ушей делают эту модель лучшим выбором для мужчины, который ценит порядок. 
          +figure({
            image: {
                name: 'muzhskaya-5',
                path: '/images/uslugi/strizhka/muzhskaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Стрижка в стиле милитари',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Фейд	
            p Модель пользуется популярностью среди мужчин. Ее&nbsp;легко стилизовать, а&nbsp;еще фейд практичен. Придает мужественности образу, подходит разным типам лица и&nbsp;волос, нет возрастных ограничений. 
          +figure({
            image: {
                name: 'muzhskaya-6',
                path: '/images/uslugi/strizhka/muzhskaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Фейд',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Помпадур	
            p Модель в&nbsp;стиле помпадур, напоминающая винтажный гламур, станет стильным выбором для мужчины, который не&nbsp;боится выделиться. Удлиненные пряди зачесаны назад плавными волнообразными движениями.  
          +figure({
            image: {
                name: 'muzhskaya-7',
                path: '/images/uslugi/strizhka/muzhskaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Помпадур',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Современная кефаль	
            p Модель вдохновлена ретро-прической с&nbsp;короткими боковыми и&nbsp;передней зонами, удлиненной задней частью. У&nbsp;кефали нет возрастных ограничений. Подходит для прямых и&nbsp;волнистых волос.  
          +figure({
            image: {
                name: 'muzhskaya-8',
                path: '/images/uslugi/strizhka/muzhskaya/',
                formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                    { values: [ 1, 2 ] }
                ],
                alt: 'Современная кефаль',
            }, 
        })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection 
      h2 Техника выполнения
      +grid.par
        +figure({
          image: {
            name: 'muzhskaya-9',
            path: '/images/uslugi/strizhka/muzhskaya/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Стрижка ножницами',
          },
          })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          h3 Использование ножниц и&nbsp;машинки
          p Машинка и&nbsp;ножницы&nbsp;— равноценные инструменты для создания идеальной стрижки. Машинка помогает быстро снять длину на&nbsp;больших участках. Используется в&nbsp;прическах без перехода длины, так&nbsp;как создает равномерный «фон». С&nbsp;помощью машинки мастер персонализирует прическу методом художественного выстрига.
          p Ножницы&nbsp;— классический инструмент парикмахера, позволяющий подстраивать стрижку под форму головы клиента. Подходят для работы с&nbsp;длинными волосами. Виртуозно меняют направление стрижки, создают плавные переходы длины. Единственное&nbsp;но, стрижка длится дольше.
        +cell
          h3 Особенности работы с&nbsp;разными типами волос
          h4 Густые
          p Наличие густой шевелюры часто вызывает зависть, но&nbsp;объем и&nbsp;более грубая текстура могут стать проблемой, которую решают многослойные, текстурированные стрижки и&nbsp;подрезы.
          h4 Тонкие
          p Здесь вопрос идет не о&nbsp;количестве волос, а&nbsp;о&nbsp;толщине. Задача прически увеличить объем и&nbsp;добавить текстуры, с&nbsp;чем хорошо справляются вариации коротких стрижек.
          h4 Вьющиеся
          p У вьющихся локонов меньше вариантов укладки, чем у&nbsp;прямых. Ключом к&nbsp;созданию желаемого стиля является стрижка. Чтобы получить разнообразие, используют послойность, делают выстриг. При упругих кудрях ориентируются на&nbsp;короткие стрижки.

    +pageSubsection 
      h2 Уход за&nbsp;волосами после стрижки
      +grid.par
        +cell({ m:6 })
          p Многие мужчины считают укладку пустым занятием, однако умение красиво уложить волосы дает много преимуществ. Правильная укладка&nbsp;– гарант стильного и&nbsp;привлекательного образа. Обращайтесь за&nbsp;советом к&nbsp;нашим мастерам и&nbsp;они расскажут, как укладывать новую прическу.
        +figure({
          image: {
            name: 'muzhskaya-10',
            path: '/images/uslugi/strizhka/muzhskaya/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Варианты мужских укладок',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    .page-subsection
      +grid.par
        +figure({
          image: {
            name: 'muzhskaya-11',
            path: '/images/uslugi/strizhka/muzhskaya/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Использование специальных средств позволит сделать образ завершенным',
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          p Для моделирования важно использовать профессиональную косметику. Для коротких волос выбирают глину, для моделей средней длины&nbsp;— пасту, а&nbsp;для длинных&nbsp;— помаду. Средство вначале наносят на&nbsp;пальцы, а&nbsp;затем уже распределяют по&nbsp;волосам, так легче не&nbsp;переборщить со&nbsp;стайлинговыми продуктами. Мусс придаст дополнительный объем шевелюре. Гель наносят на сухие и&nbsp;влажные пряди, с&nbsp;его помощью легко создать легкий беспорядок на&nbsp;голове. При ежедневной укладке мастера рекомендуют использовать меньше нагревающих приспособлений, которые перегревают волосы, разрушая их структуру.
          p Если наблюдается ломкость, сухость или тусклость волос, то без помощи профессионала не&nbsp;обойтись. Парикмахер обеспечит мужской уход за&nbsp;волосами и&nbsp;порекомендует лучшие средства для решения проблемы. Для домашнего ухода применяют масла и&nbsp;маски для оживления и&nbsp;увлажнения ломких прядей.

    +pageSubsection
      h2 Почему мужскую стрижку в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;Hair Care Center
      +ul.par 
        +li Мастера салона помогут сориентироваться &nbsp;многообразном мире мужских стрижек;
        +li Подбираем современный образ, соответствующий стилю клиента и&nbsp;раскрывающий его индивидуальность;
        +li Даем профессиональные советы по&nbsp;укладке новой прически и&nbsp;выбору стайлинговых средств;
        +li Знакомы с&nbsp;особенностями стрижки после пересадки волос;
        +li Заботимся о&nbsp;безопасности гостей&nbsp;— инструментарий проходит термическую и&nbsp;химическую обработку.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Как часто обновлять стрижку?</h3>').par
            p На периодичность коррекции влияет три показателя&nbsp;— тип волос, скорость их роста и&nbsp;желаемый результат. Модели с&nbsp;выбритыми висками сами по&nbsp;себе подразумевают частую коррекцию&nbsp;— раз в&nbsp;2 недели. Густая жесткая шевелюра также нуждается в&nbsp;регулярном обновлении. Средняя периодичность&nbsp;— раз в&nbsp;3-4 недели. Неряшливый вид&nbsp;— главный сигнал для посещения мастера.
          +accordionItem('<h3>Можно ли самостоятельно подстричься дома?</h3>').par
            p Выбор остается за&nbsp;мужчиной. Мастера в&nbsp;салонах специализируются на&nbsp;мужских стрижках, учитывая особенности внешности клиента, поэтому конечный результат предсказуем.
          +accordionItem('<h3>Как возраст влияет на выбор стрижки?</h3>').par
            p Учитывая, что к&nbsp;40&nbsp;годам у&nbsp;50&nbsp;% мужчин наблюдаются признаки облысения. То при выборе на&nbsp;первый план выходят модели, маскирующие эстетические изъяны. Это Бокс, Полубокс, Цезарь и&nbsp;Buzz cut.
