extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Пикси
    +grid.page-subsection
      +figure({
        image: {
          name: 'piksi-1',
          path: '/images/uslugi/strizhka/piksi/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Феи Pixie',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

      +cell({ m:6 })
        p Термин &laquo;стрижка Пикси&raquo; появился в&nbsp;1950-х годах, когда женщины начали носить короткие прически, которые до&nbsp;этого ассоциировались с&nbsp;мужчинами. Стрижка вдохновлена ​​мифическими существами pixie из&nbsp;английского фольклора, которые известны озорным и&nbsp;игривым характером, а&nbsp;короткие волосы фей часто изображались растрепанными и&nbsp;колючими.


    .page-subsection
      h2 Особенности стрижки Пикси
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          p Пикси&nbsp;&mdash; короткая женская стрижка с&nbsp;мальчишеским характером, которая открывает лицо и&nbsp;шею за&nbsp;счет коротких боковых частей и&nbsp;затылка. Для верхней части прически характерны удлиненные пряди и&nbsp;прикорневой объем. В&nbsp;классическом исполнении волосы подстрижены коротко по&nbsp;всей длине.
          p Стилисты считают, что популярность Пикси принесла Одри Хепберн. Актриса удивила поклонников стрижкой в&nbsp;фильме 1953 года &laquo;Римские каникулы&raquo;. С&nbsp;тех пор название стрижки стало синонимом Хепберн. Затем стиль переняли многочисленные модели и&nbsp;актрисы, такие как Твигги, Джейн Фонда, Лайза Минелли и&nbsp;другие. С&nbsp;годами стрижка развивалась и&nbsp;менялась&nbsp;&mdash; формы стали мягче, прибавился объем и&nbsp;женственность, но&nbsp;типичные черты&nbsp;&mdash; короткие волосы по&nbsp;бокам и&nbsp;сзади с&nbsp;удлиненными слоями сверху остались. Женщины по-прежнему выбирают эту стрижку из-за универсальности, неприхотливости и&nbsp;простоты укладки.
        +figure({
          image: {
            name: 'piksi-2',
            path: '/images/uslugi/strizhka/piksi/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Одри Хепберн в Римских каникулах',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Плюсы и&nbsp;минусы стрижки
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          h3 Плюсы
          +ul.par
            +li Меньше времени на&nbsp;мытье, сушку и&nbsp;укладку;
            +li Экономный расход ухаживающих за&nbsp;волосами средств;
            +li Комфортные ощущения летом;.
            +li Дополнительный объем;
            +li Нет возрастных ограничений.
        +cell({ m:6 })
          h3 Минусы
          +ul.par
            +li Частая коррекция;
            +li Долго отращивать.

    .page-subsection
      h2 Кому стоит выбрать Пикси
      +grid({ smallGap: 'y' }).par
        +figure({
          image: {
            name: 'piksi-3',
            path: '/images/uslugi/strizhka/piksi/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Элегантный образ со стрижкой Пикси',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

        +cell({ m:6 })
          p Стрижку легко адаптировать к&nbsp;любой форме лица, цветотипу и&nbsp;индивидуальным особенностям. Может показаться, что прическа идеальна для женщин, которые предпочитают образ сорванца. Но&nbsp;Пикси легко преобразовать в&nbsp;элегантную и&nbsp;даже романтическую прическу. Стиль чередуется в&nbsp;зависимости от&nbsp;настроения и&nbsp;образа. Поэтому вопрос не&nbsp;в&nbsp;том, кому носить Пикси, а&nbsp;в&nbsp;том, как сделать, чтобы стрижка гармонировала с&nbsp;конкретным человеком.
          p Мастера по&nbsp;стрижке Пикси учитывают геометрию лица, строение черепа и&nbsp;характер клиента. С&nbsp;овальной, круглой или сердцевидной формой сочетаются все вариации прически. Обладательницам других типов требуется консультация стилиста.

    +pageSubsection
      h2 Варианты Пикси
      p Если классическая версия предполагает равномерную длину 0,15-7,5&nbsp;см, то&nbsp;современные стрижки допускают подрезание или заострение области висков, длинные пряди на&nbsp;макушке. Пикси укладывают слоями и&nbsp;сочетают с&nbsp;челкой:
      +ul.par
        +li ровной, чтобы добавить мягкости образу;
        +li рваной, чтобы придать прическе дерзкий вид.

      +grid.par

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Асимметричная
            p Вариант предполагает более длинные пряди с&nbsp;одной стороны, что создает стильный и&nbsp;решительный образ. Часто оформляется на&nbsp;боковой пробор, подчеркивая глаза и&nbsp;линию подбородка. Асимметричный вариант сочетается с&nbsp;разными длинами, чтобы соответствовать желаемой текстуре и&nbsp;стилю, что делает прическу подходящей для женщин с&nbsp;прямыми, густыми, волнистыми или тонкими волосами. Легкое средство для укладки увеличит объем и&nbsp;подвижность при зачесывании волос на&nbsp;одну сторону.
          +figure({
            image: {
              name: 'piksi-8',
              path: '/images/uslugi/strizhka/piksi/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Асимметричная стрижка Пикси',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Длинная
            p Если короткие волосы&nbsp;&mdash; это слишком смело, то&nbsp;длинная стрижка Пикси дает возможность поэкспериментировать с&nbsp;прической, сохраняя при этом среднюю длину для дополнительных вариантов укладки. Длинная прическа немного короче боба, но&nbsp;с&nbsp;более длинными многослойными прядями спереди, которые безупречно обрамляют лицо. Некоторые даже предпочитают зауженные или подрезанные виски для большего контраста. Длинную Пикси зачесывают назад или набок, сохраняют естественность и&nbsp;беспорядочность&nbsp;&mdash; применяют много интересных вариантов укладки.
          +figure({
            image: {
              name: 'piksi-5',
              path: '/images/uslugi/strizhka/piksi/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Длинная стрижка Пикси',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Короткая
            p Это всегда классика и&nbsp;стиль. Несмотря на&nbsp;короткие волосы, стрижка выглядит женственной и&nbsp;милой. Хотя короткие Пикси не&nbsp;требуют особой укладки, много способов улучшить вид прически. Матовый воск придаст прядям текстуру, созданная пальцами растрепанность добавит легкости образу. Удлиненная, уложенная на&nbsp;боковой пробор челка придаст элегантный вид. Если ее&nbsp;начесать, уложить назад и&nbsp;зафиксировать, получим ретро-версию.
          +figure({
            image: {
              name: 'piksi-4',
              path: '/images/uslugi/strizhka/piksi/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Короткая стрижка Пикси',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Многослойная
            p Многослойность всегда в&nbsp;тренде. Многоярусность дает Пикси новую жизнь, где выбор укладки ограничивается только фантазией. Челку зачесывают вперед, позволяя естественно спадать на&nbsp;лоб или использовать средства для укладки, чтобы верхняя часть оставалась упругой и&nbsp;струящейся. Хотя короткая стрижка считается дерзкой, девушки с&nbsp;мягкими чертами легко превращают ступенчатую Пикси в&nbsp;соблазнительный и&nbsp;женственный образ.
          +figure({
            image: {
              name: 'piksi-7',
              path: '/images/uslugi/strizhka/piksi/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Многослойная стрижка Пикси',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius



        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Пикси-Боб
            p Стрижка выполняется на&nbsp;базе Пикси с&nbsp;элементами Боба&nbsp;&mdash; пышный верх и&nbsp;вытянутые срезы. Можно поиграть с&nbsp;челкой&nbsp;&mdash; сделать прямую или градуированную, или вовсе отказаться от&nbsp;челки.
          +figure({
            image: {
              name: 'piksi-6',
              path: '/images/uslugi/strizhka/piksi/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Пикси-Боб',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 С&nbsp;андеркатом
            p Андеркат&nbsp;&mdash; разновидность стрижки с&nbsp;коротко подстриженными или выбритыми висками и&nbsp;задней частью головы. Пикси с&nbsp;андеркатом выглядит мятежно и&nbsp;контрастирует с&nbsp;длинными прядями на&nbsp;макушке. Готовый образ не&nbsp;требует особого ухода, красив и&nbsp;женственен. Хорошо сочетается с&nbsp;ярким цветом волос.
          +figure({
            image: {
              name: 'piksi-9',
              path: '/images/uslugi/strizhka/piksi/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Пикси с андеркатом',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Этапы создания классической стрижки
      ol.list-ordered.par
        li.list-ordered__item Делим влажные пряди на&nbsp;зоны, выделяя височную, затылочную и&nbsp;теменную.
        li.list-ordered__item Выделяем на&nbsp;затылке по&nbsp;центру небольшую прядь по&nbsp;горизонтали, оттягиваем и&nbsp;состригаем нужной длины, угол оттяжки постепенно увеличиваем.
        li.list-ordered__item Таким образом поочередно отделяем и&nbsp;подстригаем пряди в&nbsp;области затылка, задавая легкую градуировку, контрольная линия подвижная.
        li.list-ordered__item Аналогичным образом отделяем и&nbsp;состригаем пряди височной области.
        li.list-ordered__item Работа с&nbsp;теменной зоной определяется желаемым результатом. Если предполагается длинная челка, пряди равномерно подстригаем и&nbsp;зачесываем набок. Если&nbsp;&mdash; короткая, формируем ее&nbsp;посредством укорачивания, закончив стрижку теменной части. Стрижем от&nbsp;макушки в&nbsp;сторону лица.
        li.list-ordered__item Чтобы снять с&nbsp;кончиков лишний объем, используем филировочные ножницы.

    +pageSubsection
      h2 Кто из&nbsp;знаменитостей носит стрижку Pixie
      +grid.par
        +figure({
          image: {
            name: 'piksi-10',
            path: '/images/uslugi/strizhka/piksi/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Юмористка Елена Борщева',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +figure({
          image: {
            name: 'piksi-11',
            path: '/images/uslugi/strizhka/piksi/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Певица Ирина Понаровская',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +figure({
          image: {
            name: 'piksi-12',
            path: '/images/uslugi/strizhka/piksi/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Певица Анжелика Варум',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +figure({
          image: {
            name: 'piksi-13',
            path: '/images/uslugi/strizhka/piksi/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Актриса Холли Берри',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +figure({
          image: {
            name: 'piksi-14',
            path: '/images/uslugi/strizhka/piksi/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Актриса Эмма Уотсон',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Почему стрижку Пикси в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;Hair Care Center
      +ul.par
        +li Комфортная и&nbsp;доверительная обстановка;
        +li Бесплатная трихологическая диагностика;
        +li Персональный подход&nbsp;&mdash; анализ особенности роста и&nbsp;здоровья волос, формы головы и&nbsp;типа лица;
        +li Рекомендации по&nbsp;уходу и&nbsp;укладке волос;
        +li Трехэтапная обработка инструментария.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Как часто корректируют Пикси?</h3>').par
            p Стилисты советуют обновлять стрижку каждые 4&ndash;6&nbsp;недель. Некоторые клиенты приходят на&nbsp;коррекцию раз в&nbsp;2&nbsp;недели, чтобы не&nbsp;потерять внешний вид и&nbsp;стиль.
          +accordionItem('<h3>Стрижка подойдет на&nbsp;вьющиеся волосы?</h3>').par
            p Да, кудрявые Пикси&nbsp;&mdash; повседневные прически, подходящие также для вечерних выходов и&nbsp;официальных мероприятий.
          +accordionItem('<h3>Техники окрашивания для Pixie?</h3>').par
            p Чтобы выделиться, добавляют яркие или пастельные цвета, осветляют, делают частичное окрашивание или колорирование.
          +accordionItem('<h3>Как перейти от&nbsp;длинных волос к&nbsp;Пикси?</h3>').par
            p Начать с&nbsp;длинного варианта стрижки.
