extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
    include /blocks/service-header/service-header 
    +pageSection({ noPadding: 'top' })
        h1 Полубокс
        +grid.page-subsection
            +cell({ m:6 })
                p Мужская стрижка Полубокс — классика без возрастных ограничений. Прическа создает образ надежного, смелого и&nbsp; уверенного в&nbsp; себе мужчины. Эта сдержанная универсальная прическа проста и&nbsp; неприхотлива в&nbsp; уходе. Для повседневной укладки достаточно уложить пряди пальцами или сделать&nbsp; ежа. А&nbsp; для придания образу «изюминки» используют легкий мусс.
                p Большое количество вариантов оформления выгодно выделяет стрижку. Первую популярность прическа завоевала еще в&nbsp; 90-е&nbsp; годы. Сегодня стрижка стала выбором уверенных мужчин, ценящих комфорт и&nbsp; эстетичный вид.

            +figure({
                image: {
                    name: 'poluboks-1',
                    path: '/images/uslugi/strizhka/poluboks/',
                    formats: [
                        { ext: 'jpg', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                        { values: [ 1, 2 ] }
                    ],
                    alt: 'Стрижка полубокс',
                },
            })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

        .page-subsection
            h2 Особенности и плюсы
            +grid.par   
                +cell({ m:6 })    
                    p Полубокс — это короткая стрижка с&nbsp; длиной прядей 8&nbsp; см на&nbsp; макушке. На&nbsp; других участках длина не&nbsp; превышает 5&nbsp; см. Характеризуется постепенным, плавным переходом коротко остриженных волос на&nbsp; затылочной и&nbsp; боковых частях к&nbsp; более длинным на&nbsp; макушке.
                    +figure({
                        image: {
                            name: 'poluboks-2',
                            path: '/images/uslugi/strizhka/poluboks/',
                            formats: [
                            { ext: 'jpg', orig: true },
                            { ext: 'webp', mime: 'image/webp' },
                            ],
                            density: [
                            { values: [ 1, 2 ] }
                            ],
                            alt: 'Длина верхних прядей может достигать 8 см',   
                        }, 
                    })(class= cellClasses({ xs:12 })).figure--image-radius

                +cell({ m:6 })
                    h3 Плюсы
                    +ul.par
                        +li Гармонирует со&nbsp; спортивным, деловым, кэжуал стилями одежды и&nbsp; другими;
                        +li Мужчинам средних&nbsp; лет придает моложавый&nbsp; вид;
                        +li Укрощает вьющиеся волосы;
                        +li Подчеркивает мужественность;
                        +li Удлиненный вариант прически дает простор для экспериментов со&nbsp; стилем.

        +pageSubsection
            h2 Виды стрижки
            +grid.par
                +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
                    +cell
                        h3 Классический	
                        p Выполняется на&nbsp; волосах 3–5&nbsp; см. Челку аккуратно зачесывают вверх. Резкая разница в&nbsp; длине придает прическе глубину и&nbsp; объем, делая яркой и&nbsp; уникальной.
                        p На&nbsp; среднюю длину. Это стильный вариант, который часто выбирают молодые люди, не&nbsp; желающие тратить время на&nbsp; укладку.
                    +figure({
                        image: {
                            name: 'poluboks-3',
                            path: '/images/uslugi/strizhka/poluboks/',
                            formats: [
                                { ext: 'jpg', orig: true },
                                { ext: 'webp', mime: 'image/webp' },
                            ],
                            density: [
                                { values: [ 1, 2 ] }
                            ],
                            alt: 'Классический полубокс',
                        }, 
                    })(class= cellClasses({ xs:12 })).figure--image-radius
                    
                +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
                    +cell
                        h3 С чёлкой	
                        p Челка дополняет образ классического и&nbsp; среднего Полубокса. Длина до&nbsp; середины лба или&nbsp; длиннее. Прическа с&nbsp; челкой требует укладки, дает простор для&nbsp; экспериментов.
                        p Текстурированный привносит современные нотки в&nbsp; традиционный стиль, добавляя текстуру и&nbsp; подвижность в&nbsp; верхнюю часть. Изменение достигается за&nbsp; счет точечной или бритвенной резки для&nbsp; добавления слоев и&nbsp; создания более взлохмаченного вида. В&nbsp; результате получается прическа с&nbsp; дополнительной глубиной и&nbsp; объемностью, идеально подходящая для&nbsp; тех, кто предпочитает более непринужденной вид.
                    +figure({
                        image: {
                            name: 'poluboks-4',
                            path: '/images/uslugi/strizhka/poluboks/',
                            formats: [
                                { ext: 'jpg', orig: true },
                                { ext: 'webp', mime: 'image/webp' },
                            ],
                            density: [
                                { values: [ 1, 2 ] }
                            ],
                            alt: 'Полубокс с челкой',
                        }, 
                    })(class= cellClasses({ xs:12 })).figure--image-radius

        +pageSubsection 
            h2 Как выбрать подходящий вариант стрижки
            p Полубокс относится к&nbsp; классическим моделям, идеально вписываясь в&nbsp; любой образ. Но на&nbsp; каждом мужчине смотрится по-разному в&nbsp; зависимости от&nbsp; цветотипа и&nbsp; формы лица. Подходит мужчинам, предпочитающим лаконичный или спортивный стиль одежды. Как молодым парням, так и&nbsp; представителям старшего поколения.
            +ul.par
                +li Полубокс гармонирует с&nbsp; овальным, круглым, прямоугольным и&nbsp; квадратным типом лица;
                +li Мужчинам с узкими скулами стрижка не&nbsp; рекомендуется, так как будет акцентировать внимание на&nbsp; внешних особенностях, конечный выбор зависит от&nbsp; формы носа и&nbsp; лба;
                +li Худых и&nbsp; высоких парней прическа визуально делает еще&nbsp; выше, создавая дисгармонию в&nbsp; облике;
                +li Мужчинам крепкого телосложения прическа подходит идеально.

        +pageSubsection
            h2 Варианты укладки
            +grid.par
                +cell({ m:6 })
                    +ul.par
                        +li Если цель — образ уверенного и&nbsp; решительного мужчины, то&nbsp; оформляют художественный беспорядок на&nbsp; макушке, приподнимают челку, фиксируя результат гелем.
                        +li Для официальных встреч подойдет укладка с&nbsp; зачесанными набок или назад волосами. Чтобы прическа выглядела аккуратной и&nbsp; элегантной, минимизируют количество укладочных средств.
                        +li Также во&nbsp; время укладки уделяют внимание челке. Зачесывают набок или назад, слегка приподнимают, чтобы придать образу легкого ретро-шика.
                    p Помните, что Полубокс стильно смотрится и&nbsp; без дополнительной укладки.
                +figure({
                    image: {
                        name: 'poluboks-5',
                        path: '/images/uslugi/strizhka/poluboks/',
                        formats: [
                            { ext: 'jpg', orig: true },
                            { ext: 'webp', mime: 'image/webp' },
                        ],
                        density: [
                            { values: [ 1, 2 ] }
                        ],
                        alt: 'Полубокс с зачесом набок',
                    },
                })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

        +pageSubsection
            h2 Почему стрижку Полубокс в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;Hair Care Center
            +ul.par 
                +li Опытные стилисты салона адаптируют стрижку к&nbsp; внешним особенностям клиента;
                +li Подбираем уход и&nbsp; укладочные средства;
                +li Разбираемся в&nbsp; актуальных направлениях стрижек, укладок и&nbsp; окрашивания;
                +li Работаем в&nbsp; отдельных кабинетах.

        +pageSubsection
            h2 Популярные вопросы и&nbsp;ответы
            +grid.par
                +cell({ l: 8, m: 10 })
                    +accordionItem('<h3>Как часто корректировать Полубокс?</h3>').par
                        p Короткие стрижки корректируют каждые три недели, если рост волос не&nbsp; интенсивный, то&nbsp; мастера посещают раз в&nbsp; месяц.
                    +accordionItem('<h3>Какие стайлинговые продукты применяют при укладке?</h3>').par
                        p Чтобы не&nbsp; утяжелять прическу, используют пенки и&nbsp; муссы, фиксируют одним слоем лака.

                    +accordionItem('<h3>В чем отличие с Боксом?</h3>').par
                        p Бокс короче, зона перехода расположена выше.
                    +accordionItem('<h3>Как адаптировать Полубокс под спортивный образ?</h3>').par
                        p Это разновидность стрижки Бокс, которую раньше выбирали боксеры. Поэтому стрижка уже адаптирована к&nbsp; спортивному стилю.
                    +accordionItem('<h3>Полубокс визуально меняет форму лица?</h3>').par
                        p Да, акцентирует внимание на&nbsp; челюстных углах и&nbsp; скулах, придавая резкую форму.



 




            


