extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Шегги
    +grid.page-subsection
      +figure({
        image: {
          name: 'sheggy-1',
          path: '/images/uslugi/strizhka/sheggy/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Шегги у Дженны Ортега',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Стрижка шегги — отличный выбор для тех, кто ищет стильную, не&nbsp; требующую сложного ухода прическу. Лохматые (так с английского переводится слово «шегги») стрижки приобрели первую популярность в&nbsp; 1970-х годах среди рок-звезд и&nbsp; знаменитостей, которых привлекла бунтарская и&nbsp; беззаботная атмосфера стиля. 
        p Несмотря на&nbsp; то, что современная интерпретация прически не&nbsp; так экстравагантна, она сохранила рок-н-рольную легкость. Главная особенность шегги&nbsp; — многослойная структура, придающая волосам движение, текстуру и&nbsp; объем. При правильной технике укладки шегги сбалансирует черты лица, смягчит резкие линии подбородка и&nbsp; подчеркнет глаза.

    +pageSubsection 
      h2 Особенности стрижки шегги
      +grid.page-subsection
        +cell({ m:6 })
          p Современные шегги рыхлые, фактурные, разнообразные по&nbsp; количеству слоев, но&nbsp; мягче и&nbsp; женственнее, чем лохматая прическа 20&nbsp; века. Сегодня парикмахеры часто используют бритву, чтобы срезать слои так, чтобы они выгодно корректировали и&nbsp; подчеркивали форму лица. Прическа часто сочетается с&nbsp; культовой шторной челкой, и&nbsp; представляет собой бесконечные эксперименты с&nbsp; цветом. 
          p Стрижка универсальна и&nbsp; может сочетать разные направления прически. Одинаково привлекательно смотрится на&nbsp; прямых, волнистых, тонких и&nbsp; густых волосах, работает на&nbsp; разной длине.
        +figure({
          image: {
            name: 'sheggy-2',
            path: '/images/uslugi/strizhka/sheggy/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Шегги на волнистых волосах',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection 
      h2 Кому подходит
      p Прелесть и&nbsp; удобство Shaggy в&nbsp; том, что она предельно универсальна. Благодаря представленному выбору, легко подобрать шегги для любой формы лица и&nbsp; типа волос. У&nbsp; прически нет четкой ровной формы, поэтому ее&nbsp; легко «настроить» под конкретный типаж и&nbsp; длину волос. Все вариации лохматой прически гармонируют с&nbsp; овальным лицом, а&nbsp; к&nbsp; треугольной и&nbsp; квадратной формам подойдет шегги длиной до&nbsp; плеч и&nbsp; ниже.

    +pageSubsection
      h2 Виды шегги
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 С&nbsp; короткой челкой	
            p Шегги с&nbsp; короткой челкой гармонирует с&nbsp; любой формой лица. Больше подходит обладательницам вьющихся волос.
          +figure({
            image: {
              name: 'sheggy-3',
              path: '/images/uslugi/strizhka/sheggy/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Шегги с короткой челкой у Мишель Уильямс',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
                  
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Мини-шегги	
            p Это стиль с&nbsp; богатой текстурой, похожий на&nbsp; лохматую пикси. Стрижка, как правило, короче боба и&nbsp; включает в&nbsp; себя лохматые слои, что придает актуальный в&nbsp; этом сезоне стиль. Подойдет желающим попробовать короткую прическу, не&nbsp; прибегая к&nbsp; классической пикси.

          +figure({
            image: {
              name: 'sheggy-4',
              path: '/images/uslugi/strizhka/sheggy/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Мини-шегги',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Длинная волнистая	
            p Многослойность шегги усиливает четкость волн, увеличивая естественную подвижность прически.
          +figure({
            image: {
              name: 'sheggy-5',
              path: '/images/uslugi/strizhka/sheggy/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Длинная волнистая стрижка шегги',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Объемная	
            p Подходит для коротких волос, требующих дополнительного объема. Подчеркивает природную структуру волос, создает жизнерадостный образ.
          +figure({
            image: {
              name: 'sheggy-6',
              path: '/images/uslugi/strizhka/sheggy/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка шегги, создающая объем',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 В&nbsp; ретро-стиле	
            p Желающим окунуться в&nbsp; атмосферу семидесятых стоит обратить внимание на&nbsp; эту мягкую лохматую стрижку, сочетающую непринужденную атмосферу и&nbsp; ретро-привлекательность.
          +figure({
            image: {
              name: 'sheggy-7',
              path: '/images/uslugi/strizhka/sheggy/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка шегги в ретро-стиле',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection 
      h2 Как стрижется
      p Шегги в&nbsp; современном исполнении&nbsp; ─ это ступенчато срезанные филированные пряди, создающие эффект легкой взъерошенности. Образ выглядит свежо и&nbsp; игриво. Технику применяют по&nbsp; всей длине или локально.
      p Делается на&nbsp; чистые, наполовину высушенные волосы. Каждая прядь оттягивается под прямым углом и&nbsp; филируется. При использовании ножниц, триммера или бритвы&nbsp; — эффект будет одинаковый.
      p По технике выполнения Shaggy схожа с&nbsp; Лесенкой, в&nbsp; отличие от&nbsp; которой пряди стригутся произвольно. Если шегги делается на&nbsp; кудрявые волосы, то&nbsp; отдельные прядки скручивают в&nbsp; жгуты, а&nbsp; затем обрезают на нужном уровне.

    +pageSubsection 
      h2 Стилизация и&nbsp; укладка
      p Все вариации стрижки просты в&nbsp; укладке. На&nbsp; чистые влажные пряди наносят мусс средней или сильной фиксации, на&nbsp; кудрявые локоны&nbsp; — специальный крем. Далее волосы продолжают сушить с&nbsp; диффузором или естественным путем, приподнимая пряди пальцами от&nbsp; корней. По&nbsp; желанию результат фиксируют лаком.

    +pageSubsection
      h2 Кто из знаменитостей носит стрижку шегги
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Лохматые прически всегда были популярным стилем среди певиц, моделей и&nbsp; актрис. Рваная челка, многослойность и&nbsp; непринужденная крутая атмосфера&nbsp; — это то, что так привлекает в&nbsp; шегги.
          +figure({
            image: {
              name: 'sheggy-8',
              path: '/images/uslugi/strizhka/sheggy/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Сиара демонстрирует великолепие шегги на длинных волосах',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
                  
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Никто не&nbsp; знает, как сделать лохматую стрижку такой&nbsp; же знойной, как у&nbsp; Холли&nbsp; Берри. Благодаря идеально подобранным оттенкам, прическа кажется гуще.
          +figure({
            image: {
              name: 'sheggy-9',
              path: '/images/uslugi/strizhka/sheggy/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Рваные пряди в версии Беллы Хадид подчеркивают легкий образ',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    +pageSubsection
      h2 Почему стрижку шегги в&nbsp; Санкт-Петербурге стоит сделать в&nbsp; Hair Care Center?
      +ul.par 
        +li Салон оснащен функциональным и&nbsp; современным оборудованием;
        +li У&nbsp; нас работают квалифицированные мастера с&nbsp; креативным мышлением;
        +li Предлагаем бесплатное тестирование волос;
        +li Разбираемся в&nbsp; последних модных тенденциях;
        +li Научим ухаживать за&nbsp; окрашенными и&nbsp; ослабленными волосами.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Мужчины стригут шегги?</h3>').par
            p Да, лохматые прически подойдут мужчинам, которые любят экспериментировать с&nbsp; внешним видом, поскольку его можно легко видоизменить в&nbsp; соответствии с&nbsp; последними тенденциями.
          +accordionItem('<h3>Как часто обновлять стрижку?</h3>').par
            p Парикмахера посещают раз в&nbsp; 4-6&nbsp; недель с&nbsp; шегги на коротких волосах, раз в&nbsp; 6-8&nbsp; недель&nbsp; — на&nbsp; средних.