extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Вьющихся волос
    +grid.page-subsection
      +figure({
        image: {
          name: 'vyushchikhsya-volos-1',
          path: '/images/uslugi/strizhka/vyushchikhsya-volos/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Стрижка кудрявых волос до и после',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Когда дело доходит до&nbsp; стрижки кудрявых волос, универсального решения нет —&nbsp; к&nbsp; каждому клиенту свой подход. Для вьющихся локонов характерно сочетание нескольких структур, что усложняет процесс стрижки. Кроме того, кудри сжимаются при высыхании, из-за чего сложно определиться с&nbsp; длиной прически. Эти нюансы учитывает мастер по&nbsp; стрижке кудрявых волос при создании гармоничного образа.

    +pageSubsection 
      h2 Типы вьющихся волос
      +grid.par
        +cell({ m:6 })
          p Конечный результат стрижки кудрявых локонов зависит от&nbsp; типа волос. Текстура, рисунок завитков, толщина и&nbsp; плотность&nbsp; — все это влияет на&nbsp; конечный результат.
          +ul.par 
            +li Волнистые — у&nbsp; этого типа гибкие и&nbsp; упругие пряди S-образной формы, как свободные, так и&nbsp; четко очерченные;
            +li Кудрявые —  волосы варьируются от&nbsp; свободных завитков до&nbsp; тугих упругих спиралей;
            +li Кудрявые закрученные — пряди, образующие маленькие спирали или зигзаги, которые очень плотно сжаты вместе, что делает их склонными к&nbsp; усадке.
        +figure({
          image: {
            name: 'vyushchikhsya-volos-2',
            path: '/images/uslugi/strizhka/vyushchikhsya-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Типы вьющихся волос',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    .page-subsection
      h2 Техника стрижки
      +grid({ smallGap: 'y' }).par
        +figure({
          image: {
            name: 'vyushchikhsya-volos-3',
            path: '/images/uslugi/strizhka/vyushchikhsya-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Стрижка кудрявых волос на сухие волосы',
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          p Кудрявая стрижка выполняется на&nbsp; сухие или  влажные волосы.
          p Мокрые пряди легче распутать, поэтому вероятность повреждения стержней во&nbsp; время процедуры минимальная. Этим методом кудри стригутся с&nbsp; учетом индивидуальной текстуры и&nbsp; естественных завитков. В&nbsp; процессе контролируем угол оттяжки и&nbsp; длину, так как после сушки пряди скручиваются в&nbsp; пружину и&nbsp; визуально уровень выглядит короче. При высыхании прядь теряет до&nbsp; 3&nbsp; см длины.
          p На&nbsp; стрижку по&nbsp; кудрявому методу всухую требуется меньше времени. Метод дает точную форму прическе, так как локоны находятся в&nbsp; привычном виде и&nbsp; мастеру проще ориентироваться при формировании правильной геометрии. Помогает избежать эффект разной длины.

    +pageSubsection
      h2 Варианты кудрявых стрижек
      p Техники и&nbsp; виды стрижек для кудрявых волос ограничены, но&nbsp; они комбинируются. Фигурные оптимизируют и&nbsp; представляют в&nbsp; лучшем виде вьющиеся волосы, сохранив при&nbsp; этом их здоровье.
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Длинные вьющиеся локоны&nbsp; – лучший вариант кудрявой прически. Длинным прядям проще придать нужную форму, чтобы наслаждаться получившимся результатом. Хорошо смотрится Лесенка, которая плавно переходит в&nbsp; основную копну. Каскад пикантно подчеркивает великолепие вьющихся локонов. Чтобы добиться такого эффекта, волосы стригут на&nbsp; уровне подбородка или чуть выше. Каскад делает кудри аккуратными, объемными и&nbsp; послушными. 
            p Воск добавляет прическе выразительности. На&nbsp; длинных прядях гармонично смотрится прямой пробор, в&nbsp; идеале без челки. Удачным выбором при боковом проборе станет удлиненная челка. По возможности ее выпрямляют или оставляют небрежные кудри.
          +figure({
            image: {
              name: 'vyushchikhsya-volos-4',
              path: '/images/uslugi/strizhka/vyushchikhsya-volos/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка каскад на длинные волосы',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
                  
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            p Боб-каре&nbsp; — подходящий выбор для кудрявых волос средней длины. Длина до&nbsp; плеч облегчает уход за&nbsp; локонами. Подходящим дополнением станет градуировка на затылке. Если обрамляющие локоны привлекают внимание, то прореженные и&nbsp; укороченные пряди на&nbsp; затылке добавляют пикантности образу.
          +figure({
            image: {
              name: 'vyushchikhsya-volos-5',
              path: '/images/uslugi/strizhka/vyushchikhsya-volos/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Боб-каре на кудрявых волосах',
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

    .page-subsection
      h2 Уход за кудрями
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          +ul.par
            +li Вьющиеся локоны моют шампунем без сульфатов, чтобы не&nbsp; лишать натуральных масел;
            +li Кудри регулярно кондиционируют для поддержания увлажненности;
            +li Важно минимизировать средства с&nbsp; силиконами, утяжеляющими пряди;
            +li Кудри распутывают расческой с&nbsp; широкими зубьями или пальцами;
            +li Используют специальные средства для укладки вьющихся волос, чтобы подчеркнуть локоны и&nbsp; сохранить
        +figure({
          image: {
            name: 'vyushchikhsya-volos-6',
            path: '/images/uslugi/strizhka/vyushchikhsya-volos/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Уложенные кудри',
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Почему стрижку кудрявых волос в&nbsp; Санкт-Петербурге стоит сделать в&nbsp; Hair Care Center?
      p Наша команда делает клиентов красивыми с&nbsp; 2002&nbsp; года, даря взаимопонимание, комфорт и&nbsp; безопасность. Знаем все об уходе за&nbsp; волосами, трендовых стрижках и&nbsp; окрашиваниях.
      +ul.par 
        +li При стрижке вьющихся локонов учитываем неповторимую структуру завитков;
        +li Инструментарий проходит необходимые стадии обработки и&nbsp; стерилизации;
        +li В&nbsp; работе используем профессиональные материалы и&nbsp; косметику.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Как часто стригут кудри?</h3>').par
            p Каждые 8–12&nbsp; недель, чтобы сохранить форму и не допустить расслоение концов. Если волосы повреждены, коррекцию делают чаще — раз&nbsp; в&nbsp; 3-5 недель.
          +accordionItem('<h3>Кудрявые волосы стригут коротко?</h3>').par
            p Да, например, эстетично смотрится пикси&nbsp; — прическа с&nbsp; короткими висками и&nbsp; затылком, удлиненной макушкой. Длина в&nbsp; верхней части головы варьируется в&nbsp; зависимости от пожеланий клиента.
          +accordionItem('<h3>Как подготовить вьющиеся волосы к стрижке?</h3>').par
            p Важно перед посещением салона уложить волосы так же, как при укладке в&nbsp; повседневной жизни. Таким образом мастер почувствует индивидуальный стиль клиента, что облегчит выбор прически. Также желательно приходить с&nbsp; чистыми и&nbsp; распутанными локонами, без хвостиков и&nbsp; повязок на&nbsp; голове.
          +accordionItem('<h3>Какие заблуждения по поводу стрижки кудрей?</h3>').par
            p Что с&nbsp; ними можно обращаться как с&nbsp; прямыми. 
        


