extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header 
  +pageSection({ noPadding: 'top' })
    h1 Стрижка
    +pageSubsection
      p Практичная, легкая в&nbsp;укладке и&nbsp;оригинально исполненная женская стрижка&nbsp;&mdash; гарантия продуманного образа и&nbsp;хорошего настроения. 
    +pageSubsection
      h2 Классификация
      +grid.par
        +cell({ m:6 })
          p Стрижки классифицируют на&nbsp;контрастные и&nbsp;неконтрастные. У&nbsp;контрастных пряди разной длины, у&nbsp;неконтрастных&nbsp;&mdash; одной. Также в&nbsp;парикмахерских выделяют такое понятие как простая и&nbsp;модельная женская стрижка. Модельные стрижки волос делят&nbsp;на:
          +ul.par 
            +li базовые;
            +li моделирующие;
            +li комбинированные.
          p Базовая выполняется, следуя схеме. При моделирующей к&nbsp;базовой добавляют элементы в&nbsp;соответствии с&nbsp;персональными особенностями клиента. Комбинированные объединяют 2-3 базовые стрижки. 
        +figure({
          image: {
            name: 'zhenskaya-strizhka-1',
            path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Контрастная стрижка',  
          }, 
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        
      h3 Женская стрижка на&nbsp;короткие волосы
      p Это универсальные и&nbsp;стильные прически, позволяющие женщинам раскрывать уникальные особенности. Короткие прически&nbsp;&mdash; это широкий ряд оригинальных и&nbsp;модных вариантов.
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h4 Гарсон	
            p Появился больше ста лет назад, но&nbsp;и&nbsp;сегодня сохранил актуальность и&nbsp;обаяние, благодаря задорной мальчишеской длине и&nbsp;французскому обаянию. Классический Гарсон характеризуется прядями, лежащими по&nbsp;одной линии. Сегодня у&nbsp;Гарсон разная длина спереди, сзади и&nbsp;по&nbsp;бокам. Образ дополняется длинной или ультракороткой челкой.
          +figure({
            image: {
              name: 'zhenskaya-strizhka-5',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Гарсон',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h4 Боб
            p Подходящий выбор для желающих сохранить длину, и&nbsp;наслаждаться при этом короткой прической. Классический Боб доходит до&nbsp;уровня подбородка или чуть выше, создавая изысканный вид. Моделирует длину, углы и&nbsp;слои в&nbsp;соответствии с&nbsp;предпочтениями клиента. Боб обрамляет лицо, контролируя объем и&nbsp;форму волос.
          
          +figure({
            image: {
              name: 'zhenskaya-strizhka-3',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка боб',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h4 Короткое Каре
            p Прическа выглядит стильно и&nbsp;выразительно. Короткий Боб&nbsp;&mdash; выигрышное решение для тех, кто предпочитает практичность и&nbsp;удобство, так как короткая длина упрощает уход и&nbsp;укладку.	
          +figure({
            image: {
              name: 'zhenskaya-strizhka-4',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Короткое каре Тейлор Свифт',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h4 Паж
            p Эта утонченная прическа удовлетворит изысканный вкус ценителей классики. Популярен вариант с&nbsp;удлиненной челкой.
          +figure({
            image: {
              name: 'zhenskaya-strizhka-7',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка паж',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h4 Шапочка
            p Стрижка больше известна под названием &laquo;под горшок&raquo;. Челка выстригается по&nbsp;прямой, остальной объем волос подстригается одной длины или обрезается сзади и&nbsp;по&nbsp;бокам. Подчеркивает скулы и&nbsp;выразительные черты.
          +figure({
            image: {
              name: 'zhenskaya-strizhka-6',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стрижка шапочка',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
      h3 Женская стрижка на&nbsp;волосы средней длины
      p Это мультифункциональный выбор для женщин любого возраста, с&nbsp;разной структурой и&nbsp;типом волос. Пряди средней длины не&nbsp;срезают слишком коротко, чтобы выглядели круто, и&nbsp;не&nbsp;оставляют слишком длинными, чтобы не&nbsp;требовали особого ухода. 
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell  
            h4 Каскад
            p Это легкая и&nbsp;дерзкая многослойная стрижка с&nbsp;мягкими переходами. Подходит девушкам с&nbsp;редкими волосами, которые плохо держат объем. Для придания Каскаду пышности пряди начинают срезать на&nbsp;уровне ушей.
          +figure({
            image: {
              name: 'zhenskaya-strizhka-9',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Классический каскад и каскадный боб',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell  
            h4 Лесенка
            p У&nbsp;Лесенки увеличение длины идет от&nbsp;макушки к&nbsp;кончикам, позволяя легко увеличивать объем прически. Смотрится выигрышно на&nbsp;густых непослушных волосах.
          +figure({
            image: {
              name: 'zhenskaya-strizhka-10',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Пример стрижки лесенки',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
      
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell 
            h4 Каре до&nbsp;плеч
            p Самая распространенная прическа до&nbsp;плеч&nbsp;&mdash; Каре. Секрет популярности стрижки в&nbsp;геометрических линиях, влияющих на&nbsp;визуальное восприятие пропорций лица. В&nbsp;классическом варианте угол оттяжки прядей&nbsp;0, а&nbsp;в&nbsp;креативном исполнении у&nbsp;среза рваный край. Постепенное удлинение прядей от&nbsp;затылка к&nbsp;лицу добавляет Каре элегантности. Градуированная прическа подойдет девушкам с&nbsp;тонкими редкими волосами.
          +figure({
            image: {
              name: 'zhenskaya-strizhka-8',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Каре до плеч',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

      h3 Стрижка длинных волос
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell  
            h4 Классическая	
            p Прямая стрижка относится к&nbsp;классическим и&nbsp;актуальным сегодня прическам. Со&nbsp;временем ее&nbsp;распространенность даже растет, ведь длинные прямые волосы всегда роскошны.
          +figure({
            image: {
              name: 'zhenskaya-strizhka-11',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Классическая прямая стрижка',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell    
            h4 Длинный Боб с&nbsp;объемными локонами
            p Прическа на&nbsp;пике популярности, так как пышные локоны смотрятся эффектно как в&nbsp;будни, так и&nbsp;на&nbsp;официальных мероприятиях.
          +figure({
            image: {
              name: 'zhenskaya-strizhka-13',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Длинный боб с объемными локонами',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell   
            h4 Многослойная
            p Слои пользуются спросом у&nbsp;обладательниц длинных прядей, так добавляют объема, делают волосы более послушными. Прическа универсальна, предлагает много вариантов исполнения, например, с&nbsp;перьями, которые формируют правильный овал.	
          +figure({
            image: {
              name: 'zhenskaya-strizhka-12',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Многослойная стрижка',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
    
    +pageSubsection
      h2 Современные тренды
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell     
            h3 Текстурированный шэг
            p Это прическа с&nbsp;хаотичными, естественными и&nbsp;одновременно женственными прядями. Стрижка включает рваные слои, сложные переходы и&nbsp;текстурированные кончики.
          +figure({
            image: {
              name: 'zhenskaya-strizhka-15',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Текстурированный шэг',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell     
            h3 Волчий кефаль
            p Это современный взгляд на&nbsp;классическую косматую стрижку с&nbsp;толстыми слоями и&nbsp;тончайшей текстурой. Стиль универсален, адаптируется к&nbsp;разным типам лица и&nbsp;волос.
          +figure({
            image: {
              name: 'zhenskaya-strizhka-16',
              path: '/images/uslugi/strizhka/zhenskaya-strizhka/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Волчья стрижка',  
            }, 
          })(class= cellClasses({ xs:12 })).figure--image-radius
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell 
            h3 Свободные волны и&nbsp;челки
            p Стиль призван выглядеть непринужденно, ведь не&nbsp;приходится беспокоиться об&nbsp;укладке челки: чем объемней, тем лучше. Доступны вариации от&nbsp;мягких волн до&nbsp;африканских кудрей.
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell     
            h3 Хиппи
            p Прически в&nbsp;стиле 70-х узнаваемы &laquo;неприлизаным&raquo; видом и&nbsp;перепадом длин, поэтому визуально придают волосам объемность. Челка-шторка дополнит образ небрежным шиком. Оригинально смотрится тонкая коса, выполняющая роль повязки на&nbsp;голове.

    +pageSubsection
      h2 Как выбирать стрижку
      p Выбор подходящей прически&nbsp;&mdash; одновременно интересное и&nbsp;трудное занятие. При этом учитывают ряд важных факторов: геометрия лица, текстура, длина и&nbsp;цвет волос, личный стиль и&nbsp;требования к&nbsp;уходу за&nbsp;прической. Понимание этих факторов помогает делать осознанный выбор при работе с&nbsp;мастером-стилистом, чтобы получить привлекательную, практичную и&nbsp;передающую уникальность стрижку.
    
    +pageSubsection
      h2 Почему женскую стрижку в&nbsp;Санкт-Петербурге предпочитают делать в&nbsp;Hair Care Center
      p Салон красоты Hair Care Center&nbsp;&mdash; концептуальное бьюти-пространство, где клиентам диагностируют кожу головы и&nbsp;волосы, подробно консультируют, стригут, укладывают и&nbsp;окрашивают в&nbsp;технике любой сложности. 
      +ul.par 
        +li Гарантируем высокий уровень сервиса. Приятная атмосфера и&nbsp;комфорта окружают клиента с&nbsp;первых минут пребывания в&nbsp;салоне.
        +li Центр оснащен технологичным оборудованием. У&nbsp;нас работают мастера, средний стаж работы которых&nbsp;&mdash; 12&nbsp;лет.
        +li Используем профессиональные инструменты надежных производителей парикмахерского оборудования.
        +li На&nbsp;первое место ставим безопасность клиентов, поэтому систематически очищаем и&nbsp;стерилизуем инструменты.

    +grid({ smallGap: 'y' }).page-subsection
      +cell
        h2 Популярные вопросы и&nbsp;ответы
      +cell({ l: 8, m: 10 })
        +accordionItem('<h3>Как часто обновляют стрижку?</h3>').par
          p Короткие стрижки, быстро теряющие форму, обновляют раз в&nbsp;3-4&nbsp;недели, средние реже&nbsp;&mdash; раз в&nbsp;1-1,5&nbsp;месяца. Длинные локоны освежают каждые три месяца.
        +accordionItem('<h3>Какие прически подходят для тонких волос?</h3>').par
          p Девушкам с&nbsp;тонкими волосами парикмахеры советуют придерживаться одного правила&nbsp;&mdash; длина прядей не&nbsp;опускается ниже уровня плеч. Тонкие и&nbsp;длинные локоны под действием собственного веса принимают форму головы.
        +accordionItem('<h3>Возможно восстановить волосы после неудачной стрижки?</h3>').par
          p Если новая стрижка не&nbsp;подходит к&nbsp;образу и&nbsp;портит общее впечатление, постарайтесь исправить ситуацию укладкой. Добавьте объема, сделайте кудри или используйте аксессуары для волос.
        +accordionItem('<h3>Какие факторы берут в&nbsp;расчет при выборе женской стрижки в&nbsp;вашем салоне?</h3>').par
          p Размышляя как придать клиенту желаемый вид, стилист старается сохранить баланс между размером головы и&nbsp;тела, выбирая длину и&nbsp;объем прически.
        +accordionItem('<h3>Как смена прически влияет на&nbsp;личную жизнь?</h3>').par
          p Удачная прическа повышает уверенность, меняет мышление в&nbsp;позитивном направлении, мотивируя на&nbsp;смелые шаги по&nbsp;улучшению жизни.
