a
  color var(--color-link)
  transition color var(--transition-duration-out)
  &[href^='#']
    text-decoration-style dotted
  &:hover
    transition-duration var(--transition-duration-in)
    @media (min-width point-l)
      color var(--color-link-hover)
  &:active
    color var(--color-link-active)
