mixin consultationSimilarItem(list)
  each item in list
    .consultation-similar&attributes(attributes)
      a(href='#')= item.question
      .consultation-similar__info 
        +textMarked({ tag:'span', size: 'xs', color: 'grey' })= item.name
        +textMarked({ tag:'span', size: 'xs', color: 'grey' })= item.date
