.logo
  background-repeat no-repeat
  background-position center
  background-size 100%
  @media (min-width point-l)
    background-image var(--logo)
  @media (max-width point-l - 1)
    background-image var(--logo-small)
