.page-section
  position relative
  @media (min-width point-m)
    padding 3.75rem 0 3.75rem
  @media (max-width point-m - 1)
    padding 2.5rem 0 2.5rem
  &::before
  &::after
    position absolute
    z-index -1
    background-color var(--color-beige-lighter)
    mask-repeat no-repeat
    mask-position center
    transform-origin 50% 50% 0
    will-change translate
  &::before
    translate 0 var(--before-translate)
  &::after
    translate 0 var(--after-translate)
  &--background-color
    background-color var(--color-beige-lighter)
  &--no-padding
    &--top
      @media (min-width point-m)
        padding-top 0
      @media (max-width point-m - 1)
        padding-top 0
    &--bottom
      @media (min-width point-m)
        padding-bottom 0
      @media (max-width point-m - 1)
        padding-bottom 0
  &--home-header
    padding-top 0
    padding-bottom 1.875rem
  &--home-advantages
    &::before
      content ''
      position absolute
      top -275px
      left -130px
      width 443px
      height 712px
      mask-image url(../images/svg-sprites/home.svg#pic2)
      mask-size cover
      opacity .5
      rotate 5deg
  &--home-services
    @media (min-width point-m)
      background-image \
        linear-gradient(to bottom, transparent 71.5%, var(--color-white) 71.5%), \
        linear-gradient(to right, var(--color-beige-lighter) 44%, var(--color-white) 44%)
    @media (max-width point-m - 1)
      background-image \
        linear-gradient(to bottom, var(--color-beige-lighter) 71.5%, var(--color-white) 71.5%)
    &::before
      content ''
      top -112px
      right -130px
      z-index 1
      width 444px
      height 551px
      mask-image url(../images/svg-sprites/home.svg#pic1)
      mask-size contain
      opacity .5
      rotate -82deg
    &::after
      content ''
      top 40%
      left 1rem
      z-index 1
      width 365px
      height 453px
      background-color var(--color-white)
      mask-image url(../images/svg-sprites/common.svg#pic3)
      mask-size contain
      rotate -20deg
  &--home-brands
    z-index 2
    &::before
      content ''
      top -460px
      right -130px
      width 373px
      height 403px
      mask-image url(../images/svg-sprites/home.svg#pic4)
      mask-size contain
      opacity .5
      rotate -82deg
  &--home-staff
    &::before
      content ''
      top 159px
      left -54px
      width 685px
      height 720px
      mask-image url(../images/svg-sprites/home.svg#pic5)
  &--home-why-we
    &::before
      content ''
      top 128px
      right 0
      width 449px
      height 337px
      mask-image url(../images/svg-sprites/home.svg#pic6)
  &--home-works
    &::before
      content ''
      top -200px
      left -26px
      width 372px
      height 688px
      mask-image url(../images/svg-sprites/home.svg#pic7)
      mask-size cover
  &--home-address
    z-index -1
    &::before
      content ''
      top 0
      left 7%
      width 224px
      height 676px
      aspect-ratio 224 / 482
      mask-image url(../images/svg-sprites/home.svg#pic9)
      mask-size cover
  &--home-yandex-reviews
    &::after
      content ''
      top -100px
      right -116px
      width 557px
      height 947px
      mask-image url(../images/svg-sprites/home.svg#pic10)
      mask-size cover
  &--staff-certificates
    &::after
      content ''
      top 0
      right 10%
      width 353px
      height 390px
      mask-image url(../images/svg-sprites/home.svg#pic1)
      mask-size cover
      rotate 110deg
  &#page-works
    overflow hidden
    &::after
      content ''
      top 35%
      right 6%
      width 321px
      height 660px
      mask-image url(../images/svg-sprites/home.svg#pic11)
      mask-size contain
  &#coloring-calculator
    margin-bottom 3.75rem
    @media (max-width point-m - 1)
      margin-bottom 2.75rem
