mixin bannerSchedule
  +container.banner-schedule
    a(href='#new-year' data-modal).banner-schedule__title.content График работы в праздники
    +modal#new-year
      p 7.03 с 10:00 до 19:00
        | #[br] 8.03 - нерабочий день 
