.banner-schedule
  // background-image url(../images/banner-schedule/bg.webp)
  border 1px solid #e8e8e8;
  background-repeat no-repeat
  background-position center
  background-size cover
  &__title
    text-decoration none!important
    color #ad0a31
