.feedback-site
  @media(max-width point-s - 1)
    flex-wrap nowrap
    overflow-x scroll
  &__item
    display flex
    flex-direction column
    @media(max-width point-s - 1)
      flex-shrink 0 
      max-width 50%
  &__image
    width 100%
    height 40px
    margin-bottom 0.75rem
