.banner-march
  background-image image-set(url('../images/banner-march/bg_xl.webp') 1x, url('../images/banner-march/bg_xl@2x.webp') 2x)
  background-repeat no-repeat
  background-size cover
  @media(max-width point-xl - 1)
    background-image image-set(url('../images/banner-march/bg_l.webp') 1x, url('../images/banner-march/bg_l@2x.webp') 2x)
  @media(max-width point-l - 1)
    background-image image-set(url('../images/banner-march/bg_m.webp') 1x, url('../images/banner-march/bg_m@2x.webp') 2x)
  @media(max-width point-m - 1)
    background-image image-set(url('../images/banner-march/bg_s.webp') 1x, url('../images/banner-march/bg_s@2x.webp') 2x)
  @media(max-width point-s - 1)
    background-image image-set(url('../images/banner-march/bg_xs.webp') 1x, url('../images/banner-march/bg_xs@2x.webp') 2x)
  &__duration
    color #7D7D7D
  &__promocode
    color #000000
    &::after
      position absolute
      transform translateY(-55%)
      left 100%
      width 4.875rem
      height 3.3rem
      content ''
      background-image url('../images/svg-sprites/home.svg?v=1#banner-march')
      background-repeat no-repeat
      background-position center
      background-size cover
  &__clarification
    color #222222
    & span
      color var(--color-red)
