.banner-march
  &__inner
    display flex
    flex-direction column
    align-items flex-start
    padding-block 40px
    @media(max-width 1340px)
      &.content
        padding-left 7vw
    @media(max-width point-l - 1)
      &.content
        padding-left 10vw
    @media(max-width point-m - 1)
      &.content
        padding-left 16vw
  &__duration
    margin-bottom 1rem
    font-size 1rem
    font-weight 700
    @media(max-width point-m - 1)
      margin-bottom 0.5rem
  &__promocode
    position relative
    margin-top 3.25rem
    padding-right 0.3rem
    font-weight 700
  &__clarification
    margin-bottom 0.25rem
    font-size 1.5rem
    line-height 1.5
    @media(max-width point-m - 1)
      font-size 1.25rem
    @media(min-width point-l)
      max-width 75%
    @media(min-width point-xl)
      max-width 55%
    & span
      font-weight 700
