.aside-menu
  &__item
    & + &
      margin-top 0.5rem
    &--active .aside-menu__link
      font-weight 500
      color var(--color-link-hover)
  &__item-body
    display flex
    align-items center
    justify-content space-between
    column-gap 0.4rem
