mixin reviewItem(review, settings = {})
  - const tag = settings.tag || 'div'
  #{tag}(class= classes('review-item', settings))&attributes(attributes)
    .review-item__image: +img(review.image)(alt= `${review.author}, ${review.occupation}` title= `${review.author}, ${review.occupation}` width= 277 height= 277)
    h3.review-item__author !{review.author}
    .review-item__occupation !{review.occupation}
    .review-item__body: block
