.review-item
  --color-text-h3 var(--color-beige)
  display grid
  @media (min-width point-m)
    grid-template-areas 'image author occupation .' 'image body body body'
    grid-column-gap var(--gap)
    grid-row-gap var(--base-padding)
  @media (max-width point-m - 1)
    grid-template-areas 'image author author' 'image occupation occupation' 'body body body'
    grid-column-gap var(--base-padding)
  &__image
    grid-area image
  &__author
    grid-area author
    align-self end
  &__occupation
    fontSize14()
    grid-area occupation
    color var(--color-grey)
    @media (min-width point-m)
      align-self end
  &__body
    position relative
    grid-area body
    @media (min-width point-m)
      padding-top 2rem
      padding-left 3.5rem
    @media (max-width point-m - 1)
      padding-top 1rem
    &::before
      content '“'
      position absolute
      top 0
      left 0
      font-weight bold
      color var(--color-beige)
      @media (min-width point-m)
        font-size 6.25rem
        line-height 6.25rem
        opacity .3
      @media (max-width point-m - 1)
        font-size 10rem
        line-height 10rem
        opacity .1
