.service-navigation
  display flex
  flex-wrap wrap
  gap .625rem 1.25rem
  @media(min-width point-l)
    justify-content center
  &__selects
    display flex
    flex-wrap wrap
    gap .625rem 1.25rem
    @media(min-width 1160px)
      margin-left auto
