.brand-item
  height 4.375rem
  background-color var(--color-beige)
  mask-repeat no-repeat
  mask-position center
  mask-size 100%
  &--schwarzkopf
    mask-image var(--brand-item-schwarzkopf)
  &--cadiveu
    mask-image var(--brand-item-cadiveu)
    mask-size 9rem
    @media(max-width point-s - 1)
      mask-size cover
  &--estel
    mask-image var(--brand-item-estel)
    mask-size 10rem
    @media(max-width point-s - 1)
      mask-size cover
  &--loreal
    mask-image var(--brand-item-loreal)
    mask-size 12rem
    @media(max-width point-s - 1)
      mask-size cover
  &--matrix
    mask-image var(--brand-item-matrix)
    mask-size 9rem
    @media(max-width point-s - 1)
      mask-size cover
  &--malecula
    mask-image var(--brand-item-malecula)
    mask-size 13rem
    @media(max-width point-s - 1)
      mask-size cover
