.list-steps
  list-style none
  counter-reset numbers
  &__inner
    position relative
    padding-left 7.5rem
    &::before
      content counter(numbers)
      position absolute
      top 0
      left 0
      display flex
      align-items center
      justify-content center
      text-align center
      font-size 11rem
      line-height 0.8
      font-family 'Montserrat', 'Helvetica-Neue', 'Arial', sans-serif
      font-weight 500
      color var(--color-beige-light)
  &__item
    counter-increment numbers
    display flex
    flex-direction column
    justify-content space-between
    row-gap 1rem
    &:first-of-type
      & .list-steps__inner
        padding-left 6rem
  &--bottom
    & ^[-1]__item
      justify-content flex-start
    & ^[-1]__inner
      &::before
        top -5.5rem
  &--list
    & ^[-1]__inner
      display flex
      flex-direction column
      min-height 4rem
      &:nth-child(n)
        padding-left 5rem
      &::before
        font-size 5rem
    @media(max-width point-m - 1)
      & ^[-1]__inner
        &:nth-child(n)
          min-height 2.5rem
          padding-left 3rem
        &::before
          font-size 3.5rem
