.block-marked-faq
  position relative
  padding-left 4.5rem
  &::before
    position absolute
    content '?'
    top 0
    left 0
    font-size 6rem
    line-height 0.7
    font-weight 500
    color var(--color-beige-light)
  @media(max-width point-m - 1)
    padding-left 3rem
    &::before
      font-size 4.5rem
