.feedback-item
  position relative
  .slider&
    @media(min-width point-m)
      &::after
      &::before
        position absolute
        content ''
        top 0
        bottom 3.5rem
        width 170px
        z-index 10
      &::after
        right 0
        background linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 98.96%)
        opacity 1
        transition opacity var(--transition-duration-out) ease
      &::before
        left 0
        background linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 98.96%)
        opacity 0
        transition opacity var(--transition-duration-in) ease
    &--transition-end
      @media(min-width point-m)
        &::after
          transition-duration var(--transition-duration-in)
          opacity 0
        &::before
          opacity 1
          transition-duration var(--transition-duration-out)
  &__slide
    display flex
    flex-direction column
    border 1px solid var(--color-beige-lighter)
    border-radius var(--border-radius-big)
    &.swiper-slide
      height unset
  &__header
    position relative
    padding 1.25rem 4rem 0.625rem 0
    background-color var(--color-beige-lighter)
    border-top-left-radius var(--border-radius-big)
    border-top-right-radius var(--border-radius-big)
    @media (max-width point-l - 1)
      padding-right 3.5rem
    &::before
      content '“'
      position absolute
      top 0
      right 0.625rem
      font-weight bold
      color var(--color-beige)
      font-size 6.25rem
      line-height 6.25rem
      opacity .3
      @media (max-width point-l - 1)
        top 0.2rem
        font-size 5rem
        line-height 5rem
  &__info
    fontSize12()
    color #C67F7C
    text-align right
  &__image
    display flex
    justify-content center
    padding 0.625rem
    background-color var(--color-white)
    // & img
    //   max-height 12.5rem
  & .slider__pagination
    justify-content flex-start
    margin-top 2.5rem
    margin-left 6rem
  & .slider__pagination-item
    @media(max-width point-m - 1)
      display none
  &__inner
    display flex
    flex-direction column
    gap 0.25rem
    padding 1.5rem
  &__rating-wrapper
    display flex
    align-items center
    gap 1rem
    margin-bottom 0.5rem
  &__date
    font-size 0.875rem
    color var(--color-grey)
  &__text
    margin-bottom 0.5rem
  &__link
    display flex
    flex-wrap wrap
    column-gap 0.75rem
    row-gap 0.25rem
