mixin feedbackItem(feedback, settings = {})
  .feedback-item&attributes(attributes)
    each item in feedback
      - const service = item.service || ''
      - const master = item.master || ''
      - const img = item.img || ''
      - const name = item.name || ''
      - const text = item.text || ''
      - const rating = item.rating || ''
      - const date = item.date || ''
      - const serviceName = item.serviceName || ''
      - let site = item.site || ''
      .feedback-item__slide(data-service=`${service}` data-master=`${master}` data-site=`${site}` class= classes(settings))
        .feedback-item__header 
          if (site === 'yandex')
            p.feedback-item__info Отзыв оставлен на сайте #[a(href='https://yandex.ru/maps/org/tsentr_dizayna_volos/1881119709/reviews/?ll=30.312785%2C59.908087&z=15' target='_blank') yandex.ru]
          else if (site === '2gis')
            p.feedback-item__info Отзыв оставлен на сайте #[a(href='https://2gis.ru/spb/search/%D1%86%D0%B5%D0%BD%D1%82%D1%80%20%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B0%20%D0%B2%D0%BE%D0%BB%D0%BE%D1%81%20%D1%81%D0%BF%D0%B1/firm/5348552838696892/30.31292%2C59.908049/tab/reviews?m=30.312901%2C59.908072%2F17.15' target='_blank') 2gis.ru]
          else if (site === 'zoon')
            p.feedback-item__info Отзыв оставлен на сайте #[a(href='https://zoon.ru/spb/beauty/tsentr_dizajna_volos_na_metro_frunzenskaya/reviews/' target='_blank') zoon.ru]
          else if (site === 'google')
            p.feedback-item__info Отзыв оставлен на сайте #[a(href='https://www.google.com/maps/place/%D0%A6%D0%B5%D0%BD%D1%82%D1%80+%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B0+%D0%92%D0%BE%D0%BB%D0%BE%D1%81/@59.9079827,30.3130858,17z/data=!4m8!3m7!1s0x469630e5425b37c1:0x8261d1ae80293e03!8m2!3d59.9079827!4d30.3130858!9m1!1b1!16s%2Fg%2F1tdxtp8x?hl=RU&entry=ttu' target='_blank') google.com]
        if (img)
          .feedback-item__image
            +img({
              name: img,
              path: '/images/feedback/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' }
              ],
            })
        else 
          .feedback-item__inner
            .feedback-item__name #[strong !{name}]
            .feedback-item__rating-wrapper
              .feedback-item__rating.rating(data-rating=`${rating}`)
                - for (i=0; i<5; i++)
                  .rating__star
              .feedback-item__date !{date}
            .feedback-item__text !{text}
            .feedback-item__link
              - for (let i = 0; i<serviceName.length; i++)
                a(href='/') !{serviceName[i]}

