.phone
  --color-link var(--color-black)
  --color-link-hover var(--color-black)
  --color-link-active var(--color-black)
  text-decoration none
  &--icon
    position relative
    &::before
      content ''
      position absolute
      top .125rem
      left 0
      width 1.125rem
      height 1.125rem
      background-color var(--color-beige)
      mask-image var(--icon-tel)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
