.list-ordered
  list-style-position inside
  fontSize16()
  &--column-2
    @media(min-width point-m)
      column-count 2
  &__item
    & + &
      margin-top .625rem
    &::marker
      font-weight 700
      color var(--color-beige)
