mixin worksItem(item, settings = {})
  -
    const tag = settings.tag || 'div'
    const service = item.service || ''
    const video = item.video || ''
    const description = item.description || ''
  #{tag}(class= classes('works-item', settings) data-service=`${service}` data-video=`${video}` data-description=`${description}`)&attributes(attributes)
    .works-item__title !{item.name}
    .works-item__price !{item.price} ₽
    +img({
      name: item.image,
      path: '/images/',
      formats: [
        { ext: 'jpg', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ],
    })(alt= item.name title= item.name).works-item__image
