.works-item
  &:nth-child(8n+1)
    --image-border-color #F1D2D6
  &:nth-child(8n+2)
  &:nth-child(8n+8)
    --image-border-color #F6EDDC
  &:nth-child(8n+3)
  &:nth-child(8n+6)
    --image-border-color var(--color-beige-light)
  &:nth-child(8n+4)
  &:nth-child(8n+5)
    --image-border-color #D4E4F1
  &:nth-child(8n+7)
    --image-border-color #E6F2EE
  text-decoration none
  cursor pointer
  @media (min-width point-l)
    --before-opacity 0
    --info-opacity 0
    --info-translate-y 25%
    --info-pointer-events none
    --info-transition-duration var(--transition-duration-out)
    position relative
  @media (max-width point-l - 1)
    display flex
    flex-direction column
  &:hover
    @media (min-width point-l)
      --before-opacity .7
      --info-opacity 1
      --info-translate-y 0
      --info-pointer-events auto
      --info-transition-duration var(--transition-duration-in)
  &::before
    @media (min-width point-l)
      content ''
      position absolute
      top 5px
      left 5px
      right 5px
      bottom 5px
      background-color #000000
      opacity var(--before-opacity)
      transition opacity var(--info-transition-duration)
      border-radius 8px
  &__title
    fontSize14()
    color var(--color-black)
    @media (min-width point-l)
      position absolute
      top 1.25rem
      left 1.25rem
      right 1.25rem
      color var(--color-white)
      opacity var(--info-opacity)
      translate 0 var(--info-translate-y)
      transition opacity, translate
      transition-duration var(--info-transition-duration)
      pointer-events var(--info-pointer-events)
    @media (max-width point-l - 1)
      order 2
      margin-top .5rem
  &__price
    fontSize16()
    font-weight bold
    color var(--color-black)
    @media (min-width point-l)
      position absolute
      bottom 1.25rem
      left 1.25rem
      right 1.25rem
      color var(--color-white)
      opacity var(--info-opacity)
      translate 0 var(--info-translate-y)
      transition opacity, translate
      transition-duration var(--info-transition-duration)
      pointer-events var(--info-pointer-events)
    @media (max-width point-l - 1)
      order 3
      margin-top .25rem
  &__image
    width 100%
    border-width 6px
    border-style solid
    border-color var(--image-border-color)
    border-radius var(--border-radius-big)
    @media (max-width point-l - 1)
      order 1
