.multi-step-calculator-form
  display flex
  gap 1rem
  @media(max-width point-m - 1)
    flex-direction column
  &__header
    @media(min-width point-m)
      max-width 200px
      padding-right 1rem
      text-align right
      border-right 1px solid var(--color-light)
  &__inner
    flex-shrink 0
  &__comment
    textarea
      height 13rem
  &__phone
    white-space nowrap
.multi-step-calculator-form-success
  display none
