.link-arrow
  --after-transition-duration var(--transition-duration-out)
  position relative
  padding-right 5rem
  &:hover
    @media (min-width point-l)
      --after-scale .75
      --after-transition-duration var(--transition-duration-in)
  &::before
  &::after
    content ''
    position absolute
    top 50%
    right 0
  &::before
    width .375rem
    height .375rem
    border-top 1px solid currentColor
    border-right 1px solid currentColor
    transform translateY(-50%) rotate(45deg)
  &::after
    width 3.75rem
    height .0625rem
    background-color currentColor
    transform translateY(-50%) scale(var(--after-scale, 1))
    transform-origin 100% 0 0
    transition transform var(--after-transition-duration)
