.service-header
  padding-top 0
  &__banner
    position relative
    display flex
    flex-direction column
    justify-content center
    align-items flex-start
    gap var(--gap)
    min-height 18.75rem
    background-color #fff8f8
    border-radius var(--border-radius-big)
    @media (min-width point-m)
      padding 2rem 3.75rem
    @media (max-width point-m - 1)
      padding var(--gap) var(--base-padding)
    &::before
      content ''
      position absolute
      top 0
      left 0
      z-index 2
      width 100%
      height 100%
      background-image linear-gradient(90deg,#fef7f7 44.89%,rgba(254,247,247,.46) 53.37%,rgba(254,247,247,0) 57.81%)
      @media(max-width point-s - 1)
        background-image linear-gradient(90deg,#fef7f7 44.89%,rgba(254,247,247,.46) 100%,rgba(254,247,247,0) 57.81%)
    & picture
      display unset
  &__title
    z-index 2
    padding-bottom 0
    text-align left
    @media (max-width point-m - 1)
      fontSize32()
    &::after
      content none
  &__list
    display flex
    flex-wrap wrap
    max-width 640px
    // flex-direction column
    // align-items flex-start
    gap 1rem
    z-index 2
  &__subtitle 
    @media(max-width point-s - 1)
      width 100%
    a
      fontSize14()
    // --after-transition-duration var(--transition-duration-out)
    // position relative
    // padding-right 6.5rem
    // font-weight bold
    // text-decoration none
    // &:hover
    //   @media (min-width point-l)
    //     --after-scale 0
    //     --after-translate-x 0
    //     --after-transition-duration var(--transition-duration-in)
    // &::after
    //   content ''
    //   position absolute
    //   top 50%
    //   right 0
    //   width 4rem
    //   height .5rem
    //   background-color currentColor
    //   mask-image var(--icon-arrow-thin)
    //   mask-repeat no-repeat
    //   mask-size 100% auto
    //   mask-position center
    //   rotate 180deg
    //   translate var(--after-translate-x, -1rem) -50%
    //   transition translate var(--after-transition-duration)
  &__image
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    object-fit cover
    object-position center
    @media(max-width point-s - 1)
      object-position 70% 50%
  .page-subsection + &__breadcrumbs
    margin-top 1.25rem
  &__navigation
    display flex
    flex-wrap wrap
    gap .625rem 1.25rem
  &__button
    z-index 5
