+pageSection.service-header
  +pageSubsection.service-header__banner
    if serviceTemplatePage
      h1.service-header__title Окрашивание волос
      ul.service-header__list
        li.service-header__subtitle
          a(href='#' onclick='Comagic.openSitePhonePanel()').button Записаться на окрашивание волос
        li.service-header__subtitle
          a(href='#page-prices').button.button--secondary Стоимость услуг 
        li.service-header__subtitle
          a(href='#coloring-calculator').button.service-header__button Калькулятор стоимости
      +img({ 
        name: 'service-header',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'png', orig: true },
        ]
      })(alt='Стрижка' title='Стрижка').service-header__image
    else 
      h1.service-header__title Наращивание на короткие волосы в Санкт-Петербурге
      ul.service-header__list
        li.service-header__subtitle
          a(href='#' onclick='Comagic.openSitePhonePanel()').button Записаться на наращивание на короткие волосы
        li.service-header__subtitle
          a(href='#page-prices').button.button--secondary Стоимость услуг 
    
    //- if serviceTemplatePage
    //-   h1.service-header__title Окрашивание волос
    //-   ul.service-header__list
    //-     li.service-header__subtitle
    //-       a(href='#') Записаться на наращивание на короткие волосы
    //-     li.service-header__subtitle
    //-       a(href='#page-prices') Стоимость услуг 
    //-     li.service-header__subtitle
    //-       a(href='#coloring-calculator') Калькулятор стоимости
    //-   +img({ 
    //-     name: 'service-header',
    //-     path: '/images/',
    //-     formats: [
    //-       { ext: 'webp', mime: 'image/webp' },
    //-       { ext: 'png', orig: true },
    //-     ]
    //-   })(alt='Стрижка' title='Стрижка').service-header__image
    //- else 
    //-   h1.service-header__title Наращивание на короткие волосы в Санкт-Петербурге
    //-   ul.service-header__list
    //-     li.service-header__subtitle
    //-       a(href='#') Записаться на наращивание на короткие волосы
    //-     li.service-header__subtitle
    //-       a(href='#page-prices') Стоимость услуг 

  +breadcrumbs({ parents: [ 'Главная', 'Услуги' ], current: 'Стрижка' }).page-subsection.service-header__breadcrumbs
  +pageSubsection.service-header__navigation
    +button({ tag: 'a', secondary: true })(href='/').service-header__navigation-item Женская стрижка
    +button({ tag: 'a', secondary: true })(href='/').service-header__navigation-item Мужская стрижка
    +button({ tag: 'a', secondary: true })(href='/').service-header__navigation-item Стрижка горячими ножницами
