.master-item
  display flex
  flex-direction column
  @media (max-width point-l - 1)
    display grid
    align-items start
    grid-template-columns 1fr 1fr
    grid-template-rows repeat(2, min-content) 1fr
    grid-gap .5rem var(--base-padding)
  @media (max-width point-s - 1)
    display flex
  &__image
    position relative
    &:hover .master-item__button
      transform translate(-50%, -3.5rem)
      transition-duration var(--transition-duration-in)
      opacity 1
      z-index 2
    @media (max-width point-l - 1)
      grid-column 1/2
      grid-row 1/4
    @media (max-width point-s - 1)
      align-self flex-start
  &__button
    position absolute
    left 50%
    font-size 0.875rem
    transform translate(-50%, -3.5rem)
    @media(min-width point-l)
      transition opacity var(--transition-duration-out)
      opacity 0
  &__image-item
    border-radius var(--border-radius-big)

  &__title
    margin-top 1.25rem
    fontSize14()
    font-weight bold
    color var(--color-beige)
    @media (max-width point-l - 1)
      grid-column 2/3
      grid-row 1/2
      margin-top 0
    @media (max-width point-m - 1)
      fontSize16()
  
  &__list
    margin-top .625rem
    padding-left 1rem
    fontSize14()
    @media (max-width point-l - 1)
      grid-column 2/3
      grid-row 2/3
      margin-top 0
    @media (max-width point-m - 1)
      fontSize16()
  &__list-item
    list-style disc
    & + &
      margin-top .25rem
    &::marker
      color var(--color-beige)

  &__more
    margin-top 0.625rem
    fontSize14()
    @media (max-width point-l - 1)
      grid-column 2/3
      grid-row 3/4
      margin-top 0
    @media (max-width point-m - 1)
      fontSize16()
