include /blocks/img/img

mixin masterItem(item)
  .master-item&attributes(attributes)
    .master-item__image
      +img({
        name: item.image,
        path: '/images/',
        formats: [
          { ext: 'jpg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
      })(alt= item.title title= item.title width=480 height=960).master-item__image-item
      +button({ tag: 'a' })(href='/').master-item__button Записаться

    h2.master-item__title= item.title
    ul.master-item__list
      each val in item.list
        li.master-item__list-item= val
    a(href='/').master-item__more Подробнее
