.countdown
	display flex
	justify-content center
	&__item 
		text-align center
	&__val 
		font-size 2rem
		font-weight 700
		color var(--color-beige)
	&__separator 
		margin 0 1rem
		font-size 2rem
		line-height 1
		font-weight 700
		color var(--color-grey)
		@media(max-width point-m - 1)
			margin 0 0.8rem
	&__text 
		font-size 0.875rem
