.border
  border var(--border-width) solid var(--border-color)
  &--pink
    --border-width 6px
    --border-color #f1d2d6
  &--blue
    --border-width 6px
    --border-color #d4e4f1
  &--beige
    --border-width 6px
    --border-color #f6eddc
  &--beige-light
    --border-width 6px
    --border-color var(--color-beige-light)
