.news-item
  position relative
  padding-left 0.625rem
  & + &
    margin-top 1.875rem
  &::before
    content ''
    left 0
    position absolute
    width 1px
    height 100%
    background-color var(--color-beige-light)
  &__link
    fontSize20()
    color var(--color-black)
    text-decoration none
  &__date
    position relative
    margin-top 0.6rem
    padding-left 1.3rem
    fontSize12()
    &::before
      position absolute
      content ''
      top 50%
      left 0
      transform translateY(-50%)
      width 17px
      height 17px
      background-image var(--icon-date)
      background-repeat no-repeat