h2
.h2
  fontSize32()
  font-weight bold
  & + p
  & + .par
  & + .unordered-list
    margin-top .75rem
  p + &
  .par + &
  .page-subsection + &
    margin-top 2rem
  & + :is(h3, .h3)
    margin-top 9px
