.staff-info
  @media (max-width point-m)
    display flex
    flex-direction column
    align-items center
  &__announcement
    display flex
    justify-content space-between
    align-items center
    margin-left -2.5rem
    @media (max-width point-m)
      margin-left 0
    @media (max-width point-s)
      display flex
      flex-direction column
  &__image
    display: flex
    flex-direction: column
    align-items center
    justify-content: flex-start
    margin-top -1rem
    z-index 1
  &__button
    margin-top 2rem
  &__title
    color var(--color-link-hover)
  &__link
    text-decoration none