.link-icons
  display flex
  align-items center
  gap var(--base-padding)
  &--inline
    display inline-flex
  &__link
    display block
    width 1.325rem
    height 1.325rem
    background-color var(--color-link)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    transition color var(--transition-duration-out)
    &:hover
      background-color var(--color-link-hover)
      transition-duration  var(--transition-duration-in)
    &:active
      background-color var(--color-link-active)
    for icon in 'vk' 'whatsapp' 'telegram' 'viber'
      &--{icon}
        mask-image var(unquote('--icon-' + icon))
