mixin linkIcons(list = [], settings = {})
  -
    const links = {
      vk: 'https://vk.com/club2142527',
      whatsapp: 'whatsapp://send?phone=79817245628&text=',
      telegram: 'tg://resolve?domain=HairCareCenter',
      viber: 'viber://chat?number=79817245628',
    }
  div(class= classes('link-icons', settings))&attributes(attributes)
    each item in list
      - const itemClass = `link-icons__link link-icons__link--${item}`
      a(href != links[item] class != itemClass target='_blank')
