.header
  position relative
  z-index 1000
  box-shadow 0 0 24px rgba(191, 184, 183, .3)
  &__call
  &__message
    background-color var(--color-beige)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
  &__call
    mask-image var(--icon-tel)
  &__message
    mask-image var(--icon-whatsapp)
  &__switcher
    --before-opacity 1
    --after-opacity 0
    position relative
    padding 0
    background-color transparent
    border none
    transition opacity var(--transition-duration-in)
    &--active
      --before-opacity 0
      --after-opacity 1
      & ~ ^[-2]__navigation
      & ~ ^[-2]__search
        opacity 1
        transform none
        pointer-events auto
    &::before
    &::after
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-color var(--color-black)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    &::before
      mask-image var(--icon-menu)
      opacity var(--before-opacity)
    &::after
      mask-image var(--icon-close)
      opacity var(--after-opacity)
  &__navigation
  &__search
    @media (max-width point-l - 1)
      position absolute
      left 0
      display block
      width 100%
      max-width 100vw
      padding-x var(--base-padding)
      background-color var(--color-white)
      opacity 0
      transform translateY(-2rem)
      transition-property opacity, transform
      transition-duration var(--transition-duration-in)
      pointer-events none
  &__navigation
    @media (max-width point-l - 1)
      top 11.375rem
  &__search
    @media (max-width point-l - 1)
      top 8.375rem
  &__banner
    order 3
