include /blocks/phone/phone
include /blocks/logo/logo
include /blocks/header-search/header-search
include /blocks/icon-inline/icon-inline
include /blocks/header-navigation/header-navigation
include /blocks/header-sites/header-sites
include /blocks/modal/modal
include /blocks/banner-schedule/banner-schedule

include /data/header-navigation

header.header
  +headerSites.header__sites
  +container: +content.header__inner
    +logo.header__logo
    .header__address
      +iconInline('clock').header__address-item.hidden-m.hidden-s.hidden-xs пн-пт: с 10:00 до 21:00
      +iconInline('clock').header__address-item.hidden-m.hidden-s.hidden-xs сб-вс: с 10:00 до 19:00
      +iconInline('pin').header__address-item.hidden-m.hidden-s.hidden-xs СПб, наб. Обводного канала 108
      +iconInline('metro').header__address-item.hidden-m.hidden-s.hidden-xs Балтийская / Фрунзенская
      +iconInline('pin', { tag: 'a' })(href='/kontakty/').header__address-item.hidden-hd.hidden-xl.hidden-l СПб, наб. Обводного канала 108
    .header__contacts.hidden-m.hidden-s.hidden-xs
      +phone({ icon: true }).header__phone
      a(href='#a').header__call-back Заказать обратный звонок
    a(href='').header__message.hidden-hd.hidden-xl.hidden-l
    a(href='tel:').header__call.hidden-hd.hidden-xl.hidden-l
    button(type='button').header__switcher.hidden-hd.hidden-xl.hidden-l
    +button({ tag: 'a' })(href='#').header__button.hidden-m.hidden-s.hidden-xs Записаться на приём
    +headerNavigation(headerNavigation).header__navigation
    +headerSearch.header__search
  //- +container.header__banner.text-align-center: +content
  //-   p 27 декабря и 28 декабря: сокращенный день до 17:00 #[br] #[strong #[a(href='#new-year' data-modal) График работы в праздничные дни]]
  //-   +modal#new-year
  //-     p 30&nbsp;декабря: с 10:00 до 19:00 #[br] 31&nbsp;декабря&nbsp;&mdash; 3&nbsp;января: выходной #[br] 4&nbsp;января&nbsp;&mdash; 6&nbsp;января: с 10:00 до 19:00 #[br] 7 января: выходной #[br] 8 января: с 10:00 до 19:00 #[br] c 09 января работаем в обычной режиме
  +bannerSchedule
