.header
  display flex
  flex-direction column
  margin-bottom 1.5rem
  &__inner
    display grid
    grid-column-gap calc(var(--gap) / 2)
    grid-row-gap 1.25rem
    align-items center
    padding-top 2rem
    padding-bottom 1.25rem
    @media (min-width point-l)
      grid-template-areas 'logo . address contacts contacts contacts' 'logo border border border border border' 'logo navigation navigation search button button'
      grid-template-columns auto 1fr repeat(3, auto) auto
    @media (max-width point-l - 1)
      grid-template-areas 'logo message call switcher' 'address address address address'
      grid-template-columns auto repeat(3, min-content)
      grid-column-gap var(--base-padding)
    &::before
      @media (min-width point-l)
        content ''
        grid-area border
        height 1px
        background-color var(--color-light)
  &__logo
    grid-area logo
    @media (min-width point-l)
      margin-right 2.5rem
  &__address
    fontSize12()
    grid-area address
    display flex
    flex-wrap wrap
    gap .75rem 1.25rem
    @media (min-width point-l)
      justify-content flex-end
      margin-left 2rem
    @media (max-width point-l - 1)
      justify-content center
  &__contacts
    grid-area contacts
    display flex
    flex-direction column
    align-items flex-end
  &__call-back
    fontSize12()
    margin-top .5rem
  &__button
    grid-area button
    align-self center
    @media (max-width point-l - 1)
      display none
  &__navigation
    @media (min-width point-l)
      grid-area navigation
      margin-left 1rem
    @media (max-width point-l - 1)
      display none
  &__search
    grid-area search
    @media (max-width point-l - 1)
      display none
  &__message
    grid-area message
    width 2rem
    height 2rem
  &__call
    grid-area call
    width 2rem
    height 2rem
  &__switcher
    grid-area switcher
    width 2rem
    height 2rem
  &__banner
    padding-y 1.5rem
    border-top 1px solid var(--color-light)
