.text-marked
  &--padding
    &--left
      @media (min-width point-m)
        padding-left var(--gap)
      @media (max-width point-m - 1)
        padding-left var(--base-padding)
  &--size--s
    fontSize18()
  &--size--m
    fontSize20()
  &--size--xs
    fontSize14()
  &--color--beige
    color var(--color-link-hover)
  &--color--grey
    color var(--color-grey)
  &--bold
    font-weight 700
