include /blocks/modal/modal

+modal.hair-extention-sign#hair-extention-sign
  +grid({ alignItems: 'flex-end' }).hair-extention-sign__inner
    +cell({ m:3 }).hair-extention-sign__image
      img(src="/images/module-1.png" loading='lazy' decoding='async')
    +cell({ m:9 }).hair-extention-sign__appointment
      h2.text-align-center.hair-extention-sign__header Запишитесь&nbsp;на #[span] прямо&nbsp;сейчас!
      +textMarked({ color: 'beige', size: 'm' }).text-align-center #[strong Укладка и причёска в подарок!]
      +ul
        +li Опыт работы мастеров от 15 лет
        +li 100% качество славянских волос
        +li Все цвета и длины от 40 до 85 см в наличии
      include ../hair-extention-sign-form/hair-extention-sign-form
