.hair-extention-sign
  &__inner
    background-color var(--color-beige-lighter)
    @media(max-width point-m - 1)
      padding 0 1rem
  &__appointment
    display flex
    flex-direction column
    row-gap 1rem
    padding 1rem 0
    min-height 28rem
    max-width 32rem
    @media(max-width point-m - 1)
      min-height auto
      padding 1rem 0
  &__header
    @media(max-width point-m - 1)
      font-size 1.5rem
  &__image
    @media(max-width point-m - 1)
      display none
