
.works-slider
  &.page-subsection
    margin-top 0
  position fixed
  display flex
  top 0
  background-color rgba(0,0,0,.92)
  opacity 0
  width 100%
  height 100%
  left 0
  pointer-events none
  transition opacity 0.4s
  &--active
    opacity 1
    pointer-events auto
    z-index 1500
    transition opacity 0.4s
  &__slide
    display flex
    flex-direction column
    justify-content center
    align-items center
    max-height 100vh
    padding-top 40px
    padding-bottom 40px
    img
    video
      width auto
      max-width 100%
      height auto
      max-height 100%
      object-fit contain
      object-position center
    &:has(.works-slider__description--active)
      img 
        max-height 93%
  &__inner
    @media(max-width point-m - 1)
      width 100%
    max-height calc(100vh - 136px)
  &__description
    padding 18px
    background-color var(--color-white)
    display none
    &--active
      display block
  .slider
    &__arrow
      z-index 100
      top 50%
      transform translateY(-50%)
      &--next
        transform translateY(-50%) rotate(180deg)
      @media(min-width point-m)
        --arrow-position 40px

.works-slider-button
  position absolute
  top 20px
  right 20px
  width 20px
  height 20px
  background-color var(--color-white)
  border none
  mask-image url(../images/svg-sprites/common.svg?v=1#cross-1)
  mask-repeat no-repeat
  mask-position center
  mask-size cover
  cursor pointer
  opacity 0.7
  transition opacity var(--transition-out)
  z-index 100
  &:hover
    opacity 1
    transition-duration var(--transition-in)
