.icon-block
  display flex
  align-items center
  gap calc(var(--base-padding) * 1.5)
  min-height 6rem
  padding 1rem 1.5rem
  background-color var(--color-beige-lighter)
  border-radius var(--border-radius-big)
  @media (max-width point-s - 1)
    flex-direction column
    align-items center
  &::before
    content ''
    flex-shrink 0
    width 4rem
    height 4rem
    background-color var(--color-link-active)
    mask-image var(--icon-image)
    mask-repeat no-repeat
  &__inner
    align-self center
  &--palette
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--palette)
  &--color-palette
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--color-palette)
  &--recycling
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--recycling)
  &--certificate
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--certificate)
  &--certificate-1
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--certificate-1)
  &--shield
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--shield)
  &--wallet
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--wallet)
  &--training
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--training)
  &--hairs
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--hairs)
  &--customer
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--customer)
  &--diagnosis
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--diagnosis)
  &--diagnosis-1
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--diagnosis-1)
  &--diagnosis-2
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--diagnosis-2)
  &--cutting
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--cutting)
  &--extension
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--extension)
  &--cosmetics
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--cosmetics)
  &--cosmetics-1
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--cosmetics-1)
  &--cosmetics-2
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--cosmetics-2)
  &--cosmetics-3
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--cosmetics-3)
  &--brush
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--brush)
  &--bath
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--bath)
  &--smiling
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--smiling)
  &--time
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--time)
  &--quality
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--quality)
  &--team
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--team)
  &--policy
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--policy)
  &--money
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--money)
  &--coins
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--coins)
  &--short-hair
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--short-hair)
  &--no-chemical
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--no-chemical)
  &--purse
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--purse)
  &--pregnant
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--pregnant)
  &--loss
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--loss)
  &--woman-hair
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--woman-hair)
  &--pantone
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--pantone)
  &--group
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--group)
  &--manufacturing
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--manufacturing)
  &--discount
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--discount)
  &--expert
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--expert)
  &--hairdresser
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--hairdresser)
  &--haircolor
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--haircolor)
  &--hairdye
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--hairdye)
  &--hairdye-1
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--hairdye-1)
  &--coloring
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--coloring)
  &--hair-dye-brush
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--hair-dye-brush)
  &--hair-dye-brush-1
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--hair-dye-brush-1)
  &--guidelines
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--guidelines)
  &--no-sulfate
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--no-sulfate)
  &--conditioner
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--conditioner)
  &--mousse
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--mousse)
  &--hair-spray
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--hair-spray)
  &--beauty-treatment
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--beauty-treatment)
  &--budget
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--budget)
  &--talent
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--talent)
  &--colorant
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--colorant)
  &--tint
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--tint)
  &--hair
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--hair)
  &--shampoo
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--shampoo)
  &--essential-oil
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--essential-oil)
  &--dye
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--dye)
  &--man
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--man)
  &--best
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--best)
  &--medical-protection
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--medical-protection)
  &--office-chair
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--office-chair)
  &--hair-1
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--hair-1)
  &--verification
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--verification)
  &--customer-service
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--customer-service)
  &--like
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--like)
  &--graduation-hat
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--graduation-hat)
  &--prevention
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--prevention)
  &--cosmetics-4
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--cosmetics-4)
  &--cosmetics-5
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--cosmetics-5)
  &--webinar
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--webinar)
  &--tea-cup
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--tea-cup)
  &--hairdresser-1
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--hairdresser-1)
  &--sanitization
    --icon-image url(../images/svg-sprites/inner.svg?v=2#icon-block--sanitization)
