.glightbox-container .ginner-container
  display grid
  grid-template-columns minmax(15vw, 500px)
  grid-template-rows 1fr auto

.glightbox-clean .gslide-desc
  font-size 1rem
  line-height 1.2
  font-family 'Montserrat', 'Helvetica-Neue', 'Arial', sans-serif
  color var(--color-black)

.gslide-description
  // max-width 600px
  width auto

// .gslide-image img
//   @media(min-width point-m)
//     max-height 82vh
.desc-bottom .gslide-image img
  width 100%

.glightbox-mobile .glightbox-container .gslide-desc
  color var(--color-white)
