include /blocks/form-input/form-input

mixin headerSearch
  .header-search&attributes(attributes)
    button.header-search__switcher
    .header-search__form
      +formInput({ type: 'search', placeholder: 'Поиск' }).header-search__input
      button(type='submit').header-search__submit
