.header-search
  position relative
  &__form
    display none
  &__switcher
    @media (min-width point-l)
      width 2.5rem
      height 2.5rem
    @media (max-width point-l - 1)
      display none
