.header-search
  z-index 500
  @media (min-width point-l)
    --form-opacity 0
    --form-translate 100%
    --form-pointer-events none
    --form-transition-duration var(--transition-duration-out)
    position relative
  &--active
    @media (min-width point-l)
      --form-opacity 1
      --form-translate calc(100% + .625rem)
      --form-pointer-events auto
      --form-transition-duration var(--transition-duration-in)
  &__form
    display block
    @media (min-width point-l)
      position absolute
      bottom 0
      right -2rem
      width 16rem
      opacity var(--form-opacity)
      transform translateY(var(--form-translate))
      pointer-events var(--form-pointer-events)
      transition-property opacity, transform
      transition-duration var(--form-transition-duration)
  .form-input__field
    &::-webkit-search-decoration
    &::-webkit-search-cancel-button
    &::-webkit-search-results-button
    &::-webkit-search-results-decoration
      -webkit-appearance none
  &__submit
    --icon-color var(--color-grey)
    --icon-transition-duration var(--transition-duration-out)
    position absolute
    top 0
    right 0
    width 2.5rem
    height 100%
    appearance none
    display flex
    justify-content center
    align-items center
    background-color transparent
    border none
    @media (max-width point-l - 1)
      right var(--base-padding)
    &:hover
      --icon-color var(--color-black)
      --icon-transition-duration var(--transition-duration-in)
    &::before
      content ''
      width 1.125rem
      height 1.125rem
      background-color var(--icon-color)
      mask-image url(../images/svg-sprites/common.svg#zoom)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      transition background-color var(--icon-transition-duration)
  &__switcher
    background-color var(--color-button)
    mask-image url(../images/svg-sprites/common.svg#zoom)
    mask-repeat no-repeat
    mask-position center
    mask-size 1.5rem
    transition background-color var(--icon-transition-duration)
    &:hover
      background-color var(--color-button-hover)
    &:active
      background-color var(--color-button-active)
