-
  const headerNavigation = [
    { name: 'О нас', href: '#', sublist: [
        { name: 'Новости', href: '#' },
      ] },
    { name: 'Вакансии', href: '#'},
    { name: 'Услуги', sublist: [
        { name: 'Стрижка', href: '#', 
          sublist: [
            { name: 'Декапирование', href: '#' },
            { name: 'Колорирование', href: '#' },
            { name: 'Колорирование', href: '#' },
          ]
        },
        { name: 'Причёска', href: '#',
          sublist: [
            { name: 'Декапирование', href: '#' },
        ]
         },
        { name: 'Окрашивание волос', href: '#',
          sublist: [
            { name: 'Декапирование', href: '#' },
            { name: 'Колорирование', href: '#' },
            { name: 'Калифорнийское мелирование', href: '#' },
            { name: 'Калифорнийское мелирование', href: '#' },
            { name: 'Калифорнийское мелирование', href: '#' },
            { name: 'Декапирование', href: '#' },
            { name: 'Колорирование', href: '#' },
            { name: 'Декапирование', href: '#' },
            { name: 'Колорирование', href: '#' },
          ]
        },
        { name: 'Наращивание волос', href: '#',
          sublist: [
          { name: 'Коррекция нарощенных волос', href: '#' },
          { name: 'Капсульное наращивание', href: '#' },
          { name: 'Голливудское наращивание', href: '#' },
          { name: 'Калифорнийское мелирование', href: '#' },
          { name: 'Калифорнийское мелирование', href: '#' },
          { name: 'Калифорнийское мелирование', href: '#' },
          { name: 'Декапирование', href: '#' },
          { name: 'Колорирование', href: '#' },
          { name: 'Декапирование', href: '#' },
          { name: 'Колорирование', href: '#' },
          { name: 'Декапирование', href: '#' },
        ]
        },
        { name: 'Уход и лечение', href: '#',
          sublist: [
          { name: 'Ламинирование', href: '#' },
          { name: 'Ботокс для волос', href: '#' },
          { name: 'Нанопластика', href: '#' },
          ]
        },
        { name: 'Укладка', href: '#' },
        { name: 'Выпрямление волос', href: '#' },
        { name: 'Завивка волос', href: '#' },
        { name: 'Макияж', href: '#' },
      ] },
    { name: 'Цены', href: '#' },
    { name: 'Мастера', href: '#' },
    { name: 'Акции', href: '#' },
    { name: 'Отзывы', href: '#'},
    { name: 'Контакты', href: '#', sublist: [
        { name: 'Онлайн консультация', href: '#' },
      ] },
  ]
