extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Ботокс для волос
    +grid.page-subsection
      +cell({ m:6 })
        p Ботокс для волос&nbsp;— профессиональная салонная процедура глубокого кондиционирования, делающая локоны шелковистыми и&nbsp;сияющими. Рабочий состав не&nbsp;включает ботулотоксин. Название процедура получила благодаря схожему с&nbsp;инъекциями нейротоксина разглаживающему эффекту. Еще botox-состав не&nbsp;хуже тонирующих шампуней нейтрализует желтизну.
        p Горячий ботокс для волос применяют для оздоровления и&nbsp;выпрямления локонов. Метод предполагает использование утюжка. Температура нагрева зависит от&nbsp;структуры и состояния волосяного покрова. Для холодного не&nbsp;требуется выпрямление прядей теплом. Применяется для лечебных целей.
      +figure({
        image: {
          name: 'botoks-dlya-volos-1',
          path: '/images/uslugi/uhod-i-lechenie/botoks-dlya-volos/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Ботокс преображает ваши волосы',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Основные компоненты ботокса
      p Процедура придает волосам пышность и&nbsp;блеск благодаря смеси разглаживающих, увлажняющих, заполняющих поры, защищающих от&nbsp;термического и&nbsp;механического воздействия ингредиентов.
      +grid.par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Протеины и&nbsp;кератины
            p Волосяной стержень на&nbsp;90&nbsp;% состоит из&nbsp;белка кератина&nbsp;— разновидности протеина. Протеины&nbsp;(смесь аминокислот) отвечают за&nbsp;защиту и&nbsp;стойкость волосяного стержня к&nbsp;механическому повреждению. Протеины в&nbsp;косметических продуктах влияют на&nbsp;структуру волоса изнутри и&nbsp;снаружи, сглаживая кутикулу, восстанавливая однородность пористых и&nbsp;плотность тонких локонов.
            p Помимо гидролизированного кератина составы для botox-процедуры содержат аминокислоты шелка и&nbsp;гидролизованный белок пшеницы, которые прикрепляются к&nbsp;волосяным фолликулам и&nbsp;наполняет кутикулы.
          +figure({
            image: {
              name: 'botoks-dlya-volos-2',
              path: '/images/uslugi/uhod-i-lechenie/botoks-dlya-volos/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Эффект ботокса на структуре волоса',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius

        +cell({ m:6 })(class= gridClasses({ smallGap: 'y', alignContent: 'space-between' }))
          +cell
            h3 Витамины и&nbsp;растительные экстракты
            +ul.par
              +li Витамин&nbsp;А возвращает здоровый блеск, предохраняет от&nbsp;агрессивных факторов, делает локоны упругими;
              +li Витамины группы&nbsp;В предотвращают ломкость и&nbsp;нарушения структуры волосяного стержня;
              +li Витамин&nbsp;Е наполняет волосы силой и&nbsp;сиянием, борется со&nbsp;свободными радикалами;
              +li Вытяжка зеленого чая защищает от&nbsp;ломкости, возвращает шевелюре здоровый блеск;
              +li Экстракт алоэ вера наполняет стержни влагой, профилактирует расслаивание концов;
              +li Экстракт ламинарии содержит целый комплекс микроэлементов, улучшающих состояние волосяного покрова.
          +figure({
            image: {
              name: 'botoks-dlya-volos-3',
              path: '/images/uslugi/uhod-i-lechenie/botoks-dlya-volos/',
              formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                  { values: [ 1, 2 ] }
              ],
              alt: 'Витамины и растительные экстракты',
            },
          })(class= cellClasses({ xs:12 })).figure--image-radius
        +cell
          h3 Гиалуроновая кислота
          p Элемент активно восполняет нехватку влаги, его молекула удерживает воду в&nbsp;1000&nbsp;раз превышающую ее по&nbsp;весу. Делает пряди плотными и&nbsp;упругими без утяжеления. Повышает способность стержня удерживать влагу.

    +pageSubsection
      h2 Преимущества процедуры
      +grid.par
        +cell({ m:6 })
          +ul.par
            +li Восстанавливает поврежденные пористые локоны;
            +li Безопасный состав;
            +li Насыщает и&nbsp;удерживает влагу;
            +li Восполняет нехватку белков и&nbsp;витаминов, необходимых для здоровья волос;
            +li Восстанавливает мягкость и&nbsp;блеск шевелюры;
            +li Разглаживает вьющиеся локоны;
            +li Облегчает расчесывание и&nbsp;укладку;
            +li Предупреждает повреждение, ломкость и&nbsp;пушистость.
        +figure({
          image: {
            name: 'botoks-dlya-volos-4',
            path: '/images/uslugi/uhod-i-lechenie/botoks-dlya-volos/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Преимущества ботокса для волос',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Показания и&nbsp;противопоказания
      +grid.par
        +cell({ m:6 })
          h3 Кому подходит процедура
          p Процедура показана любому типу волос для решения общих проблем с&nbsp;волосами, таких&nbsp;как:
          +ul.par
            +li секущиеся кончики;
            +li истончение;
            +li пористая структура;
            +li сухость;
            +li тусклость;
            +li склонность к&nbsp;запутыванию.
        +cell({ m:6 })
          h3 Риски и ограничения
          +ul.par
            +li Беременность;
            +li Чувствительность к&nbsp;компонентам наносимого состава;
            +li Дерматологические заболевания;
            +li Раны, царапины, термическое повреждение и&nbsp;гнойничковые высыпания.
          p Процедуру botox проводят не&nbsp;раньше чем, через 2&nbsp;недели после окрашивания.

    +pageSubsection
      h2 Показания и&nbsp;противопоказания
      p Для процедуры «Ботокс для волос» в&nbsp;салоне Hair Care Center используем Botox make&nbsp;Up 45&nbsp;Malecula Crx Reconstructive с&nbsp;кератином, экстрактами ягод, морских водорослей, кофейных зерен и&nbsp;маслом купуасу в&nbsp;составе. Многофункциональная формула и&nbsp;уникальная текстура помогают добиться впечатляющего результата уже после первой процедуры. Состав представлен в&nbsp;двух вариантах: без пигмента, с&nbsp;синим пигментом для блондинок.
      +grid.par
        +cell({ m:6 })
          +ul.par
            +li Диагностируем состояние волосяного покрова клиента, чтобы определить степень повреждения волосяных стержней.
            +li Моем голову шампунем глубокого действия, чтобы очистить волосы от&nbsp;пыли, силиконов, себума. Повторяем действие 1-2&nbsp;раза в&nbsp;зависимости от&nbsp;степени загрязненности.
            +li Подсушиваем локоны феном без нагрева или полотенцем.
            +li Разделяем волосы на&nbsp;4&nbsp;секции, и&nbsp;прядь за&nbsp;прядью наносим лечебный состав, отступая сантиметр от&nbsp;корней. Выдерживаем 15-30&nbsp;минут
            +li Не&nbsp;смывая состав, высушиваем локоны феном, чередуя холодный и&nbsp;теплый потоки.
            +li Прорабатываем прядки утюгом, разогретым до&nbsp;190-230 градусов, по&nbsp;6-12&nbsp;раз в&nbsp;зависимости от&nbsp;структуры. Даем волосам время остыть.
            +li Смываем остатки botox-средства теплой водой без шампуня.
            +li Для закрепления результата наносим небольшое количество несмываемой увлажняющей маски, укладываем прическу.
        +figure({
          image: {
            name: 'botoks-dlya-volos-5',
            path: '/images/uslugi/uhod-i-lechenie/botoks-dlya-volos/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Нанесение состава на волосы',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell
          p Результат сохраняется 1,5-3&nbsp;месяца, на&nbsp;продолжительность влияет состояние волосяного покрова и&nbsp;последующий уход. Цена за&nbsp;процедуру «Ботокс для волос» определяется длиной волос.

    +pageSubsection
      h2 Рекомендации по&nbsp;уходу после ботокса
      +grid.par
        +figure({
          image: {
            name: 'botoks-dlya-volos-6',
            path: '/images/uslugi/uhod-i-lechenie/botoks-dlya-volos/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'До и после процедуры',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          p Чтобы в&nbsp;полной мере воспользоваться восстановительными преимуществами botox, избегают контакта с&nbsp;водой и&nbsp;повышенной влажности три дня после процедуры. Это значит, что нельзя мыть голову, интенсивно тренироваться до&nbsp;пота.
          +ul.par
            +li Используйте для очищения и&nbsp;ухода безсульфатную косметику;
            +li Смывайте шампунь прохладной водой;
            +li После мытья волосы промакивайте полотенцем или сушите феном в&nbsp;прохладном режиме.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Можно ли делать ботокс для волос дома?</h3>').par
            p Да, но&nbsp;будьте готовы получить непредсказуемый результат. Даже в&nbsp;салоне эффект зависит от&nbsp;квалификации и&nbsp;опыта мастера. Важно придерживаться рекомендаций в&nbsp;инструкции. Нарушение технологии приводит к&nbsp;засаленности волос, потере объема, перхоти и&nbsp;зуду.
          +accordionItem('<h3>Есть ли возрастные ограничения для процедуры?</h3>').par
            p Да, процедуру не&nbsp;делают клиентам моложе 16&nbsp;лет.
          +accordionItem('<h3>Как часто повторять процедуру?</h3>').par
            p У&nbsp;терапии накопительный эффект. Чтобы поддержать результат последующий сеанс рекомендован через 2&nbsp;месяца после первого. Далее процедура по&nbsp;желанию повторяется раз в&nbsp;6&nbsp;месяцев. При сильно поврежденных локонах терапию ботоксом проводят каждые 4&nbsp;месяца.
          +accordionItem('<h3>Может ли ботокс для волос вызвать аллергию?</h3>').par
            p Да, если есть аллергия на&nbsp;компоненты наносимого продукта.
          +accordionItem('<h3>Влияет ли климат на долговечность эффекта от ботокса?</h3>').par
            p Да, влажный воздух открывает волосяную кутикулу, а&nbsp;морская соль разрушает каркас, созданный ботоксом.
          +accordionItem('<h3>Ботокс делают только на длинные волосы?</h3>').par
            p Нет, терапию проводят и&nbsp;на&nbsp;коротких локонах, чтобы уменьшить пушистость и&nbsp;увеличить объем. Главное, чтобы длина стрижки позволяла отступить от&nbsp;корней 1-2&nbsp;см при нанесении средства.
