extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Ламинирование волос
    +grid.page-subsection
      +figure({
        image: {
          name: 'laminirovanie-volos-1',
          path: '/images/uslugi/uhod-i-lechenie/laminirovanie-volos/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Результат ламинирования волос',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Для большинства женщин ухоженные волосы и&nbsp;стильная укладка&nbsp;— неотделимая составляющая привлекательного образа. Чтобы прическа выглядела идеально, используют термоприборы для сушки и&nbsp;выпрямления локонов, косметические продукты для укладки и&nbsp;фиксации. В&nbsp;результате шевелюра высыхает, волосы теряют блеск, начинают расслаиваться.
        p Вернет поврежденным локонам былую силу и&nbsp;энергию востребованная в&nbsp;нашем салоне услуга «Ламинирование волос», которая оздоравливает волосы, защищает их от&nbsp;негативной внешней среды. После процедуры пряди становятся шелковистыми, блестящими и&nbsp;послушными.

    +pageSubsection
      h2 Что такое ламинирование
      +grid.par
        +cell({ m:6 })
          p Это косметическая процедура, воздействующая на&nbsp;внешнюю поверхность волосяного стержня. Мастера покрывают волосы тонким слоем ламинирующего состава, чтобы они стали мягче, вернули блеск. В&nbsp;продукты для ламинирования входят витамины, кератин, протеины, масла и&nbsp;другие полезные ингредиенты.
          p Ламинирующий раствор окутывает каждый волосок, закрывая чешуйки кутикулы, восстанавливая баланс белков и&nbsp;влаги в&nbsp;стержне. Раствор также сглаживает кудрявые локоны, предохраняет от&nbsp;преждевременного выцветания окрашенные пряди, не&nbsp;утяжеляя при этом прическу.
        +figure({
          image: {
            name: 'laminirovanie-volos-2',
            path: '/images/uslugi/uhod-i-lechenie/laminirovanie-volos/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Ламинирование Ким Кардашьян',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Кому рекомендована процедура
      p Ламинирование борется с&nbsp;рядом проблем волосяного покрова, включая ломкость и&nbsp;сухость, секущиеся концы, а&nbsp;также пористость, которая создает неухоженный вид. Окрашенные в&nbsp;разных техниках пряди выглядят лучше и&nbsp;дольше сохраняют насыщенный цвет, если после окрашивания нанести ламинирующий слой. Также процедура показана обладательницам тонких волос для придания прическе объема.
      p Если у&nbsp;поврежденных прядей сильно выражена сухость, пористость и&nbsp;ломкость, то&nbsp;первая процедура может не&nbsp;решить все проблемы. Для улучшения результата потребуется повторное нанесение ламинирующего состава.

    +pageSubsection
      h2 Преимущества ламинирования
      +grid.par
        +figure({
          image: {
            name: 'laminirovanie-volos-3',
            path: '/images/uslugi/uhod-i-lechenie/laminirovanie-volos/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Ламинирование волос: до и после',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          +ul.par
            +li Благодаря содержанию полезных компонентов ламинирующее средство оказывает сильный оздоравливающий эффект с&nbsp;пролонгированным действием;
            +li Ламинирование делают на&nbsp;длинные волосы, средние и&nbsp;даже короткие;
            +li Дает защиту от&nbsp;механического и&nbsp;термического повреждения, пересушенного и&nbsp;грязного воздуха, испарения влаги;
            +li Волосы приобретают здоровый блеск, дополнительный объем, легко расчесываются, не&nbsp;пушатся и&nbsp;не&nbsp;электризуются;
            +li Доступность после химической завивки и&nbsp;окрашивания;
            +li Экономия времени&nbsp;— укладка занимает мало времени.

    +pageSubsection
      h2 Процесс ламинирования
      p В&nbsp;салоне используем iNeo-Crystal от&nbsp;Estel&nbsp;— средство для экспресс-ламинирования, преображающее волосы без применения термоинструментов. По&nbsp;завершению процедуры клиент получает эластичные, гладкие, сильные и&nbsp;плотные пряди с&nbsp;многомерным переливающимся сиянием. Благодаря «эффекту памяти» локоны быстро восстанавливают исходную форму.
      +grid.par
        +cell
          h3 Этапы
          p Любую процедуру начинаем с&nbsp;консультации и&nbsp;тестирования, где выясняем степень повреждения и&nbsp;обезвоженности волосяного покрова. Честно отвечаем на&nbsp;интересующие гостей вопросы и&nbsp;персонально подбираем количество ламинирующего состава.
        +cell({ m:6 })
          +ul.par
            +li Моем голову шампунем, который тщательно очищает кожу головы и&nbsp;пряди. После мытья наносим на&nbsp;локоны питательную ампулу для увлажнения, исключая корни.
            +li Делим волосяной покров на&nbsp;4&nbsp;части, фиксируем. Наносим ламинирующий гель попрядно, отделяя от&nbsp;каждой части тоненькие прядки, не&nbsp;оставляя необработанных участков. При нанесении избегаем попадания средства на&nbsp;корни.
            +li Собираем пряди наверх и&nbsp;фиксируем зажимом, голову укутываем пленкой или надеваем термошапочку(сушуар). Состав под пленкой прогреваем феном. Тайминг теплового воздействия выставляем персонально.
            +li Смываем теплой водой ламинирующий состав, подсушиваем пряди полотенцем.
            +li Распределяем по&nbsp;всей длине лосьон-закрепитель, который фиксирует образовавшуюся защитную пленку. Лосьон содержит хитозан, обогащает локоны кератином. Закрепитель не&nbsp;смываем.
            +li Завершаем процедуру нанесением полирующей сыворотки на&nbsp;сухие или влажные локоны. Финишное средство придает им блеск, склеивает расслоившиеся кончики.
          p Полученный результат сохраняется 3-6&nbsp;недель. Продолжительность зависит от&nbsp;последующего ухода. Доступно ламинирование только кончиков волос.
        +figure({
          image: {
            name: 'laminirovanie-volos-4',
            path: '/images/uslugi/uhod-i-lechenie/laminirovanie-volos/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Очищение волос',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Рекомендации по&nbsp;уходу
      +ul.par
        +li В&nbsp;первые 2-3&nbsp;дня после процедуры не&nbsp;мыть голову, чтобы дать составу закрепиться;
        +li Для пролонгации результата используют уходовые средства для ламинированных прядей;
        +li Минимизируют воздействие термоприборов, используют термозащиту;
        +li Воздерживаются от&nbsp;использования скрабов кожи головы и&nbsp;питательных масок;
        +li При мытье головы отдают предпочтение мягким безсульфатным шампуням;
        +li Влажные локоны промакивают полотенцем, не&nbsp;трут;
        +li Во&nbsp;время пребывания на&nbsp;солнце используют УФ-защиту.

    +pageSubsection
      h2 Почему ламинирование волос в&nbsp;Санкт-Петербурге стоит сделать в&nbsp;парикмахерской Hair Care Center
      +ul.par
        +li Владеем основами работы с&nbsp;ламинирующими составами и&nbsp;разными типами волос на&nbsp;профессиональном уровне;
        +li Подбираем количество геля и&nbsp;время выдержки под каждого клиента персонально;
        +li Строго соблюдаем технологию, поэтому получаем ожидаемый результат;
        +li При ламинировании используем оригинальные составы;
        +li Консультируем по&nbsp;уходу после ламинирования для поддержания полученного результата;
        +li Рекомендованная косметика представлена в&nbsp;салоне и&nbsp;доступна к&nbsp;покупке.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Делают ламинирование мелированных волос?</h3>').par
            p Да, услуга идеально подходит для обесцвеченных и&nbsp;окрашенных прядей.
          +accordionItem('<h3>Какие противопоказания для процедуры?</h3>').par
            p Дерматиты волосистой части головы, повышенная чувствительность к&nbsp;компонентам ламинирующего состава, онкология.
          +accordionItem('<h3>Что такое шелковое ламинирование волос?</h3>').par
            p Это относительно новый вариант процедуры, предполагающий заполнение пустот в&nbsp;кутикуле гидролизованным шелком. Заполнение делает стержень гладким снаружи и&nbsp;плотным изнутри.
          +accordionItem('<h3>Как делают домашнее ламинирование?</h3>').par
            p Желатин&nbsp;— востребованный ингредиент домашнего лечения волос. Для приготовления используют только желатин, воду и&nbsp;немного увлажняющей маски. Коллаген в&nbsp;составе желатина помогает волосяному покрову стать гуще и&nbsp;крепче.
          +accordionItem('<h3>Делают ламинирование волос на короткую стрижку?</h3>').par
            p Если это очень короткая стрижка типа Пикси, то&nbsp;смысла наносить ламинирующий состав нет, а&nbsp;вот укороченному каре процедура придаст дополнительный объем.
          +accordionItem('<h3>Как часто делать ламинирование?</h3>').par
            p Рекомендовано процедуру повторять раз в&nbsp;2-3&nbsp;месяца.
