extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/ul/ul
include /blocks/li/li
include /blocks/img/img
include /blocks/figure/figure
include /blocks/review-item/review-item
include /blocks/iframe-responsive/iframe-responsive
include /blocks/works-item/works-item
include /blocks/slider/slider
include /blocks/advantage-block/advantage-block
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/service-header/service-header
  +pageSection({ noPadding: 'top' })
    h1 Нанопластика
    +grid.page-subsection
      +figure({
        image: {
          name: 'nanoplastika-1',
          path: '/images/uslugi/uhod-i-lechenie/nanoplastika/',
          formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
              { values: [ 1, 2 ] }
          ],
          alt: 'Волосы до и после нанопластики',
        },
      })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
      +cell({ m:6 })
        p Никто не любит непослушные, спутанные и&nbsp;поврежденные волосы. Мастера Hair Care Center предлагают революционный метод восстановления здоровья и&nbsp;выпрямления волос&nbsp;— нанопластика. Попрощайтесь с&nbsp;жесткими средствами для укладки и&nbsp;термоприборами, поприветствуйте шелковистые, гладкие, сохраняющие блеск локонов до&nbsp;полугода.

    +pageSubsection
      h2 Что такое нанопластика
      +grid.par
        +cell({ m:6 })
          p Это профессиональная лечебная процедура, воздействующая на&nbsp;структуру волос изнутри. Использование мельчайших частиц гарантирует глубокое проникновение полезных компонентов вглубь матрицы стержня. Наночастицы образуют эластичный защитный барьер вокруг волоса, удерживая влагу и&nbsp;необходимые питательные вещества, защищая от&nbsp;внешних раздражителей. После обработки локоны перестают пушиться и&nbsp;запутываться, выпрямляются на&nbsp;70-90&nbsp;%, приобретают упругость и&nbsp;здоровый блеск. Эффект сохраняется до&nbsp;шести месяцев.
          p Это гипоаллергнная альтернатива кератиновому выпрямлению волос. Нано-компаунд создан на&nbsp;основе активных биологических кислот, микроэлементов, витаминов, и&nbsp;не&nbsp;содержит формальдегид. Благодаря этому клиент во&nbsp;время процедуры не&nbsp;чувствует резких запахов или жжение. Нанопластика не&nbsp;имеет возрастных ограничений. Методика доступна беременным и&nbsp;кормящим женщинам.
        +figure({
          image: {
            name: 'nanoplastika-2',
            path: '/images/uslugi/uhod-i-lechenie/nanoplastika/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Влияние нанопластики на структуру волос',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Показания и&nbsp;противопоказания для нанопластики
      +grid.par
        +figure({
          image: {
            name: 'nanoplastika-3',
            path: '/images/uslugi/uhod-i-lechenie/nanoplastika/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'До и после нанопластики',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          p Обработка волос частицами Nanoplastica показана волосам, для которых характерна сухость, излишняя пушистость и&nbsp;тусклость. Также процедура выпрямляет непослушные вьющиеся локоны, делая их шелковистыми и&nbsp;гладкими. Результатом будут довольны также обладательницы прямых поврежденных локонов.
          p Жестких противопоказаний к&nbsp;нано-терапии нет, но&nbsp;она не&nbsp;подходит осветленному блонду при тонких сильно поврежденных волосах, так как цвет часто уходит в&nbsp;желтизну.

    +pageSubsection
      h2 Преимущества и&nbsp;недостатки нанопластики
      +grid.par
        +cell({ m:6 })
          +ul.par
            +li Прямые, живые и&nbsp;блестящие волосы, без пушистости и&nbsp;утяжеления;
            +li Питание изнутри стержня и&nbsp;формирование защитного слоя;
            +li Усиленная эластичность и&nbsp;прочность локонов;
            +li Отсутствие в&nbsp;составе агрессивных химикатов и&nbsp;формальдегида;
            +li Действенная концентрация полезных ингредиентов;
            +li Долгосрочные результаты до&nbsp;5-6&nbsp;месяцев;
            +li Совместимость с&nbsp;химически обработанными волосами.
        +cell({ m:6 })
          p К&nbsp;недостатком относится:
          +ul.par
            +li незначительная потеря объема;
            +li изменение цвета волос&nbsp;— натуральные локоны слегка светлеют, а&nbsp;окрашенные потеряют 1-2&nbsp;тона (частично проблема решается средством защиты цвета);
            +li продолжительность процедуры из-за времени воздействия.

    +pageSubsection
      h2 Этапы
      +grid.par
        +cell
          p Для нано-процедуры мастера нашего салона используют Malucula Express Ionic Nanoplastia Ultra. Это аминокислотный реконструирующий продукт с&nbsp;мощным рабочим составом, обеспечивающий комфортный процесс терапии и&nbsp;отсутствие резкого запаха. Полезные компоненты борются с&nbsp;приподнятыми чешуйками кутикулы и&nbsp;уплотняют волосяной стержень, создавая защитный барьер, который гарантирует долговечность результата и&nbsp;здоровье волос. Подходит клиентам с&nbsp;повышенной чувствительностью.
        +figure({
          image: {
            name: 'nanoplastika-4',
            path: '/images/uslugi/uhod-i-lechenie/nanoplastika/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: '1 шаг - мытье головы',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius
        +cell({ m:6 })
          +ul.par
            +li Моем голову и&nbsp;просушиваем волосы полотенцем, а&nbsp;затем феном.
            +li Распределяем волосяное полотно по&nbsp;прядям, после чего равномерно наносим препарат, избегая корней.
            +li Оставляем состав на&nbsp;20-60&nbsp;минут в&nbsp;зависимости от&nbsp;структуры волос и&nbsp;желаемого результата.
            +li Ополаскиваем пряди без моющего средства и&nbsp;просушиваем.
        +cell({ m:6 })
          +ul.par
            +li Вновь делим волосы на&nbsp;части, отделяем небольшие прядки и&nbsp;каждую прорабатываем утюжком до&nbsp;12&nbsp;раз, активизируя наночастицы. Количество проходок определяет мастер по&nbsp;результатам предварительной диагностики. Даем волосам остыть.
            +li Смываем остатки нано-состава и&nbsp;сушим пряди феном;
            +li Наносим восстанавливающую сыворотку и&nbsp;укладываем прическу.
          p В&nbsp;среднем процесс занимает 3–4&nbsp;часа.
        +figure({
          image: {
            name: 'nanoplastika-5',
            path: '/images/uslugi/uhod-i-lechenie/nanoplastika/',
            formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
                { values: [ 1, 2 ] }
            ],
            alt: 'Выпрямление утюжком',
          },
        })(class= cellClasses({ m:6, xs:12 })).figure--image-radius

    +pageSubsection
      h2 Уход после нанопластики
      p Нанопластика меньше кератина требовательна к&nbsp;последующему уходу. Запрет касается только окрашивания в&nbsp;первые 2&nbsp;недели после процедуры. Рекомендовано использование щадящих безсульфатных составов для ухода. Нежелательно нанесение масок с&nbsp;высокой концентрацией масел, чтобы не&nbsp;терять объем.

    +pageSubsection
      h2 Отличия от&nbsp;кератинового выпрямления
      +ul.par
        +li Ингредиентный состав. Кератиновые продукты содержат формальдегид или его производные, а&nbsp;нанопластика&nbsp;– более естественное средство.
        +li Цели&nbsp;— nanoplastica наделена более питательными свойствами, в&nbsp;то&nbsp;время как кератиновые процедуры нацелены на&nbsp;выпрямление волос.
        +li Комфорт использования. Процедуру кератинового выпрямления сопровождает ярко выраженный аромат. При работе с&nbsp;аминокислотными продуктами запах не&nbsp;ощущается.
        +li Гипоаллергенные свойства продукта. Кератин редко, но&nbsp;вызывает аллергические реакции. У&nbsp;нанопластика гипоаллергенный состав. Разрешено применение беременным и&nbsp;кормящим женщинам.
        +li Подготовительный этап. Перед нанесением аминокислотных состав не&nbsp;требуется подготовка шампунем глубокого очищение.

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid.par
        +cell({ l: 8, m: 10 })
          +accordionItem('<h3>Если это безопасно, почему мастер работает в перчатках?</h3>').par
            p У&nbsp;большинства косметических выпрямителей кислотная среда. PH&nbsp;кожи человека равен&nbsp;7. Активные нано-элементы&nbsp;— аминокислоты, которые повреждают кожу рук, если работать с&nbsp;таким составом каждый день без перчаток.
          +accordionItem('<h3>Сделала нано-выпрямление волос, можно сразу краситься?</h3>').par
            p Монохромное окрашивание можно сделать на следующий день, осветление через&nbsp;2, а&nbsp;лучше через&nbsp;3&nbsp;месяца.  Если краситель содержит осветлителя 3&nbsp;%, то&nbsp;средство безвредно, а&nbsp;если 9%, то&nbsp;большая часть выпрямителя смоется. Окрашивание перед процедурой возможно, только выбирайте краситель на&nbsp;1-2&nbsp;тона темнее обычного. Но&nbsp;лучше предварительно проконсультироваться с&nbsp;мастером.
          +accordionItem('<h3>Кто из знаменитостей использовал этот метод?</h3>').par
            p Дженнифер Лопес, кинозвезда и&nbsp;певица, активно использует технику nanoplastica, чтобы обрести роскошную и&nbsp;выразительную прическу.
          +accordionItem('<h3>Сколько длится результат?</h3>').par
            p На&nbsp;продолжительность лечебного эффекта влияет ряд факторов:
            +ul.par
              +li нано-препарат, используемый во&nbsp;время процедуры;
              +li соблюдение технологии мастером;
              +li особенности структуры стержня;
              +li соблюдение рекомендаций по&nbsp;последующему уходу.
          +accordionItem('<h3>Как часто повторяют процедуру?</h3>').par
            p Процедура безопасна за&nbsp;счет натурального состава. Допустимо повторять терапию раз в&nbsp;3-4&nbsp;месяца.
