.header-navigation
  fontSize16()
  &__list
    display flex
    gap var(--base-padding)
    justify-content space-between
    @media (min-width point-l)
      flex-wrap wrap
    &--sub
      display none
  &__item
    &--parent
      a
      span
        @media (min-width point-l)
          padding-right 1.125rem
