.header-navigation
  --color-link var(--color-black)
  --color-link-sub-2 var(--color-link)
  --list-z-index 3
  --list-sub-transform translateY(calc(100% - 1rem))
  --list-sub-opacity 0
  --list-sub-transition-duration var(--transition-duration-out)
  --list-sub-pointer-events none
  --list-sub-2-pointer-events none
  z-index 1000
  &__list
    @media (max-width point-l - 1)
      flex-direction column
      padding var(--gap) var(--base-padding)
      background-color var(--color-white)
    &--sub
      flex-direction column
      gap 0
      padding-y var(--base-padding)
      background-color var(--color-white)
      @media (min-width point-l)
        position absolute
        bottom 0
        z-index var(--list-z-index)
        left calc(var(--base-padding) * -1)
        display flex
        width 14rem
        opacity var(--list-sub-opacity)
        transform var(--list-sub-transform)
        transition-property opacity, transform
        transition-duration var(--list-sub-transition-duration)
        pointer-events var(--list-sub-pointer-events)
      @media (max-width point-l - 1)
        grid-area sub
        display none
    &--sub-2
      @media (min-width point-l)
        position fixed
        --list-sub-2-opacity 0
        --list-sub-2-transition-duration var(--transition-duration-out)
        display flex
        flex-direction column
        flex-wrap wrap
        justify-content flex-start
        left 14rem
        right 0
        bottom 100%
        width @css{ min(calc(100vw/2.7), 600px) }
        height 100%
        opacity var(--list-sub-2-opacity)
        transition-property opacity
        transition-duration var(--list-sub-2-transition-duration)
        pointer-events var(--list-sub-2-pointer-events)
        box-shadow 0 0 24px rgba(191, 184, 183, .3)
        border-radius var(--border-radius-small)
        background-color #fffefe
      @media (max-width point-l - 1)
        padding-x 0
  &__item
    cursor pointer
    &--sub
      padding-x var(--base-padding)
      padding-y calc(var(--base-padding) / 4)
    &--parent
      @media (min-width point-l)
        position relative
        z-index 3
      @media (max-width point-l - 1)
        display grid
        grid-template-areas 'link opener' 'sub sub'
        grid-template-columns auto min-content
      &:hover
        @media (min-width point-l)
          --list-z-index 2
          --list-sub-opacity 1
          --list-sub-transform translateY(100%)
          --list-sub-transition-duration var(--transition-duration-in)
          --list-sub-pointer-events auto
        &^[0]__item--sub-1:hover
          & ^[0]__list--sub-2
            --list-sub-2-opacity 1
            --list-sub-2-transition-duration var(--transition-duration-in)
            --list-sub-2-pointer-events auto
      span
        transition color var(--transition-duration-out)
        &:hover
          @media (min-width point-l)
            color var(--color-link-hover)
            transition-duration var(--transition-duration-in)
      & > a
      & > span
        @media (max-width point-l - 1)
          grid-area link
        &::after
          @media (min-width point-l)
            content ''
            position absolute
            top 50%
            right 0
            width .5rem
            height .5rem
            background-color currentColor
            mask-image var(--icon-dropdown)
            mask-repeat no-repeat
            mask-position center
            mask-size cover
            transform translateY(-50%)
      &^[-1]--sub-1
        & > a
        & > span
          &::after
            width 0.625rem
            height 0.625rem
            right 0.5rem
            rotate (-90deg)
            transform translateX(50%)
    &--sub-2 
      @media(min-width point-l - 1)
        width calc(100% / 2)
      & a
        @media(max-width point-l - 1)
          color var(--color-beige)
    &:not(&--sub) > a
    &:not(&--sub) > span
      position relative
      z-index 4
    a
      text-decoration none
  &__opener
    @media (min-width point-l)
      display none
    @media (max-width point-l - 1)
      justify-self end
      width 1.5rem
      height 1.5rem
      background-color var(--color-black)
      mask-image var(--icon-dropdown)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    &--active
      transform scaleY(-1)
      & + ^[-2]__list--sub
        display flex
